Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_integration-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface_integration-testing, interface-linting-selenium, interface-linting-ESLint, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

camera-processor_docker_build:
  stage: build
  script:
  - cd CameraProcessor
  - docker build --target=test -t camera-processor .

camera-processor_unit-testing:
  stage: unittest
  needs:
  - camera-processor_docker_build
  before_script:
  - docker rm -f camera-processor-test-container || true
  script:
  ...

camera-processor_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_build
  script:
  - docker rm -f processor-integration-test-container || true
  - docker-compose -f ./CameraProcessor/docker-compose+orchestrator.yml up --build --exit-code-from camera-processor-test-service
  after_script:
  ...

camera-processor-video-forwarder_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_build
  script:
  - docker rm -f processor-forwarder-integration-test-container || true
  - docker-compose -f ./CameraProcessor/docker-compose+forwarder.yml up --force-recreate --build --exit-code-from camera-processor-test-service
  after_script:
  ...

camera-processor_linting:
  stage: linting
  needs:
  - camera-processor_docker_build
  before_script:
  - docker rm -f camera-processor-lint-container || true
  - docker build --target=lint -t camera-processor-lint ./CameraProcessor
  script:
  - docker run -d -t --name camera-processor-lint-container camera-processor-lint
  ...

orchestrator_docker_build:
  stage: build
  script:
  - docker build -t processor-orchestrator --target=testing ./ProcessorOrchestrator

orchestrator_unit-testing:
  stage: unittest
  needs:
  - orchestrator_docker_build
  before_script:
  - docker rm -f po-unit-testing || true
  - docker build -t processor-orchestrator --target=testing ./ProcessorOrchestrator
  script:
  ...

orchestrator_integration-testing:
  stage: integrationtest
  dependencies:
  - orchestrator_unit-testing
  needs:
  - orchestrator_unit-testing
  before_script:
  - docker build -t processor-orchestrator --target=testing ./ProcessorOrchestrator
  script:
  - docker-compose -f ProcessorOrchestrator/docker-compose.testing.yml up --build --no-start
  ...

orchestrator_linting:
  stage: linting
  needs:
  - orchestrator_docker_build
  before_script:
  - docker rm -f orchestrator-lint-container || true
  - docker build -t processor-orchestrator --target=testing ./ProcessorOrchestrator
  script:
  - docker run -d -t --name orchestrator-lint-container processor-orchestrator
  ...

interface_docker_build:
  stage: build
  script:
  - cd Interface
  - docker build -t interface -f Dockerfile.test .

interface_unit-testing:
  stage: unittest
  needs:
  - interface_docker_build
  before_script:
  - docker rm -f interface-unit-test-container || true
  script:
  - docker run --name interface-unit-test-container interface
  after_script:
  - docker cp interface-unit-test-container:/react/coverage i-coverage
  ...

video-forwarder_docker_build:
  stage: build
  script:
  - cd VideoForwarder
  - docker build --target=testing -t video-forwarder .

FIX: Unused method
  ProcessorOrchestrator/testing/testing_server.py
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_integration-testing, orchestrator_linting

FIX: started wrong server
  .gitlab-ci.yml
  ProcessorOrchestrator/testing/testing_server.py
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_integration-testing, orchestrator_linting

FIX: Unused imports
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/processor_socket.py
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_integration-testing, orchestrator_linting

TST: Wrote integration tests for the new functionality
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/log_handler.py
  ProcessorOrchestrator/src/logger.py
  ProcessorOrchestrator/src/main.py
  ProcessorOrchestrator/src/object_manager.py
  ProcessorOrchestrator/src/processor_socket.py
  ProcessorOrchestrator/testing/integration_testing/communication_test.py
  ProcessorOrchestrator/testing/testing_server.py
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_integration-testing, orchestrator_linting

FIX: Auth install in dockerfile
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_integration-testing, orchestrator_linting

OTH: Localhost.py runs the localhost pipeline
  CameraProcessor/processor/localhost.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/webhosting/stream_handler.py
  CameraProcessor/requirements.txt
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX: Filter function was wrong
  Interface/react/src/components/overlay.tsx
  Interface/react/testing/integration testing/websocketContext.test.tsx
Due: interface_docker_build, interface_unit-testing, interface_integration-testing, interface-linting-selenium, interface-linting-ESLint

OTH: Removed ports
  Interface/react/testing/integration testing/websocketContext.test.tsx
Due: interface_docker_build, interface_unit-testing, interface_integration-testing, interface-linting-selenium, interface-linting-ESLint

OTH: Inbetween sync where tornado webpage contains the pipeline
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/webhosting/stream_handler.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

OTH: Working tornado webpage
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/webhosting/stream_handler.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

Resolve SPC-508 "Float store error in the bounding box property"
  CameraProcessor/processor/pipeline/tracking/sort_tracker.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FFT: The main loop now can host to localhost using tornado
  CameraProcessor/configs.ini
  CameraProcessor/processor/localhost.py
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/webhosting/stream_handler.py
  CameraProcessor/processor/webhosting/websocket_client.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX: Coverage regex is determined by the CI settings in gitlab
  CameraProcessor/.gitlab-ci.yml
  ProcessorOrchestrator/.gitlab-ci.yml
  VideoForwarder/.gitlab-ci.yml
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_integration-testing, orchestrator_linting, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FIX: Double draw
  CameraProcessor/configs.ini
  CameraProcessor/processor/main.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX: Docker compose build
  CameraProcessor/.gitlab-ci.yml
  Interface/.gitlab-ci.yml
  ProcessorOrchestrator/.gitlab-ci.yml
  VideoForwarder/.gitlab-ci.yml
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_integration-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface_integration-testing, interface-linting-selenium, interface-linting-ESLint, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FIX: Entrypoint changed to src
  VideoForwarder/Dockerfile
Due: video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FIX: Orchestrator integration test service and exit code reference
  CameraProcessor/Dockerfile
  ProcessorOrchestrator/.gitlab-ci.yml
  ProcessorOrchestrator/compose/docker-compose_test_integration.yml
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_integration-testing, orchestrator_linting

FIX: Use build where it belongs
  Interface/.gitlab-ci.yml
  ProcessorOrchestrator/.gitlab-ci.yml
  VideoForwarder/.gitlab-ci.yml
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_integration-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface_integration-testing, interface-linting-selenium, interface-linting-ESLint, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FIX: Linting did not work
  CameraProcessor/Dockerfile
  ProcessorOrchestrator/.gitlab-ci.yml
  VideoForwarder/.gitlab-ci.yml
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_integration-testing, orchestrator_linting, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FFT: Update compose and gitlab files
  CameraProcessor/.gitlab-ci.yml
  CameraProcessor/Dockerfile
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  Interface/.gitlab-ci.yml
  ProcessorOrchestrator/.gitlab-ci.yml
  ProcessorOrchestrator/compose/docker-compose_test_integration.yml
  VideoForwarder/.gitlab-ci.yml
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_integration-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface_integration-testing, interface-linting-selenium, interface-linting-ESLint, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

Path conditions:
  camera-processor_docker_build: any of: CameraProcessor/**/*
  camera-processor_unit-testing: any of: CameraProcessor/**/*
  camera-processor_integration-testing: any of: CameraProcessor/**/*
  camera-processor-video-forwarder_integration-testing: any of: CameraProcessor/**/*
  camera-processor_linting: any of: CameraProcessor/**/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/**/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/**/*
  orchestrator_integration-testing: any of: ProcessorOrchestrator/**/*
  orchestrator_linting: any of: ProcessorOrchestrator/**/*
  interface_docker_build: any of: Interface/**/*
  interface_unit-testing: any of: Interface/**/*
  interface_integration-testing: any of: Interface/**/*
  interface-linting-selenium: any of: Interface/**/*
  interface-linting-ESLint: any of: Interface/**/*
  video-forwarder_docker_build: any of: VideoForwarder/**/*
  video-forwarder_unit-testing: any of: VideoForwarder/**/*
  video-forwarder_integration-testing: any of: VideoForwarder/**/*
  forwarder-linting: any of: VideoForwarder/**/*
