Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing, interface_docker_build, interface_unit-testing

Path conditions:
  camera-processor_docker_test_build: any of: CameraProcessor/*
  camera_container_removal: any of: CameraProcessor/*
  camera-processor_unit-testing: any of: CameraProcessor/*
  camera-processor_integration-testing: any of: CameraProcessor/*
  camera-processor_linting: any of: CameraProcessor/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_container_removal: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
  interface_docker_build: any of: interface/*, interface/react/*
  interface_unit-testing: any of: interface/react/*

FFT: Created Integration tests for the orchestrator and added them to the pipeline.
  .gitlab-ci.yml
  ProcessorOrchestrator/testing/integration_testing/communication_test.py
  ProcessorOrchestrator/testing/integration_testing/test_feature_map_distribution.py
  ProcessorOrchestrator/testing/unit_testing/tracking_objects_test.py
Due: none

OTH: Removed trailing whitespaces
  .gitlab-ci.yml
Due: none

OTH: Removed more yolov4deepsort
  CameraProcessor/processor/yolov4deepsort.py
Due: none

OTH: Removed accidental visual studio files
  ProcessorOrchestrator/.vs/ProcessorOrchestrator/v16/.suo
  ProcessorOrchestrator/.vs/VSWorkspaceState.json
  ProcessorOrchestrator/.vs/slnx.sqlite
Due: none

OTH: Removed double feature map file
  ProcessorOrchestrator/testing/integration_testing/test_feature_map_distribution.py
Due: none

FIX: Changed compose version
  ProcessorOrchestrator/docker-compose.testing.yml
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

FFT Filtering bounding boxes
  CameraProcessor/processor/pipeline/detection/detection_obj.py
Due: none

FFT: shorten required requirements via mocking
  .gitignore
  CameraProcessor/.gitignore
  docs/documentation.py
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

FIX: Removed warning from deprecated module
  CameraProcessor/Dockerfile
  CameraProcessor/docker-compose.yml
  CameraProcessor/pytest.ini
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

FIX: Processor orchestrator dockerfile, ci yaml typo
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

OTH: sync
  .gitlab-ci.yml
Due: none

TST: Coverage report orchestrator
  .gitlab-ci.yml
  ProcessorOrchestrator/.coveragerc
  ProcessorOrchestrator/Dockerfile
  ProcessorOrchestrator/requirements.txt
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

DOC: documentation for documentation.py
  docs/README.md
Due: none

FIX: exclude installed packages from mocking
  docs/documentation.py
  docs/requirements.txt
Due: none

FIX: include __init__.py in VideoForwarder/src
  VideoForwarder/src/__init__.py
Due: none

FIX: Fixed video forwarder and interface to match develop
  Interface/Dockerfile_lint
  Interface/react/src/app.tsx
  Interface/react/src/classes/clientMessage.ts
  Interface/react/src/classes/orchestratorMessage.ts
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/src/index.tsx
  Interface/react/src/pages/websocket.tsx
  Interface/react/testing/app.test.tsx
  Interface/react/testing/home.test.tsx
  Interface/testingSelenium/HOW TO INSTALL
  Interface/testingSelenium/Testing.py
  VideoForwarder/Dockerfile
  VideoForwarder/Dockerfile_lint
  VideoForwarder/docker-compose.yml
  VideoForwarder/requirements.txt
  VideoForwarder/src/camera.py
  VideoForwarder/src/cameraHandler.py
  VideoForwarder/src/main.py
Due: none

FFT Filtering based on file
  CameraProcessor/filter.names
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

FFT Filtering bounding boxes
  CameraProcessor/configs.ini
  CameraProcessor/filter.names
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/detection/yolov5_runner.py
  CameraProcessor/processor/yolov5_test.py
  CameraProcessor/tests/systemtests/vidstream_to_json.py
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

FIX: Minor error
  CameraProcessor/processor/pipeline/detection/detection_obj.py
Due: none

DOC: Docstring merge went wrong
  CameraProcessor/tests/unittests/capture/test_captures.py
Due: none

UFT: Linting
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/processor/input/image_capture.py
  CameraProcessor/processor/localhost.py
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/detection/__init__.py
  CameraProcessor/processor/pipeline/detection/bounding_box.py
  CameraProcessor/processor/pipeline/detection/detection_obj.py
  CameraProcessor/processor/pipeline/detection/yolov5_runner.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/tracking/tracking_obj.py
  CameraProcessor/processor/training/detection/train.py
  CameraProcessor/processor/training/pre_annotations.py
  CameraProcessor/processor/websocket_client.py
  CameraProcessor/processor/yolov5_test.py
  CameraProcessor/tests/integrationtests/conftest.py
  CameraProcessor/tests/integrationtests/test_send_to_orchestrator.py
  CameraProcessor/tests/integrationtests/utils/jsonloader.py
  CameraProcessor/tests/integrationtests/utils/utils.py
  CameraProcessor/tests/systemtests/vidstream_to_json.py
  CameraProcessor/tests/unittests/capture/conftest.py
  CameraProcessor/tests/unittests/capture/test_captures.py
  CameraProcessor/tests/unittests/detection/test_bounding_box.py
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
  CameraProcessor/tests/unittests/preannotations/test_pre_annotations.py
  CameraProcessor/tests/unittests/test_websocket_client.py
  CameraProcessor/tests/unittests/tracking/test_tracking_obj.py
  CameraProcessor/tests/unittests/utils.py
Due: none

UFT: More linting
  CameraProcessor/processor/input/cam_capture.py
  CameraProcessor/processor/input/icapture.py
  CameraProcessor/processor/input/video_capture.py
Due: none

FIX: Removal ran on wrong runner
  .gitlab-ci.yml
Due: none

TST: Test if pipeline runs
  CameraProcessor/processor/input/icapture.py
Due: none

FIX: pylint ignore remove
  pylint_ignore.py
Due: none

FIX: Artifact integration testing
  .gitlab-ci.yml
Due: none

UFT: More linting
  CameraProcessor/tests/systemtests/vidstream_to_json.py
  CameraProcessor/tests/unittests/capture/test_captures.py
  CameraProcessor/tests/unittests/preannotations/test_json_pre_annotations.py
  CameraProcessor/tests/unittests/preannotations/test_text_pre_annotations.py
  CameraProcessor/tests/unittests/test_websocket_client.py
Due: none

FFT: Draw bounding boxes with tags
  CameraProcessor/processor/pipeline/detection/detection_obj.py
Due: none

DOC: Added comments
  CameraProcessor/processor/pipeline/detection/detection_obj.py
Due: none

UFT: Linting
  .pylintrc
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/processor/input/icapture.py
  CameraProcessor/processor/localhost.py
  CameraProcessor/processor/pipeline/detection/__init__.py
  CameraProcessor/processor/scheduling/component/base_component.py
  CameraProcessor/processor/scheduling/component/component_interface.py
  CameraProcessor/processor/scheduling/component/example_components/example_component.py
  CameraProcessor/processor/scheduling/component/example_components/input_component.py
  CameraProcessor/processor/scheduling/component/example_components/output_component.py
  CameraProcessor/processor/scheduling/node/schedule_node.py
  CameraProcessor/processor/scheduling/plan/example_plan.py
  CameraProcessor/processor/scheduling/scheduler.py
  CameraProcessor/processor/websocket_client.py
  CameraProcessor/processor/yolov5_test.py
  CameraProcessor/tests/systemtests/vidstream_to_json.py
  CameraProcessor/tests/unittests/capture/test_captures.py
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
  CameraProcessor/tests/unittests/preannotations/test_json_pre_annotations.py
  CameraProcessor/tests/unittests/test_websocket_client.py
  CameraProcessor/tests/unittests/tracking/test_tracking_obj.py
Due: none

FIX Requirements fix
  CameraProcessor/requirements-test.txt
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

Fix
  Interface/entrypoint.sh
  Interface/start.sh
Due: none

Fix
  Interface/react/src/components/loggedInUser.tsx
Due: none

TST Added more tests for added coverage
  CameraProcessor/processor/.coveragerc
  CameraProcessor/processor/pipeline/detection/bounding_box.py
  CameraProcessor/processor/pipeline/detection/detection_obj.py
  CameraProcessor/tests/unittests/capture/conftest.py
  CameraProcessor/tests/unittests/capture/test_captures.py
  CameraProcessor/tests/unittests/detection/test_bounding_box.py
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
Due: none

Committing changes before merge
  CameraProcessor/processor/.coveragerc
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
Due: none
