Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera_processor_documentation, pytest, trigger_orchestrator

.gitlab-ci.yml:

stages:
  - camera_docs
  - test
  - triggers

camera_processor_documentation:
  stage: camera_docs
  trigger:
    include: CameraProcessor/.gitlab-ci-docs.yml
  rules:
    - changes:
        - CameraProcessor/*

pytest:
  stage: test
  trigger:
    include: CameraProcessor/.gitlab-ci.yml
  rules:
    - changes:
        - CameraProcessor/*

trigger_orchestrator:
  stage: triggers
  trigger:
    include: ProcessorOrchestrator/.gitlab-ci.yml
  rules:
    - changes:
        - ProcessorOrchestrator/*

CRF Added docstring, removed space in folder name
  CameraProcessor/tests/integrationtests/jsonloader.py
  CameraProcessor/tests/integrationtests/testdata/boxes.json
  CameraProcessor/tests/integrationtests/testdata/featuremaps.json
  CameraProcessor/tests/integrationtests/testdata/stopstart.json
Due: none

UFT Working on Fix WebSocket Unit Test
  CameraProcessor/tests/unittests/test_websocket_client.py
Due: none

FIX Fixed testing methods for websocket_client
  CameraProcessor/src/websocket_client.py
  CameraProcessor/tests/unittests/test_websocket_client.py
Due: none

FFT: Added three simple unit tests
  ProcessorOrchestrator/docs/client_socket.html
  ProcessorOrchestrator/docs/connections.html
  ProcessorOrchestrator/docs/index.html
  ProcessorOrchestrator/docs/logger.html
  ProcessorOrchestrator/docs/processor_socket.html
  ProcessorOrchestrator/src/client.py
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/connections.py
  ProcessorOrchestrator/src/log_handler.py
  ProcessorOrchestrator/src/logger.py
  ProcessorOrchestrator/src/main.py
  ProcessorOrchestrator/src/object_manager.py
  ProcessorOrchestrator/src/processor.py
  ProcessorOrchestrator/src/processor_socket.py
  ProcessorOrchestrator/src/testing/client_test.py
  ProcessorOrchestrator/src/testing/processor_test.py
  ProcessorOrchestrator/src/testing/tracking_objects_test.py
Due: none

FIX: use python path to properly run py file
  CameraProcessor/.gitlab-ci-docs.yml
Due: camera_processor_documentation, pytest

FIX: variables format error
  CameraProcessor/.gitlab-ci-docs.yml
Due: camera_processor_documentation, pytest

FIX: init included so that pipeline can find module
  CameraProcessor/src/__init__.py
Due: none

OTH: print folders in working directory
  CameraProcessor/.gitlab-ci.yml
Due: camera_processor_documentation, pytest

OTH: print folders in working directory
  CameraProcessor/.gitlab-ci-docs.yml
  CameraProcessor/.gitlab-ci.yml
Due: camera_processor_documentation, pytest

OTH: use apt-get for libgl1-mesa-dev
  CameraProcessor/.gitlab-ci-docs.yml
Due: camera_processor_documentation, pytest

OTH: removed __init__.py as it messes with needed structure
  CameraProcessor/src/__init__.py
Due: none

OTH: Testing for CI CD functionality
  .gitlab-ci.yml
  ProcessorOrchestrator/.gitlab-ci.yml
Due: trigger_orchestrator

UFT: Cleaned up package and other stuff
  interface/react/package-lock.json
  interface/react/package.json
  interface/react/src/App.css
  interface/react/src/App.tsx
  interface/react/src/components/navbar.tsx
  interface/react/src/components/overlay.tsx
  interface/react/src/pages/canvasVideo.tsx
  interface/react/src/pages/home.tsx
  interface/react/src/pages/websocket.tsx
Due: none

FFT: Added docstrings and completely overhauled the ci pipeline.
  ProcessorOrchestrator/.gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
  ProcessorOrchestrator/requirements.txt
  ProcessorOrchestrator/src/__init__.py
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/connections.py
  ProcessorOrchestrator/src/main.py
  ProcessorOrchestrator/src/processor_socket.py
  ProcessorOrchestrator/testing/__init__.py
Due: trigger_orchestrator

OTH: Changed ci cd files a bit, checking to see if this helps
  .gitlab-ci.yml
  ProcessorOrchestrator/.gitlab-ci.yml
  ProcessorOrchestrator/testing/tracking_objects_test.py
Due: trigger_orchestrator

OTH: Small change again
  .gitlab-ci.yml
Due: none

UFT: add module structure to pdoc via init files
  CameraProcessor/src/__init__.py
  CameraProcessor/src/input/__init__.py
  CameraProcessor/src/pipeline/__init__.py
  CameraProcessor/src/pipeline/detection/__init__.py
  CameraProcessor/src/pipeline/tracking/__init__.py
  CameraProcessor/src/scheduling/__init__.py
  CameraProcessor/src/scheduling/component/__init__.py
  CameraProcessor/src/scheduling/component/example_components/__init__.py
  CameraProcessor/src/scheduling/node/__init__.py
  CameraProcessor/src/scheduling/node/schedule_node.py
  CameraProcessor/src/scheduling/plan/__init__.py
  CameraProcessor/src/training/__init__.py
  CameraProcessor/src/training/detection/__init__.py
  CameraProcessor/src/training/tracking/__init__.py
Due: none

OTH: put train.py into main function
  CameraProcessor/src/training/detection/train.py
Due: none

OTH: Small change again
  ProcessorOrchestrator/.gitlab-ci.yml
Due: trigger_orchestrator

UFT: working bounding boxes relative + multiple videos
  interface/react/public/config.json
  interface/react/src/App.tsx
  interface/react/src/components/VideojsPlayer.tsx
  interface/react/src/components/grid.tsx
  interface/react/src/components/navbar.tsx
  interface/react/src/components/overlay.tsx
  interface/react/src/pages/canvasVideo.tsx
  interface/react/src/pages/home.tsx
  interface/react/src/pages/overlayVideo.tsx
Due: none
