Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface-linting, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

Path conditions:
  camera-processor_docker_build: any of: CameraProcessor/*
  camera-processor_unit-testing: any of: CameraProcessor/*
  camera-processor_integration-testing: any of: CameraProcessor/*
  camera-processor-video-forwarder_integration-testing: any of: CameraProcessor/*, VideoForwarder/*
  camera-processor_linting: any of: CameraProcessor/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
  orchestrator_linting: any of: ProcessorOrchestrator/*
  interface_docker_build: any of: Interface/*
  interface_unit-testing: any of: Interface/*
  interface-linting: any of: Interface/*
  video-forwarder_docker_build: any of: VideoForwarder/*
  video-forwarder_unit-testing: any of: VideoForwarder/*
  video-forwarder_integration-testing: any of: VideoForwarder/*
  forwarder-linting: any of: VideoForwarder/*

FIX: Listener was undefined
  Interface/react/src/components/websocketContext.tsx
Due: none

"CIC removed on change requirement"
  .gitlab-ci.yml
Due: none

"DOC documentation over pipeline"
  README.txt.txt
Due: none

FFT: generation simple index.html and argparse adjustment
  CameraProcessor/processor/documentation.py
  docs/documentation.py
Due: none

Revert "FIX: part two"
  .gitlab-ci.yml
  .pylintrc
  ProcessorOrchestrator/Dockerfile
  ProcessorOrchestrator/docker-compose.testing.yml
  ProcessorOrchestrator/requirements-test.txt
  ProcessorOrchestrator/requirements.txt
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/processor_socket.py
  ProcessorOrchestrator/testing/integration_testing/__init__.py
  ProcessorOrchestrator/testing/integration_testing/communication_test.py
  ProcessorOrchestrator/testing/testing_server.py
  ProcessorOrchestrator/testing/unit_testing/__init__.py
  ProcessorOrchestrator/testing/unit_testing/tracking_objects_test.py
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

"CIC Eslint"
  .gitlab-ci.yml
  Interface/Dockerfile_eslint
Due: interface_docker_build, interface_unit-testing, interface-linting

"FIX wrong docker container"
  .gitlab-ci.yml
Due: none

"CIC run in foreground"
  .gitlab-ci.yml
Due: none

CRF accuracy using configs, docstrings
  .gitignore
  CameraProcessor/configs.ini
  CameraProcessor/processor/training/detection/accuracy.py
  CameraProcessor/processor/yolov5_test.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

OTH: changed configuration
  VideoForwarder/Dockerfile
  VideoForwarder/docker-compose.yml
  VideoForwarder/src/camera_handler.py
Due: camera-processor-video-forwarder_integration-testing, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FIX: Async integration bug
  VideoForwarder/src/camera_handler.py
  VideoForwarder/test/integrationtest/integration_test.py
Due: none

FIX: Fixed dockerfile
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

FIX: Fixed dockerfile pt 2
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

TST: Using docker compose file for integration testing
  .gitlab-ci.yml
  VideoForwarder/docker-compose-test.yml
  VideoForwarder/rebuilt-test.bat
  VideoForwarder/test/integrationtest/integration_test.py
Due: camera-processor-video-forwarder_integration-testing, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FIX: wrong docker-compose path
  .gitlab-ci.yml
Due: none

UFT: restore files
  CameraProcessor/processor/pipeline/detection/yolov5/models/export.py
  CameraProcessor/processor/pipeline/detection/yolov5/test.py
  CameraProcessor/processor/pipeline/detection/yolov5/train.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/aws/__init__.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/aws/mime.sh
  CameraProcessor/processor/pipeline/detection/yolov5/utils/aws/resume.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/aws/userdata.sh
  CameraProcessor/processor/pipeline/detection/yolov5/utils/loss.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/requirements.txt
  CameraProcessor/processor/pipeline/detection/yolov5/utils/wandb_logging/__init__.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/wandb_logging/log_dataset.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/wandb_logging/wandb_utils.py
Due: none

UFT: Working in imports
  CameraProcessor/processor/pipeline/detection/yolov5/models/common.py
  CameraProcessor/processor/pipeline/detection/yolov5/models/experimental.py
  CameraProcessor/processor/pipeline/detection/yolov5/models/yolo.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/autoanchor.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/datasets.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/general.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/plots.py
  CameraProcessor/processor/training/detection/yolov5/.gitignore
Due: none

FFT: integration test forwarder works
  VideoForwarder/test/integrationtest/integration_test.py
Due: none

FIX: increase sleep
  .gitlab-ci.yml
  VideoForwarder/test/integrationtest/integration_test.py
Due: none

DOC: extended documentation README
  docs/README.md
Due: none

TST: video forwarder integration test
  .gitlab-ci.yml
  VideoForwarder/test/integrationtest/integration_test.py
Due: none

TST: integration testing vf-cp
  CameraProcessor/docker-compose+forwarder.yml
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

UFT: restored files
  CameraProcessor/processor/pipeline/detection/yolov5/detect.py
  CameraProcessor/processor/pipeline/detection/yolov5/hubconf.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/activations.py
Due: none

TST: time.sleep
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
Due: none

TST: hls close
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
Due: none

TST: linting and unit test
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
  VideoForwarder/Dockerfile_lint
  VideoForwarder/test/unittest/unit_test.py
Due: camera-processor-video-forwarder_integration-testing, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FFT: Integration testing works fully!
  VideoForwarder/src/camera_handler.py
  VideoForwarder/src/main.py
Due: none

CRF: remove duplicate .pylintrc
  CameraProcessor/.pylintrc
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX: Time.sleep was in wrong spot
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
Due: none

FIX: Fixing linting
  CameraProcessor/processor/train_runner.py
Due: none

DOC: Missing docstring
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
Due: none

Revert "Merge branch 'SPC-354-Integration-test-Forwarder-Camera-Processor' into 'develop'"
  .gitlab-ci.yml
  CameraProcessor/.pylintrc
  CameraProcessor/docker-compose+forwarder.yml
  CameraProcessor/docker-compose.yml
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
  CameraProcessor/tests/integrationtests/__init__.py
  CameraProcessor/tests/integrationtests/conftest.py
  CameraProcessor/tests/integrationtests/super_websocket_client.py
  CameraProcessor/tests/integrationtests/test_connection.py
  CameraProcessor/tests/integrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/integrationtests/test_send_to_orchestrator.py
  CameraProcessor/tests/integrationtests/testdata/baddata.json
  CameraProcessor/tests/integrationtests/testdata/boxes.json
  CameraProcessor/tests/integrationtests/testdata/featuremaps.json
  CameraProcessor/tests/integrationtests/testdata/invalid.json
  CameraProcessor/tests/integrationtests/testdata/start.json
  CameraProcessor/tests/integrationtests/testdata/startfeaturestop.json
  CameraProcessor/tests/integrationtests/testdata/stop.json
  CameraProcessor/tests/integrationtests/utils/__init__.py
  CameraProcessor/tests/integrationtests/utils/jsonloader.py
  CameraProcessor/tests/integrationtests/utils/utils.py
  CameraProcessor/tests/orchestratorintegrationtests/utils/__init__.py
  VideoForwarder/.coveragerc
  VideoForwarder/Dockerfile
  VideoForwarder/Dockerfile_lint
  VideoForwarder/docker-compose-test.yml
  VideoForwarder/docker-compose.yml
  VideoForwarder/rebuild.bat
  VideoForwarder/rebuilt-test.bat
  VideoForwarder/requirements.txt
  VideoForwarder/src/camera_handler.py
  VideoForwarder/src/main.py
  VideoForwarder/test/integrationtest/integration_test.py
  VideoForwarder/test/unittest/conftest.py
  VideoForwarder/test/unittest/testConfig.json
  VideoForwarder/test/unittest/unit_test.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FFT: alert on not logged in
  Interface/react/package-lock.json
  Interface/react/package.json
  Interface/react/src/app.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/index.css
  Interface/react/src/pages/home.tsx
  Interface/react/src/pages/needLogin.tsx
  Interface/react/src/pages/websocket.tsx
Due: none

FFT: added reusable authentication
  ProcessorOrchestrator/Auth-1.0.tar.gz
  ProcessorOrchestrator/Dockerfile
  ProcessorOrchestrator/src/main.py
  utility/Auth/auth/__init__.py
  utility/Auth/auth/auth.py
  utility/Auth/setup.py
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

UFT: Props en State voor Syncing
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/pages/overlayVideo.tsx
Due: none

UFT: Syncing frames
  Interface/react/src/classes/clientMessage.ts
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
Due: none

FFT: Restored train
  CameraProcessor/processor/training/tracking/train.py
Due: none

FFT: restored files
  CameraProcessor/processor/pipeline/detection/requirements.txt
  CameraProcessor/processor/pipeline/detection/train.py
Due: none
