Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface-linting, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

Path conditions:
  camera-processor_docker_build: any of: CameraProcessor/*
  camera-processor_unit-testing: any of: CameraProcessor/*
  camera-processor_integration-testing: any of: CameraProcessor/*
  camera-processor-video-forwarder_integration-testing: any of: CameraProcessor/*, VideoForwarder/*
  camera-processor_linting: any of: CameraProcessor/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
  orchestrator_linting: any of: ProcessorOrchestrator/*
  interface_docker_build: any of: Interface/*
  interface_unit-testing: any of: Interface/*
  interface-linting: any of: Interface/*
  video-forwarder_docker_build: any of: VideoForwarder/*
  video-forwarder_unit-testing: any of: VideoForwarder/*
  video-forwarder_integration-testing: any of: VideoForwarder/*
  forwarder-linting: any of: VideoForwarder/*

TST: Dockerfile fixes
  .gitlab-ci.yml
  Interface/Dockerfile.test
Due: interface_docker_build, interface_unit-testing, interface-linting

CIC: Fixed container name error
  .gitlab-ci.yml
Due: none

FIX: removed cd
  .gitlab-ci.yml
Due: none

FFT: auth for forwarder
  Interface/react/src/components/overlay.tsx
  VideoForwarder/Auth-1.0.tar.gz
  VideoForwarder/Dockerfile
  VideoForwarder/docker-compose.yml
  VideoForwarder/requirements.txt
  VideoForwarder/src/camera_handler.py
  VideoForwarder/src/main.py
  VideoForwarder/src/utils.py
  utility/Auth/setup.py
Due: camera-processor-video-forwarder_integration-testing, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FIX: added ignore for pylint
  VideoForwarder/src/main.py
Due: none

FIX: renamed client_auth
  VideoForwarder/src/camera_handler.py
  VideoForwarder/src/main.py
Due: none

DOC: removed an enter
  Interface/react/src/components/overlay.tsx
Due: none

FIX: removed public key from dockerfile
  VideoForwarder/Dockerfile
Due: camera-processor-video-forwarder_integration-testing, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

OTH: Dollar sign noation
  Interface/react/src/components/overlay.tsx
Due: none

FIX: Forgot to add new property to overlay
  Interface/react/testing/integration testing/websocketContext.test.tsx
Due: none

TST Revised goals after discussion, added to_do
  Interface/coverage_goals.xml
  ProcessorOrchestrator/coverage_goals.xml
  VideoForwarder/coverage_goals.xml
Due: camera-processor-video-forwarder_integration-testing, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface-linting, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

CRF: Use relative paths where possible
  CameraProcessor/configs.ini
  CameraProcessor/data/annotated/test/det/configtest.txt
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/processor/input/video_capture.py
  CameraProcessor/processor/localhost.py
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/detection/yolov5_runner.py
  CameraProcessor/processor/training/detection/accuracy.py
  CameraProcessor/processor/training/detection/train.py
  CameraProcessor/processor/utils/config_parser.py
  CameraProcessor/tests/orchestratorintegrationtests/fixtures.py
  CameraProcessor/tests/unittests/accuracy/test_accuracy_runner.py
  CameraProcessor/tests/unittests/input/conftest.py
  CameraProcessor/tests/unittests/input/test_image_capture.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

CRF: linting
  CameraProcessor/processor/utils/config_parser.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
Due: none

UFT: start using 1:1, not tested yet.
  VideoForwarder/Dockerfile
  VideoForwarder/NetworkConfig.json
  VideoForwarder/docker-compose.yml
  VideoForwarder/src/camera.py
  VideoForwarder/src/camera_handler.py
  VideoForwarder/src/conversion_process.py
  VideoForwarder/src/main.py
  VideoForwarder/src/stream_options.py
  VideoForwarder/src/utils.py
Due: camera-processor-video-forwarder_integration-testing, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

TST Adjusted coverage for processor
  CameraProcessor/coverage_goals.xml
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

TST Added preliminary coverage goals
  CameraProcessor/coverage_goals.xml
  Interface/coverage_goals.xml
  ProcessorOrchestrator/coverage_goals.xml
  VideoForwarder/coverage_goals.xml
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface-linting, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

TST: Write tests for config parser
  CameraProcessor/processor/utils/config_parser.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/unittests/accuracy/test_accuracy_runner.py
  CameraProcessor/tests/unittests/input/conftest.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/tests/unittests/utils/test_config_parser.py
Due: none

TST: Homepage selection buttons
  Interface/react/src/pages/home.tsx
  Interface/react/testing/unit testing/selection.test.tsx
Due: none

DOC: selection test comments
  Interface/react/testing/unit testing/selection.test.tsx
Due: none

TST: wip, files for todo tests
  Interface/react/testing/unit testing/filter.test.tsx
  Interface/react/testing/unit testing/grid.test.tsx
Due: none
