Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface-linting, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

camera-processor_docker_build:
  stage: build
  script:
  - cd CameraProcessor
  - docker build --target=test -t camera-processor .

camera-processor_unit-testing:
  stage: unittest
  needs:
  - camera-processor_docker_build
  before_script:
  - docker rm -f camera-processor-test-container || true
  script:
  ...

camera-processor_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_build
  script:
  - cd CameraProcessor
  - docker-compose -f docker-compose+orchestrator.yml up --exit-code-from camera-processor-test-service
  after_script:
  - cd CameraProcessor
  ...

camera-processor-video-forwarder_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_build
  - video-forwarder_docker_build
  script:
  - cd CameraProcessor
  - docker-compose -f docker-compose+forwarder.yml up --exit-code-from camera-processor-test-service
  after_script:
  ...

camera-processor_linting:
  stage: linting
  needs:
  - camera-processor_docker_build
  allow_failure: true
  before_script:
  - docker rm -f camera-processor-lint-container || true
  - docker build --target=lint -t camera-processor-lint ./CameraProcessor
  script:
  ...

orchestrator_docker_build:
  stage: build
  script:
  - cd ProcessorOrchestrator
  - docker build -t processor-orchestrator .

orchestrator_unit-testing:
  stage: unittest
  needs:
  - orchestrator_docker_build
  before_script:
  - docker rm -f po-unit-testing || true
  script:
  - docker run --name po-unit-testing processor-orchestrator pytest --cov-config=app/.coveragerc --cov=app/src --cov-report html --cov-report term --junitxml=po-unit-report.xml app/testing
  ...

orchestrator_linting:
  stage: linting
  needs:
  - orchestrator_docker_build
  allow_failure: true
  before_script:
  - docker rm -f orchestrator-lint-container || true
  script:
  - docker run -d -t --name orchestrator-lint-container processor-orchestrator
  - docker cp .pylintrc orchestrator-lint-container:/app
  ...

interface_docker_build:
  stage: build
  script:
  - cd Interface
  - docker build -t interface -f Dockerfile.test .

interface_unit-testing:
  stage: unittest
  needs:
  - interface_docker_build
  before_script:
  - docker rm -f interface-unit-test-container || true
  script:
  - docker run --name interface-unit-test-container interface
  after_script:
  - docker cp interface-unit-test-container:/react/coverage i-coverage
  artifacts:
    when: always
  ...

interface-linting:
  stage: linting
  needs:
  - interface_docker_build
  allow_failure: true
  before_script:
  - cd Interface
  - docker build -t interface_linting -f Dockerfile_lint .
  - docker rm -f interface-lint-container || true
  script:
  - docker run -d -t --name interface-lint-container interface_linting
  ...

video-forwarder_docker_build:
  stage: build
  script:
  - cd VideoForwarder
  - docker build --target=testing -t video-forwarder .

TST: wait 10 seconds before start test and renaming
  .gitlab-ci.yml
  CameraProcessor/docker-compose+forwarder.yml
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
  VideoForwarder/requirements.txt
  VideoForwarder/test/integrationtest/integration_test.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

TST: force recreate
  .gitlab-ci.yml
Due: none

FIX: command
  .gitlab-ci.yml
Due: none

OTH: remove orch integration test from pipelien
  .gitlab-ci.yml
Due: none

TST: forwarder service
  .gitlab-ci.yml
  CameraProcessor/docker-compose+forwarder.yml
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

TST: force reacreate and force delete
  .gitlab-ci.yml
Due: none

FIX: container closed immediately
  .gitlab-ci.yml
Due: none

OTH: Update hls link
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
Due: none

TST: incomplete url
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
  VideoForwarder/src/main.py
Due: none

TST: Added xml coverage, also added comments to the testing server.
  .gitlab-ci.yml
  ProcessorOrchestrator/docker-compose.testing.yml
  ProcessorOrchestrator/testing/testing_server.py
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

OTH: This should fix xml error
  .gitlab-ci.yml
  ProcessorOrchestrator/.coveragerc
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

OTH: Another try for xml fix
  .gitlab-ci.yml
  ProcessorOrchestrator/.coveragerc
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

FIX: Forgot to add directory
  .gitlab-ci.yml
Due: none

OTH: Pylint errors
  ProcessorOrchestrator/src/main.py
  ProcessorOrchestrator/src/processor_socket.py
  ProcessorOrchestrator/testing/integration_testing/communication_test.py
  ProcessorOrchestrator/testing/testing_server.py
Due: none

OTH: Cov append
  ProcessorOrchestrator/docker-compose.testing.yml
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

UFT: authentication now working
  ProcessorOrchestrator/Dockerfile
  ProcessorOrchestrator/docker-compose.yml
  ProcessorOrchestrator/requirements.txt
  ProcessorOrchestrator/src/auth.py
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/main.py
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

FIX CameraProcessor linting
  CameraProcessor/.pylintrc
  CameraProcessor/processor/training/tracking/train.py
  CameraProcessor/tests/unittests/scheduling/node/test_schedule_node.py
  CameraProcessor/tests/unittests/scheduling/utils/schedule_wrapper.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX Processor Orchestrator linting
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/main.py
  ProcessorOrchestrator/src/processor_socket.py
Due: none

FIX CameraProcessor linting
  CameraProcessor/tests/unittests/scheduling/utils/schedule_wrapper.py
Due: none

FIX Video Forwarder Linting
  VideoForwarder/src/camera.py
  VideoForwarder/src/camera_handler.py
  VideoForwarder/src/main.py
Due: none

FIX Interface linting
  Interface/testingSelenium/Testing.py
Due: none

FIX typo
  Interface/testingSelenium/Testing.py
Due: none

FFT: put SORT tracking into pipeline
  CameraProcessor/configs.ini
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/detection/bounding_box.py
  CameraProcessor/processor/pipeline/detection/detection_obj.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/tracking/__init__.py
  CameraProcessor/processor/pipeline/tracking/sort/LICENSE
  CameraProcessor/processor/pipeline/tracking/sort/README.md
  CameraProcessor/processor/pipeline/tracking/sort/__init__.py
  CameraProcessor/processor/pipeline/tracking/sort/requirements.txt
  CameraProcessor/processor/pipeline/tracking/sort/sort.py
  CameraProcessor/processor/pipeline/tracking/sort_tracker.py
  CameraProcessor/processor/pipeline/tracking/tracking_obj.py
  CameraProcessor/requirements-gpu.txt
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX: reverted change to configs.ini
  CameraProcessor/configs.ini
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

Revert "Merge branch 'SPC-344-deepsort' into 'SPC-355_SORT_tracking'"
  CameraProcessor/configs.ini
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/detection/bounding_box.py
  CameraProcessor/processor/pipeline/detection/detection_obj.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/tracking/__init__.py
  CameraProcessor/processor/pipeline/tracking/sort/LICENSE
  CameraProcessor/processor/pipeline/tracking/sort/README.md
  CameraProcessor/processor/pipeline/tracking/sort/__init__.py
  CameraProcessor/processor/pipeline/tracking/sort/requirements.txt
  CameraProcessor/processor/pipeline/tracking/sort/sort.py
  CameraProcessor/processor/pipeline/tracking/sort_tracker.py
  CameraProcessor/processor/pipeline/tracking/tracking_obj.py
  CameraProcessor/requirements-gpu.txt
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

UFT: training
  CameraProcessor/__init__.py
  CameraProcessor/processor/pipeline/detection/yolov5/models/common.py
  CameraProcessor/processor/pipeline/detection/yolov5/models/experimental.py
  CameraProcessor/processor/pipeline/detection/yolov5/models/yolo.py
  CameraProcessor/processor/pipeline/detection/yolov5/train.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/autoanchor.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/datasets.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/general.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/loss.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/plots.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

Update Testing.py
  Interface/testingSelenium/testing.py
Due: none

FFT: Training
  CameraProcessor/processor/pipeline/detection/yolov5/models/common.py
  CameraProcessor/processor/pipeline/detection/yolov5/models/experimental.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/datasets.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/general.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/plots.py
Due: none

FFT: Updated .pylintrc
  .pylintrc
  CameraProcessor/processor/pipeline/detection/yolov5/models/yolo.py
  CameraProcessor/processor/pipeline/detection/yolov5/train.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/autoanchor.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/loss.py
Due: none

FFT: Duplicate code
  CameraProcessor/processor/scheduling/scheduler.py
Due: none

FFT: Removed unneeded files
  CameraProcessor/processor/scheduling/scheduler.py
  CameraProcessor/processor/training/detection/bounding_box.py
  CameraProcessor/processor/training/detection/detection_obj.py
Due: none

FFT: Removed more unneeded files
  CameraProcessor/processor/training/detection/plots/threshold10-1.png
  CameraProcessor/processor/training/detection/yolov5_runner.py
Due: none

CRF rename typos, separate plotting methods
  CameraProcessor/processor/training/detection/accuracy.py
Due: none

OTH: Fixed final linting errors
  ProcessorOrchestrator/testing/testing_server.py
Due: none

FIX: Removed class
  .pylintrc
  ProcessorOrchestrator/testing/testing_server.py
Due: none

FIX: pass server by reference
  ProcessorOrchestrator/testing/testing_server.py
Due: none

FIX: Append
  ProcessorOrchestrator/testing/testing_server.py
Due: none

UFT Write detection objects to a txt file when running in accuracy mode.
  CameraProcessor/processor/pipeline/detection/detection_obj.py
  CameraProcessor/processor/yolov5_test.py
Due: none

Path conditions:
  camera-processor_docker_build: any of: CameraProcessor/*
  camera-processor_unit-testing: any of: CameraProcessor/*
  camera-processor_integration-testing: any of: CameraProcessor/*
  camera-processor-video-forwarder_integration-testing: any of: CameraProcessor/*, VideoForwarder/*
  camera-processor_linting: any of: CameraProcessor/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
  orchestrator_linting: any of: ProcessorOrchestrator/*
  interface_docker_build: any of: Interface/*
  interface_unit-testing: any of: Interface/*
  interface-linting: any of: Interface/*
  video-forwarder_docker_build: any of: VideoForwarder/*
  video-forwarder_unit-testing: any of: VideoForwarder/*
  video-forwarder_integration-testing: any of: VideoForwarder/*
  forwarder-linting: any of: VideoForwarder/*
