Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing, interface_docker_build, interface_unit-testing

camera-processor_docker_test_build:
  stage: build
  script:
  - cd CameraProcessor
  - docker build --target=test -t camera-processor-test .

camera_container_removal:
  stage: removal
  needs:
  - camera-processor_docker_test_build
  allow_failure: true
  script:
  - docker rm -f camera-processor-test-container

camera-processor_unit-testing:
  stage: unittest
  needs:
  - camera-processor_docker_test_build
  - camera_container_removal
  script:
  ...

camera-processor_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_test_build
  - camera_container_removal
  script:
  - cd CameraProcessor
  - docker-compose up --exit-code-from camera-processor-test-service
  - docker cp processor-integration-test-container:/app/integration-report.xml integration-report.xml
  ...

camera-processor_linting:
  stage: linting
  needs:
  - camera-processor_docker_test_build
  - camera_container_removal
  allow_failure: true
  script:
  - docker run --name camera-processor-lint-container camera-processor-test pylint app

orchestrator_docker_build:
  stage: build
  script:
  - docker build -t processor-orchestrator --target testing ./ProcessorOrchestrator

orchestrator_container_removal:
  stage: removal
  needs:
  - orchestrator_docker_build
  allow_failure: true
  script:
  - docker rm -f po-unit-testing

orchestrator_unit-testing:
  stage: unittest
  needs:
  - orchestrator_docker_build
  - orchestrator_container_removal
  script:
  - docker run --name po-unit-testing processor-orchestrator
  - docker cp po-unit-testing:report.xml ProcessorOrchestrator/report.xml
  artifacts:
    reports:
      junit: ProcessorOrchestrator/report.xml

interface_docker_build:
  stage: build
  script:
  - cd interface
  - docker build -t interface -f Dockerfile.test .

interface_unit-testing:
  stage: unittest
  needs:
  - interface_docker_build
  script:
  - docker run interface

FIX Imports
  .gitlab-ci.yml
Due: none

FIX: Ignore
  utility/pylint_ignore.py
Due: none

TST: ignorepylint
  utility/pylint_ignore.py
Due: none

UFT: Added shell script for Unix systems
  CameraProcessor/rebuild-test.sh
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

FFT Pylint Ignore
  utility/pylint_ignore.py
Due: none

FFT: environment encoder
  VideoForwarder/.gitignore
  VideoForwarder/docker-compose.yml
  VideoForwarder/src/cameraHandler.py
  VideoForwarder/src/main.py
Due: none

UFT: start comments
  VideoForwarder/Dockerfile
  VideoForwarder/docker-compose.yml
  VideoForwarder/requirements.txt
  VideoForwarder/src/camera.py
  VideoForwarder/src/cameraHandler.py
  VideoForwarder/up.bat
Due: none

FFT: finished up comments
  VideoForwarder/src/camera_handler.py
  VideoForwarder/src/main.py
Due: none

FFT: finished up some code style
  VideoForwarder/src/camera.py
  VideoForwarder/src/camera_handler.py
  VideoForwarder/src/main.py
Due: none

TST: Trying intiial pylint setup
  ProcessorOrchestrator/Dockerfile
  ProcessorOrchestrator/rebuild.sh
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

TST: Changed yaml for orchestrator pylint
  .gitlab-ci.yml
Due: none

FIX Invalid Yaml fix
  .gitlab-ci.yml
Due: none

FIX: python version
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

TST: Only one folder
  .gitlab-ci.yml
Due: none

TST:Changed orchestrator docker file structure
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

FIX: Removed space before requirements.txt
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

TST: Refactor
  .gitlab-ci.yml
Due: none

TST: Dockerfile
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

TST fixing dockerfile
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

TST Ymal update
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

TST Fixing unittest folder
  .gitlab-ci.yml
Due: none

TST unittest filepath
  .gitlab-ci.yml
Due: none

TST: Pylint
  .gitlab-ci.yml
Due: none

TST: pylint
  .gitlab-ci.yml
Due: none

TST: fix linting
  .gitlab-ci.yml
Due: none

TST/CRF Bunch of tests added
  CameraProcessor/.coveragerc
  CameraProcessor/processor/.coveragerc
  CameraProcessor/processor/input/cam_capture.py
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/processor/input/icapture.py
  CameraProcessor/processor/input/image_capture.py
  CameraProcessor/processor/input/video_capture.py
  CameraProcessor/processor/localhost.py
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/detection/detection_obj.py
  CameraProcessor/processor/pipeline/detection/idetector.py
  CameraProcessor/processor/pipeline/detection/yolov5_runner.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/websocket_client.py
  CameraProcessor/processor/yolov5_test.py
  CameraProcessor/tests/systemtests/vidstream_to_json.py
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
  CameraProcessor/tests/unittests/pipeline/conftest.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/tests/unittests/test_main.py
  CameraProcessor/tests/unittests/test_websocket_client.py
  CameraProcessor/tests/unittests/training/test_detection_train.py
  CameraProcessor/tests/unittests/utils/__init__.py
  CameraProcessor/tests/unittests/utils/exception_handler_process.py
  CameraProcessor/tests/unittests/utils/fake_detector.py
  CameraProcessor/tests/unittests/utils/fake_websocket.py
  CameraProcessor/tests/unittests/utils/utils.py
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

UFT: Some websocket testing functionality is written but it does not work yet.
  ProcessorOrchestrator/docker-compose.testing.yml
  ProcessorOrchestrator/requirements-test.txt
  ProcessorOrchestrator/testing/integration_testing/test_feature_map_distribution.py
  ProcessorOrchestrator/testing/unit_testing/__init__.py
  ProcessorOrchestrator/testing/unit_testing/tracking_objects_test.py
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

OTH: These files should have been in the last commit
  ProcessorOrchestrator/.vs/ProcessorOrchestrator/v16/.suo
  ProcessorOrchestrator/.vs/VSWorkspaceState.json
  ProcessorOrchestrator/.vs/slnx.sqlite
  ProcessorOrchestrator/Dockerfile
  ProcessorOrchestrator/docker-compose.testing.yml
  ProcessorOrchestrator/requirements.txt
  ProcessorOrchestrator/testing/integration_testing/test_feature_map_distribution.py
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

Path conditions:
  camera-processor_docker_test_build: any of: CameraProcessor/*
  camera_container_removal: any of: CameraProcessor/*
  camera-processor_unit-testing: any of: CameraProcessor/*
  camera-processor_integration-testing: any of: CameraProcessor/*
  camera-processor_linting: any of: CameraProcessor/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_container_removal: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
  interface_docker_build: any of: interface/*, interface/react/*
  interface_unit-testing: any of: interface/react/*
