Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_integration-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface_integration-testing, interface-linting-selenium, interface-linting-ESLint, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

camera-processor_docker_build:
  stage: build
  script:
  - cd CameraProcessor
  - docker build --target=test -t camera-processor .

camera-processor_unit-testing:
  stage: unittest
  needs:
  - camera-processor_docker_build
  before_script:
  - docker rm -f camera-processor-test-container || true
  script:
  ...

camera-processor_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_build
  script:
  - docker rm -f processor-integration-test-container || true
  - docker-compose -f ./CameraProcessor/docker-compose+orchestrator.yml up --build --exit-code-from camera-processor-test-service
  after_script:
  ...

camera-processor-video-forwarder_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_build
  script:
  - docker rm -f processor-forwarder-integration-test-container || true
  - docker-compose -f ./CameraProcessor/docker-compose+forwarder.yml up --force-recreate --build --exit-code-from camera-processor-test-service
  after_script:
  ...

camera-processor_linting:
  stage: linting
  needs:
  - camera-processor_docker_build
  before_script:
  - docker rm -f camera-processor-lint-container || true
  - docker build --target=lint -t camera-processor-lint ./CameraProcessor
  script:
  - docker run -d -t --name camera-processor-lint-container camera-processor-lint
  ...

orchestrator_docker_build:
  stage: build
  script:
  - docker build -t processor-orchestrator --target=testing ./ProcessorOrchestrator

orchestrator_unit-testing:
  stage: unittest
  needs:
  - orchestrator_docker_build
  before_script:
  - docker rm -f po-unit-testing || true
  - docker build -t processor-orchestrator --target=testing ./ProcessorOrchestrator
  script:
  ...

orchestrator_integration-testing:
  stage: integrationtest
  dependencies:
  - orchestrator_unit-testing
  needs:
  - orchestrator_unit-testing
  before_script:
  - docker build -t processor-orchestrator --target=testing ./ProcessorOrchestrator
  script:
  - docker-compose -f ProcessorOrchestrator/docker-compose.testing.yml up --build --no-start
  ...

orchestrator_linting:
  stage: linting
  needs:
  - orchestrator_docker_build
  before_script:
  - docker rm -f orchestrator-lint-container || true
  - docker build -t processor-orchestrator --target=testing ./ProcessorOrchestrator
  script:
  - docker run -d -t --name orchestrator-lint-container processor-orchestrator
  ...

interface_docker_build:
  stage: build
  script:
  - cd Interface
  - docker build -t interface -f Dockerfile.test .

interface_unit-testing:
  stage: unittest
  needs:
  - interface_docker_build
  before_script:
  - docker rm -f interface-unit-test-container || true
  script:
  - docker run --name interface-unit-test-container interface
  after_script:
  - docker cp interface-unit-test-container:/react/coverage i-coverage
  ...

video-forwarder_docker_build:
  stage: build
  script:
  - cd VideoForwarder
  - docker build --target=testing -t video-forwarder .

FFT: Update compose and gitlab files
  CameraProcessor/.gitlab-ci.yml
  CameraProcessor/Dockerfile
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  Interface/.gitlab-ci.yml
  ProcessorOrchestrator/.gitlab-ci.yml
  ProcessorOrchestrator/compose/docker-compose_test_integration.yml
  VideoForwarder/.gitlab-ci.yml
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_integration-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface_integration-testing, interface-linting-selenium, interface-linting-ESLint, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FIX: Orchestrator integration test service and exit code reference
  CameraProcessor/Dockerfile
  ProcessorOrchestrator/.gitlab-ci.yml
  ProcessorOrchestrator/compose/docker-compose_test_integration.yml
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_integration-testing, orchestrator_linting

FFT: updated references
  CameraProcessor/compose/docker-compose+forwarder.yml
  VideoForwarder/Dockerfile
  VideoForwarder/compose/docker-compose_test_integration.yml
  VideoForwarder/compose/docker-compose_test_unit.yml
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FFT: Fix context
  ProcessorOrchestrator/.gitlab-ci.yml
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_integration-testing, orchestrator_linting

DOC: Added docstrings
  CameraProcessor/configs.ini
  CameraProcessor/data/annotated/test/det/configtest-info.txt
  CameraProcessor/data/annotated/test/det/configtest.txt
  CameraProcessor/processor/webhosting/start_command.py
  CameraProcessor/processor/webhosting/stop_command.py
  CameraProcessor/processor/webhosting/websocket_client.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

Added command classes
  CameraProcessor/processor/webhosting/start_command.py
  CameraProcessor/processor/webhosting/stop_command.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

RFT: Linting
  CameraProcessor/processor/pipeline/process_frames.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FFT: Mock functionality for start and stop commands
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/webhosting/websocket_client.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX: Extended fake websocket for testing
  CameraProcessor/tests/unittests/utils/fake_websocket.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX: Restored file contents to originals
  CameraProcessor/configs.ini
  CameraProcessor/data/annotated/test/det/configtest-info.txt
  CameraProcessor/data/annotated/test/det/configtest.txt
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX: removed test file
  VideoForwarder/Dockerfile
Due: video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FIX: yolov5 configuration in testing
  CameraProcessor/tests/unittests/input/conftest.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX: use realpath
  CameraProcessor/processor/utils/config_parser.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX: updated dependencies
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
  VideoForwarder/tests/integrationtest/integration_test.py
  VideoForwarder/tests/unittest/testConfig.json
  VideoForwarder/tests/unittest/unit_test.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FIX: file exists and fixing tests
  VideoForwarder/src/camera_handler.py
  VideoForwarder/src/conversion_process.py
  VideoForwarder/src/main.py
  VideoForwarder/tests/integrationtest/integration_test.py
  VideoForwarder/tests/unittest/unit_test.py
Due: video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FIX: linting
  VideoForwarder/src/camera_handler.py
Due: video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FIX: url instead of ip_address
  VideoForwarder/tests/unittest/unit_test.py
Due: video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FFT: added a few cross project pipeline dependencies
  CameraProcessor/.gitlab-ci.yml
  Interface/.gitlab-ci.yml
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, interface_docker_build, interface_unit-testing, interface_integration-testing, interface-linting-selenium, interface-linting-ESLint

OTH: Sync
  CameraProcessor/tests/unittests/input/conftest.py
  CameraProcessor/tests/unittests/utils/test_config_parser.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX stream pause on box click
  Interface/react/src/index.css
Due: interface_docker_build, interface_unit-testing, interface_integration-testing, interface-linting-selenium, interface-linting-ESLint

FFT: Remove changes with develop after merge
  CameraProcessor/.pylintrc
  CameraProcessor/docker-compose+forwarder.yml
  CameraProcessor/docker-compose+orchestrator.yml
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/processor/yolov5_test.py
  CameraProcessor/tests/orchestratorintegrationtests/fixtures.py
  Interface/Dockerfile.test
  Interface/Dockerfile_eslint
  Interface/react/public/config.json
  Interface/react/testing/App.test.tsx
  Interface/react/testing/Home.test.tsx
  Interface/rebuild.bat
  Interface/testingSelenium/testing.py
  ProcessorOrchestrator/Dockerfile
  ProcessorOrchestrator/docker-compose.testing.yml
  ProcessorOrchestrator/src/log_handler.py
  ProcessorOrchestrator/tests/unit_testing/integration_testing/__init__.py
  ProcessorOrchestrator/tests/unit_testing/integration_testing/communication_test.py
  ProcessorOrchestrator/tests/unit_testing/testing_server.py
  ProcessorOrchestrator/tests/unit_testing/unit_testing/__init__.py
  ProcessorOrchestrator/tests/unit_testing/unit_testing/tracking_objects_test.py
  VideoForwarder/Dockerfile
  VideoForwarder/Dockerfile_lint
  VideoForwarder/docker-compose-test.yml
  VideoForwarder/src/utils.py
  VideoForwarder/test/integrationtest/integration_test.py
  VideoForwarder/test/unittest/testConfig.json
  VideoForwarder/test/unittest/unit_test.py
  VideoForwarder/tests/__init__.py
  VideoForwarder/tests/integrationtest/__init__.py
  VideoForwarder/tests/integrationtest/conftest.py
  VideoForwarder/tests/integrationtest/integration_test.py
  VideoForwarder/tests/unittest/__init__.py
  VideoForwarder/tests/unittest/conftest.py
  VideoForwarder/tests/unittest/unit_test.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_integration-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface_integration-testing, interface-linting-selenium, interface-linting-ESLint, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FIX: Wrong rename
  VideoForwarder/tests/__init__.py
  VideoForwarder/tests/integrationtest/__init__.py
  VideoForwarder/tests/integrationtest/conftest.py
  VideoForwarder/tests/integrationtest/integration_test.py
  VideoForwarder/tests/unittest/__init__.py
  VideoForwarder/tests/unittest/conftest.py
  VideoForwarder/tests/unittest/unit_test.py
Due: video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

Path conditions:
  camera-processor_docker_build: any of: CameraProcessor/**/*
  camera-processor_unit-testing: any of: CameraProcessor/**/*
  camera-processor_integration-testing: any of: CameraProcessor/**/*
  camera-processor-video-forwarder_integration-testing: any of: CameraProcessor/**/*
  camera-processor_linting: any of: CameraProcessor/**/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/**/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/**/*
  orchestrator_integration-testing: any of: ProcessorOrchestrator/**/*
  orchestrator_linting: any of: ProcessorOrchestrator/**/*
  interface_docker_build: any of: Interface/**/*
  interface_unit-testing: any of: Interface/**/*
  interface_integration-testing: any of: Interface/**/*
  interface-linting-selenium: any of: Interface/**/*
  interface-linting-ESLint: any of: Interface/**/*
  video-forwarder_docker_build: any of: VideoForwarder/**/*
  video-forwarder_unit-testing: any of: VideoForwarder/**/*
  video-forwarder_integration-testing: any of: VideoForwarder/**/*
  forwarder-linting: any of: VideoForwarder/**/*
