Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting, orchestrator_container_removal, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface-linting, interface_container_removal, forwarder_docker_build, forwarder-linting, forwarder_container_removal

Path conditions:
  camera_container_removal: any of: CameraProcessor/*
  camera-processor_docker_build: any of: CameraProcessor/*
  camera-processor_unit-testing: any of: CameraProcessor/*
  camera-processor_integration-testing: any of: CameraProcessor/*
  camera-processor_linting: any of: CameraProcessor/*
  orchestrator_container_removal: any of: ProcessorOrchestrator/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
  orchestrator_linting: any of: ProcessorOrchestrator/*
  interface_docker_build: any of: Interface/*
  interface_unit-testing: any of: interface/*
  interface-linting: any of: Interface/*
  interface_container_removal: any of: Interface/*
  forwarder_docker_build: any of: VideoForwarder/*
  forwarder-linting: any of: VideoForwarder/*
  forwarder_container_removal: any of: VideoForwarder/*

FIX Added doctstring
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/processor/input/image_capture.py
  CameraProcessor/processor/input/video_capture.py
Due: none

FIX Doctstringssss
  CameraProcessor/tests/unittests/capture/test_captures.py
Due: none

FIX Docstrings again
  CameraProcessor/tests/unittests/pipeline/conftest.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/tests/unittests/test_main.py
  CameraProcessor/tests/unittests/utils/exception_handler_process.py
  CameraProcessor/tests/unittests/utils/fake_websocket.py
Due: none

"CRF Gerard proof code"
  CameraProcessor/processor/input/image_capture.py
  CameraProcessor/processor/training/detection/accuracy.py
Due: none

OTH: inbetween merge
  .gitlab-ci.yml
  Interface/Dockerfile.test
Due: interface_docker_build, interface-linting, interface_container_removal

FFT: Unit tests scheduler
  .pylintrc
  CameraProcessor/tests/systemtests/__init__.py
  CameraProcessor/tests/unittests/__init__.py
  CameraProcessor/tests/unittests/capture/__init__.py
  CameraProcessor/tests/unittests/detection/__init__.py
  CameraProcessor/tests/unittests/scheduling/__init__.py
  CameraProcessor/tests/unittests/scheduling/component/__init__.py
  CameraProcessor/tests/unittests/scheduling/component/example_components/__init__.py
  CameraProcessor/tests/unittests/scheduling/component/example_components/test_example_component.py
  CameraProcessor/tests/unittests/scheduling/component/example_components/test_input_components.py
  CameraProcessor/tests/unittests/scheduling/component/example_components/test_output_components.py
  CameraProcessor/tests/unittests/scheduling/component/test_base_component.py
  CameraProcessor/tests/unittests/scheduling/component/test_component_interface.py
  CameraProcessor/tests/unittests/scheduling/node/__init__.py
  CameraProcessor/tests/unittests/scheduling/node/test_schedule_node.py
  CameraProcessor/tests/unittests/scheduling/plan/__init__.py
  CameraProcessor/tests/unittests/scheduling/plan/test_example_plan.py
  CameraProcessor/tests/unittests/scheduling/test_scheduler.py
  CameraProcessor/tests/unittests/tracking/__init__.py
Due: none

TST: Coverage report
  .gitlab-ci.yml
Due: none

FIX: interface typo
  .gitlab-ci.yml
Due: none

Resolve SPC-230 "Use ssl in docker for websocket"
  CameraProcessor/configs.ini
  CameraProcessor/processor/main.py
  CameraProcessor/processor/websocket_client.py
  ProcessorOrchestrator/src/main.py
Due: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST: parse coverage lines
  .gitlab-ci.yml
Due: none

FIX: Made sure integration tests terminate
  .gitlab-ci.yml
Due: none

FIX: Remove correct container
  .gitlab-ci.yml
Due: none

"Test added 3 unit tests"
  CameraProcessor/data/annotated/test/det/test1.txt
  CameraProcessor/tests/unittests/detection/accuracy_testing.py
Due: none

FIX: Fixed gitlab-ci
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
  ProcessorOrchestrator/docker-compose.testing.yml
Due: orchestrator_container_removal, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

TST: Report in cobertura format
  .gitlab-ci.yml
  Interface/Dockerfile.test
Due: interface_docker_build, interface-linting, interface_container_removal

FIX: Wrong identation
  .gitlab-ci.yml
Due: none

FIX: Fixed coverage issues
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_container_removal, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

FIX: Fixed report output error
  .gitlab-ci.yml
Due: none

TST: Made timeout a bit bigger for the stop tracking test
  ProcessorOrchestrator/testing/integration_testing/communication_test.py
Due: none

FIX: Final report error fixed
  .gitlab-ci.yml
Due: none

OTH: awaited message writing to see if that helps with the timeout
  ProcessorOrchestrator/testing/integration_testing/communication_test.py
Due: none

FFT: Coverage of the interface
  .gitlab-ci.yml
  Interface/Dockerfile.test
Due: interface_docker_build, interface-linting, interface_container_removal

FFT: Add pytest coverage percentage in gitlab
  .gitlab-ci.yml
Due: none

FIX: regex invalid
  .gitlab-ci.yml
Due: none

TST: remove regex
  .gitlab-ci.yml
Due: none

TST: gitlab file
  .gitlab-ci.yml
Due: none

OTH: linter init hook update
  .pylintrc
Due: none

TST: gitlab-ci
  .gitlab-ci.yml
Due: none

TST: job failed in afterscript
  .gitlab-ci.yml
Due: none

OTH: Remove comments
  .gitlab-ci.yml
  CameraProcessor/processor/pipeline/detection/bounding_box.py
Due: none

TST: coverage property in yml
  .gitlab-ci.yml
Due: none

CRF: Linting code
  .pylintrc
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/processor/localhost.py
  CameraProcessor/processor/pipeline/detection/__init__.py
  CameraProcessor/processor/pipeline/detection/detection_obj.py
  CameraProcessor/processor/scheduling/plan/example_plan.py
Due: none

UFT: added more unit test
  VideoForwarder/test/integration_test.py
  VideoForwarder/test/unit_test.py
Due: none

FFT: linting does not give warnings anymore
  CameraProcessor/processor/input/icapture.py
  CameraProcessor/processor/localhost.py
  CameraProcessor/processor/pipeline/detection/idetector.py
  CameraProcessor/processor/websocket_client.py
  CameraProcessor/processor/yolov5_test.py
Due: none

OTH: Sync linting updates
  CameraProcessor/tests/systemtests/vidstream_to_json.py
  CameraProcessor/tests/unittests/test_main.py
  CameraProcessor/tests/unittests/test_websocket_client.py
Due: none

FIX: Forwarder renaming bug
  VideoForwarder/src/main.py
Due: none

FFT: Finished linting tests folder
  .pylintrc
  CameraProcessor/.pylintrc
  CameraProcessor/tests/unittests/__init__.py
  CameraProcessor/tests/unittests/capture/__init__.py
  CameraProcessor/tests/unittests/capture/conftest.py
  CameraProcessor/tests/unittests/capture/test_captures.py
  CameraProcessor/tests/unittests/detection/__init__.py
  CameraProcessor/tests/unittests/detection/test_bounding_box.py
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
  CameraProcessor/tests/unittests/pipeline/__init__.py
  CameraProcessor/tests/unittests/pipeline/conftest.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/tests/unittests/test_websocket_client.py
  CameraProcessor/tests/unittests/tracking/__init__.py
  CameraProcessor/tests/unittests/training/__init__.py
  CameraProcessor/tests/unittests/training/test_detection_train.py
  CameraProcessor/tests/unittests/utils/exception_handler_process.py
  CameraProcessor/tests/unittests/utils/fake_detector.py
  CameraProcessor/tests/unittests/utils/fake_websocket.py
Due: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

FFT: Pylint tests folder done
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: none

FFT: Linting tests folder done
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: none

FIX: Named container
  ProcessorOrchestrator/docker-compose.testing.yml
Due: orchestrator_container_removal, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting
