Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, orchestrator_docker_build, orchestrator_unit-testing

pytest:
  stage: test
  trigger:
    include: CameraProcessor/.gitlab-ci.yml

orchestrator_docker_build:
  stage: build
  script:
  - docker build -t processor-orchestrator --target testing ./ProcessorOrchestrator

orchestrator_unit-testing:
  stage: test
  needs:
  - orchestrator_docker_build
  script:
  - docker run processor-orchestrator

FIX: exclude yolov5 and yolov4deepsort from documentation
  CameraProcessor/src/pipeline/detection/__init__.py
Due: none

FIX: main.py checked boolean as if it was a string
  CameraProcessor/src/main.py
Due: none

UFT Fixed Input folder; Created pylintrc
  CameraProcessor/.pylintrc
Due: pytest

UFT Input folder Done
  CameraProcessor/.pylintrc
  CameraProcessor/requirements.txt
  CameraProcessor/src/input/cam_capture.py
  CameraProcessor/src/input/hls_capture.py
  CameraProcessor/src/input/image_capture.py
  CameraProcessor/src/input/video_capture.py
  CameraProcessor/tests/unittests/capture/test_captures.py
Due: pytest

UFT: Initial configuration changes to get jest working.
  interface/Testing Selenium/Testing.py
  interface/react/babel.config.json
  interface/react/jest.config.js
  interface/react/package-lock.json
  interface/react/package.json
  interface/react/src/App.test.tsx
  interface/react/src/components/navbar.tsx
  interface/react/src/pages/home.tsx
  interface/react/src/test/Jest_Example.test.tsx
  interface/react/src/test/Jest_Example.tsx
  interface/react/styleMock.js
  interface/react/testing/App.test.tsx
  interface/react/tsconfig.json
Due: none

UFT: I changed some things according to pylint suggestions, but many warnings need to be evaluated by the team.
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/connections.py
  ProcessorOrchestrator/src/log_handler.py
  ProcessorOrchestrator/src/main.py
  ProcessorOrchestrator/src/processor_socket.py
  ProcessorOrchestrator/src/testing/tracking_objects_test.py
Due: none

FFT: Added a simple registration protocol for the processors to signup with.
  ProcessorOrchestrator/docs/client_socket.html
  ProcessorOrchestrator/docs/connections.html
  ProcessorOrchestrator/docs/index.html
  ProcessorOrchestrator/docs/object_manager.html
  ProcessorOrchestrator/docs/processor_socket.html
  ProcessorOrchestrator/src/logger.py
  ProcessorOrchestrator/src/processor_socket.py
Due: none

UFT: Syncing
  CameraProcessor/Dockerfile
  CameraProcessor/deploy-requirements.txt
  CameraProcessor/docker-compose.yml
  CameraProcessor/rebuild.bat
  CameraProcessor/requirements.txt
  CameraProcessor/src/main.py
Due: pytest

TST: pre annotations
  CameraProcessor/src/localhost.py
  CameraProcessor/src/training/detection/train.py
  CameraProcessor/src/training/pre_annotations.py
  CameraProcessor/tests/unittests/preannotations/test_json_pre_annotations.py
  CameraProcessor/tests/unittests/preannotations/test_pre_annotations.py
  CameraProcessor/tests/unittests/preannotations/test_text_pre_annotations.py
Due: none

FFT src folder done
  CameraProcessor/.pylintrc
  CameraProcessor/configs.ini
  CameraProcessor/requirements.txt
  CameraProcessor/src/documentation.py
  CameraProcessor/src/input/hls_capture.py
  CameraProcessor/src/localhost.py
  CameraProcessor/src/main.py
  CameraProcessor/src/pipeline/detection/bounding_box.py
  CameraProcessor/src/pipeline/detection/detection_obj.py
  CameraProcessor/src/pipeline/detection/yolov5_runner.py
  CameraProcessor/src/pipeline/process_frames.py
  CameraProcessor/src/scheduling/component/base_component.py
  CameraProcessor/src/scheduling/component/component_interface.py
  CameraProcessor/src/scheduling/component/example_components/example_component.py
  CameraProcessor/src/scheduling/component/example_components/input_component.py
  CameraProcessor/src/scheduling/component/example_components/output_component.py
  CameraProcessor/src/scheduling/node/schedule_node.py
  CameraProcessor/src/scheduling/scheduler.py
  CameraProcessor/src/training/detection/train.py
  CameraProcessor/src/training/pre_annotations.py
  CameraProcessor/src/websocket_client.py
  CameraProcessor/src/yolov4deepsort_test.py
  CameraProcessor/src/yolov5_test.py
Due: pytest

FFT: Added some initial testing files that pass npm test
  interface/react/testing/App.test.tsx
  interface/react/testing/Home.test.tsx
Due: none

UFT: Docker cuda sync
  CameraProcessor/Dockerfile
  CameraProcessor/rebuild.bat
  CameraProcessor/requirements.txt
  CameraProcessor/src/main.py
  CameraProcessor/src/pipeline/process_frames.py
Due: pytest

UFT: Sync did not work, this is newest version
  CameraProcessor/.dockerignore
  CameraProcessor/configs.ini
  CameraProcessor/docker-compose.yml
Due: pytest

BUG: Resolved bug where hls capture would immediately close
  CameraProcessor/src/input/hls_capture.py
Due: none

UFT: Make connections more robust
  CameraProcessor/src/input/hls_capture.py
  CameraProcessor/src/websocket_client.py
Due: none

UFT geen errors at least
  interface/react/src/components/VideojsPlayer.tsx
Due: none

UFT: Sync version
  CameraProcessor/Dockerfile
  CameraProcessor/requirements.txt
  CameraProcessor/src/pipeline/detection/yolov5/requirements.txt
Due: pytest

OTH: Docker ini path
  CameraProcessor/Dockerfile
  CameraProcessor/src/main.py
Due: pytest

UFT: still working out which packages are missing in docker
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
  interface/.vscode/settings.json
  interface/Dockerfile.test
  interface/package-lock.json
  interface/react/jest.config.js
  interface/react/package.json
  interface/react/setupJest.js
  interface/react/src/setupTests.ts
  interface/react/testing/App.test.tsx
Due: orchestrator_docker_build, orchestrator_unit-testing

UFT: Get bounding boxes from a running camera processor.
  interface/react/src/classes/ClientMessage.ts
  interface/react/src/components/overlay.tsx
  interface/react/src/components/websocketContext.tsx
Due: none

Path conditions:
  pytest: any of: CameraProcessor/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
