Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface-linting, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

camera-processor_docker_build:
  stage: build
  script:
  - cd CameraProcessor
  - docker build --target=test -t camera-processor .

camera-processor_unit-testing:
  stage: unittest
  needs:
  - camera-processor_docker_build
  before_script:
  - docker rm -f camera-processor-test-container || true
  script:
  ...

camera-processor_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_build
  script:
  - cd CameraProcessor
  - docker-compose -f docker-compose+orchestrator.yml up --exit-code-from camera-processor-test-service
  after_script:
  - cd CameraProcessor
  ...

camera-processor-video-forwarder_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_build
  - video-forwarder_docker_build
  script:
  - cd CameraProcessor
  - docker-compose -f docker-compose+forwarder.yml up --exit-code-from camera-processor-test-service
  after_script:
  ...

camera-processor_linting:
  stage: linting
  needs:
  - camera-processor_docker_build
  allow_failure: true
  before_script:
  - docker rm -f camera-processor-lint-container || true
  - docker build --target=lint -t camera-processor-lint ./CameraProcessor
  script:
  ...

orchestrator_docker_build:
  stage: build
  script:
  - cd ProcessorOrchestrator
  - docker build -t processor-orchestrator .

orchestrator_unit-testing:
  stage: unittest
  needs:
  - orchestrator_docker_build
  before_script:
  - docker rm -f po-unit-testing || true
  script:
  - docker run --name po-unit-testing processor-orchestrator pytest --cov-config=app/.coveragerc --cov=app/src --cov-report html --cov-report term --junitxml=po-unit-report.xml app/testing
  ...

orchestrator_linting:
  stage: linting
  needs:
  - orchestrator_docker_build
  allow_failure: true
  before_script:
  - docker rm -f orchestrator-lint-container || true
  script:
  - docker run -d -t --name orchestrator-lint-container processor-orchestrator
  - docker cp .pylintrc orchestrator-lint-container:/app
  ...

interface_docker_build:
  stage: build
  script:
  - cd Interface
  - docker build -t interface -f Dockerfile.test .

interface_unit-testing:
  stage: unittest
  needs:
  - interface_docker_build
  before_script:
  - docker rm -f interface-unit-test-container || true
  script:
  - docker run --name interface-unit-test-container interface
  after_script:
  - docker cp interface-unit-test-container:/react/coverage i-coverage
  artifacts:
    when: always
  ...

interface-linting:
  stage: linting
  needs:
  - interface_docker_build
  allow_failure: true
  before_script:
  - cd Interface
  - docker build -t interface_linting -f Dockerfile_lint .
  - docker rm -f interface-lint-container || true
  script:
  - docker run -d -t --name interface-lint-container interface_linting
  ...

video-forwarder_docker_build:
  stage: build
  script:
  - cd VideoForwarder
  - docker build --target=testing -t video-forwarder .

TST: wip, files for todo tests
  Interface/react/testing/unit testing/filter.test.tsx
  Interface/react/testing/unit testing/grid.test.tsx
Due: none

TST: file rename
  Interface/react/testing/unit testing/objectTypeFilter.test.tsx
Due: none

OTH: more descriptive error
  CameraProcessor/processor/utils/config_parser.py
Due: none

TST: filter todo's and testid's
  Interface/react/src/components/objectTypeFilter.tsx
  Interface/react/testing/unit testing/objectTypeFilter.test.tsx
Due: none

TST: variable did not exist
  CameraProcessor/processor/utils/config_parser.py
Due: none

TST: some more todo's
  Interface/react/testing/unit testing/app.test.tsx
Due: none

TST: filtering
  Interface/react/src/components/objectTypeFilter.tsx
  Interface/react/testing/unit testing/objectTypeFilter.test.tsx
Due: none

FIX Fixed the capture tests and removed a bug in the captures
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/processor/input/image_capture.py
  CameraProcessor/processor/input/video_capture.py
  CameraProcessor/tests/unittests/input/conftest.py
  CameraProcessor/tests/unittests/input/test_captures.py
Due: none

FFT: Add graceful close to websocket
  CameraProcessor/processor/websocket_client.py
Due: none

FFT: Fix jsonloader
  CameraProcessor/tests/orchestratorintegrationtests/utils/jsonloader.py
Due: none

FFT: Use disconnect in tests
  CameraProcessor/tests/orchestratorintegrationtests/test_connection.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/orchestratorintegrationtests/test_send_to_orchestrator.py
Due: none

OTH: update asyncio version
  CameraProcessor/requirements.txt
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

TST: objectTypeFilter
  Interface/react/testing/unit testing/objectTypeFilter.test.tsx
Due: none

TST: grid
  Interface/react/src/components/grid.tsx
  Interface/react/testing/unit testing/grid.test.tsx
Due: none

TST: App login alert
  Interface/react/src/pages/needLogin.tsx
  Interface/react/testing/unit testing/app.test.tsx
Due: none

TST: finalize
  Interface/react/testing/unit testing/home.test.tsx
  Interface/react/testing/unit testing/loggedInUser.test.tsx
  Interface/react/testing/unit testing/loginButton.test.tsx
Due: none

CIC: Changed some things so that coverage reporst can be appended
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
  ProcessorOrchestrator/docker-compose.testing.yml
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

CIC: Fixed rules for orchestrator integration testing
  .gitlab-ci.yml
Due: none

FIX: Fixed default test dockerfile
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

FIX: Fixed some more coverage file names
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

FIX: Wrong container name and target syntax
  .gitlab-ci.yml
  ProcessorOrchestrator/docker-compose.testing.yml
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

Path conditions:
  camera-processor_docker_build: any of: CameraProcessor/*
  camera-processor_unit-testing: any of: CameraProcessor/*
  camera-processor_integration-testing: any of: CameraProcessor/*
  camera-processor-video-forwarder_integration-testing: any of: CameraProcessor/*, VideoForwarder/*
  camera-processor_linting: any of: CameraProcessor/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
  orchestrator_linting: any of: ProcessorOrchestrator/*
  interface_docker_build: any of: Interface/*
  interface_unit-testing: any of: Interface/*
  interface-linting: any of: Interface/*
  video-forwarder_docker_build: any of: VideoForwarder/*
  video-forwarder_unit-testing: any of: VideoForwarder/*
  video-forwarder_integration-testing: any of: VideoForwarder/*
  forwarder-linting: any of: VideoForwarder/*
