Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface-linting, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

camera-processor_docker_build:
  stage: build
  script:
  - cd CameraProcessor
  - docker build --target=test -t camera-processor .

camera-processor_unit-testing:
  stage: unittest
  needs:
  - camera-processor_docker_build
  before_script:
  - docker rm -f camera-processor-test-container || true
  script:
  ...

camera-processor_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_build
  script:
  - cd CameraProcessor
  - docker-compose -f docker-compose+orchestrator.yml up --exit-code-from camera-processor-test-service
  after_script:
  - cd CameraProcessor
  ...

camera-processor-video-forwarder_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_build
  - video-forwarder_docker_build
  script:
  - cd CameraProcessor
  - docker-compose -f docker-compose+forwarder.yml up --exit-code-from camera-processor-test-service
  after_script:
  ...

camera-processor_linting:
  stage: linting
  needs:
  - camera-processor_docker_build
  allow_failure: true
  before_script:
  - docker rm -f camera-processor-lint-container || true
  - docker build --target=lint -t camera-processor-lint ./CameraProcessor
  script:
  ...

orchestrator_docker_build:
  stage: build
  script:
  - cd ProcessorOrchestrator
  - docker build -t processor-orchestrator .

orchestrator_unit-testing:
  stage: unittest
  needs:
  - orchestrator_docker_build
  before_script:
  - docker rm -f po-unit-testing || true
  script:
  - docker run --name po-unit-testing processor-orchestrator pytest --cov-config=app/.coveragerc --cov=app/src --cov-report html --cov-report term --junitxml=po-unit-report.xml app/testing
  ...

orchestrator_linting:
  stage: linting
  needs:
  - orchestrator_docker_build
  allow_failure: true
  before_script:
  - docker rm -f orchestrator-lint-container || true
  script:
  - docker run -d -t --name orchestrator-lint-container processor-orchestrator
  - docker cp .pylintrc orchestrator-lint-container:/app
  ...

interface_docker_build:
  stage: build
  script:
  - cd Interface
  - docker build -t interface -f Dockerfile.test .

interface_unit-testing:
  stage: unittest
  needs:
  - interface_docker_build
  before_script:
  - docker rm -f interface-unit-test-container || true
  script:
  - docker run --name interface-unit-test-container interface
  after_script:
  - docker cp interface-unit-test-container:/react/coverage i-coverage
  artifacts:
    when: always
  ...

interface-linting:
  stage: linting
  needs:
  - interface_docker_build
  allow_failure: true
  before_script:
  - cd Interface
  - docker build -t interface_linting -f Dockerfile_lint .
  - docker rm -f interface-lint-container || true
  script:
  - docker run -d -t --name interface-lint-container interface_linting
  ...

video-forwarder_docker_build:
  stage: build
  script:
  - cd VideoForwarder
  - docker build --target=testing -t video-forwarder .

UFT: changed interfaces of detector and tracker
  CameraProcessor/processor/pipeline/detection/idetector.py
  CameraProcessor/processor/pipeline/frame/__init__.py
  CameraProcessor/processor/pipeline/frame/frame_obj.py
  CameraProcessor/processor/pipeline/tracking/itracker.py
Due: none

"CIC Please let this work"
  .gitlab-ci.yml
  Interface/react/.eslintrc.json
Due: none

"CIC removing previous commit"
  .gitlab-ci.yml
Due: none

UFT almost all file paths from configs
  CameraProcessor/configs.ini
  CameraProcessor/data/annotated/test/det/test-config-info.txt
  CameraProcessor/data/annotated/test/det/test-config.txt
  CameraProcessor/processor/training/detection/accuracy.py
  CameraProcessor/processor/yolov5_test.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

"CIC trying to run it this way"
  .gitlab-ci.yml
Due: none

"CIC another attempt"
  .gitlab-ci.yml
Due: none

FFT: Increase timeout to give capture more time
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
Due: none

UFT Remove writing-to-file bool, read gt and det file location from config
  CameraProcessor/configs.ini
  CameraProcessor/data/annotated/test/det/configtest-info.txt
  CameraProcessor/data/annotated/test/det/configtest.txt
  CameraProcessor/data/annotated/test/det/det.txt
  CameraProcessor/data/annotated/test/det/test1.txt
  CameraProcessor/data/annotated/test/det/testfile-info.txt
  CameraProcessor/data/annotated/test/det/testfile.txt
  CameraProcessor/processor/training/detection/accuracy.py
  CameraProcessor/processor/yolov5_test.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

TST: hls capture does get next frame
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
Due: none

"CIC undoing making errors"
  .gitlab-ci.yml
Due: none

"CIC push"
  .gitlab-ci.yml
Due: none

"CIC Try Logging"
  .gitlab-ci.yml
Due: none

"CIC I feel stupid"
  .gitlab-ci.yml
  Interface/Dockerfile_eslint
  Interface/rebuild.bat
Due: interface_docker_build, interface_unit-testing, interface-linting

OTH: pylint
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
Due: none

OTH: sync hls capture to make it threadsafe again
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
Due: none

FFT: Increase timeout to compensate for runner performance
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
Due: none

UFT Read plot file location from config
  CameraProcessor/configs.ini
  CameraProcessor/data/plots/'ohno'-undefined.png
  CameraProcessor/processor/training/detection/accuracy.py
  CameraProcessor/processor/yolov5_test.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX Add missing requirement
  CameraProcessor/requirements.txt
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

UFT Fixed config error, delete obsolete unit tests
  CameraProcessor/configs.ini
  CameraProcessor/data/annotated/test/det/configtest-info.txt
  CameraProcessor/data/annotated/test/det/configtest.txt
  CameraProcessor/data/plots/ohno-undefined.png
  CameraProcessor/tests/unittests/detection/test_accuracy.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

UFT Read file width, height and amount of frames from info
  CameraProcessor/data/plots/ohno-undefined.png
  CameraProcessor/processor/training/detection/accuracy.py
Due: none

FIX: Added prettier to eslint and fixed linting errors
  Interface/Dockerfile_eslint
  Interface/react/.eslintrc.json
  Interface/react/.prettierrc.json
  Interface/react/package-lock.json
  Interface/react/package.json
  Interface/react/src/components/cameraCard.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/src/pages/home.tsx
Due: interface_docker_build, interface_unit-testing, interface-linting

FFT: added authentication support
  ProcessorOrchestrator/Auth-1.0.tar.gz
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/main.py
  ProcessorOrchestrator/src/processor_socket.py
  utility/Auth/setup.py
  utility/Auth/up.bat
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

CRF: linter
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/main.py
  ProcessorOrchestrator/src/processor_socket.py
Due: none

FFT: Testing data refactor
  CameraProcessor/data/tests/integrationtests/baddata.json
  CameraProcessor/data/tests/integrationtests/boxes.json
  CameraProcessor/data/tests/integrationtests/featuremaps.json
  CameraProcessor/data/tests/integrationtests/invalid.json
  CameraProcessor/data/tests/integrationtests/start.json
  CameraProcessor/data/tests/integrationtests/startfeaturestop.json
  CameraProcessor/data/tests/integrationtests/stop.json
  CameraProcessor/data/tests/unittests/example_pre_annotations.json
  CameraProcessor/data/tests/unittests/example_pre_annotations.txt
  CameraProcessor/tests/unittests/preannotations/test_pre_annotations.py
Due: none

Revert "FFT: Testing data refactor"
  CameraProcessor/tests/orchestratorintegrationtests/testdata/baddata.json
  CameraProcessor/tests/orchestratorintegrationtests/testdata/boxes.json
  CameraProcessor/tests/orchestratorintegrationtests/testdata/featuremaps.json
  CameraProcessor/tests/orchestratorintegrationtests/testdata/invalid.json
  CameraProcessor/tests/orchestratorintegrationtests/testdata/start.json
  CameraProcessor/tests/orchestratorintegrationtests/testdata/startfeaturestop.json
  CameraProcessor/tests/orchestratorintegrationtests/testdata/stop.json
  CameraProcessor/tests/unittests/preannotations/example_pre_annotations.json
  CameraProcessor/tests/unittests/preannotations/example_pre_annotations.txt
  CameraProcessor/tests/unittests/preannotations/test_pre_annotations.py
Due: none

FFT: Refactor
  CameraProcessor/data/tests/integrationtests/baddata.json
  CameraProcessor/data/tests/integrationtests/boxes.json
  CameraProcessor/data/tests/integrationtests/featuremaps.json
  CameraProcessor/data/tests/integrationtests/invalid.json
  CameraProcessor/data/tests/integrationtests/start.json
  CameraProcessor/data/tests/integrationtests/startfeaturestop.json
  CameraProcessor/data/tests/integrationtests/stop.json
  CameraProcessor/data/tests/unittests/preannotated/example_pre_annotations.json
  CameraProcessor/data/tests/unittests/preannotated/example_pre_annotations.txt
  CameraProcessor/tests/unittests/preannotations/test_pre_annotations.py
Due: none

Path conditions:
  camera-processor_docker_build: any of: CameraProcessor/*
  camera-processor_unit-testing: any of: CameraProcessor/*
  camera-processor_integration-testing: any of: CameraProcessor/*
  camera-processor-video-forwarder_integration-testing: any of: CameraProcessor/*, VideoForwarder/*
  camera-processor_linting: any of: CameraProcessor/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
  orchestrator_linting: any of: ProcessorOrchestrator/*
  interface_docker_build: any of: Interface/*
  interface_unit-testing: any of: Interface/*
  interface-linting: any of: Interface/*
  video-forwarder_docker_build: any of: VideoForwarder/*
  video-forwarder_unit-testing: any of: VideoForwarder/*
  video-forwarder_integration-testing: any of: VideoForwarder/*
  forwarder-linting: any of: VideoForwarder/*
