Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting, orchestrator_container_removal, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface-linting, interface_container_removal, forwarder_docker_build, forwarder-linting, forwarder_container_removal

Path conditions:
  camera_container_removal: any of: CameraProcessor/*
  camera-processor_docker_build: any of: CameraProcessor/*
  camera-processor_unit-testing: any of: CameraProcessor/*
  camera-processor_integration-testing: any of: CameraProcessor/*
  camera-processor_linting: any of: CameraProcessor/*
  orchestrator_container_removal: any of: ProcessorOrchestrator/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
  orchestrator_linting: any of: ProcessorOrchestrator/*
  interface_docker_build: any of: Interface/*
  interface_unit-testing: any of: interface/*
  interface-linting: any of: Interface/*
  interface_container_removal: any of: Interface/*
  forwarder_docker_build: any of: VideoForwarder/*
  forwarder-linting: any of: VideoForwarder/*
  forwarder_container_removal: any of: VideoForwarder/*

FIX: Specified filename for compose down
  .gitlab-ci.yml
Due: none

FIX: Added unique processor identifiers
  ProcessorOrchestrator/testing/integration_testing/communication_test.py
Due: none

UFT: integration test with forwarder
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
  CameraProcessor/tests/orchestratorintegrationtests/__init__.py
  CameraProcessor/tests/orchestratorintegrationtests/conftest.py
  CameraProcessor/tests/orchestratorintegrationtests/fixtures.py
  CameraProcessor/tests/orchestratorintegrationtests/super_websocket_client.py
  CameraProcessor/tests/orchestratorintegrationtests/test_connection.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/orchestratorintegrationtests/test_send_to_orchestrator.py
  CameraProcessor/tests/orchestratorintegrationtests/testdata/baddata.json
  CameraProcessor/tests/orchestratorintegrationtests/testdata/boxes.json
  CameraProcessor/tests/orchestratorintegrationtests/testdata/featuremaps.json
  CameraProcessor/tests/orchestratorintegrationtests/testdata/invalid.json
  CameraProcessor/tests/orchestratorintegrationtests/testdata/start.json
  CameraProcessor/tests/orchestratorintegrationtests/testdata/startfeaturestop.json
  CameraProcessor/tests/orchestratorintegrationtests/testdata/stop.json
  CameraProcessor/tests/orchestratorintegrationtests/utils/__init__.py
  CameraProcessor/tests/orchestratorintegrationtests/utils/jsonloader.py
  CameraProcessor/tests/orchestratorintegrationtests/utils/utils.py
Due: none

FIX: Linting
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_container_removal, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

FIX: remove apt update
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_container_removal, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

FIX: Paths
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_container_removal, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

FIX: Proper paths
  .gitlab-ci.yml
Due: none

Revert "FIX: Proper paths"
  .gitlab-ci.yml
Due: none

FIX: Proper fix
  .gitlab-ci.yml
Due: none

FIX: Pylint path
  .gitlab-ci.yml
Due: none

FIX: Filepaths linter
  .gitlab-ci.yml
Due: none

FIX: pylint
  .gitlab-ci.yml
Due: none

FIX: Single thread
  .gitlab-ci.yml
Due: none

FIX: test text
  .gitlab-ci.yml
Due: none

FIX: Apt update
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_container_removal, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

UFT: draw mAP graph
  .gitignore
  CameraProcessor/processor/training/detection/accuracy.py
Due: none

TST: Re-addded coverage functionality
  ProcessorOrchestrator/docker-compose.testing.yml
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/processor_socket.py
  ProcessorOrchestrator/testing/integration_testing/communication_test.py
  ProcessorOrchestrator/testing/testing_server.py
Due: orchestrator_container_removal, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

FIX: Added .py testing target in compose file
  ProcessorOrchestrator/docker-compose.testing.yml
Due: orchestrator_container_removal, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

OTH: Added print to see if the testing server is started correctly
  ProcessorOrchestrator/testing/testing_server.py
Due: none

TST: Write tests for scheduler
  CameraProcessor/processor/scheduling/plan/example_plan.py
  CameraProcessor/requirements.txt
  CameraProcessor/tests/conftest.py
  CameraProcessor/tests/unittests/scheduling/conftest.py
  CameraProcessor/tests/unittests/scheduling/node/test_schedule_node.py
  CameraProcessor/tests/unittests/scheduling/plan/test_example_plan.py
  CameraProcessor/tests/unittests/scheduling/test_scheduler.py
  CameraProcessor/tests/unittests/scheduling/utils/__init__.py
  CameraProcessor/tests/unittests/scheduling/utils/input_component.py
  CameraProcessor/tests/unittests/scheduling/utils/multiple_input_component.py
  CameraProcessor/tests/unittests/scheduling/utils/output_component.py
  CameraProcessor/tests/unittests/scheduling/utils/schedule_wrapper.py
  CameraProcessor/tests/unittests/scheduling/utils/single_output_component.py
Due: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

OTH: Changing global variables a bit to see if that helps
  ProcessorOrchestrator/testing/testing_server.py
Due: none

OTH: Remove unnecessary folders/files
  CameraProcessor/tests/unittests/scheduling/component/__init__.py
  CameraProcessor/tests/unittests/scheduling/component/example_components/__init__.py
  CameraProcessor/tests/unittests/scheduling/component/example_components/test_example_component.py
  CameraProcessor/tests/unittests/scheduling/component/example_components/test_input_components.py
  CameraProcessor/tests/unittests/scheduling/component/example_components/test_output_components.py
  CameraProcessor/tests/unittests/scheduling/component/test_base_component.py
  CameraProcessor/tests/unittests/scheduling/component/test_component_interface.py
Due: none

FIX: unnecesary import
  CameraProcessor/requirements.txt
Due: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

OTH: Add coverage of scheduler
  CameraProcessor/.coveragerc
Due: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

OTH: sync
  CameraProcessor/tests/unittests/scheduling/node/test_schedule_node.py
Due: none

FIX: HLS timeout bug
  CameraProcessor/tests/unittests/capture/test_captures.py
Due: none

FIX: HLS Timeout Increased
  CameraProcessor/tests/unittests/capture/test_captures.py
Due: none

FIX: HLS with 5 min timeout
  CameraProcessor/tests/unittests/capture/test_captures.py
Due: none

FFT: Added integration test with Forwarder
  CameraProcessor/docker-compose+forwarder.yml
  CameraProcessor/docker-compose+orchestrator.yml
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
  CameraProcessor/tests/orchestratorintegrationtests/utils/jsonloader.py
  VideoForwarder/Dockerfile
  VideoForwarder/rebuild.bat
Due: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting, forwarder_docker_build, forwarder-linting, forwarder_container_removal

UFT: Videoforwarder testing
  .gitlab-ci.yml
  VideoForwarder/.coveragerc
  VideoForwarder/requirements.txt
  VideoForwarder/test/integrationtest/integration_test.py
  VideoForwarder/test/unittest/testConfig.json
  VideoForwarder/test/unittest/unit_test.py
Due: forwarder_docker_build, forwarder-linting, forwarder_container_removal

FIX: job rename
  .gitlab-ci.yml
Due: none

FIX: Fixed HLS bug
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/tests/unittests/capture/test_captures.py
Due: none

FIX __INIT__ Timeout
  CameraProcessor/processor/input/hls_capture.py
Due: none

FIX Timout set to 30 seconds
  CameraProcessor/processor/input/hls_capture.py
Due: none

FFT: Fixing broken test
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
Due: none

UFT accuracy video, test data, to txt option for detection object, fix accuracy calculations
  CameraProcessor/processor/pipeline/detection/detection_obj.py
Due: none

UFT accuracy video, test data, to txt option for detection object, fix accuracy calculations
  CameraProcessor/configs.ini
  CameraProcessor/data/annotated/test/mockyolo/threshold10.txt
  CameraProcessor/data/annotated/test/mockyolo/threshold70.txt
  CameraProcessor/data/annotated/test/mockyolo/yolovalues.txt
  CameraProcessor/data/videos/test_accuracy.mp4
  CameraProcessor/processor/training/detection/accuracy.py
  CameraProcessor/processor/yolov5_test.py
Due: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST: Linting and integrationtest
  .gitlab-ci.yml
  VideoForwarder/Dockerfile
  VideoForwarder/rebuild.bat
  VideoForwarder/src/camera.py
  VideoForwarder/src/camera_handler.py
  VideoForwarder/src/main.py
  VideoForwarder/test/integrationtest/integration_test.py
  VideoForwarder/test/unittest/unit_test.py
Due: forwarder_docker_build, forwarder-linting, forwarder_container_removal

FIX: gitlab file
  .gitlab-ci.yml
  VideoForwarder/src/camera_handler.py
  VideoForwarder/test/integrationtest/integration_test.py
Due: none
