Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing, interface_docker_build, interface_unit-testing

camera-processor_docker_test_build:
  stage: build
  script:
  - cd CameraProcessor
  - docker build --target=test -t camera-processor-test .

camera_container_removal:
  stage: removal
  needs:
  - camera-processor_docker_test_build
  allow_failure: true
  script:
  - docker rm -f camera-processor-test-container

camera-processor_unit-testing:
  stage: unittest
  needs:
  - camera-processor_docker_test_build
  - camera_container_removal
  script:
  ...

camera-processor_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_test_build
  - camera_container_removal
  script:
  - cd CameraProcessor
  - docker-compose up --exit-code-from camera-processor-test-service
  - docker cp processor-integration-test-container:/app/integration-report.xml integration-report.xml
  ...

camera-processor_linting:
  stage: linting
  needs:
  - camera-processor_docker_test_build
  - camera_container_removal
  allow_failure: true
  script:
  - docker run --name camera-processor-lint-container camera-processor-test pylint app

orchestrator_docker_build:
  stage: build
  script:
  - docker build -t processor-orchestrator --target testing ./ProcessorOrchestrator

orchestrator_container_removal:
  stage: removal
  needs:
  - orchestrator_docker_build
  allow_failure: true
  script:
  - docker rm -f po-unit-testing

orchestrator_unit-testing:
  stage: unittest
  needs:
  - orchestrator_docker_build
  - orchestrator_container_removal
  script:
  - docker run --name po-unit-testing processor-orchestrator
  - docker cp po-unit-testing:report.xml ProcessorOrchestrator/report.xml
  artifacts:
    reports:
      junit: ProcessorOrchestrator/report.xml

interface_docker_build:
  stage: build
  script:
  - cd interface
  - docker build -t interface -f Dockerfile.test .

interface_unit-testing:
  stage: unittest
  needs:
  - interface_docker_build
  script:
  - docker run interface

TST Fix
  CameraProcessor/requirements-test.txt
  CameraProcessor/tests/unittests/capture/test_captures.py
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

OTH: Renamed files to be more consistent
  interface/react/src/components/grid.tsx
  interface/react/src/components/navbar.tsx
  interface/react/src/components/overlay.tsx
  interface/react/src/components/websocketContext.tsx
  interface/react/src/index.tsx
  interface/react/src/pages/websocket.tsx
  interface/react/testing/App.test.tsx
Due: none

TST fix
  CameraProcessor/requirements-test.txt
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST added skips to the GPU using tests
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/tests/unittests/test_main.py
Due: none

OTH: Also edited gitlab ci
  .gitlab-ci.yml
Due: none

TST Skipped more tests, RIP coverage
  CameraProcessor/tests/unittests/pipeline/conftest.py
  CameraProcessor/tests/unittests/training/test_detection_train.py
Due: none

TST: report file naming
  .gitlab-ci.yml
Due: none

TST Requirements fix
  CameraProcessor/requirements-test.txt
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST: report file naming
  CameraProcessor/docker-compose.yml
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

FFT: Archive yolov4deepsort
  CameraProcessor/configs.ini
  CameraProcessor/processor/yolov4deepsort.py
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

UFT: start authentication
  ProcessorOrchestrator/Dockerfile
  ProcessorOrchestrator/docker-compose.yml
  ProcessorOrchestrator/rebuild.bat
  ProcessorOrchestrator/requirements.txt
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/main.py
  ProcessorOrchestrator/up.bat
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

FIX Requirements
  CameraProcessor/requirements-test.txt
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

Committing changes before merge
  CameraProcessor/processor/.coveragerc
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
Due: none

TST Added more tests for added coverage
  CameraProcessor/processor/.coveragerc
  CameraProcessor/processor/pipeline/detection/bounding_box.py
  CameraProcessor/processor/pipeline/detection/detection_obj.py
  CameraProcessor/tests/unittests/capture/conftest.py
  CameraProcessor/tests/unittests/capture/test_captures.py
  CameraProcessor/tests/unittests/detection/test_bounding_box.py
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
Due: none

TST/CRF Bunch of tests added
  CameraProcessor/.coveragerc
  CameraProcessor/processor/.coveragerc
  CameraProcessor/processor/input/cam_capture.py
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/processor/input/icapture.py
  CameraProcessor/processor/input/image_capture.py
  CameraProcessor/processor/input/video_capture.py
  CameraProcessor/processor/localhost.py
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/detection/detection_obj.py
  CameraProcessor/processor/pipeline/detection/idetector.py
  CameraProcessor/processor/pipeline/detection/yolov5_runner.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/websocket_client.py
  CameraProcessor/processor/yolov5_test.py
  CameraProcessor/tests/systemtests/vidstream_to_json.py
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
  CameraProcessor/tests/unittests/pipeline/conftest.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/tests/unittests/test_main.py
  CameraProcessor/tests/unittests/test_websocket_client.py
  CameraProcessor/tests/unittests/training/test_detection_train.py
  CameraProcessor/tests/unittests/utils/__init__.py
  CameraProcessor/tests/unittests/utils/exception_handler_process.py
  CameraProcessor/tests/unittests/utils/fake_detector.py
  CameraProcessor/tests/unittests/utils/fake_websocket.py
  CameraProcessor/tests/unittests/utils/utils.py
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

FIX No window opened during tests anymore
  CameraProcessor/tests/unittests/pipeline/conftest.py
Due: none

Path conditions:
  camera-processor_docker_test_build: any of: CameraProcessor/*
  camera_container_removal: any of: CameraProcessor/*
  camera-processor_unit-testing: any of: CameraProcessor/*
  camera-processor_integration-testing: any of: CameraProcessor/*
  camera-processor_linting: any of: CameraProcessor/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_container_removal: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
  interface_docker_build: any of: interface/*, interface/react/*
  interface_unit-testing: any of: interface/react/*
