Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing, interface_docker_build, interface_unit-testing

camera-processor_docker_test_build:
  stage: build
  script:
  - cd CameraProcessor
  - docker build --target=test -t camera-processor-test .

camera_container_removal:
  stage: removal
  needs:
  - camera-processor_docker_test_build
  allow_failure: true
  script:
  - docker rm -f camera-processor-test-container

camera-processor_unit-testing:
  stage: unittest
  needs:
  - camera-processor_docker_test_build
  - camera_container_removal
  script:
  ...

camera-processor_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_test_build
  - camera_container_removal
  script:
  - cd CameraProcessor
  - docker-compose up --exit-code-from camera-processor-test-service
  - docker cp processor-integration-test-container:/app/integration-report.xml integration-report.xml
  ...

camera-processor_linting:
  stage: linting
  needs:
  - camera-processor_docker_test_build
  - camera_container_removal
  allow_failure: true
  script:
  - docker run --name camera-processor-lint-container camera-processor-test pylint app

orchestrator_docker_build:
  stage: build
  script:
  - docker build -t processor-orchestrator --target testing ./ProcessorOrchestrator

orchestrator_container_removal:
  stage: removal
  needs:
  - orchestrator_docker_build
  allow_failure: true
  script:
  - docker rm -f po-unit-testing

orchestrator_unit-testing:
  stage: unittest
  needs:
  - orchestrator_docker_build
  - orchestrator_container_removal
  script:
  - docker run --name po-unit-testing processor-orchestrator
  - docker cp po-unit-testing:report.xml ProcessorOrchestrator/report.xml
  artifacts:
    reports:
      junit: ProcessorOrchestrator/report.xml

interface_docker_build:
  stage: build
  script:
  - cd interface
  - docker build -t interface -f Dockerfile.test .

interface_unit-testing:
  stage: unittest
  needs:
  - interface_docker_build
  script:
  - docker run interface

TST: Orchestrator Pylint
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

Revert "TST: Orchestrator Pylint"
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

Revert "TST Orchestrator Pylint"
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

Revert "TST: Orchestrator Pylint"
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

Revert "TST Temporary files for testing"
  ProcessorOrchestrator/.pylintrc
  ProcessorOrchestrator/pylint_ignore.py
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

Revert "TST: Mullti build test"
  .gitlab-ci.yml
Due: none

Revert "TST With correct syntax this time"
  .gitlab-ci.yml
Due: none

TST: updated gitignore
  .gitignore
  CameraProcessor/.pylintrc
  CameraProcessor/pylint_ignore.py
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST: utils folder
  .pylintrc
  CameraProcessor/Dockerfile
  pylint_ignore.py
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST Dockerfile update
  CameraProcessor/Dockerfile
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST: Dockefile
  CameraProcessor/Dockerfile
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST Dockerfile
  CameraProcessor/Dockerfile
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST: dockerfile
  CameraProcessor/Dockerfile
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST: Dockerfile
  .pylintrc
  CameraProcessor/Dockerfile
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST Dockerfile
  .gitignore
  utils/.pylintrc
  utils/pylint_ignore.py
Due: none

TST: Dockerfile
  CameraProcessor/Dockerfile
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

Path conditions:
  camera-processor_docker_test_build: any of: CameraProcessor/*
  camera_container_removal: any of: CameraProcessor/*
  camera-processor_unit-testing: any of: CameraProcessor/*
  camera-processor_integration-testing: any of: CameraProcessor/*
  camera-processor_linting: any of: CameraProcessor/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_container_removal: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
  interface_docker_build: any of: interface/*, interface/react/*
  interface_unit-testing: any of: interface/react/*
