Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting, orchestrator_container_removal, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface-linting, interface_container_removal, forwarder_docker_build, forwarder-linting, forwarder_container_removal

camera_container_removal:
  stage: removal
  script:
  - docker rm -f camera-processor-test-container || true
  - docker rm -f camera-processor-lint-container || true

camera-processor_docker_build:
  stage: build
  script:
  - cd CameraProcessor
  - docker build --target=test -t camera-processor .

camera-processor_unit-testing:
  stage: unittest
  needs:
  - camera-processor_docker_build
  - camera_container_removal
  script:
  ...

camera-processor_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_build
  - camera_container_removal
  script:
  - cd CameraProcessor
  - docker-compose up --exit-code-from camera-processor-test-service
  - docker cp processor-integration-test-container:/app/cp-integration-report.xml cp-integration-report.xml
  ...

camera-processor_linting:
  stage: linting
  needs:
  - camera-processor_docker_build
  - camera_container_removal
  allow_failure: true
  script:
  - docker build --target=lint -t camera-processor-lint ./CameraProcessor
  - docker run -d -t --name camera-processor-lint-container camera-processor-lint
  ...

orchestrator_container_removal:
  stage: removal
  script:
  - docker rm -f po-unit-testing || true
  - docker rm -f orchestrator-lint-container || true

orchestrator_docker_build:
  stage: build
  script:
  - cd ProcessorOrchestrator
  - docker build -t processor-orchestrator .

orchestrator_unit-testing:
  stage: unittest
  needs:
  - orchestrator_docker_build
  - orchestrator_container_removal
  script:
  - docker run --name po-unit-testing processor-orchestrator pytest app/testing --junitxml=po-unit-report.xml
  - docker cp po-unit-testing:po-unit-report.xml po-unit-report.xml
  artifacts:
    reports:
  ...

orchestrator_linting:
  stage: linting
  needs:
  - orchestrator_docker_build
  - orchestrator_container_removal
  allow_failure: true
  script:
  - docker run -d -t --name orchestrator-lint-container processor-orchestrator
  - docker cp .pylintrc orchestrator-lint-container:/app
  ...

interface_docker_build:
  stage: build
  script:
  - cd Interface
  - docker build -t interface -f Dockerfile.test .

interface_unit-testing:
  stage: unittest
  needs:
  - interface_docker_build
  script:
  - docker run --name interface-unit-test-container interface

interface-linting:
  stage: linting
  needs:
  - interface_docker_build
  allow_failure: true
  script:
  - cd Interface
  - docker build -t interface_linting -f Dockerfile_lint .
  - cd ..
  - docker run -d -t --name interface-lint-container interface_linting
  - docker cp .pylintrc interface-lint-container:/app
  ...

interface_container_removal:
  stage: removal
  script:
  - docker rm -f interface-lint-container || true
  - docker rm -f interface-unit-test-container || true

forwarder_docker_build:
  stage: build
  script:
  - cd VideoForwarder
  - docker build -t forwarder -f Dockerfile_lint .

forwarder_container_removal:
  stage: removal
  script:
  - docker rm -f forwarder-lint-container || true

TST/CRF Bunch of tests added
  CameraProcessor/.coveragerc
  CameraProcessor/processor/.coveragerc
  CameraProcessor/processor/input/cam_capture.py
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/processor/input/icapture.py
  CameraProcessor/processor/input/image_capture.py
  CameraProcessor/processor/input/video_capture.py
  CameraProcessor/processor/localhost.py
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/detection/detection_obj.py
  CameraProcessor/processor/pipeline/detection/idetector.py
  CameraProcessor/processor/pipeline/detection/yolov5_runner.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/websocket_client.py
  CameraProcessor/processor/yolov5_test.py
  CameraProcessor/tests/systemtests/vidstream_to_json.py
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
  CameraProcessor/tests/unittests/pipeline/conftest.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/tests/unittests/test_main.py
  CameraProcessor/tests/unittests/test_websocket_client.py
  CameraProcessor/tests/unittests/training/test_detection_train.py
  CameraProcessor/tests/unittests/utils/__init__.py
  CameraProcessor/tests/unittests/utils/exception_handler_process.py
  CameraProcessor/tests/unittests/utils/fake_detector.py
  CameraProcessor/tests/unittests/utils/fake_websocket.py
  CameraProcessor/tests/unittests/utils/utils.py
Due: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST Fix
  CameraProcessor/requirements-test.txt
  CameraProcessor/tests/unittests/capture/test_captures.py
Due: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST added skips to the GPU using tests
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/tests/unittests/test_main.py
Due: none

TST fix
  CameraProcessor/requirements-test.txt
Due: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST Requirements fix
  CameraProcessor/requirements-test.txt
Due: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST Skipped more tests, RIP coverage
  CameraProcessor/tests/unittests/pipeline/conftest.py
  CameraProcessor/tests/unittests/training/test_detection_train.py
Due: none

FIX Requirements
  CameraProcessor/requirements-test.txt
Due: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST Added more tests for added coverage
  CameraProcessor/processor/.coveragerc
  CameraProcessor/tests/unittests/capture/test_captures.py
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
Due: none

Committing changes before merge
  CameraProcessor/processor/.coveragerc
Due: none

TST Added more tests for added coverage
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
Due: none

Committing changes before merge
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
Due: none

TST/CRF Bunch of tests added
  CameraProcessor/processor/.coveragerc
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: none

TST Fix
  CameraProcessor/tests/unittests/capture/test_captures.py
Due: none

TST added skips to the GPU using tests
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: none

FIX No window opened during tests anymore
  CameraProcessor/tests/unittests/pipeline/conftest.py
Due: none

FIX requirements again
  CameraProcessor/requirements-test.txt
Due: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

Committing changes before merge
  CameraProcessor/processor/.coveragerc
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
Due: none

TST/CRF Bunch of tests added
  CameraProcessor/processor/.coveragerc
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
Due: none

TST Skipped more tests, RIP coverage
  CameraProcessor/tests/unittests/pipeline/conftest.py
Due: none

Merged from develop
  CameraProcessor/processor/.coveragerc
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
Due: none

Merged from develop
  CameraProcessor/tests/unittests/capture/test_captures.py
Due: none

FIX Requirements fix
  CameraProcessor/requirements-test.txt
Due: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

FIX Hopefully fixed merge
  CameraProcessor/.coveragerc
Due: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

UFT: Created testing files
  CameraProcessor/tests/unittests/scheduling/component/example_components/test_example_component.py
  CameraProcessor/tests/unittests/scheduling/component/example_components/test_input_components.py
  CameraProcessor/tests/unittests/scheduling/component/example_components/test_output_components.py
  CameraProcessor/tests/unittests/scheduling/component/test_base_component.py
  CameraProcessor/tests/unittests/scheduling/component/test_component_interface.py
  CameraProcessor/tests/unittests/scheduling/node/test_schedule_node.py
  CameraProcessor/tests/unittests/scheduling/plan/test_example_plan.py
  CameraProcessor/tests/unittests/scheduling/test_scheduler.py
Due: none

FIX Imports reduced by commenting yolov5detector
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: none

FIX More ugly commenting
  CameraProcessor/tests/unittests/test_main.py
Due: none

UFT: added inital integration test
  VideoForwarder/Dockerfile
  VideoForwarder/requirements.txt
  VideoForwarder/src/main.py
  VideoForwarder/test/test.py
Due: forwarder_docker_build, forwarder-linting, forwarder_container_removal

FIX
  CameraProcessor/tests/unittests/capture/test_captures.py
Due: none

FFT: example_component test done
  CameraProcessor/tests/unittests/scheduling/component/example_components/test_example_component.py
  CameraProcessor/tests/unittests/scheduling/component/example_components/test_input_components.py
  CameraProcessor/tests/unittests/scheduling/component/example_components/test_output_components.py
  CameraProcessor/tests/unittests/scheduling/component/test_base_component.py
  CameraProcessor/tests/unittests/scheduling/component/test_component_interface.py
  CameraProcessor/tests/unittests/scheduling/node/test_schedule_node.py
  CameraProcessor/tests/unittests/scheduling/plan/test_example_plan.py
  CameraProcessor/tests/unittests/scheduling/test_scheduler.py
Due: none

"FFT Class is linted"
  CameraProcessor/processor/training/detection/accuracy.py
Due: none

FIX
  CameraProcessor/tests/unittests/capture/conftest.py
Due: none

FIX test_captures
  CameraProcessor/tests/unittests/capture/test_captures.py
Due: none

UFT: added initial unit test file
  VideoForwarder/src/main.py
  VideoForwarder/test/test.py
  VideoForwarder/test/testConfig.json
  VideoForwarder/test/unit_test.py
Due: none

FIX: Videocapture
  CameraProcessor/Dockerfile
  CameraProcessor/tests/unittests/capture/conftest.py
Due: camera_container_removal, camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

Path conditions:
  camera_container_removal: any of: CameraProcessor/*
  camera-processor_docker_build: any of: CameraProcessor/*
  camera-processor_unit-testing: any of: CameraProcessor/*
  camera-processor_integration-testing: any of: CameraProcessor/*
  camera-processor_linting: any of: CameraProcessor/*
  orchestrator_container_removal: any of: ProcessorOrchestrator/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
  orchestrator_linting: any of: ProcessorOrchestrator/*
  interface_docker_build: any of: Interface/*
  interface_unit-testing: any of: interface/*
  interface-linting: any of: Interface/*
  interface_container_removal: any of: Interface/*
  forwarder_docker_build: any of: VideoForwarder/*
  forwarder-linting: any of: VideoForwarder/*
  forwarder_container_removal: any of: VideoForwarder/*
