Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera_processor_documentation, pytest, orchestrator_docker_build, orchestrator_unit-testing, interface_docker_build, interface_unit-testing

.gitlab-ci.yml:

stages:
  - build
  - camera_docs
  - test
  - triggers

camera_processor_documentation:
  stage: camera_docs
  trigger:
    include: CameraProcessor/.gitlab-ci-docs.yml
  rules:
    - changes:
        - CameraProcessor/*

pytest:
  stage: test
  trigger:
    include: CameraProcessor/.gitlab-ci.yml
  rules:
    - changes:
        - CameraProcessor/*

orchestrator_docker_build:
  stage: build
  script:
    - docker build -t processor-orchestrator --target testing ./ProcessorOrchestrator
  rules:
    - if: $CI_MERGE_REQUEST_ID
    - changes:
        - ProcessorOrchestrator/*

orchestrator_unit-testing:
  stage: test
  needs: [orchestrator_docker_build]
  script:
    - docker run processor-orchestrator
  rules:
    - if: $CI_MERGE_REQUEST_ID
    - changes:
        - ProcessorOrchestrator/*

interface_docker_build:
  stage: build
  script:
    - docker build -t interface --target testing ./interface
  rules:
    - if: $CI_MERGE_REQUEST_ID
    - changes:
        - interface/*

interface_unit-testing:
  stage: test
  needs: [orchestrator_docker_build]
  script:
    - docker run interface
  rules:
    - if: $CI_MERGE_REQUEST_ID
    - changes:
        - interface/*

FFT Pylint Working With PyCharm
  CameraProcessor/pylintrc
  CameraProcessor/requirements.txt
  CameraProcessor/src/pipeline/process_frames.py
  CameraProcessor/src/scheduling/plan/example_plan.py
  CameraProcessor/src/training/detection/train.py
  CameraProcessor/tests/unittests/capture/conftest.py
  CameraProcessor/tests/unittests/capture/test_captures.py
  CameraProcessor/tests/unittests/detection/test_bounding_box.py
  CameraProcessor/tests/unittests/detection/test_detection_obj.py
  CameraProcessor/tests/unittests/preannotations/__init__.py
  CameraProcessor/tests/unittests/preannotations/test_json_pre_annotations.py
  CameraProcessor/tests/unittests/preannotations/test_text_pre_annotations.py
  CameraProcessor/tests/unittests/test_websocket_client.py
  CameraProcessor/tests/unittests/tracking/test_tracking_obj.py
Due: camera_processor_documentation, pytest

DOC Added installation instructions to README.MD
  CameraProcessor/README.md
Due: camera_processor_documentation, pytest

UFT: Changed working directory
  CameraProcessor/Dockerfile
Due: camera_processor_documentation, pytest

UFT: Requirements.txt working
  CameraProcessor/Dockerfile
  CameraProcessor/requirements.txt
  CameraProcessor/src/main.py
Due: camera_processor_documentation, pytest

FFT: Docker cuda file + README
  CameraProcessor/Dockerfile
  CameraProcessor/README.md
  CameraProcessor/rebuild.bat
Due: camera_processor_documentation, pytest

FIX: make requirements.txt work again for developers and clean main.py a tiny bit
  CameraProcessor/deploy-requirements.txt
  CameraProcessor/requirements.txt
  CameraProcessor/src/main.py
Due: camera_processor_documentation, pytest

FFT correct gt data
  CameraProcessor/data/annotated/test/gt/gt_accuracy.txt
  CameraProcessor/src/training/detection/parse_gt_file_for_accuracy.py
Due: none

TST Jsonloader can now send entire json
  CameraProcessor/tests/integrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/integrationtests/utils/jsonloader.py
Due: none

FFT: Got mock fetch working and completed CI/CD pipeline
  .gitlab-ci.yml
  interface/Dockerfile.test
  interface/react/package-lock.json
  interface/react/package.json
  interface/react/setupJest.js
  interface/react/src/pages/home.tsx
  interface/react/testing/App.test.tsx
Due: interface_docker_build, interface_unit-testing

FFT: Send scaled bounding boxes
  CameraProcessor/src/pipeline/detection/detection_obj.py
  CameraProcessor/src/pipeline/detection/yolov5_runner.py
Due: none

FIX: Wrong draw method
  CameraProcessor/src/pipeline/detection/detection_obj.py
Due: none

FIX: Fixed finding interface dockerfile and running only on merge.
  .gitlab-ci.yml
Due: none

FIX: properly initialize processor orchestrator client
  CameraProcessor/configs.ini
  CameraProcessor/src/input/hls_capture.py
  CameraProcessor/src/main.py
  CameraProcessor/src/pipeline/process_frames.py
Due: camera_processor_documentation, pytest

Tornado not testable
  CameraProcessor/src/localhost.py
Due: none

DOC: added documentation for initialize
  CameraProcessor/src/main.py
Due: none

TST Finished integration tests for Processor-Orchestrator
  CameraProcessor/tests/integrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/integrationtests/test_send_to_orchestrator.py
  CameraProcessor/tests/integrationtests/utils/jsonloader.py
Due: none

FFT Camera Processor linted; pylintrc file done
  CameraProcessor/README.md
  CameraProcessor/pylintrc
  CameraProcessor/src/input/hls_capture.py
  CameraProcessor/src/input/image_capture.py
  CameraProcessor/src/localhost.py
  CameraProcessor/src/pipeline/detection/__init__.py
  CameraProcessor/src/pipeline/process_frames.py
  CameraProcessor/src/training/pre_annotations.py
  CameraProcessor/src/websocket_client.py
Due: camera_processor_documentation, pytest

CRF Changed the jsonloader a bit and its kinda ugly now but better??
  CameraProcessor/tests/integrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/integrationtests/test_send_to_orchestrator.py
  CameraProcessor/tests/integrationtests/utils/jsonloader.py
Due: none

TST Added bad data
  CameraProcessor/tests/integrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/integrationtests/test_send_to_orchestrator.py
  CameraProcessor/tests/integrationtests/testdata/baddata.json
  CameraProcessor/tests/integrationtests/utils/jsonloader.py
Due: none

FIX Fixed small error in merge request
  CameraProcessor/src/input/hls_capture.py
  CameraProcessor/src/yolov5_test.py
Due: none

FIX Updated client_websocket
  CameraProcessor/src/websocket_client.py
Due: none
