Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing, interface_docker_build, interface_unit-testing

Path conditions:
  camera-processor_docker_test_build: any of: CameraProcessor/*
  camera_container_removal: any of: CameraProcessor/*
  camera-processor_unit-testing: any of: CameraProcessor/*
  camera-processor_integration-testing: any of: CameraProcessor/*
  camera-processor_linting: any of: CameraProcessor/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_container_removal: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
  interface_docker_build: any of: interface/*, interface/react/*
  interface_unit-testing: any of: interface/react/*

FRC Removed comments
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_container_removal, orchestrator_unit-testing

FIX requirements again
  CameraProcessor/requirements-test.txt
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST: yamling
  CameraProcessor/Dockerfile
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST: updated gitci
  .gitlab-ci.yml
  CameraProcessor/Dockerfile
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

"UFT Library working"
  CameraProcessor/data/annotated/test/det/det_accuracy.txt
  CameraProcessor/data/annotated/test/gt/gt_accuracy.txt
  CameraProcessor/processor/training/detection/parse_dt_file_for_accuracy.py
Due: none

"UFT library working"
  CameraProcessor/data/annotated/test/det/det.txt
  CameraProcessor/processor/training/detection/accuracy.py
  CameraProcessor/processor/training/detection/parse_dt_file_for_accuracy.py
  CameraProcessor/processor/training/detection/parse_gt_file_for_accuracy.py
Due: none

TST: gitlab pipeline
  .gitlab-ci.yml
  CameraProcessor/Dockerfile
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST: Invalid file
  .gitlab-ci.yml
Due: none

TST: short timeout
  CameraProcessor/docker-compose.yml
  CameraProcessor/tests/unittests/capture/test_captures.py
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST: Compose file fix
  .gitlab-ci.yml
  CameraProcessor/docker-compose.yml
  CameraProcessor/rebuild-test.bat
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST: Fix linting
  .gitlab-ci.yml
Due: none

TST: use correct image
  .gitlab-ci.yml
  CameraProcessor/.gitlab-ci.yml
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

TST: Cuda installation from own base image
  CameraProcessor/Dockerfile
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

OTH: Update Dockerfile
  CameraProcessor/Dockerfile
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

"FFT Accuracy on gt"
  CameraProcessor/data/annotated/test/det/det_accuracy.txt
  CameraProcessor/data/annotated/test/gt/gt_accuracy.txt
  CameraProcessor/processor/training/detection/accuracy.py
  CameraProcessor/processor/training/detection/parse_dt_file_for_accuracy.py
  CameraProcessor/processor/training/detection/parse_gt_file_for_accuracy.py
Due: none

OTH: Updated .gitignore
  .gitignore
Due: none

TST: Interface linting
  .gitlab-ci.yml
  Interface/Dockerfile_lint
  Interface/testingSelenium/Testing.py
Due: none

TST: Removed time
  Interface/Dockerfile_lint
Due: none

TST: Fxied unittest package name
  Interface/Dockerfile_lint
Due: none

TST: Fixed subprocess package name
  Interface/Dockerfile_lint
Due: none

TST Fixed filepaths
  .gitlab-ci.yml
Due: none

TST: Fixing conflicts
  .gitlab-ci.yml
Due: none

TST: Container conflicts
  .gitlab-ci.yml
Due: none

TST: Selenium
  Interface/testingSelenium/Testing.py
Due: none

TST: Update docker remove order
  .gitlab-ci.yml
  VideoForwarder/Dockerfile_lint
Due: none

TST: Added allow failure flag
  .gitlab-ci.yml
Due: none

TST: Forwarder Linting
  .gitlab-ci.yml
  Interface/Dockerfile_lint
  VideoForwarder/Dockerfile_lint
Due: none

TST: Fowarder linting
  .gitlab-ci.yml
Due: none

TST: Forwarder linting
  .gitlab-ci.yml
Due: none

TST: Forwarder trigger
  .gitlab-ci.yml
Due: none

TST: Update forwarder path
  .gitlab-ci.yml
Due: none

TST: Updated linting
  VideoForwarder/Dockerfile_lint
Due: none

TST: Requirements loaction
  VideoForwarder/Dockerfile_lint
Due: none

FFT: Pylint in CI Pipeline
  .gitlab-ci.yml
Due: none

TST: Copying more files, still not completely working
  CameraProcessor/Dockerfile
  CameraProcessor/rebuild.sh
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

FFT: Updated requirements-gpu, updated dockerfile
  CameraProcessor/Dockerfile
  CameraProcessor/requirements-gpu.txt
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

OTH: Add old docker file part for WSL2
  CameraProcessor/Dockerfile
  CameraProcessor/README.md
Due: camera-processor_docker_test_build, camera_container_removal, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor_linting

"FFT refactor accuracy is now class"
  CameraProcessor/processor/training/detection/accuracy.py
Due: none

"UFT Saving detection information"
  CameraProcessor/processor/training/detection/accuracy.py
Due: none
