Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface-linting, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

camera-processor_docker_build:
  stage: build
  script:
  - cd CameraProcessor
  - docker build --target=test -t camera-processor .

camera-processor_unit-testing:
  stage: unittest
  needs:
  - camera-processor_docker_build
  before_script:
  - docker rm -f camera-processor-test-container || true
  script:
  ...

camera-processor_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_build
  script:
  - cd CameraProcessor
  - docker-compose -f docker-compose+orchestrator.yml up --exit-code-from camera-processor-test-service
  after_script:
  - cd CameraProcessor
  ...

camera-processor-video-forwarder_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_build
  - video-forwarder_docker_build
  script:
  - cd CameraProcessor
  - docker-compose -f docker-compose+forwarder.yml up --exit-code-from camera-processor-test-service
  after_script:
  ...

camera-processor_linting:
  stage: linting
  needs:
  - camera-processor_docker_build
  allow_failure: true
  before_script:
  - docker rm -f camera-processor-lint-container || true
  - docker build --target=lint -t camera-processor-lint ./CameraProcessor
  script:
  ...

orchestrator_docker_build:
  stage: build
  script:
  - cd ProcessorOrchestrator
  - docker build -t processor-orchestrator .

orchestrator_unit-testing:
  stage: unittest
  needs:
  - orchestrator_docker_build
  before_script:
  - docker rm -f po-unit-testing || true
  script:
  - docker run --name po-unit-testing processor-orchestrator pytest --cov-config=app/.coveragerc --cov=app/src --cov-report html --cov-report term --junitxml=po-unit-report.xml app/testing
  ...

orchestrator_linting:
  stage: linting
  needs:
  - orchestrator_docker_build
  allow_failure: true
  before_script:
  - docker rm -f orchestrator-lint-container || true
  script:
  - docker run -d -t --name orchestrator-lint-container processor-orchestrator
  - docker cp .pylintrc orchestrator-lint-container:/app
  ...

interface_docker_build:
  stage: build
  script:
  - cd Interface
  - docker build -t interface -f Dockerfile.test .

interface_unit-testing:
  stage: unittest
  needs:
  - interface_docker_build
  before_script:
  - docker rm -f interface-unit-test-container || true
  script:
  - docker run --name interface-unit-test-container interface
  after_script:
  - docker cp interface-unit-test-container:/react/coverage i-coverage
  artifacts:
    when: always
  ...

interface-linting:
  stage: linting
  needs:
  - interface_docker_build
  allow_failure: true
  before_script:
  - cd Interface
  - docker build -t interface_linting -f Dockerfile_lint .
  - docker rm -f interface-lint-container || true
  script:
  - docker run -d -t --name interface-lint-container interface_linting
  ...

video-forwarder_docker_build:
  stage: build
  script:
  - cd VideoForwarder
  - docker build --target=testing -t video-forwarder .

FIX: var definitions
  Interface/react/src/components/overlay.tsx
Due: none

FFT: restored more files
  CameraProcessor/processor/training/detection/train.py
Due: none

FFT: added frameID syncing
  Interface/react/src/components/overlay.tsx
Due: none

FIX: removed duplicate files
  CameraProcessor/processor/pipeline/detection/train.py
  CameraProcessor/processor/training/tracking/train.py
Due: none

DOC: comments voor syncing
  Interface/react/src/classes/clientMessage.ts
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
Due: none

CRF: linting
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/components/websocketContext.tsx
Due: none

UFT More efficient file writing, writing file info, refactor
  CameraProcessor/configs.ini
  CameraProcessor/data/annotated/test/mockyolo/gt.txt
  CameraProcessor/data/annotated/test/mockyolo/threshold10.txt
  CameraProcessor/data/annotated/test/mockyolo/threshold70.txt
  CameraProcessor/data/annotated/test/mockyolo/yolovalues.txt
  CameraProcessor/processor/pipeline/detection/detection_obj.py
  CameraProcessor/processor/training/detection/accuracy.py
  CameraProcessor/processor/yolov5_test.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX Return after last frame (no more empty references).
  CameraProcessor/processor/yolov5_test.py
Due: none

FFT: Starting two servers, of which one runs ssl and the other doesn't
  ProcessorOrchestrator/src/main.py
Due: none

FIX: Fixed dockerfile
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

FFT: Implemented custom theme and formatted all code with Prettier
  Interface/react/craco.config.js
  Interface/react/package-lock.json
  Interface/react/package.json
  Interface/react/src/app.less
  Interface/react/src/app.tsx
  Interface/react/src/classes/clientMessage.ts
  Interface/react/src/classes/orchestratorMessage.ts
  Interface/react/src/components/cameraCard.tsx
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/src/index.css
  Interface/react/src/index.tsx
  Interface/react/src/keycloak.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/src/pages/needLogin.tsx
  Interface/react/src/pages/overlayVideo.tsx
  Interface/react/src/pages/websocket.tsx
  Interface/react/src/reportWebVitals.ts
  Interface/react/testing/app.test.tsx
  Interface/react/testing/home.test.tsx
Due: none

FFT: Removed keycloak evasion
  Interface/react/src/app.tsx
Due: none

OTH: Different color scheme
  Interface/react/craco.config.js
  Interface/react/src/components/navbar.tsx
Due: none

FFT: New prettierrc, also used that to format everything
  Interface/react/.prettierrc.json
  Interface/react/src/app.tsx
  Interface/react/src/classes/clientMessage.ts
  Interface/react/src/classes/orchestratorMessage.ts
  Interface/react/src/components/cameraCard.tsx
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/src/index.tsx
  Interface/react/src/keycloak.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/src/pages/needLogin.tsx
  Interface/react/src/pages/overlayVideo.tsx
  Interface/react/src/pages/websocket.tsx
  Interface/react/src/reportWebVitals.ts
  Interface/react/testing/app.test.tsx
  Interface/react/testing/home.test.tsx
Due: none

OTH: Update video forwarder code
  VideoForwarder/.coveragerc
  VideoForwarder/requirements.txt
  VideoForwarder/src/camera_handler.py
  VideoForwarder/src/main.py
Due: camera-processor-video-forwarder_integration-testing, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

FIX: Fixed final file
  Interface/react/src/classes/clientMessage.ts
Due: none

TST: Write tests for video forwarder
  VideoForwarder/test/integrationtest/integration_test.py
  VideoForwarder/test/unittest/conftest.py
  VideoForwarder/test/unittest/testConfig.json
  VideoForwarder/test/unittest/unit_test.py
Due: none

CRF: Update build files of video forwarder
  VideoForwarder/Dockerfile
  VideoForwarder/Dockerfile_lint
  VideoForwarder/docker-compose-test.yml
  VideoForwarder/docker-compose.yml
  VideoForwarder/rebuild.bat
Due: camera-processor-video-forwarder_integration-testing, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

OTH: Add to CI-Pipeline
  .gitlab-ci.yml
Due: none

Remove old docker compose file and update hls capture
  CameraProcessor/docker-compose.yml
  CameraProcessor/processor/input/hls_capture.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

CRF: Move orchestrator integration tests
  CameraProcessor/docker-compose+orchestrator.yml
  CameraProcessor/processor/training/detection/__init__.py
  CameraProcessor/tests/orchestratorintegrationtests/__init__.py
  CameraProcessor/tests/orchestratorintegrationtests/conftest.py
  CameraProcessor/tests/orchestratorintegrationtests/fixtures.py
  CameraProcessor/tests/orchestratorintegrationtests/super_websocket_client.py
  CameraProcessor/tests/orchestratorintegrationtests/test_connection.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/orchestratorintegrationtests/test_send_to_orchestrator.py
  CameraProcessor/tests/orchestratorintegrationtests/testdata/baddata.json
  CameraProcessor/tests/orchestratorintegrationtests/testdata/boxes.json
  CameraProcessor/tests/orchestratorintegrationtests/testdata/featuremaps.json
  CameraProcessor/tests/orchestratorintegrationtests/testdata/invalid.json
  CameraProcessor/tests/orchestratorintegrationtests/testdata/start.json
  CameraProcessor/tests/orchestratorintegrationtests/testdata/startfeaturestop.json
  CameraProcessor/tests/orchestratorintegrationtests/testdata/stop.json
  CameraProcessor/tests/orchestratorintegrationtests/utils/__init__.py
  CameraProcessor/tests/orchestratorintegrationtests/utils/jsonloader.py
  CameraProcessor/tests/orchestratorintegrationtests/utils/utils.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

TST: Write integration tests for forwarder
  CameraProcessor/docker-compose+forwarder.yml
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

DOCK: Accidentally removed README
  CameraProcessor/processor/training/detection/README.md
Due: none

"CIC ESLint"
  Interface/Dockerfile_eslint
  Interface/react/.eslintrc.json
  Interface/react/package-lock.json
  Interface/react/package.json
Due: interface_docker_build, interface_unit-testing, interface-linting

"CIC only read ts and tsx files"
  Interface/Dockerfile_eslint
Due: interface_docker_build, interface_unit-testing, interface-linting

FFT: using aspect ratio
  Interface/react/public/config.json
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/src/pages/overlayVideo.tsx
  Interface/start.sh
Due: interface_docker_build, interface_unit-testing, interface-linting

FIX: use root level .pt file
  CameraProcessor/configs.ini
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

"CRF removed opencv from accuracy"
  CameraProcessor/data/annotated/test/det/testfile-info.txt
  CameraProcessor/data/annotated/test/det/testfile.txt
  CameraProcessor/processor/pipeline/detection/detection_obj.py
  CameraProcessor/processor/training/detection/accuracy.py
  CameraProcessor/processor/yolov5_test.py
Due: none

"CRF I hope this makes pylint shut up"
  CameraProcessor/processor/yolov5_test.py
  CameraProcessor/tests/unittests/detection/test_accuracy.py
Due: none

UFT: hls capture reconnecting
  CameraProcessor/processor/input/hls_capture.py
Due: none

FFT: HlsCapture did no smart reconnect
  .gitlab-ci.yml
  CameraProcessor/processor/input/hls_capture.py
Due: none

TST: remove HlsCapture test timeout
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
Due: none

OTH: pylint
  CameraProcessor/processor/input/hls_capture.py
Due: none

UFT print mAP, fns, use image capture
  .gitignore
  CameraProcessor/configs.ini
  CameraProcessor/data/annotated/test/det/testfile-info.txt
  CameraProcessor/data/annotated/test/det/testfile.txt
  CameraProcessor/processor/training/detection/accuracy.py
  CameraProcessor/processor/yolov5_test.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

"CRF solve pylint error"
  CameraProcessor/processor/yolov5_test.py
Due: none

Path conditions:
  camera-processor_docker_build: any of: CameraProcessor/*
  camera-processor_unit-testing: any of: CameraProcessor/*
  camera-processor_integration-testing: any of: CameraProcessor/*
  camera-processor-video-forwarder_integration-testing: any of: CameraProcessor/*, VideoForwarder/*
  camera-processor_linting: any of: CameraProcessor/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
  orchestrator_linting: any of: ProcessorOrchestrator/*
  interface_docker_build: any of: Interface/*
  interface_unit-testing: any of: Interface/*
  interface-linting: any of: Interface/*
  video-forwarder_docker_build: any of: VideoForwarder/*
  video-forwarder_unit-testing: any of: VideoForwarder/*
  video-forwarder_integration-testing: any of: VideoForwarder/*
  forwarder-linting: any of: VideoForwarder/*
