Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface-linting, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

camera-processor_docker_build:
  stage: build
  script:
  - cd CameraProcessor
  - docker build --target=test -t camera-processor .

camera-processor_unit-testing:
  stage: unittest
  needs:
  - camera-processor_docker_build
  before_script:
  - docker rm -f camera-processor-test-container || true
  script:
  ...

camera-processor_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_build
  script:
  - cd CameraProcessor
  - docker-compose -f docker-compose+orchestrator.yml up --exit-code-from camera-processor-test-service
  after_script:
  - cd CameraProcessor
  ...

camera-processor-video-forwarder_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_build
  - video-forwarder_docker_build
  script:
  - cd CameraProcessor
  - docker-compose -f docker-compose+forwarder.yml up --exit-code-from camera-processor-test-service
  after_script:
  ...

camera-processor_linting:
  stage: linting
  needs:
  - camera-processor_docker_build
  allow_failure: true
  before_script:
  - docker rm -f camera-processor-lint-container || true
  - docker build --target=lint -t camera-processor-lint ./CameraProcessor
  script:
  ...

orchestrator_docker_build:
  stage: build
  script:
  - cd ProcessorOrchestrator
  - docker build -t processor-orchestrator .

orchestrator_unit-testing:
  stage: unittest
  needs:
  - orchestrator_docker_build
  before_script:
  - docker rm -f po-unit-testing || true
  script:
  - docker run --name po-unit-testing processor-orchestrator pytest --cov-config=app/.coveragerc --cov=app/src --cov-report html --cov-report term --junitxml=po-unit-report.xml app/testing
  ...

orchestrator_linting:
  stage: linting
  needs:
  - orchestrator_docker_build
  allow_failure: true
  before_script:
  - docker rm -f orchestrator-lint-container || true
  script:
  - docker run -d -t --name orchestrator-lint-container processor-orchestrator
  - docker cp .pylintrc orchestrator-lint-container:/app
  ...

interface_docker_build:
  stage: build
  script:
  - cd Interface
  - docker build -t interface -f Dockerfile.test .

interface_unit-testing:
  stage: unittest
  needs:
  - interface_docker_build
  before_script:
  - docker rm -f interface-unit-test-container || true
  script:
  - docker run --name interface-unit-test-container interface
  after_script:
  - docker cp interface-unit-test-container:/react/coverage i-coverage
  artifacts:
    when: always
  ...

interface-linting:
  stage: linting
  needs:
  - interface_docker_build
  allow_failure: true
  before_script:
  - cd Interface
  - docker build -t interface_linting -f Dockerfile_lint .
  - docker rm -f interface-lint-container || true
  script:
  - docker run -d -t --name interface-lint-container interface_linting
  ...

video-forwarder_docker_build:
  stage: build
  script:
  - cd VideoForwarder
  - docker build --target=testing -t video-forwarder .

UFT: start grid
  Interface/react/package-lock.json
  Interface/react/package.json
  Interface/react/public/config.json
  Interface/react/src/app.tsx
  Interface/react/src/bootstrap.css
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/index.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/src/pages/overlayVideo.tsx
Due: none

CRF refactor accuracy
  CameraProcessor/processor/training/detection/accuracy.py
  CameraProcessor/requirements.txt
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX: Fixed init
  ProcessorOrchestrator/testing/testing_server.py
Due: none

FIX: Resolved pylint false positive
  ProcessorOrchestrator/testing/testing_server.py
Due: none

FIX: pylintrc is not found
  .gitlab-ci.yml
Due: none

FIX: Attempted pylint fix
  .gitlab-ci.yml
Due: none

FIX: Trying to fix Pylint ci
  .gitlab-ci.yml
Due: none

FIX: Attempted CI refactor
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

FIX: part two
  ProcessorOrchestrator/docker-compose.testing.yml
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

Revert "FIX: part two"
  ProcessorOrchestrator/docker-compose.testing.yml
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

Revert "FIX: Attempted CI refactor"
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

FIX: Attempted workaround
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

FIX: Force pylint print
  .gitlab-ci.yml
Due: none

FIX: Let pytlint find rcfile on its own
  .gitlab-ci.yml
Due: none

FIX: Pylintrtc cannot be found. Making Jira Issue
  .gitlab-ci.yml
Due: none

FFT: Removed unneeded files
  CameraProcessor/processor/pipeline/detection/yolov5/detect.py
  CameraProcessor/processor/pipeline/detection/yolov5/hubconf.py
  CameraProcessor/processor/pipeline/detection/yolov5/models/export.py
  CameraProcessor/processor/pipeline/detection/yolov5/test.py
  CameraProcessor/processor/pipeline/detection/yolov5/train.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/activations.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/aws/__init__.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/aws/mime.sh
  CameraProcessor/processor/pipeline/detection/yolov5/utils/aws/resume.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/aws/userdata.sh
  CameraProcessor/processor/pipeline/detection/yolov5/utils/loss.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/wandb_logging/__init__.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/wandb_logging/log_dataset.py
  CameraProcessor/processor/pipeline/detection/yolov5/utils/wandb_logging/wandb_utils.py
  CameraProcessor/processor/training/detection/idetector.py
  CameraProcessor/processor/training/detection/train.py
  CameraProcessor/processor/training/detection/yolov5/detect.py
  CameraProcessor/processor/training/detection/yolov5/hubconf.py
  CameraProcessor/processor/training/detection/yolov5/utils/activations.py
Due: none

FIX: Restored testing file
  CameraProcessor/processor/training/detection/train.py
Due: none

FIX: Pylint
  CameraProcessor/Dockerfile
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX: Updated pylintrc
  .pylintrc
Due: none

Revert "Revert "Merge branch 'SPC-344-deepsort' into 'SPC-355_SORT_tracking'""
  .pylintrc
  CameraProcessor/Dockerfile
  CameraProcessor/configs.ini
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/detection/bounding_box.py
  CameraProcessor/processor/pipeline/detection/detection_obj.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/tracking/__init__.py
  CameraProcessor/processor/pipeline/tracking/itracker.py
  CameraProcessor/processor/pipeline/tracking/sort/LICENSE
  CameraProcessor/processor/pipeline/tracking/sort/README.md
  CameraProcessor/processor/pipeline/tracking/sort/__init__.py
  CameraProcessor/processor/pipeline/tracking/sort/requirements.txt
  CameraProcessor/processor/pipeline/tracking/sort/sort.py
  CameraProcessor/processor/pipeline/tracking/sort_tracker.py
  CameraProcessor/processor/pipeline/tracking/tracking_obj.py
  CameraProcessor/requirements-gpu.txt
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/tests/unittests/tracking/test_tracking_obj.py
  CameraProcessor/tests/unittests/utils/fake_tracker.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FFT: Write logs to console and log everything through the logger.
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/logger.py
  ProcessorOrchestrator/src/main.py
  ProcessorOrchestrator/src/object_manager.py
  ProcessorOrchestrator/src/processor_socket.py
Due: none

Update Dockerfile
  CameraProcessor/Dockerfile
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

Update .pylintrc
  .pylintrc
Due: none

Update yolov5_runner.py
  CameraProcessor/processor/pipeline/detection/yolov5_runner.py
Due: none

UFT: Timetstamp in overlay state via callback
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
Due: none

FFT Added buffer
  CameraProcessor/.pylintrc
  CameraProcessor/processor/pipeline/detection/yolov5_runner.py
  CameraProcessor/processor/pipeline/framebuffer.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/tracking/tracking_obj.py
  CameraProcessor/tests/unittests/pipeline/test_framebuffer.py
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX Fixed TODO pylint warning
  CameraProcessor/processor/pipeline/framebuffer.py
Due: none

FFT: cleaned up code
  Interface/react/jest.config.js
  Interface/react/src/app.tsx
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/src/index.tsx
  Interface/react/src/logo.svg
  Interface/react/src/pages/home.tsx
  Interface/react/src/pages/overlayVideo.tsx
  Interface/react/src/pages/websocket.tsx
  Interface/react/src/react-app-env.d.ts
  Interface/react/src/reportWebVitals.ts
  Interface/react/styleMock.js
  Interface/react/testing/app.test.tsx
  Interface/react/testing/home.test.tsx
Due: none

BUG: fixed not starting in docker
  Interface/package-lock.json
  Interface/react/package-lock.json
  Interface/react/package.json
Due: interface_docker_build, interface_unit-testing, interface-linting

"CIC Added 1 extra rule"
  .gitlab-ci.yml
Due: none

BUG: added some unnesecarry references in order to please the testing gods
  Interface/react/src/app.tsx
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
Due: none

BUG: MOAR useless react
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/pages/overlayVideo.tsx
  Interface/react/src/pages/websocket.tsx
Due: none

"CIC Added 3 more rules"
  .gitlab-ci.yml
Due: none

FIX Update framebuffer.py init docstring
  CameraProcessor/processor/pipeline/framebuffer.py
Due: none

"FIX yaml syntax error"
  .gitlab-ci.yml
Due: none

"CIC, added rules for stages"
  .gitlab-ci.yml
Due: none

FIX: websocket connection spam
  Interface/react/src/components/websocketContext.tsx
Due: none

Path conditions:
  camera-processor_docker_build: any of: CameraProcessor/*
  camera-processor_unit-testing: any of: CameraProcessor/*
  camera-processor_integration-testing: any of: CameraProcessor/*
  camera-processor-video-forwarder_integration-testing: any of: CameraProcessor/*, VideoForwarder/*
  camera-processor_linting: any of: CameraProcessor/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
  orchestrator_linting: any of: ProcessorOrchestrator/*
  interface_docker_build: any of: Interface/*
  interface_unit-testing: any of: Interface/*
  interface-linting: any of: Interface/*
  video-forwarder_docker_build: any of: VideoForwarder/*
  video-forwarder_unit-testing: any of: VideoForwarder/*
  video-forwarder_integration-testing: any of: VideoForwarder/*
  forwarder-linting: any of: VideoForwarder/*
