Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera_processor_documentation, camera-processor_docker_test_build, camera-processor_unit-testing, orchestrator_docker_build, orchestrator_unit-testing

camera_processor_documentation:
  stage: documentation
  trigger:
    include: CameraProcessor/.gitlab-ci-docs.yml

camera-processor_docker_test_build:
  stage: build
  script:
  - cd CameraProcessor
  - docker build -f Dockerfile.test -t camera-processor-test .

camera-processor_unit-testing:
  stage: test
  needs:
  - camera-processor_docker_test_build
  script:
  - cd CameraProcessor
  - docker container prune -f
  - docker run --name camera-processor-test-container camera-processor-test python3.8 -m pytest tests/unittests --junitxml=report.xml
  ...

orchestrator_docker_build:
  stage: build
  script:
  - docker build -t processor-orchestrator --target testing ./ProcessorOrchestrator

orchestrator_unit-testing:
  stage: test
  needs:
  - orchestrator_docker_build
  script:
  - docker run processor-orchestrator

TST CI Pipeline Pylint
  .gitlab-ci.yml
Due: none

TST: CI pipeline test Pylint
  .gitlab-ci.yml
Due: none

FFT: Removed docs generation and live doc handler.
  ProcessorOrchestrator/docs/client.html
  ProcessorOrchestrator/docs/client_socket.html
  ProcessorOrchestrator/docs/connections.html
  ProcessorOrchestrator/docs/index.html
  ProcessorOrchestrator/docs/logger.html
  ProcessorOrchestrator/docs/main.html
  ProcessorOrchestrator/docs/objectManager.html
  ProcessorOrchestrator/docs/object_manager.html
  ProcessorOrchestrator/docs/processor.html
  ProcessorOrchestrator/docs/processor_socket.html
  ProcessorOrchestrator/requirements.txt
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/logger.py
  ProcessorOrchestrator/src/main.py
  ProcessorOrchestrator/src/testing/tracking_objects_test.py
Due: orchestrator_docker_build, orchestrator_unit-testing

TST: GitLab Pylint
  .gitlab-ci.yml
Due: none

FFT: Added Junit reports as artifact to the ci pipeline
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/main.py
Due: orchestrator_docker_build, orchestrator_unit-testing

FIX: Copy report to the correct location
  .gitlab-ci.yml
Due: none

FIX: Remove running container before build
  .gitlab-ci.yml
Due: none

FIX: Remove is not a docker command
  .gitlab-ci.yml
Due: none

FIX: Without the force tag
  .gitlab-ci.yml
Due: none

FIX: Removed duplicate docker command
  .gitlab-ci.yml
Due: none

FIX: Removed double dash
  .gitlab-ci.yml
Due: none

OTH: Fixed rebuild.bat as well
  ProcessorOrchestrator/rebuild.bat
Due: orchestrator_docker_build, orchestrator_unit-testing

CRF/TST Minor changes, added systemtest data file
  CameraProcessor/processor/input/video_capture.py
  CameraProcessor/tests/integrationtests/conftest.py
  CameraProcessor/tests/integrationtests/test_send_to_orchestrator.py
  CameraProcessor/tests/systemtests/vidstream_to_json.py
Due: none

FFT: Docker-compose file that runs integration tests
  CameraProcessor/docker-compose.yml
  CameraProcessor/processor/vidstream_to_json.py
  CameraProcessor/requirements-test.txt
  CameraProcessor/requirements.txt
  CameraProcessor/tests/integrationtests/test_receiving_from_orchestrator.py
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/main.py
Due: camera_processor_documentation, camera-processor_docker_test_build, camera-processor_unit-testing

Update docstring in vidstream_to_json.py
  CameraProcessor/tests/systemtests/vidstream_to_json.py
Due: none

CRF: move documentation functionality to root in /docs/
  docs/documentation.py
  docs/requirements.txt
  docs/template/index.html.jinja2
  docs/template/module.html.jinja2
  docs/template/syntax-highlighting.css
Due: none

FFT: Keeping container open after tests, changing gitlab ci
  .gitlab-ci.yml
  CameraProcessor/docker-compose.yml
Due: camera_processor_documentation, camera-processor_docker_test_build, camera-processor_unit-testing

TST Fixed HLS Capture pipeline test_captures
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/tests/unittests/capture/conftest.py
  CameraProcessor/tests/unittests/capture/test_captures.py
Due: none

FIX: Removing unit test container
  .gitlab-ci.yml
Due: none

OTH: Commenting out temporarily
  .gitlab-ci.yml
Due: none

CRF fixed gitlab-ci-yml
  .gitlab-ci.yml
Due: none

Path conditions:
  camera_processor_documentation: any of: CameraProcessor/*
  camera-processor_docker_test_build: any of: CameraProcessor/*
  camera-processor_unit-testing: any of: CameraProcessor/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
