Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface-linting, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

Path conditions:
  camera-processor_docker_build: any of: CameraProcessor/*
  camera-processor_unit-testing: any of: CameraProcessor/*
  camera-processor_integration-testing: any of: CameraProcessor/*
  camera-processor-video-forwarder_integration-testing: any of: CameraProcessor/*, VideoForwarder/*
  camera-processor_linting: any of: CameraProcessor/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
  orchestrator_linting: any of: ProcessorOrchestrator/*
  interface_docker_build: any of: Interface/*
  interface_unit-testing: any of: Interface/*
  interface-linting: any of: Interface/*
  video-forwarder_docker_build: any of: VideoForwarder/*
  video-forwarder_unit-testing: any of: VideoForwarder/*
  video-forwarder_integration-testing: any of: VideoForwarder/*
  forwarder-linting: any of: VideoForwarder/*

FIX: Wrong container name and target syntax
  .gitlab-ci.yml
  ProcessorOrchestrator/docker-compose.testing.yml
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

FIX: Indent target
  ProcessorOrchestrator/docker-compose.testing.yml
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

FIX: Should have split context from build
  ProcessorOrchestrator/docker-compose.testing.yml
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

CIC: Trying to use artifects and dependencies
  .gitlab-ci.yml
Due: none

OTH: Trying workdir
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

OTH: That definitively won't work
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

OTH: MIght be a folder too low
  ProcessorOrchestrator/Dockerfile
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

OTH: Trying a different approach
  .gitlab-ci.yml
  ProcessorOrchestrator/Dockerfile
  ProcessorOrchestrator/docker-compose.testing.yml
Due: orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting

CIC: Using no-start
  .gitlab-ci.yml
Due: none

FIX: XML coverage file names
  .gitlab-ci.yml
Due: none

OTH: Coverage from integration testing is accurate
  .gitlab-ci.yml
Due: none

FFT: Integration test does not throw error anymore
  CameraProcessor/processor/main.py
  CameraProcessor/processor/webhosting/__init__.py
  CameraProcessor/processor/webhosting/websocket_client.py
  CameraProcessor/tests/orchestratorintegrationtests/conftest.py
  CameraProcessor/tests/orchestratorintegrationtests/super_websocket_client.py
  CameraProcessor/tests/orchestratorintegrationtests/test_connection.py
  CameraProcessor/tests/unittests/test_websocket_client.py
Due: none

OTH: Another attempt to get better coverage report
  .gitlab-ci.yml
Due: none

FIX: html coverage copy fix
  .gitlab-ci.yml
Due: none

OTH: Retry copy
  .gitlab-ci.yml
Due: none

OTH: another copy
  .gitlab-ci.yml
Due: none

TST Testing the bug
  CameraProcessor/requirements-gpu.txt
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX added -y flag
  CameraProcessor/Dockerfile
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX Adding G++ to build
  CameraProcessor/Dockerfile
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

CRF: shut up eslint
  Interface/react/src/components/overlay.tsx
Due: none

CIC: Trying another artifact
  .gitlab-ci.yml
Due: none
