Repository UU-tracktech/tracktech: changes, and which GitLab CI jobs are due for each by the changed paths.
All: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface-linting, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

camera-processor_docker_build:
  stage: build
  script:
  - cd CameraProcessor
  - docker build --target=test -t camera-processor .

camera-processor_unit-testing:
  stage: unittest
  needs:
  - camera-processor_docker_build
  before_script:
  - docker rm -f camera-processor-test-container || true
  script:
  ...

camera-processor_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_build
  script:
  - cd CameraProcessor
  - docker-compose -f docker-compose+orchestrator.yml up --exit-code-from camera-processor-test-service
  after_script:
  - cd CameraProcessor
  ...

camera-processor-video-forwarder_integration-testing:
  stage: integrationtest
  needs:
  - camera-processor_docker_build
  - video-forwarder_docker_build
  script:
  - cd CameraProcessor
  - docker-compose -f docker-compose+forwarder.yml up --exit-code-from camera-processor-test-service
  after_script:
  ...

camera-processor_linting:
  stage: linting
  needs:
  - camera-processor_docker_build
  allow_failure: true
  before_script:
  - docker rm -f camera-processor-lint-container || true
  - docker build --target=lint -t camera-processor-lint ./CameraProcessor
  script:
  ...

orchestrator_docker_build:
  stage: build
  script:
  - cd ProcessorOrchestrator
  - docker build -t processor-orchestrator .

orchestrator_unit-testing:
  stage: unittest
  needs:
  - orchestrator_docker_build
  before_script:
  - docker rm -f po-unit-testing || true
  script:
  - docker run --name po-unit-testing processor-orchestrator pytest --cov-config=app/.coveragerc --cov=app/src --cov-report html --cov-report term --junitxml=po-unit-report.xml app/testing
  ...

orchestrator_linting:
  stage: linting
  needs:
  - orchestrator_docker_build
  allow_failure: true
  before_script:
  - docker rm -f orchestrator-lint-container || true
  script:
  - docker run -d -t --name orchestrator-lint-container processor-orchestrator
  - docker cp .pylintrc orchestrator-lint-container:/app
  ...

interface_docker_build:
  stage: build
  script:
  - cd Interface
  - docker build -t interface -f Dockerfile.test .

interface_unit-testing:
  stage: unittest
  needs:
  - interface_docker_build
  before_script:
  - docker rm -f interface-unit-test-container || true
  script:
  - docker run --name interface-unit-test-container interface
  after_script:
  - docker cp interface-unit-test-container:/react/coverage i-coverage
  artifacts:
    when: always
  ...

interface-linting:
  stage: linting
  needs:
  - interface_docker_build
  allow_failure: true
  before_script:
  - cd Interface
  - docker build -t interface_linting -f Dockerfile_lint .
  - docker rm -f interface-lint-container || true
  script:
  - docker run -d -t --name interface-lint-container interface_linting
  ...

video-forwarder_docker_build:
  stage: build
  script:
  - cd VideoForwarder
  - docker build --target=testing -t video-forwarder .

FIX: prettier not in dockerfile
  Interface/Dockerfile
  Interface/react/package-lock.json
Due: interface_docker_build, interface_unit-testing, interface-linting

"CRF reset develop"
  .vscode/settings.json
  CameraProcessor/.gitignore
  CameraProcessor/.pylintrc
  CameraProcessor/Dockerfile
  CameraProcessor/data/annotated/test/det/configtest-info.txt
  CameraProcessor/data/annotated/test/det/configtest.txt
  CameraProcessor/data/plots/'ohno'-undefined.png
  CameraProcessor/data/plots/ohno-undefined.png
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/processor/training/detection/accuracy.py
  CameraProcessor/requirements-gpu.txt
  CameraProcessor/tests/forwarderintegrationtests/__init__.py
  CameraProcessor/tests/orchestratorintegrationtests/__init__.py
  CameraProcessor/tests/orchestratorintegrationtests/utils/__init__.py
  CameraProcessor/tests/systemtests/__init__.py
  CameraProcessor/tests/unittests/__init__.py
  CameraProcessor/tests/unittests/accuracy/__init__.py
  CameraProcessor/tests/unittests/accuracy/test_accuracy_object.py
  CameraProcessor/tests/unittests/accuracy/test_accuracy_runner.py
  CameraProcessor/tests/unittests/data_object/__init__.py
  CameraProcessor/tests/unittests/input/__init__.py
  CameraProcessor/tests/unittests/pipeline/__init__.py
  CameraProcessor/tests/unittests/scheduling/__init__.py
  CameraProcessor/tests/unittests/scheduling/node/__init__.py
  CameraProcessor/tests/unittests/scheduling/plan/__init__.py
  CameraProcessor/tests/unittests/scheduling/utils/__init__.py
  CameraProcessor/tests/unittests/training/__init__.py
  CameraProcessor/tests/unittests/training/detection/__init__.py
  CameraProcessor/tests/unittests/utils/__init__.py
  Interface/.vscode/settings.json
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

"CRF small refactor"
  CameraProcessor/tests/unittests/accuracy/test_accuracy_object.py
Due: none

"CRF dockstring"
  CameraProcessor/tests/unittests/accuracy/test_accuracy_object.py
Due: none

FIX: unittest files were ignored
  CameraProcessor/.gitignore
  CameraProcessor/data/tests/unittests/configtest-info.txt
  CameraProcessor/data/tests/unittests/configtest.txt
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

UFT: start on documentation run for entire project
  .dockerignore
  Dockerfile
  docs/documentation.py
  docs/requirements.txt
  rebuild.bat
Due: none

FIX: missing init, nameclashes in modules and update readme
  CameraProcessor/.coveragerc
  CameraProcessor/processor/training/detection/accuracy.py
  CameraProcessor/tests/unittests/scheduling/utils/input_component.py
  docs/README.md
  docs/__init__.py
  docs/documentation.py
  rebuild.bat
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

ADD: gitlab pages job
  .gitlab-ci.yml
  Interface/testingSelenium/__init__.py
  docs/documentation.py
Due: none

FIX: Invalid Yaml file
  .gitlab-ci.yml
Due: none

FIX: command ran in the background
  .gitlab-ci.yml
Due: none

FIX: Container name conflict
  .gitlab-ci.yml
Due: none

OTH: Put pages in deploy stage
  .gitlab-ci.yml
Due: none

FFT: same as last time, something went wrong.
  Interface/react/public/config.json
  Interface/react/public/objectTypes.json
  Interface/react/src/classes/clientMessage.ts
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/objectTypeFilter.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/src/pages/overlayVideo.tsx
Due: none

FFT: added filter
  Interface/react/public/cameras.json
Due: none

TST: keycloak/login related tests
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/testing/unit testing/loggedInUser.test.tsx
  Interface/react/testing/unit testing/loginButton.test.tsx
Due: none

DOC: Gitignore and rebuild.bat
  .gitignore
  rebuild.bat
Due: none

TST: cameracard
  Interface/react/src/components/cameraCard.tsx
  Interface/react/testing/unit testing/cameraCard.test.tsx
Due: none

FFT: Random colors in tracking + detection
  CameraProcessor/processor/utils/draw.py
Due: none

FIX: linter and docstring
  CameraProcessor/processor/utils/draw.py
Due: none

CRF: Move tornado handlers
  CameraProcessor/processor/localhost.py
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/webhosting/__init__.py
  CameraProcessor/processor/webhosting/html_page_handler.py
  CameraProcessor/processor/webhosting/stream_handler.py
Due: none

TST Added preliminary coverage goals
  CameraProcessor/coverage_goals.xml
  Interface/coverage_goals.xml
  ProcessorOrchestrator/coverage_goals.xml
  VideoForwarder/coverage_goals.xml
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting, orchestrator_docker_build, orchestrator_unit-testing, orchestrator_linting, interface_docker_build, interface_unit-testing, interface-linting, video-forwarder_docker_build, video-forwarder_unit-testing, video-forwarder_integration-testing, forwarder-linting

TST Adjusted coverage for processor
  CameraProcessor/coverage_goals.xml
Due: camera-processor_docker_build, camera-processor_unit-testing, camera-processor_integration-testing, camera-processor-video-forwarder_integration-testing, camera-processor_linting

FIX: now deletes documentation.py prior to generation.
  docs/documentation.py
Due: none

TST: Added integration tests for the websockets
  .gitlab-ci.yml
  Interface/docker-compose.testing.yml
  Interface/react/src/components/overlay.tsx
  Interface/react/testing/integration testing/websocketContext.test.tsx
  Interface/react/testing/unit testing/app.test.tsx
  Interface/react/testing/unit testing/home.test.tsx
Due: interface_docker_build, interface_unit-testing, interface-linting

TST: Dockerfile fixes
  .gitlab-ci.yml
  Interface/Dockerfile.test
Due: interface_docker_build, interface_unit-testing, interface-linting

Path conditions:
  camera-processor_docker_build: any of: CameraProcessor/*
  camera-processor_unit-testing: any of: CameraProcessor/*
  camera-processor_integration-testing: any of: CameraProcessor/*
  camera-processor-video-forwarder_integration-testing: any of: CameraProcessor/*, VideoForwarder/*
  camera-processor_linting: any of: CameraProcessor/*
  orchestrator_docker_build: any of: ProcessorOrchestrator/*
  orchestrator_unit-testing: any of: ProcessorOrchestrator/*
  orchestrator_linting: any of: ProcessorOrchestrator/*
  interface_docker_build: any of: Interface/*
  interface_unit-testing: any of: Interface/*
  interface-linting: any of: Interface/*
  video-forwarder_docker_build: any of: VideoForwarder/*
  video-forwarder_unit-testing: any of: VideoForwarder/*
  video-forwarder_integration-testing: any of: VideoForwarder/*
  forwarder-linting: any of: VideoForwarder/*
