Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

TST test dataloder utils file
  CameraProcessor/tests/unittests/utils/test_dataloader.py
Due: none

CRF rename json_parse to parsed_line since it is not json
  CameraProcessor/tests/unittests/dataloaders/test_mot_dataloader.py
Due: none

TST update MOT init test
  CameraProcessor/tests/unittests/dataloaders/test_mot_dataloader.py
Due: none

CRF Append box using dictionary
  CameraProcessor/processor/dataloaders/i_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
Due: Processor

UFT: Unit tests
  CameraProcessor/configs.ini
  CameraProcessor/processor/dataloaders/i_dataloader.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
  CameraProcessor/processor/utils/dataloader.py
  CameraProcessor/test-configs.ini
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
  CameraProcessor/tests/unittests/utils/test_dataloader.py
Due: Processor

FFT: Reid refactor
  CameraProcessor/processor/training/reidentification/train.py
Due: Processor

FFT: Reid refactor (#177)
  CameraProcessor/processor/training/reidentification/train.py
Due: Processor

Spc 898 fastreid crashes on using cutout from interface (#175)
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/pytorch_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
Due: Processor

FIX: adaptive bitrate (#176)
  VideoForwarder/src/conversion_process.py
Due: Forwarder

FIX: Contents
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Processor_Lint.yml
Due: none

Revert "UFT: Unit tests"
  CameraProcessor/configs.ini
  CameraProcessor/processor/dataloaders/i_dataloader.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
  CameraProcessor/processor/utils/dataloader.py
  CameraProcessor/test-configs.ini
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
  CameraProcessor/tests/unittests/utils/test_dataloader.py
Due: Processor

FIX: Dockerfiles copy
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Processor_Lint.yml
  CameraProcessor/Dockerfile
  ProcessorOrchestrator/Dockerfile
  VideoForwarder/Dockerfile
Due: none

FIX: Dockerfile remove mkdir
  CameraProcessor/Dockerfile
  ProcessorOrchestrator/Dockerfile
  VideoForwarder/Dockerfile
Due: none

FIX: forwarder.
  .github/workflows/Forwarder_Lint.yml
  VideoForwarder/Dockerfile
Due: none

DOC:added comments to yolo configs.ini.
  CameraProcessor/configs.ini
Due: none

DOC:re-id comment about specified dimensions configs.ini.
  CameraProcessor/configs.ini
Due: none

FIX: Processor and Orchestrator linting.
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Processor_Lint.yml
  .pylintrc
  ProcessorOrchestrator/Dockerfile
Due: none

FIX: mkdir
  CameraProcessor/Dockerfile
  ProcessorOrchestrator/Dockerfile
Due: none

DOC: start on comments for training in configs.ini
  CameraProcessor/configs.ini
Due: none

FIX: Copy
  CameraProcessor/Dockerfile
  ProcessorOrchestrator/Dockerfile
  VideoForwarder/Dockerfile
Due: none

TST fix unit tests dataloader
  CameraProcessor/processor/dataloaders/i_dataloader.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
  CameraProcessor/processor/training/detection/accuracy_object.py
  CameraProcessor/tests/unittests/conftest.py
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
  CameraProcessor/tests/unittests/training/detection/test_accuracy_object.py
Due: Processor

FIX solve linting issues
  CameraProcessor/processor/utils/dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
  CameraProcessor/tests/unittests/utils/test_dataloader.py
Due: Processor

DOC add comments to configs.ini
  CameraProcessor/configs.ini
  CameraProcessor/test-configs.ini
Due: none

OTH revert changes to linter
  .pylintrc
Due: none

UFT: Unit tests
  CameraProcessor/data/tests/unittests/base64_image.txt
  CameraProcessor/processor/utils/text.py
  CameraProcessor/processor/websocket/boxes_message.py
  CameraProcessor/processor/websocket/start_message.py
  CameraProcessor/processor/websocket/stop_message.py
  CameraProcessor/processor/websocket/update_message.py
  CameraProcessor/processor/websocket/websocket_client.py
  CameraProcessor/tests/unittests/conftest.py
  CameraProcessor/tests/unittests/utils/test_text.py
  CameraProcessor/tests/unittests/websocket/test_boxes_message.py
  CameraProcessor/tests/unittests/websocket/test_i_message.py
  CameraProcessor/tests/unittests/websocket/test_start_message.py
  CameraProcessor/tests/unittests/websocket/test_stop_message.py
  CameraProcessor/tests/unittests/websocket/test_update_message.py
  CameraProcessor/tests/unittests/websocket/test_websocket_client.py
Due: Processor

UFT: Docstrings + some removed test + integration tests
  CameraProcessor/processor/websocket/boxes_message.py
  CameraProcessor/processor/websocket/start_message.py
  CameraProcessor/processor/websocket/update_message.py
  CameraProcessor/processor/websocket/websocket_client.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/orchestratorintegrationtests/test_send_messages.py
  CameraProcessor/tests/orchestratorintegrationtests/test_send_to_orchestrator.py
  CameraProcessor/tests/orchestratorintegrationtests/utils/utils.py
  CameraProcessor/tests/orchestratorintegrationtests/websocket_client_dummy.py
  CameraProcessor/tests/unittests/utils/dummy_websocket_client.py
  CameraProcessor/tests/unittests/utils/websocket_coroutines.py
  CameraProcessor/tests/unittests/websocket/test_start_message.py
  CameraProcessor/tests/unittests/websocket/test_stop_message.py
  CameraProcessor/tests/unittests/websocket/test_websocket_client.py
Due: Processor

FIX: Integration test int -> float
  CameraProcessor/tests/orchestratorintegrationtests/test_send_messages.py
Due: none

DOC: Config comments.
  CameraProcessor/configs.ini
Due: none

CRF: Added logging; removed unused files.
  CameraProcessor/processor/training/detection/accuracy_object.py
  CameraProcessor/processor/training/pre_annotations.py
  CameraProcessor/tests/unittests/training/test_pre_annotations.py
  CameraProcessor/tests/unittests/training/test_text_parsing.py
Due: Processor

Spc 616 implement code review feedback (#170)
  Interface/react/jest.config.js
  Interface/react/src/app.tsx
  Interface/react/src/classes/box.ts
  Interface/react/src/classes/clientMessage.ts
  Interface/react/src/classes/orchestratorMessage.ts
  Interface/react/src/classes/queueItem.ts
  Interface/react/src/classes/size.ts
  Interface/react/src/classes/source.ts
  Interface/react/src/classes/timelineData.ts
  Interface/react/src/classes/useAuthState.ts
  Interface/react/src/components/cameraCard.tsx
  Interface/react/src/components/environmentContext.tsx
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/objectCard.tsx
  Interface/react/src/components/objectTypeFilter.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/selectionCard.tsx
  Interface/react/src/components/timelineCard.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/src/pages/needLogin.tsx
  Interface/react/src/pages/timelines.tsx
  Interface/react/src/utilities/colours.ts
  Interface/react/testing/integration testing/websocketContext.test.tsx
  Interface/react/testing/unit testing/classes/clientMessage.test.ts
  Interface/react/testing/unit testing/components/cameraCard.test.tsx
  Interface/react/testing/unit testing/components/timelineCard.test.tsx
  Interface/react/testing/unit testing/components/videoplayer.test.tsx
  Interface/react/testing/unit testing/pages/home.test.tsx
  Interface/react/testing/unit testing/pages/timelines.test.tsx
  Interface/react/tsconfig.json
Due: Interface

FFT: seperate classes
  utility/Auth/auth/AuthenticationError.py
  utility/Auth/auth/AuthorizationError.py
  utility/Auth/auth/auth.py
Due: none

BUG: removed dot to anger the git gods
  utility/Auth/auth/auth.py
Due: none

FFT: removed disable statement
  utility/Auth/auth/auth.py
Due: none

DOC: documantation
  CameraProcessor/configs.ini
Due: none

CRF: Splitting functions a bit more inside websocket client
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/websocket/websocket_client.py
  CameraProcessor/tests/unittests/websocket/test_websocket_client.py
Due: Processor

FFT: Removed the coverage goals.
  CameraProcessor/coverage_goals.xml
  Interface/coverage_goals.xml
  ProcessorOrchestrator/coverage_goals.xml
  VideoForwarder/coverage_goals.xml
Due: none

Path conditions:
  Forwarder: any of: VideoForwarder/src
  Interface: any of: Interface/react
  Orchestrator: any of: ProcessorOrchestrator/src
  Processor: any of: CameraProcessor/processor
