Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

codecov.yml:

codecov:
  branch: develop
  max_report_age: off

coverage:
  status:
    project:
      default: off
      Forwarder:
        target: 100%
        flags:
          - Forwarder
      Interface:
        target: 100%
        flags:
          - Interface
      Orchestrator:
        target: 100%
        flags:
          - Orchestrator
      Processor:
        target: 100%
        flags:
          - Processor

flags:
  # filter the folder(s) you wish to measure by that flag
  Forwarder:
    # only include files in the backend folder
    paths:
      -  VideoForwarder/src
  Interface:
    paths:
      - Interface/react
  Orchestrator:
    paths:
      - ProcessorOrchestrator/src
  Processor:
    paths:
      - CameraProcessor/processor

DOC: update camera processor README with re-id constraints (#181)
  CameraProcessor/README.md
Due: none

Spc 836 test new websocket client (#184)
  CameraProcessor/README.md
  CameraProcessor/data/tests/unittests/base64_image.txt
  CameraProcessor/processor/utils/README.md
  CameraProcessor/processor/utils/text.py
  CameraProcessor/processor/webhosting/README.md
  CameraProcessor/processor/websocket/README.md
  CameraProcessor/processor/websocket/boxes_message.py
  CameraProcessor/processor/websocket/start_message.py
  CameraProcessor/processor/websocket/stop_message.py
  CameraProcessor/processor/websocket/update_message.py
  CameraProcessor/processor/websocket/websocket_client.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/orchestratorintegrationtests/test_send_messages.py
  CameraProcessor/tests/orchestratorintegrationtests/test_send_to_orchestrator.py
  CameraProcessor/tests/orchestratorintegrationtests/utils/utils.py
  CameraProcessor/tests/orchestratorintegrationtests/websocket_client_dummy.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/tests/unittests/utils/dummy_websocket_client.py
  CameraProcessor/tests/unittests/utils/test_text.py
  CameraProcessor/tests/unittests/utils/websocket_coroutines.py
  CameraProcessor/tests/unittests/webhosting/test_websocket_client.py
  CameraProcessor/tests/unittests/websocket/test_boxes_message.py
  CameraProcessor/tests/unittests/websocket/test_i_message.py
  CameraProcessor/tests/unittests/websocket/test_start_message.py
  CameraProcessor/tests/unittests/websocket/test_stop_message.py
  CameraProcessor/tests/unittests/websocket/test_update_message.py
  CameraProcessor/tests/unittests/websocket/test_websocket_client.py
Due: Processor

FIX: Added hardcoded values and adresses to environment (#186)
  Interface/README.md
  Interface/react/public/settings.json
  Interface/react/src/components/environmentContext.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/src/pages/timelines.tsx
  Interface/react/testing/unit testing/components/videoplayer.test.tsx
Due: Interface

FIX: removed double tag
  .github/workflows/Forwarder_Deploy.yml
Due: none

FIX: removed double tag (#188)
  .github/workflows/Forwarder_Deploy.yml
Due: none

FIX: removed registry
  Orchestration/Compose/keycloak.yml
  Orchestration/Compose/portainer.yml
  Orchestration/Compose/registry.yml
  Orchestration/Compose/tracktech.yml
  Orchestration/Compose/update.bat
  Orchestration/Registry/config-explained.yml
  Orchestration/Registry/config.yml
Due: none

FIX: removed registry (#189)
  Orchestration/Compose/keycloak.yml
  Orchestration/Compose/portainer.yml
  Orchestration/Compose/registry.yml
  Orchestration/Compose/tracktech.yml
  Orchestration/Compose/update.bat
  Orchestration/Registry/config-explained.yml
  Orchestration/Registry/config.yml
Due: none

FIX: set default reid algorithm to torchreid
  CameraProcessor/configs.ini
Due: none

Spc 860 comment possible values for all configs properties (#179)
  CameraProcessor/configs.ini
Due: none

DOC: linting
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
Due: Processor

FFT: Footer with copyright statement
  Interface/react/src/app.tsx
  Interface/react/src/pages/home.tsx
Due: Interface

FIX: Position should have been absolute
  Interface/react/public/settings.json
  Interface/react/src/components/overlay.tsx
Due: Interface

FFT: Footer with copyright statement (#190)
  Interface/react/src/app.tsx
  Interface/react/src/pages/home.tsx
Due: Interface

FFT: Documentation styling consistency
  docs/documentation.py
Due: none

FFT: Documentation styling consistency (#192)
  docs/documentation.py
Due: none

FIX: removed Input.type fixed on hls when HLS_STREAM_URL is in env
  CameraProcessor/processor/utils/config_parser.py
Due: Processor

FIX: removed Input.type fixed on hls when HLS_STREAM_URL is in env (#193)
  CameraProcessor/processor/utils/config_parser.py
Due: Processor

FIX: changed log output file and updated submodule
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/reidentification/fastreid_config.yml
Due: Processor

FIX: wrong path
  CameraProcessor/processor/pipeline/reidentification/fastreid_config.yml
Due: Processor

FIX: pathing
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/fastreid_config.yml
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
Due: Processor

OTH: use gpu if available
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/fastreid_config.yml
Due: Processor

OTH: increased timout
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: Processor

OTH: further increase timeout
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: none

SPC-877 FIX: Download Bug (#173)
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/fastreid_config.yml
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: Processor

FIX: Position should have been absolute (#191)
  Interface/react/public/settings.json
  Interface/react/src/components/overlay.tsx
Due: Interface

FIX: Renamed subject
  Interface/react/src/components/overlay.tsx
Due: Interface

FIX: Renamed subject (#194)
  Interface/react/src/components/overlay.tsx
Due: Interface
