Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

FIX errors
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@14d76813505a3f2e9d587774d08f82999eef68f9 🚀
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/utils/text.html
  CameraProcessor/processor/processor/webhosting/start_command.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
Due: Processor

DOC Fixed docstrings.
  CameraProcessor/processor/webhosting/start_command.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@87dd4f7809a1b564626a98714fabd6194c50a557 🚀
  CameraProcessor/processor/processor/webhosting/start_command.html
  index.html
Due: Processor

FIX Doc pylint errors
  CameraProcessor/processor/webhosting/start_command.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@889c44ff740c7ba721f1fa4d48c8ef05702bf53f 🚀
  CameraProcessor/processor/processor/webhosting/start_command.html
  index.html
Due: Processor

UFT: refactored re-id data
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/processor/data_object/bounding_box.py
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/reid_data.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
  CameraProcessor/processor/utils/display.py
  CameraProcessor/processor/utils/draw.py
  CameraProcessor/processor/webhosting/stream_handler.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: Processor

FFT: Replace getters in data_objects with properties
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/processor/data_object/bounding_box.py
  CameraProcessor/processor/data_object/bounding_boxes.py
  CameraProcessor/processor/data_object/frame_obj.py
  CameraProcessor/processor/data_object/rectangle.py
  CameraProcessor/processor/pipeline/detection/idetector.py
  CameraProcessor/processor/pipeline/detection/yolor_runner.py
  CameraProcessor/processor/pipeline/detection/yolov5_runner.py
  CameraProcessor/processor/pipeline/framebuffer.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
  CameraProcessor/processor/pipeline/tracking/sort_tracker.py
  CameraProcessor/processor/training/detection/accuracy_object.py
  CameraProcessor/processor/utils/convert.py
  CameraProcessor/processor/utils/display.py
  CameraProcessor/processor/utils/draw.py
  CameraProcessor/processor/utils/features.py
  CameraProcessor/processor/utils/text.py
  CameraProcessor/tests/unittests/data_object/test_bounding_box.py
  CameraProcessor/tests/unittests/data_object/test_bounding_boxes.py
  CameraProcessor/tests/unittests/data_object/test_frame_obj.py
  CameraProcessor/tests/unittests/data_object/test_rectangle.py
  CameraProcessor/tests/unittests/utils/test_text.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@77c4f5a834a96f5707a90266417d46e556321cf6 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  CameraProcessor/processor/processor/webhosting/start_command.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  index.html
Due: Processor

FIX: Fixed property get on tuple
  ProcessorOrchestrator/src/client_socket.py
Due: Orchestrator

FFT Pylint enforce at most one class per file.
  .pylintrc
  utility/classes_checker.py
  utility/count_classes.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@704704071e1deef0f536ee661543f44b42caf75b 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  index.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
Due: Processor

FIX: linting errors
  .pylintrc
Due: none

FFT Pylint enforce at most one class per file. (#102)
  .pylintrc
  utility/classes_checker.py
  utility/count_classes.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@6a710fab533909e77f005eaa4a56a64fd8aa24cc 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  index.html
  utility/index.html
  utility/utility.html
  utility/utility/count_classes.html
Due: Processor

Spc 788 reuse mocks on interface (#100)
  Interface/Dockerfile
  Interface/react/__mocks__/@react-keycloak/web.js
  Interface/react/testing/integration testing/websocketContext.test.tsx
  Interface/react/testing/unit testing/app.test.tsx
  Interface/react/testing/unit testing/authState.test.tsx
  Interface/react/testing/unit testing/cameraCard.test.tsx
  Interface/react/testing/unit testing/clientMessage.test.tsx
  Interface/react/testing/unit testing/grid.test.tsx
  Interface/react/testing/unit testing/home.test.tsx
  Interface/react/testing/unit testing/loggedInUser.test.tsx
  Interface/react/testing/unit testing/loginButton.test.tsx
  Interface/react/testing/unit testing/objectTypeFilter.test.tsx
  Interface/react/testing/unit testing/orchestratorMessage.test.tsx
  Interface/react/testing/unit testing/selection.test.tsx
  Interface/react/testing/unit testing/videojsplayer.test.tsx
Due: Interface

FIX: bounding boxes were copied multiple times
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
Due: Processor

TST: Added tests for new functionality
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/object_manager.py
  ProcessorOrchestrator/src/processor_socket.py
  ProcessorOrchestrator/tests/integration_testing/communication_test.py
  ProcessorOrchestrator/tests/testing_server.py
  ProcessorOrchestrator/tests/unit_testing/tracking_objects_test.py
Due: Orchestrator

Deploying to gh-pages from @ UU-tracktech/tracktech@6ed48fbfc9904c6eb14b6705f222c2648574d4be 🚀
  index.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@b455c94355f7ace00ccb0b0bbee5d2f923fef872 🚀
  index.html
Due: none

DOC: Updated README
  ProcessorOrchestrator/README.md
Due: none

FIX: assigned wrong identifier
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@173694500380a9ebeb1b36dcfb690afc854526b5 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  ProcessorOrchestrator/src/src/client_socket.html
  ProcessorOrchestrator/src/src/object_manager.html
  ProcessorOrchestrator/src/src/processor_socket.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Orchestrator, Processor

FIX: Fixed integration tests
  ProcessorOrchestrator/tests/integration_testing/communication_test.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@5e339fd1c94ff8a7c8c272b0faa8b5657ac3c0eb 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  ProcessorOrchestrator/src/src/client_socket.html
  ProcessorOrchestrator/src/src/object_manager.html
  ProcessorOrchestrator/src/src/processor_socket.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Orchestrator, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@6f58179242a91e5ccf01a3aa74f164bf2445986b 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  ProcessorOrchestrator/src/src/client_socket.html
  ProcessorOrchestrator/src/src/object_manager.html
  ProcessorOrchestrator/src/src/processor_socket.html
  index.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Orchestrator, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@2f0f7b3eecc901460d644b6f57e686fce0db6a07 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  ProcessorOrchestrator/src/src/client_socket.html
  ProcessorOrchestrator/src/src/object_manager.html
  ProcessorOrchestrator/src/src/processor_socket.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Orchestrator, Processor

FFT: removed test video
  CameraProcessor/compose/docker-compose+forwarder.yml
  VideoForwarder/Dockerfile
  VideoForwarder/README.md
  VideoForwarder/docker-compose.yml
  VideoForwarder/src/conversion_process.py
Due: Forwarder

Deploying to gh-pages from @ UU-tracktech/tracktech@618ba29d9ac31e887beb0c8a1b08745cf6ff9a51 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  ProcessorOrchestrator/src/src/client_socket.html
  ProcessorOrchestrator/src/src/object_manager.html
  ProcessorOrchestrator/src/src/processor_socket.html
  index.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Orchestrator, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@6b9f7021764634ac53f84e37b78ecf23c4e86b76 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  ProcessorOrchestrator/src/src/client_socket.html
  ProcessorOrchestrator/src/src/object_manager.html
  ProcessorOrchestrator/src/src/processor_socket.html
  index.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Orchestrator, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@b0be42fca9f5879395acc19e249cca823d0cbe0a 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  VideoForwarder/src/src/conversion_process.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Forwarder, Processor

FFT: Refactor ReID
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
  CameraProcessor/processor/utils/draw.py
  CameraProcessor/tests/unittests/utils/test_display.py
Due: Processor

UFT check whether class names and file correspond
  utility/classes_checker.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@ad7563bc2c77def3efe0546d5ce748af33b9401a 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  VideoForwarder/src/src/conversion_process.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Forwarder, Processor

DOC Add docstrings
  utility/classes_checker.py
Due: none

FFT: allow multiple inputs to start node
  CameraProcessor/processor/scheduling/scheduler.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@6c7f95dc676e709d6d717af799d4a5625f4ed6b7 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/data_object/reid_data.html
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  CameraProcessor/processor/processor/webhosting/stream_handler.html
  index.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Processor

FIX: Copy in the classes_checker.py
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Processor_Lint.yml
Due: none

Path conditions:
  Forwarder: any of: VideoForwarder/src
  Interface: any of: Interface/react
  Orchestrator: any of: ProcessorOrchestrator/src
  Processor: any of: CameraProcessor/processor
