Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@df4d54c3b29fd974ddf3583f78457cfa4195318e 🚀
  ProcessorOrchestrator/src/src/http_server.html
Due: Orchestrator

Deploying to gh-pages from @ UU-tracktech/tracktech@b61d735dfe6dc5229680e8dd33007ffc4504c65b 🚀
  ProcessorOrchestrator/src/index.html
  ProcessorOrchestrator/src/src.html
  ProcessorOrchestrator/src/src/handlers.html
  ProcessorOrchestrator/src/src/handlers/client_socket.html
  ProcessorOrchestrator/src/src/handlers/object_ids_handler.html
  ProcessorOrchestrator/src/src/handlers/processor_socket.html
  ProcessorOrchestrator/src/src/handlers/timeline_handler.html
  ProcessorOrchestrator/src/src/main.html
  ProcessorOrchestrator/src/src/objects.html
  ProcessorOrchestrator/src/src/objects/connections.html
  ProcessorOrchestrator/src/src/objects/object_management.html
  ProcessorOrchestrator/src/src/objects/tracking_object.html
  ProcessorOrchestrator/src/src/utility.html
  ProcessorOrchestrator/src/src/utility/get_auth.html
  ProcessorOrchestrator/src/src/utility/http_server.html
  ProcessorOrchestrator/src/src/utility/logger.html
  VideoForwarder/src/src/camera_handler.html
  VideoForwarder/src/src/loading.html
Due: Forwarder, Orchestrator

FFT sort_oh tracker
  CameraProcessor/processor/pipeline/tracking/sort_oh_tracker.py
Due: Processor

FFT: always http (#134)
  VideoForwarder/README.md
  VideoForwarder/src/camera_handler.py
  VideoForwarder/src/loading.py
  VideoForwarder/src/main.py
Due: Forwarder

OTH: Added a lot of comments and refactored folder structure (#135)
  ProcessorOrchestrator/src/handlers/__init__.py
  ProcessorOrchestrator/src/handlers/client_socket.py
  ProcessorOrchestrator/src/handlers/object_ids_handler.py
  ProcessorOrchestrator/src/handlers/processor_socket.py
  ProcessorOrchestrator/src/handlers/timeline_handler.py
  ProcessorOrchestrator/src/main.py
  ProcessorOrchestrator/src/objects/__init__.py
  ProcessorOrchestrator/src/objects/connections.py
  ProcessorOrchestrator/src/objects/object_management.py
  ProcessorOrchestrator/src/objects/tracking_object.py
  ProcessorOrchestrator/src/utility/__init__.py
  ProcessorOrchestrator/src/utility/get_auth.py
  ProcessorOrchestrator/src/utility/http_server.py
  ProcessorOrchestrator/src/utility/logger.py
  ProcessorOrchestrator/tests/testing_server.py
  ProcessorOrchestrator/tests/unit_testing/get_auth_test.py
  ProcessorOrchestrator/tests/unit_testing/tracking_objects_test.py
Due: Orchestrator

CRF added to ignore, remove redundant code
  .pylintrc
  CameraProcessor/.coveragerc
  CameraProcessor/processor/pipeline/tracking/sort_oh_tracker.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@d73fd02600c6ab32c3b4904eab36017b8b734ba8 🚀
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/utils/create_runners.html
  VideoForwarder/src/src/camera_handler.html
  VideoForwarder/src/src/loading.html
  VideoForwarder/src/src/main.html
  index.html
Due: Forwarder, Processor

CRF updating requirement
  CameraProcessor/Dockerfile
  CameraProcessor/requirements-gpu.txt
Due: none

FFT: close on no auth
  ProcessorOrchestrator/src/handlers/client_socket.py
  ProcessorOrchestrator/src/handlers/processor_socket.py
Due: Orchestrator

Deploying to gh-pages from @ UU-tracktech/tracktech@372d9ea5741c9535b6201257e32fb46d17389e28 🚀
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/utils/create_runners.html
  ProcessorOrchestrator/src/src/handlers/client_socket.html
  ProcessorOrchestrator/src/src/handlers/processor_socket.html
Due: Orchestrator, Processor

FIX: dot
  ProcessorOrchestrator/src/handlers/client_socket.py
  ProcessorOrchestrator/src/handlers/processor_socket.py
Due: Orchestrator

Deploying to gh-pages from @ UU-tracktech/tracktech@094be61920611c66d647561ff20b2d4cf0113720 🚀
  ProcessorOrchestrator/src/src/handlers/client_socket.html
  ProcessorOrchestrator/src/src/handlers/processor_socket.html
Due: Orchestrator

FFT: Added authentication message on websocket open
  Interface/react/src/app.tsx
  Interface/react/src/classes/orchestratorMessage.ts
  Interface/react/src/components/websocketContext.tsx
  Interface/react/testing/unit testing/orchestratorMessage.test.tsx
Due: Interface

FFT: close on no auth (#137)
  ProcessorOrchestrator/src/handlers/client_socket.py
  ProcessorOrchestrator/src/handlers/processor_socket.py
Due: Orchestrator

Deploying to gh-pages from @ UU-tracktech/tracktech@c26918a117b09f9cb271d81083324e005bea0300 🚀
  ProcessorOrchestrator/src/src/handlers/client_socket.html
  ProcessorOrchestrator/src/src/handlers/processor_socket.html
  index.html
Due: Orchestrator

CRF refactor
  CameraProcessor/processor/pipeline/tracking/i_sort_tracker.py
  CameraProcessor/processor/pipeline/tracking/sort_oh_tracker.py
  CameraProcessor/processor/pipeline/tracking/sort_tracker.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@3e2b61909b7ca0075557bf4c8e71cea8104721da 🚀
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/utils/create_runners.html
  ProcessorOrchestrator/src/src/handlers/client_socket.html
  ProcessorOrchestrator/src/src/handlers/processor_socket.html
  index.html
Due: Orchestrator, Processor

CRF linting errors
  CameraProcessor/processor/pipeline/tracking/i_sort_tracker.py
  CameraProcessor/processor/pipeline/tracking/sort_oh_tracker.py
  CameraProcessor/processor/pipeline/tracking/sort_tracker.py
Due: Processor

FFT: Added authentication message on websocket open (#138)
  Interface/react/src/app.tsx
  Interface/react/src/classes/orchestratorMessage.ts
  Interface/react/src/components/websocketContext.tsx
  Interface/react/testing/unit testing/orchestratorMessage.test.tsx
Due: Interface

UFT: prune images
  .github/workflows/Documentation.yml
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Forwarder_Test_Unit.yml
  .github/workflows/Interface-Orchestrator.yml
  .github/workflows/Interface_Build.yml
  .github/workflows/Interface_Lint.yml
  .github/workflows/Interface_Test_Unit.yml
  .github/workflows/Orchestrator_Build.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Orchestrator_Test_Integration.yml
  .github/workflows/Orchestrator_Test_Unit.yml
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Build.yml
  .github/workflows/Processor_Lint.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@24ca2b91b218caec012afcd030d5982791f02311 🚀
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  index.html
Due: Processor

FIX: force
  .github/workflows/Documentation.yml
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Forwarder_Test_Unit.yml
  .github/workflows/Interface-Orchestrator.yml
  .github/workflows/Interface_Build.yml
  .github/workflows/Interface_Lint.yml
  .github/workflows/Interface_Test_Unit.yml
  .github/workflows/Orchestrator_Build.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Orchestrator_Test_Integration.yml
  .github/workflows/Orchestrator_Test_Unit.yml
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Build.yml
  .github/workflows/Processor_Lint.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

Spc 730 improve accuracy of tracking stage (#136)
  .gitmodules
  .pylintrc
  CameraProcessor/.coveragerc
  CameraProcessor/Dockerfile
  CameraProcessor/processor/pipeline/tracking/i_sort_tracker.py
  CameraProcessor/processor/pipeline/tracking/sort_oh_tracker.py
  CameraProcessor/processor/utils/create_runners.py
  CameraProcessor/requirements-gpu.txt
Due: Processor

UFT: pop instead of del
  ProcessorOrchestrator/src/handlers/client_socket.py
Due: Orchestrator

FIX: processor pop aswell to prevent crash on call twice
  ProcessorOrchestrator/src/handlers/processor_socket.py
Due: Orchestrator

FIX: if no longer needed
  ProcessorOrchestrator/src/handlers/processor_socket.py
Due: Orchestrator

Deploying to gh-pages from @ UU-tracktech/tracktech@e24292caa7582170436a810bd63e7c47ce18169b 🚀
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/utils/create_runners.html
  index.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@44c887f1e1fcd24c5297f2e5453f420a46ba5e99 🚀
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/utils/create_runners.html
  index.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@15a78694c2d7bed357f7c158ba6871dc538f0c7d 🚀
  ProcessorOrchestrator/src/src/handlers/client_socket.html
  ProcessorOrchestrator/src/src/handlers/processor_socket.html
  index.html
Due: Orchestrator

Deploying to gh-pages from @ UU-tracktech/tracktech@e214819a194d4f21ffb9a5f8502b08c296fad244 🚀
  index.html
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@3c05ec9b24ef720ab3253e395f624e0262247f9d 🚀
  index.html
Due: none

UFT: prune images (#139)
  .github/workflows/Documentation.yml
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Forwarder_Test_Unit.yml
  .github/workflows/Interface-Orchestrator.yml
  .github/workflows/Interface_Build.yml
  .github/workflows/Interface_Lint.yml
  .github/workflows/Interface_Test_Unit.yml
  .github/workflows/Orchestrator_Build.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Orchestrator_Test_Integration.yml
  .github/workflows/Orchestrator_Test_Unit.yml
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Build.yml
  .github/workflows/Processor_Lint.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@27722aae36756f266198d4cbf9cb52ba337f8698 🚀
  ProcessorOrchestrator/src/src/handlers/client_socket.html
  ProcessorOrchestrator/src/src/handlers/processor_socket.html
  index.html
Due: Orchestrator

UFT: pop instead of del (#140)
  ProcessorOrchestrator/src/handlers/client_socket.py
  ProcessorOrchestrator/src/handlers/processor_socket.py
Due: Orchestrator

Path conditions:
  Forwarder: any of: VideoForwarder/src
  Interface: any of: Interface/react
  Orchestrator: any of: ProcessorOrchestrator/src
  Processor: any of: CameraProcessor/processor
