Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

codecov.yml:

codecov:
  branch: develop
  max_report_age: off

coverage:
  status:
    project:
      default: off
      Forwarder:
        target: 100%
        flags:
          - Forwarder
      Interface:
        target: 100%
        flags:
          - Interface
      Orchestrator:
        target: 100%
        flags:
          - Orchestrator
      Processor:
        target: 100%
        flags:
          - Processor

flags:
  # filter the folder(s) you wish to measure by that flag
  Forwarder:
    # only include files in the backend folder
    paths:
      -  VideoForwarder/src
  Interface:
    paths:
      - Interface/react
  Orchestrator:
    paths:
      - ProcessorOrchestrator/src
  Processor:
    paths:
      - CameraProcessor/processor

Deploying to gh-pages from @ UU-tracktech/tracktech@d41c2e8f962f9b38835010fe10e3a0cea62870bc 🚀
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/utils/authentication.html
  CameraProcessor/processor/processor/utils/config_parser.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
Due: Processor

FFT: Remove newline
  utility/comment_checker.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@aca761023fcc99fae229f9265b28303ca921eb87 🚀
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  index.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@9807cc1965f6346b0ba4436ef481c163018a1ff1 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/utils.html
  CameraProcessor/processor/processor/utils/authentication.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  VideoForwarder/src/src/camera_handler.html
  VideoForwarder/src/src/main.html
  index.html
  utility/utility/comment_checker.html
Due: Forwarder, Processor

CRF custom exception
  CameraProcessor/processor/accuracy_runner.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@978049c43705bfcce10acd0f378527504e5b29a6 🚀
  CameraProcessor/processor/processor/utils/config_parser.html
  utility/utility/comment_checker.html
Due: Processor

Master merge (#163)
  CameraProcessor/configs.ini
  CameraProcessor/processor/utils/config_parser.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@30e323eee4c53a2be4be77f1bff75d215ff9e103 🚀
  index.html
Due: none

FFT: Remove newline (#162)
  utility/comment_checker.py
Due: none

Spc 415 authenticate camera processor on connection with orchestrator (#153)
  CameraProcessor/processor/utils/authentication.py
  CameraProcessor/processor/webhosting/websocket_client.py
  VideoForwarder/src/camera_handler.py
  VideoForwarder/src/main.py
  VideoForwarder/tests/unittest/auth_server_unit_test.py
Due: Forwarder, Processor

FIX: Workdir in dockerfile so utility folder is in correct spot
  CameraProcessor/Dockerfile
  ProcessorOrchestrator/Dockerfile
  VideoForwarder/Dockerfile
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@2767e52de637f16176807d531ce03f1730429b67 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/utils/authentication.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  VideoForwarder/src/src/camera_handler.html
  VideoForwarder/src/src/main.html
  index.html
  utility/index.html
  utility/utility.html
  utility/utility/pylint-plugins.html
  utility/utility/pylint-plugins/classes_checker.html
  utility/utility/pylint-plugins/comment_checker.html
  utility/utility/pylint-plugins/copyright_checker.html
  utility/utility/pylint-plugins/docstring_checker.html
  utility/utility/pylint-plugins/docstring_content_checker.html
Due: Forwarder, Processor

FIX: Copy goes to different folder
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Processor_Lint.yml
  CameraProcessor/Dockerfile
  ProcessorOrchestrator/requirements-test.txt
Due: none

FFT: Draw re_idboxes
  CameraProcessor/processor/utils/display.py
  CameraProcessor/processor/utils/draw.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@e1937a6e18c1ebc94955ab1c9d7211569ae31b61 🚀
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint-plugins.html
Due: Processor

FIX: Linting
  CameraProcessor/processor/webhosting/start_command.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@96cb1076757b1324d814c134936537112812fee3 🚀
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@4d517c30303e4a9be7ef2a1fa1c8b56f3dd84242 🚀
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
  VideoForwarder/src/src/main.html
  index.html
Due: Forwarder, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@f7cd81a528686cccf8876a1c2b03a5dc93644268 🚀
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/i_dataloader.html
  CameraProcessor/processor/processor/dataloaders/json_dataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  VideoForwarder/src/src/main.html
  index.html
  utility/utility/docstring_content_checker.html
Due: Forwarder, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@494985e3c2fc28649481e6978bfd6390e96cc4b1 🚀
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/i_dataloader.html
  CameraProcessor/processor/processor/dataloaders/json_dataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  index.html
  utility/utility/docstring_content_checker.html
Due: Processor

FIX: removed bbb
  VideoForwarder/tests/unittest/auth_server_unit_test.py
  VideoForwarder/tests/unittest/slow_server_unit_test.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@79837ed8250126118c152ec9383b4f83c68a0919 🚀
  CameraProcessor/processor/processor/pipeline/process_frames.html
Due: Processor

FIX: no audio
  VideoForwarder/tests/unittest/auth_server_unit_test.py
  VideoForwarder/tests/unittest/slow_server_unit_test.py
Due: none

FIX: Handle switching re-id during runtime (#151)
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/i_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
Due: Processor

FIX: heigher timeout
  VideoForwarder/tests/unittest/auth_server_unit_test.py
  VideoForwarder/tests/unittest/server_unit_test.py
  VideoForwarder/tests/unittest/slow_server_unit_test.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@8981e8d8f45d34dae287755e25d58d01d27d405f 🚀
  CameraProcessor/processor/processor/pipeline/process_frames.html
  index.html
Due: Processor

FIX: moar streams
  VideoForwarder/Dockerfile
  VideoForwarder/tests/unittest/auth_server_unit_test.py
  VideoForwarder/tests/unittest/server_unit_test.py
  VideoForwarder/tests/unittest/slow_server_unit_test.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@c55c8a34c3b1d48e18899f281d25dd4234e67ee6 🚀
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/i_dataloader.html
  CameraProcessor/processor/processor/dataloaders/json_dataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  utility/utility/docstring_content_checker.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@ff1b8a987efe6b28cc04b5686128dee4894bf134 🚀
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/i_dataloader.html
  CameraProcessor/processor/processor/dataloaders/json_dataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  utility/utility/docstring_content_checker.html
Due: Processor
