Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

FFT: Set prune to 24 hours from 1 week.
  .github/workflows/Documentation.yml
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Forwarder_Test_Unit.yml
  .github/workflows/Interface-Orchestrator.yml
  .github/workflows/Interface_Build.yml
  .github/workflows/Interface_Lint.yml
  .github/workflows/Interface_Test_Unit.yml
  .github/workflows/Orchestrator_Build.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Orchestrator_Test_Integration.yml
  .github/workflows/Orchestrator_Test_Unit.yml
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Build.yml
  .github/workflows/Processor_Lint.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

FFT: Set prune to 24 hours from 1 week. (#195)
  .github/workflows/Documentation.yml
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Forwarder_Test_Unit.yml
  .github/workflows/Interface-Orchestrator.yml
  .github/workflows/Interface_Build.yml
  .github/workflows/Interface_Lint.yml
  .github/workflows/Interface_Test_Unit.yml
  .github/workflows/Orchestrator_Build.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Orchestrator_Test_Integration.yml
  .github/workflows/Orchestrator_Test_Unit.yml
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Build.yml
  .github/workflows/Processor_Lint.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

OTH updated icon
  Interface/react/public/favicon.ico
Due: Interface

OTH replaced all logos
  Interface/react/public/logo192.png
  Interface/react/public/logo512.png
Due: Interface

OTH updated icon (#196)
  Interface/react/public/favicon.ico
  Interface/react/public/logo192.png
  Interface/react/public/logo512.png
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@968170865b8e3efa88bf1bd9ae62ff97a02327d5 🚀
  CameraProcessor/processor/processor/utils/config_parser.html
  CameraProcessor/processor/processor/utils/text.html
  CameraProcessor/processor/processor/websocket/boxes_message.html
  CameraProcessor/processor/processor/websocket/start_message.html
  CameraProcessor/processor/processor/websocket/stop_message.html
  CameraProcessor/processor/processor/websocket/update_message.html
  CameraProcessor/processor/processor/websocket/websocket_client.html
  docs/docs/documentation.html
  index.html
Due: Processor

FIX: updated url
  README.md
Due: none

FIX: updated url (#201)
  README.md
Due: none

FFT: Removed keycloak and added generic oauth2 client
  Interface/README.md
  Interface/react/package-lock.json
  Interface/react/package.json
  Interface/react/public/settings.json
  Interface/react/src/app.tsx
  Interface/react/src/classes/useAuthState.ts
  Interface/react/src/components/authContext.tsx
  Interface/react/src/components/environmentContext.tsx
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/src/index.tsx
  Interface/react/src/keycloak.tsx
  Interface/react/src/pages/needLogin.tsx
  Interface/react/testing/unit testing/classes/clientMessage.test.ts
  Interface/react/testing/unit testing/classes/orchestratorMessage.test.ts
  Interface/react/testing/unit testing/classes/timelineData.test.ts
  Interface/react/testing/unit testing/classes/useAuthState.test.ts
  Interface/react/testing/unit testing/components/cameraCard.test.tsx
  Interface/react/testing/unit testing/components/grid.test.tsx
  Interface/react/testing/unit testing/components/loggedInUser.test.tsx
  Interface/react/testing/unit testing/components/loginButton.test.tsx
  Interface/react/testing/unit testing/components/navbar.test.tsx
  Interface/react/testing/unit testing/components/objectCard.test.tsx
  Interface/react/testing/unit testing/components/objectTypeFilter.test.tsx
  Interface/react/testing/unit testing/components/selectionCard.test.tsx
  Interface/react/testing/unit testing/components/timelineCard.test.tsx
  Interface/react/testing/unit testing/components/videoplayer.test.tsx
  Interface/react/testing/unit testing/pages/app.test.tsx
  Interface/react/testing/unit testing/pages/home.test.tsx
  Interface/react/testing/unit testing/pages/needLogin.test.tsx
  Interface/react/testing/unit testing/pages/timelines.test.tsx
  Interface/react/testing/unit testing/utilities/mockAuthContextProvider.tsx
Due: Interface

FIX: Removed last trace of keycloak
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/index.tsx
Due: Interface

FFT: improve torchreid performance
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/i_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/pytorch_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
Due: Processor

FIX: rename
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

OTH: Removed mocks folder
  Interface/Dockerfile
  Interface/react/__mocks__/@react-keycloak/web.js
  Interface/react/testing/unit testing/components/videoplayer.test.tsx
Due: Interface

FFT: Removed keycloak and added generic oauth2 client (#202)
  Interface/Dockerfile
  Interface/README.md
  Interface/react/__mocks__/@react-keycloak/web.js
  Interface/react/package-lock.json
  Interface/react/package.json
  Interface/react/public/settings.json
  Interface/react/src/app.tsx
  Interface/react/src/classes/useAuthState.ts
  Interface/react/src/components/authContext.tsx
  Interface/react/src/components/environmentContext.tsx
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/src/index.tsx
  Interface/react/src/keycloak.tsx
  Interface/react/src/pages/needLogin.tsx
  Interface/react/testing/unit testing/classes/clientMessage.test.ts
  Interface/react/testing/unit testing/classes/orchestratorMessage.test.ts
  Interface/react/testing/unit testing/classes/timelineData.test.ts
  Interface/react/testing/unit testing/classes/useAuthState.test.ts
  Interface/react/testing/unit testing/components/cameraCard.test.tsx
  Interface/react/testing/unit testing/components/grid.test.tsx
  Interface/react/testing/unit testing/components/loggedInUser.test.tsx
  Interface/react/testing/unit testing/components/loginButton.test.tsx
  Interface/react/testing/unit testing/components/navbar.test.tsx
  Interface/react/testing/unit testing/components/objectCard.test.tsx
  Interface/react/testing/unit testing/components/objectTypeFilter.test.tsx
  Interface/react/testing/unit testing/components/selectionCard.test.tsx
  Interface/react/testing/unit testing/components/timelineCard.test.tsx
  Interface/react/testing/unit testing/components/videoplayer.test.tsx
  Interface/react/testing/unit testing/pages/app.test.tsx
  Interface/react/testing/unit testing/pages/home.test.tsx
  Interface/react/testing/unit testing/pages/needLogin.test.tsx
  Interface/react/testing/unit testing/pages/timelines.test.tsx
  Interface/react/testing/unit testing/utilities/mockAuthContextProvider.tsx
Due: Interface

FIX: removed old images
  Interface/react/public/car.PNG
  Interface/react/public/garden.PNG
  Interface/react/public/guy.PNG
Due: Interface

FIX: remove copy right footer
  Interface/react/src/pages/home.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@e32fce6f08aaab826dade3bbf01888683952a08d 🚀
  index.html
Due: none

FFT: Add root readme
  README.md
Due: none

FIX: Spelling Grammar.
  README.md
Due: none

FFT: Add root readme (#205)
  README.md
Due: none

FIX: removed old images (#203)
  Interface/react/public/car.PNG
  Interface/react/public/garden.PNG
  Interface/react/public/guy.PNG
Due: Interface

FIX: remove copy right footer (#204)
  Interface/react/src/pages/home.tsx
Due: Interface

FIX auto reload player
  Interface/react/src/components/videojsPlayer.tsx
Due: Interface

FIX: Added no-auth state no-auth state is used when auth params have not been given in the settings file.
  Interface/README.md
  Interface/react/setupJest.js
  Interface/react/src/app.tsx
  Interface/react/src/components/authContext.tsx
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/videojsPlayer.tsx
Due: Interface

FIX: Added no-auth state (#206)
  Interface/README.md
  Interface/react/setupJest.js
  Interface/react/src/app.tsx
  Interface/react/src/components/authContext.tsx
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/videojsPlayer.tsx
Due: Interface

FIX auto reload player (#207)
  Interface/react/src/components/videojsPlayer.tsx
Due: Interface

FIX: interface readme
  Interface/README.md
  Interface/react/public/settings.json
Due: Interface

FFT: Added the documentation generation of the interface
  .dockerignore
  Dockerfile
  Interface/react/package-lock.json
  Interface/react/package.json
  Interface/react/src/components/videojsPlayer.tsx
  docs/documentation.py
Due: Interface

FIX: using src logo
  Interface/react/public/logo.gif
  Interface/react/src/components/navbar.tsx
Due: Interface

FIX: using src logo (#209)
  Interface/react/public/logo.gif
  Interface/react/src/components/navbar.tsx
Due: Interface

FFT: Added the documentation generation of the interface (#208)
  .dockerignore
  Dockerfile
  Interface/react/package-lock.json
  Interface/react/package.json
  Interface/react/src/components/videojsPlayer.tsx
  docs/documentation.py
Due: Interface

OTH: Changed documentation to be in line with the rest
  ProcessorOrchestrator/README.md
Due: none

DOC: Removed CAMERA_ID, HLS_STREAM_URL or ORCHESTRATOR_URL
  CameraProcessor/configs.ini
Due: none

FIX: removing composes
  CameraProcessor/README.md
  CameraProcessor/docker-compose.yml
  Interface/docker-compose.yml
  ProcessorOrchestrator/docker-compose.yml
  VideoForwarder/docker-compose.yml
Due: none

Path conditions:
  Forwarder: any of: VideoForwarder/src
  Interface: any of: Interface/react
  Orchestrator: any of: ProcessorOrchestrator/src
  Processor: any of: CameraProcessor/processor
