Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@e2309837a57dfc172a368fd2c1cf22e516bfd5b5 🚀
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/i_dataloader.html
  CameraProcessor/processor/processor/dataloaders/json_dataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
Due: Processor

DOC: include comments for main, input, and orchestrator configs.ini
  CameraProcessor/configs.ini
Due: none

FIX docstring update
  CameraProcessor/processor/dataloaders/i_dataloader.py
Due: Processor

TST start testing idataloader
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
Due: none

FIX Capture test uses correct config for image path.
  CameraProcessor/tests/unittests/input/conftest.py
Due: none

CRF move self.image_dimensions to MotDataloader
  CameraProcessor/processor/dataloaders/mot_dataloader.py
Due: Processor

TST start testing MOT and COCO dataloaders
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_mot_dataloader.py
Due: none

DOC: comments for part of pipeline algorithm configs.ini
  CameraProcessor/configs.ini
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@a1ab44b88841158a97aa5a3e404c728c4d6cbe02 🚀
  CameraProcessor/processor/processor/dataloaders/i_dataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@93f6c542f6ace5b1b0b69338b3f5c52d9be9be9a 🚀
  index.html
Due: none

CRF: Minor linting fix
  CameraProcessor/processor/dataloaders/coco_dataloader.py
  CameraProcessor/processor/dataloaders/i_dataloader.py
  CameraProcessor/processor/dataloaders/json_dataloader.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@d1c499960d91dc74840010aeaf67cab0308def02 🚀
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/i_dataloader.html
  CameraProcessor/processor/processor/dataloaders/json_dataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  index.html
Due: Processor

TST: Updated unit tests
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
Due: none

UFT: updated readme for interface
  Interface/README.md
  VideoForwarder/README.md
Due: none

Debug settings
  CameraProcessor/configs.ini
  CameraProcessor/filter.names
  CameraProcessor/processor/accuracy_runner.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@fd96028619ed4434b66f5adaab20c521ccf2a7da 🚀
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/i_dataloader.html
  CameraProcessor/processor/processor/dataloaders/json_dataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  utility/utility/docstring_content_checker.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@03d2a491a206c6ded71373211b57e281882eae7c 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/training/tracking.html
  CameraProcessor/processor/processor/training/tracking/tracking_accuracy.html
Due: Processor

FFT: Training fast reid
  CameraProcessor/configs.ini
  CameraProcessor/processor/training/README.md
  CameraProcessor/processor/training/detection/train.py
  CameraProcessor/processor/training/reidentification/train.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@4c9f532a61a8c49eac37a77ea90adeba7e3a739a 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor.html
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/training/detection/train.html
  CameraProcessor/processor/processor/training/reidentification/train.html
  CameraProcessor/processor/processor/training/tracking.html
  index.html
Due: Processor

FIX: Extend Fast-REID config (#150)
  CameraProcessor/configs.ini
  CameraProcessor/processor/training/README.md
  CameraProcessor/processor/training/detection/train.py
  CameraProcessor/processor/training/reidentification/train.py
Due: Processor

FFT: ignore http auth
  VideoForwarder/src/camera_handler.py
  VideoForwarder/src/main.py
Due: Forwarder

FIX: Handle switching re-id during runtime
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/i_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@270d8299cdb89bfc694250bdba26053634cb1eb1 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/training/detection/train.html
  CameraProcessor/processor/processor/training/reidentification/train.html
  CameraProcessor/processor/processor/utils/authentication.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  VideoForwarder/src/src/camera_handler.html
  VideoForwarder/src/src/main.html
Due: Forwarder, Processor

FIX Comment checker works, docstring will not
  CameraProcessor/processor/webhosting/stop_command.py
  utility/comment_checker.py
  utility/docstring_checker.py
Due: Processor

FIX: Grammar and spelling.
  CameraProcessor/README.md
  Interface/README.md
  ProcessorOrchestrator/README.md
  README.md
  VideoForwarder/README.md
Due: none

FFT: Also enforce other environment variables
  CameraProcessor/configs.ini
  CameraProcessor/processor/main.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@98cf86f76364cfa1e75066170850b28785127729 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/scheduling/component/base_component.html
  CameraProcessor/processor/processor/scheduling/component/func_call_component.html
  CameraProcessor/processor/processor/utils.html
  CameraProcessor/processor/processor/utils/authentication.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  VideoForwarder/src/src/camera_handler.html
  VideoForwarder/src/src/main.html
  index.html
  utility/utility/comment_checker.html
Due: Forwarder, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@6598c1ad2eab0d6880a50e4497dd4658fe552e31 🚀
  CameraProcessor/processor/processor/training/detection/train.html
  CameraProcessor/processor/processor/training/reidentification/train.html
  CameraProcessor/processor/processor/webhosting/stop_command.html
  index.html
  utility/utility/comment_checker.html
  utility/utility/docstring_checker.html
Due: Processor

FFT: Remove authentication url from configs.ini
  CameraProcessor/configs.ini
  CameraProcessor/processor/utils/authentication.py
  CameraProcessor/processor/webhosting/websocket_client.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@93aedd4b896903125a9225d6404844324c13251e 🚀
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/scheduling/component/base_component.html
  CameraProcessor/processor/processor/scheduling/component/func_call_component.html
  CameraProcessor/processor/processor/webhosting/stop_command.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  utility/utility/comment_checker.html
  utility/utility/docstring_checker.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@da026932018b33dbbb373ff63616e5e4e0d1d55d 🚀
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/utils/config_parser.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@d4baa2350d00e952855010f5923f6a141e1bda25 🚀
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/utils/config_parser.html
  VideoForwarder/src/src/main.html
Due: Forwarder, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@e32eb94b7f1d34bffee99aa998af795598849dfa 🚀
  index.html
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@7a84428a2657c29437e5dc758252107842599704 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/utils/authentication.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  VideoForwarder/src/src/camera_handler.html
  VideoForwarder/src/src/main.html
Due: Forwarder, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@1638e3e8c7a401304d9fc7fd0ce1716276de92a6 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/utils.html
  CameraProcessor/processor/processor/utils/authentication.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  VideoForwarder/src/src/camera_handler.html
  VideoForwarder/src/src/main.html
Due: Forwarder, Processor

FFT: use interface cutout
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

FIX minor artifacts from testing removed
  CameraProcessor/processor/webhosting/stop_command.py
  utility/comment_checker.py
Due: Processor

Path conditions:
  Forwarder: any of: VideoForwarder/src
  Interface: any of: Interface/react
  Orchestrator: any of: ProcessorOrchestrator/src
  Processor: any of: CameraProcessor/processor
