Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

TST socket integration expansion
  Interface/react/testing/integration testing/websocketContext.test.tsx
Due: Interface

FIX added recursive submodule fetch to all builds
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Forwarder_Test_Unit.yml
  .github/workflows/Interface-Orchestrator.yml
  .github/workflows/Interface_Build.yml
  .github/workflows/Interface_Lint.yml
  .github/workflows/Interface_Test_Unit.yml
  .github/workflows/Orchestrator_Build.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Orchestrator_Test_Integration.yml
  .github/workflows/Orchestrator_Test_Unit.yml
Due: none

DOC videoplayer test comments
  Interface/react/testing/unit testing/videojsplayer.test.tsx
Due: Interface

FFT Yolor symlinked added (#34)
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Forwarder_Test_Unit.yml
  .github/workflows/Interface-Orchestrator.yml
  .github/workflows/Interface_Build.yml
  .github/workflows/Interface_Lint.yml
  .github/workflows/Interface_Test_Unit.yml
  .github/workflows/Orchestrator_Build.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Orchestrator_Test_Integration.yml
  .github/workflows/Orchestrator_Test_Unit.yml
  .gitmodules
  .pylintrc
  CameraProcessor/.coveragerc
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/detection/yolor_runner.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: Processor

OTH: pythonpath
  Dockerfile
  docs/documentation.py
Due: none

OTH: Remove recursive
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Forwarder_Test_Unit.yml
  .github/workflows/Interface-Orchestrator.yml
  .github/workflows/Interface_Build.yml
  .github/workflows/Interface_Lint.yml
  .github/workflows/Interface_Test_Unit.yml
  .github/workflows/Orchestrator_Build.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Orchestrator_Test_Integration.yml
  .github/workflows/Orchestrator_Test_Unit.yml
  .github/workflows/Processor_Build.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

FIX: Remove modules
  .gitmodules
Due: none

UFT Image name instead of counter in accuracy runner
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/processor/input/image_capture.py
Due: Processor

OTH: Remove yolor from modules
  .gitmodules
Due: none

CRF Remove info file
  CameraProcessor/processor/accuracy_runner.py
Due: Processor

UFT Fix schoonheidsfoutjes
  CameraProcessor/processor/dataloaders/mot_dataloader.py
Due: Processor

OTH: Rmv yolov5 submodule
  .gitmodules
Due: none

TST: Refresh symlink to yolor
  .gitmodules
Due: none

CRF split get_image_path into get_image_name & get_image_path
  CameraProcessor/processor/dataloaders/mot_dataloader.py
Due: Processor

UFT add image_id to BoundingBoxes
  CameraProcessor/processor/data_object/bounding_boxes.py
Due: Processor

no message
  .gitmodules
Due: none

FIX: Reset symlinks
  .gitmodules
Due: none

UFT A BoundingBoxes object per frame
  CameraProcessor/processor/dataloaders/coco_dataloader.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
Due: Processor

UFT normalize MOT boxes
  CameraProcessor/processor/dataloaders/coco_dataloader.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
Due: Processor

CRF Use configs in coco init
  CameraProcessor/processor/dataloaders/coco_dataloader.py
Due: Processor

TST: Two files with different config
  .github/workflows/Processor_Build.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

UFT Don't use .jpg in image_id
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/processor/dataloaders/coco_dataloader.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
Due: Processor

UFT fix coco image_id
  CameraProcessor/processor/dataloaders/coco_dataloader.py
Due: Processor

FIX: install git-lfs
  .github/workflows/Processor_Test_Unit.yml
Due: none

FIX: Invalid yml file
  .github/workflows/Processor_Test_Unit.yml
Due: none

TST: Use custom key
  .github/workflows/Processor_Test_Unit.yml
  .pylintrc
Due: none

OTH: Set sshcommand for submodules
  .github/workflows/Processor_Test_Unit.yml
Due: none

FIX: Checkout submodules
  .github/workflows/Processor_Test_Unit.yml
Due: none

OTH: Add status checks
  .github/workflows/Processor_Test_Unit.yml
Due: none

FIX: Remove first statuscheck
  .github/workflows/Processor_Test_Unit.yml
Due: none

FIX: Also remove yolov5
  .github/workflows/Processor_Test_Unit.yml
Due: none

OTH: Remove old submodules
  .github/workflows/Processor_Test_Unit.yml
Due: none

RFT: Removed print statements
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

TST: Removing modules individually
  .github/workflows/Processor_Test_Unit.yml
Due: none

OTH: Add modules
  .github/workflows/Processor_Test_Unit.yml
Due: none

FIX: Recursive remove
  .github/workflows/Processor_Test_Unit.yml
Due: none

TST: Not use relative path
  .github/workflows/Processor_Test_Unit.yml
Due: none

FIX: Use v1
  .github/workflows/Processor_Test_Unit.yml
Due: none

FIX: Bug with imports
  .github/workflows/Processor_Test_Unit.yml
  CameraProcessor/requirements.txt
Due: none

Path conditions:
  Forwarder: any of: VideoForwarder/src
  Interface: any of: Interface/react
  Orchestrator: any of: ProcessorOrchestrator/src
  Processor: any of: CameraProcessor/processor
