Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

codecov.yml:

codecov:
  branch: develop
  max_report_age: off

coverage:
  status:
    project:
      default: off
      Forwarder:
        target: 100%
        flags:
          - Forwarder
      Interface:
        target: 100%
        flags:
          - Interface
      Orchestrator:
        target: 100%
        flags:
          - Orchestrator
      Processor:
        target: 100%
        flags:
          - Processor

flags:
  # filter the folder(s) you wish to measure by that flag
  Forwarder:
    # only include files in the backend folder
    paths:
      -  VideoForwarder/src
  Interface:
    paths:
      - Interface/react
  Orchestrator:
    paths:
      - ProcessorOrchestrator/src
  Processor:
    paths:
      - CameraProcessor/processor

Deploying to gh-pages from @ UU-tracktech/tracktech@bff3c86a0c42492e3705597a8b372b2f19e28c88 🚀
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  index.html
Due: Processor

FFT: removed picture in picture (#96)
  Interface/react/src/components/overlay.tsx
Due: Interface

FFT: object id on boxes (#95)
  Interface/react/src/components/overlay.tsx
  Interface/react/src/pages/home.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@621cae5f83e51cbcb6e0815b35295c8d5fb35a69 🚀
  VideoForwarder/src/src/camera_handler.html
  VideoForwarder/src/src/main.html
Due: Forwarder

FFT: Now detects all missing docstrings + fixed them
  .pylintrc
  CameraProcessor/processor/dataloaders/coco_dataloader.py
  CameraProcessor/processor/dataloaders/idataloader.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
  CameraProcessor/tests/unittests/scheduling/node/test_schedule_node.py
  CameraProcessor/tests/unittests/utils/exception_handler_process.py
  CameraProcessor/tests/unittests/utils/fake_websocket.py
  VideoForwarder/src/camera_handler.py
  utility/docstring_checker.py
  utility/docstring_content_checker.py
Due: Forwarder, Processor

FIX: Docstrings **kwargs
  CameraProcessor/tests/unittests/utils/exception_handler_process.py
  utility/docstring_content_checker.py
Due: none

OTH: Rename to deploy
  CameraProcessor/Dockerfile
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@7605b0c384ea6f75d9f84bc91c7b7e540cbc0677 🚀
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/idataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  VideoForwarder/src/src/camera_handler.html
  VideoForwarder/src/src/main.html
  index.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
Due: Forwarder, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@52d0e56d3dc7047ad13df42fe6b3e7d209f9bf4e 🚀
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/idataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/utils/config_parser.html
  VideoForwarder/src/src/camera_handler.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
Due: Forwarder, Processor

DOC: Update documentation
  CameraProcessor/README.md
Due: none

CRF comments ending with dod
  ProcessorOrchestrator/tests/integration_testing/communication_test.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@20c52e6099be9970dcddebf95d7a0ae02396b894 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/utils/config_parser.html
  CameraProcessor/processor/processor/webhosting/update_command.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  ProcessorOrchestrator/src/src/processor_socket.html
  index.html
Due: Orchestrator, Processor

CRF
  CameraProcessor/processor/webhosting/update_command.py
Due: Processor

CRF logging + docstring unittests
  CameraProcessor/tests/unittests/webhosting/test_update_command.py
  ProcessorOrchestrator/src/processor_socket.py
Due: Orchestrator

Deploying to gh-pages from @ UU-tracktech/tracktech@44501bce6016065b81021f51410f6e6430b65835 🚀
  CameraProcessor/processor/processor/webhosting/update_command.html
  index.html
Due: Processor

FIX: More linting errors
  CameraProcessor/tests/unittests/utils/websocket_coroutines.py
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/processor_socket.py
  VideoForwarder/tests/unittest/auth_server_unit_test.py
  utility/docstring_content_checker.py
  utility/pylint_ignore.py
Due: Orchestrator

Deploying to gh-pages from @ UU-tracktech/tracktech@56438e76e5bf9b35fd103a61dc71b66fd0151c28 🚀
  ProcessorOrchestrator/src/src/processor_socket.html
Due: Orchestrator

Deploying to gh-pages from @ UU-tracktech/tracktech@e84ed692f0426f1df4688e50666689933844cd30 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/idataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/webhosting.html
  CameraProcessor/processor/processor/webhosting/update_command.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  ProcessorOrchestrator/src/src/client_socket.html
  ProcessorOrchestrator/src/src/processor_socket.html
  VideoForwarder/src/src/camera_handler.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Forwarder, Orchestrator, Processor

Spc 721 receive and handle featuremaps (#91)
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/webhosting/update_command.py
  CameraProcessor/processor/webhosting/websocket_client.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/unittests/webhosting/test_update_command.py
  ProcessorOrchestrator/src/processor_socket.py
  ProcessorOrchestrator/tests/integration_testing/communication_test.py
Due: Orchestrator, Processor

FFT: Now detects all missing docstrings + fixed them (#99)
  .pylintrc
  CameraProcessor/processor/dataloaders/coco_dataloader.py
  CameraProcessor/processor/dataloaders/idataloader.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
  CameraProcessor/tests/unittests/scheduling/node/test_schedule_node.py
  CameraProcessor/tests/unittests/utils/exception_handler_process.py
  CameraProcessor/tests/unittests/utils/fake_websocket.py
  CameraProcessor/tests/unittests/utils/websocket_coroutines.py
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/processor_socket.py
  VideoForwarder/src/camera_handler.py
  VideoForwarder/tests/unittest/auth_server_unit_test.py
  utility/docstring_checker.py
  utility/docstring_content_checker.py
  utility/pylint_ignore.py
Due: Forwarder, Orchestrator, Processor

Spc 760 make camera processor work inside docker (#97)
  CameraProcessor/Dockerfile
  CameraProcessor/README.md
  CameraProcessor/configs.ini
  CameraProcessor/docker-compose.yml
  CameraProcessor/processor/pipeline/prepare_pipeline.py
  CameraProcessor/processor/utils/config_parser.py
  CameraProcessor/requirements-test.txt
  CameraProcessor/requirements.txt
  CameraProcessor/test-configs.ini
Due: Processor

FFT: Single keycloak mock
  Interface/react/__mocks__/@react-keycloak/web.js
Due: Interface

TSTL updated app to new KC mock
  Interface/react/testing/unit testing/app.test.tsx
Due: Interface

TST authState updated to new KC mock
  Interface/react/testing/unit testing/authState.test.tsx
Due: Interface

DOC consistency
  Interface/react/testing/unit testing/cameraCard.test.tsx
  Interface/react/testing/unit testing/clientMessage.test.tsx
Due: Interface

DOC more updates for consistency
  Interface/react/testing/unit testing/grid.test.tsx
  Interface/react/testing/unit testing/home.test.tsx
Due: Interface

TST updated loggedInUser to new KC mock
  Interface/react/testing/unit testing/loggedInUser.test.tsx
Due: Interface

TST updated loginButton to new KC mock
  Interface/react/testing/unit testing/loginButton.test.tsx
Due: Interface

DOC test comment consistency
  Interface/react/testing/unit testing/loginButton.test.tsx
  Interface/react/testing/unit testing/objectTypeFilter.test.tsx
  Interface/react/testing/unit testing/orchestratorMessage.test.tsx
  Interface/react/testing/unit testing/selection.test.tsx
Due: Interface

DOC again more consistency in comments
  Interface/react/testing/unit testing/loginButton.test.tsx
  Interface/react/testing/unit testing/videojsplayer.test.tsx
Due: Interface

TST fix integration and updated dockerfile
  Interface/Dockerfile
  Interface/react/testing/integration testing/websocketContext.test.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@28a4f1837924e21ecac23b0edd1f763ab4661d82 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/utils/config_parser.html
  CameraProcessor/processor/processor/webhosting/update_command.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  ProcessorOrchestrator/src/src/processor_socket.html
Due: Orchestrator, Processor

FIX tests
  CameraProcessor/processor/webhosting/start_command.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
Due: Processor
