Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

codecov.yml:

codecov:
  branch: develop
  max_report_age: off

coverage:
  status:
    project:
      default: off
      Forwarder:
        target: 100%
        flags:
          - Forwarder
      Interface:
        target: 100%
        flags:
          - Interface
      Orchestrator:
        target: 100%
        flags:
          - Orchestrator
      Processor:
        target: 100%
        flags:
          - Processor

flags:
  # filter the folder(s) you wish to measure by that flag
  Forwarder:
    # only include files in the backend folder
    paths:
      -  VideoForwarder/src
  Interface:
    paths:
      - Interface/react
  Orchestrator:
    paths:
      - ProcessorOrchestrator/src
  Processor:
    paths:
      - CameraProcessor/processor

FIX Test
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: none

DOC: First part of comment revision
  Interface/react/src/classes/clientMessage.ts
  Interface/react/src/classes/size.ts
  Interface/react/src/classes/source.ts
  Interface/react/src/classes/timelineData.ts
  Interface/react/src/classes/useAuthState.ts
  Interface/react/src/components/cameraCard.tsx
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
Due: Interface

CRF Added new identifier superclass
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/i_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/pytorch_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
Due: Processor

FIX linting
  CameraProcessor/processor/pipeline/reidentification/i_re_identifier.py
  CameraProcessor/tests/unittests/utils/fake_re_identifier.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@ccf37dc3df2298a0f3ad56126cf2e95f30ca2702 🚀
  index.html
Due: none

FIX: seperate http testing
  VideoForwarder/tests/unittest/auth_setup.py
Due: none

FIX: stragglers
  VideoForwarder/Dockerfile
  VideoForwarder/tests/auth_http_server_unit_test.py
  VideoForwarder/tests/auth_server_unit_test.py
  VideoForwarder/tests/auth_setup.py
  VideoForwarder/tests/files/cert.pem
  VideoForwarder/tests/files/key.pem
  VideoForwarder/tests/files/private_key.pem
  VideoForwarder/tests/files/public_key.pem
  VideoForwarder/tests/server_unit_test.py
  VideoForwarder/tests/slow_server_unit_test.py
  VideoForwarder/tests/unit_test.py
  VideoForwarder/tests/unittest/__init__.py
  VideoForwarder/tests/unittest/auth_setup.py
Due: none

FIX fake reidentifier
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: none

FIX: docs
  VideoForwarder/tests/auth_http_server_unit_test.py
  VideoForwarder/tests/auth_server_unit_test.py
  VideoForwarder/tests/auth_setup.py
  VideoForwarder/tests/server_unit_test.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@d858908097d7521b3f5cb86c3773e29fa92b5dcc 🚀
  index.html
Due: none

FIX: only update docs on master push
  .github/workflows/Documentation.yml
Due: none

FIX: removed bbb (#166)
  VideoForwarder/Dockerfile
  VideoForwarder/tests/auth_http_server_unit_test.py
  VideoForwarder/tests/auth_server_unit_test.py
  VideoForwarder/tests/auth_setup.py
  VideoForwarder/tests/files/cert.pem
  VideoForwarder/tests/files/key.pem
  VideoForwarder/tests/files/private_key.pem
  VideoForwarder/tests/files/public_key.pem
  VideoForwarder/tests/server_unit_test.py
  VideoForwarder/tests/slow_server_unit_test.py
  VideoForwarder/tests/unit_test.py
  VideoForwarder/tests/unittest/__init__.py
Due: none

FIX: changed dirs
  utility/Auth/Dockerfile
Due: none

FIX: only update docs on master push (#167)
  .github/workflows/Documentation.yml
Due: none

FIX extract_features_from_cutout now in superclass
  CameraProcessor/processor/pipeline/reidentification/pytorch_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
Due: Processor

FIX moved some not implemented functions to interface
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/i_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/pytorch_re_identifier.py
Due: Processor

CRF Remove unused Get Image Dimensions from JSONDataloader
  CameraProcessor/processor/dataloaders/json_dataloader.py
Due: Processor

FIX: create utili folder in image
  utility/Auth/Dockerfile
Due: none

TST MotDataloader get image dimensions tests
  CameraProcessor/tests/unittests/dataloaders/test_mot_dataloader.py
Due: none

DOC fix docstring mistakes
  CameraProcessor/processor/dataloaders/i_dataloader.py
Due: Processor

UFT: Moved commands, from_json for most commands
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/webhosting/start_command.py
  CameraProcessor/processor/webhosting/start_command_extended.py
  CameraProcessor/processor/webhosting/start_command_search.py
  CameraProcessor/processor/webhosting/start_command_simple.py
  CameraProcessor/processor/webhosting/stop_command.py
  CameraProcessor/processor/webhosting/update_command.py
  CameraProcessor/processor/websocket/boxes_command.py
  CameraProcessor/processor/websocket/identify_command.py
  CameraProcessor/processor/websocket/start_command.py
  CameraProcessor/processor/websocket/stop_command.py
  CameraProcessor/processor/websocket/update_command.py
  CameraProcessor/processor/websocket/websocket_client.py
  CameraProcessor/tests/orchestratorintegrationtests/super_websocket_client.py
Due: Processor

FIX no-member
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/pytorch_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
Due: Processor

FIX missing docstring
  CameraProcessor/processor/pipeline/reidentification/pytorch_re_identifier.py
Due: Processor

CRF fix typing, docstring
  CameraProcessor/processor/dataloaders/i_dataloader.py
Due: Processor

CRF Construct path using OS Path
  CameraProcessor/processor/dataloaders/coco_dataloader.py
Due: Processor

TST Conftest with bbox examples
  CameraProcessor/tests/unittests/conftest.py
  CameraProcessor/tests/unittests/utils/conftest.py
Due: none

TST update Idataloader and coco tests
  CameraProcessor/processor/training/detection/accuracy_object.py
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
Due: Processor

FIX: tility
  .github/workflows/Auth_Lint.yml
Due: none

FIX: renamed auth container
  utility/Auth/compose/docker-compose_lint.yml
Due: none

OTH: Intermediate push
  CameraProcessor/processor/dataloaders/i_dataloader.py
  CameraProcessor/processor/training/detection/accuracy_object.py
  CameraProcessor/tests/unittests/conftest.py
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_json_dataloader.py
Due: Processor

TST: Create tests for dataloaders
  CameraProcessor/processor/dataloaders/coco_dataloader.py
  CameraProcessor/processor/dataloaders/i_dataloader.py
  CameraProcessor/test-configs.ini
  CameraProcessor/tests/unittests/conftest.py
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_json_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_mot_dataloader.py
Due: Processor

UFT: Unit tests dataloaders
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_mot_dataloader.py
Due: none

FIX: Linting.
  CameraProcessor/processor/training/detection/accuracy_object.py
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_json_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_mot_dataloader.py
  CameraProcessor/tests/unittests/utils/conftest.py
Due: Processor

Spc 793 update and add readmes (#152)
  CameraProcessor/.dockerignore
  CameraProcessor/README.md
  Interface/README.md
  ProcessorOrchestrator/README.md
  VideoForwarder/README.md
  VideoForwarder/src/main.py
Due: Forwarder

Spc 793 update and add readmes (#152)
  CameraProcessor/.dockerignore
  CameraProcessor/README.md
  Interface/README.md
  ProcessorOrchestrator/README.md
  README.md
  VideoForwarder/README.md
  VideoForwarder/src/main.py
Due: Forwarder

UFT: Accuracy object test.
  CameraProcessor/processor/training/detection/accuracy_object.py
  CameraProcessor/tests/unittests/training/detection/test_accuracy_object.py
Due: Processor

TST: Finished tests for coco dataloader
  CameraProcessor/.gitignore
  CameraProcessor/processor/dataloaders/coco_dataloader.py
  CameraProcessor/processor/dataloaders/i_dataloader.py
  CameraProcessor/test-configs.ini
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
Due: Processor

UFT: Unit tests.
  CameraProcessor/configs.ini
  CameraProcessor/processor/dataloaders/mot_dataloader.py
  CameraProcessor/processor/training/detection/accuracy_object.py
  CameraProcessor/tests/unittests/dataloaders/test_json_dataloader.py
Due: Processor
