Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

FIX added git lfs install to yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

FIX attempting to install git-lfs in container
  .github/workflows/Processor_Test_Unit.yml
  CameraProcessor/Dockerfile
Due: none

FIX Installing git lfs in checkout container?
  .github/workflows/Processor_Test_Unit.yml
  CameraProcessor/Dockerfile
Due: none

FIX Added COPY coco.names
  CameraProcessor/Dockerfile
Due: none

FIX typo
  .github/workflows/Processor_Test_Unit.yml
Due: none

FIX remove unneccessary comment
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: none

FIX: Explicit container name (#52)
  Interface/compose/docker-compose_test_integration.yml
Due: none

FFT: auth state
  Interface/react/src/app.tsx
  Interface/react/src/classes/useAuthState.ts
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/pages/needLogin.tsx
Due: Interface

FIX: changed requirements
  CameraProcessor/requirements-gpu.txt
Due: none

FIX: Updated requirements-gpu.txt
  CameraProcessor/requirements-gpu.txt
Due: none

TST authstate added
  Interface/react/testing/unit testing/authState.test.tsx
Due: Interface

TST updated tests for authState
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/testing/unit testing/app.test.tsx
  Interface/react/testing/unit testing/grid.test.tsx
  Interface/react/testing/unit testing/loggedInUser.test.tsx
  Interface/react/testing/unit testing/loginButton.test.tsx
Due: Interface

TST slightly improved coverage
  Interface/react/src/app.tsx
  Interface/react/testing/unit testing/app.test.tsx
Due: Interface

TST: GitHub Pages
  .github/workflows/Documentation.yml
Due: none

TST: Pages
  .github/workflows/Documentation.yml
Due: none

FIX: indent
  .github/workflows/Documentation.yml
Due: none

TST: now with fork
  .github/workflows/Documentation.yml
Due: none

TST: Ubuntu
  .github/workflows/Documentation.yml
Due: none

Spc 570 keycloak interface improvement (#54)
  Interface/react/src/app.tsx
  Interface/react/src/classes/useAuthState.ts
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/testing/unit testing/app.test.tsx
  Interface/react/testing/unit testing/authState.test.tsx
  Interface/react/testing/unit testing/grid.test.tsx
  Interface/react/testing/unit testing/loggedInUser.test.tsx
  Interface/react/testing/unit testing/loginButton.test.tsx
Due: Interface

FFT: Extract features from tracked subjects
  CameraProcessor/processor/data_object/reid_data.py
  CameraProcessor/processor/pipeline/framebuffer.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
  CameraProcessor/processor/pipeline/tracking/itracker.py
  CameraProcessor/processor/pipeline/tracking/sort_tracker.py
  CameraProcessor/processor/utils/convert.py
Due: Processor

TST: Permissions
  .github/workflows/Documentation.yml
Due: none

FIX: Update requirements-gpu.txt
  CameraProcessor/requirements-gpu.txt
Due: none

CRF Removed LFS usage, yolor now downloads weights dynamically
  .gitattributes
  .github/workflows/Processor_Test_Unit.yml
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/detection/yolor_runner.py
  CameraProcessor/yolor_p6.pt
Due: Processor

FIX Removed bad COPY
  CameraProcessor/Dockerfile
Due: none

FIX requirements-gpu downloads yolor requirements too
  CameraProcessor/requirements-gpu.txt
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@b18539c43432d193abc7166820635ae8b1b68a58 🚀
  index.html
Due: none

CRF Removed LFS usage, yolor now downloads weights dynamically (#57)
  .gitattributes
  .github/workflows/Processor_Test_Unit.yml
  CameraProcessor/Dockerfile
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/detection/yolor_runner.py
  CameraProcessor/requirements-gpu.txt
  CameraProcessor/yolor_p6.pt
Due: Processor

FIX: Gerard
  .github/workflows/Documentation.yml
Due: none

Path conditions:
  Forwarder: any of: VideoForwarder/src
  Interface: any of: Interface/react
  Orchestrator: any of: ProcessorOrchestrator/src
  Processor: any of: CameraProcessor/processor
