Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

codecov.yml:

codecov:
  branch: develop
  max_report_age: off

coverage:
  status:
    project:
      default: off
      Forwarder:
        target: 100%
        flags:
          - Forwarder
      Interface:
        target: 100%
        flags:
          - Interface
      Orchestrator:
        target: 100%
        flags:
          - Orchestrator
      Processor:
        target: 100%
        flags:
          - Processor

flags:
  # filter the folder(s) you wish to measure by that flag
  Forwarder:
    # only include files in the backend folder
    paths:
      -  VideoForwarder/src
  Interface:
    paths:
      - Interface/react
  Orchestrator:
    paths:
      - ProcessorOrchestrator/src
  Processor:
    paths:
      - CameraProcessor/processor

FFT: Create training for multiple modes
  CameraProcessor/configs.ini
  CameraProcessor/processor/training/detection/train.py
Due: Processor

TST: updated bounding box JSON output used by test_to_json()
  CameraProcessor/tests/unittests/data_object/test_bounding_box.py
Due: none

FFT: Updated docs for multi-gpu training.
  CameraProcessor/configs.ini
  CameraProcessor/processor/training/detection/README.md
  CameraProcessor/processor/training/detection/train.py
Due: Processor

FFT: added classification to bbox text (#41)
  CameraProcessor/processor/utils/text.py
  CameraProcessor/tests/unittests/data_object/test_bounding_box.py
  CameraProcessor/tests/unittests/utils/test_text.py
Due: Processor

FFT: Create training for multiple modes (#44)
  CameraProcessor/configs.ini
  CameraProcessor/processor/training/detection/README.md
  CameraProcessor/processor/training/detection/train.py
Due: Processor

UFT: Tracking dict
  CameraProcessor/processor/data_object/bounding_box.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/tracking/itracker.py
  CameraProcessor/processor/pipeline/tracking/sort_tracker.py
  CameraProcessor/processor/utils/text.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/unittests/data_object/test_bounding_box.py
  CameraProcessor/tests/unittests/pipeline/tracking/test_itracker.py
  CameraProcessor/tests/unittests/utils/fake_tracker.py
Due: Processor

FIX : Linting
  CameraProcessor/processor/data_object/bounding_box.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
Due: Processor

UFT: Tracking dict (#45)
  CameraProcessor/processor/data_object/bounding_box.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/tracking/itracker.py
  CameraProcessor/processor/pipeline/tracking/sort_tracker.py
  CameraProcessor/processor/utils/text.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/unittests/data_object/test_bounding_box.py
  CameraProcessor/tests/unittests/pipeline/tracking/test_itracker.py
  CameraProcessor/tests/unittests/utils/fake_tracker.py
Due: Processor

UFT: extract features from bounding boxes using torchreid
  CameraProcessor/configs.ini
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/utils/features.py
  CameraProcessor/processor/webhosting/stream_handler.py
Due: Processor

FIX: stop command crashes the camera processor
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

FIX: stop command crashes the camera processor (#48)
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

FFT: docs
  VideoForwarder/readme.md
  VideoForwarder/src/main.py
Due: Forwarder

FIX edited Darknet load
  CameraProcessor/processor/pipeline/detection/yolor_runner.py
Due: Processor

FIX COPY yolor_p6.pt added
  CameraProcessor/Dockerfile
Due: none

FFT: rmi all
  .github/workflows/Documentation.yml
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Forwarder_Test_Unit.yml
  .github/workflows/Interface-Orchestrator.yml
  .github/workflows/Interface_Build.yml
  .github/workflows/Interface_Lint.yml
  .github/workflows/Interface_Test_Unit.yml
  .github/workflows/Orchestrator_Build.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Orchestrator_Test_Integration.yml
  .github/workflows/Orchestrator_Test_Unit.yml
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Build.yml
  .github/workflows/Processor_Lint.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

FFT: docs (#49)
  VideoForwarder/readme.md
  VideoForwarder/src/main.py
Due: Forwarder

FIX: Fixed tracking timelines file management
  ProcessorOrchestrator/Dockerfile
  ProcessorOrchestrator/src/timeline_handler.py
Due: Orchestrator

FIX: Close file
  ProcessorOrchestrator/src/timeline_handler.py
Due: Orchestrator

FIX: Fixed tracking timelines file management (#51)
  ProcessorOrchestrator/Dockerfile
  ProcessorOrchestrator/src/timeline_handler.py
Due: Orchestrator

FFT: rmi all (#50)
  .github/workflows/Documentation.yml
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Forwarder_Test_Unit.yml
  .github/workflows/Interface-Orchestrator.yml
  .github/workflows/Interface_Build.yml
  .github/workflows/Interface_Lint.yml
  .github/workflows/Interface_Test_Unit.yml
  .github/workflows/Orchestrator_Build.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Orchestrator_Test_Integration.yml
  .github/workflows/Orchestrator_Test_Unit.yml
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Build.yml
  .github/workflows/Processor_Lint.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

FIX: Explicit container name
  Interface/compose/docker-compose_test_integration.yml
Due: none

UFT: added simlink for torchreid
  .gitmodules
  CameraProcessor/processor/pipeline/reidentification/ireidentifier.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
  CameraProcessor/requirements-gpu.txt
Due: Processor

FFT Token storage
  Interface/react/src/index.tsx
  Interface/react/src/pages/needLogin.tsx
Due: Interface

FIX Docker TRee command for debug
  CameraProcessor/Dockerfile
Due: none

TST updated unit test for login alert
  Interface/react/testing/unit testing/app.test.tsx
Due: Interface

FFT login alert
  Interface/react/src/index.tsx
Due: Interface

FIX Attempt at fix, moved yolor_p6.pt copy location
  CameraProcessor/Dockerfile
Due: none

Revert "FIX Attempt at fix, moved yolor_p6.pt copy location"
  CameraProcessor/Dockerfile
Due: none

FIX Check file size of yolor weights
  CameraProcessor/Dockerfile
Due: none

FIX Added LFS checkout to github workflow
  .github/workflows/Processor_Test_Unit.yml
  CameraProcessor/processor/pipeline/detection/yolor_runner.py
Due: Processor
