Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

codecov.yml:

codecov:
  branch: develop
  max_report_age: off

coverage:
  status:
    project:
      default: off
      Forwarder:
        target: 100%
        flags:
          - Forwarder
      Interface:
        target: 100%
        flags:
          - Interface
      Orchestrator:
        target: 100%
        flags:
          - Orchestrator
      Processor:
        target: 100%
        flags:
          - Processor

flags:
  # filter the folder(s) you wish to measure by that flag
  Forwarder:
    # only include files in the backend folder
    paths:
      -  VideoForwarder/src
  Interface:
    paths:
      - Interface/react
  Orchestrator:
    paths:
      - ProcessorOrchestrator/src
  Processor:
    paths:
      - CameraProcessor/processor

FFT: Removed the coverage goals. (#178)
  CameraProcessor/coverage_goals.xml
  Interface/coverage_goals.xml
  ProcessorOrchestrator/coverage_goals.xml
  VideoForwarder/coverage_goals.xml
Due: none

CRF: move process_frames.opencv_display to utils.display
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/utils/display.py
Due: Processor

FIX: added forgotten sys import
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/utils/display.py
Due: Processor

FIX: added forgotten cv2 import
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

DOC: update camera processor README with re-id constraints
  CameraProcessor/README.md
Due: none

FFT: unit test frame buffer
  CameraProcessor/tests/unittests/conftest.py
  CameraProcessor/tests/unittests/pipeline/test_frame_buffer.py
Due: none

TST: Write test for websocketclient
  CameraProcessor/processor/websocket/websocket_client.py
  CameraProcessor/tests/unittests/websocket/test_websocket_client.py
Due: Processor

TST: Websocket tests and docstrings
  CameraProcessor/data/tests/unittests/base64_image.txt
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/utils/text.py
  CameraProcessor/processor/websocket/boxes_message.py
  CameraProcessor/processor/websocket/start_message.py
  CameraProcessor/processor/websocket/stop_message.py
  CameraProcessor/processor/websocket/update_message.py
  CameraProcessor/processor/websocket/websocket_client.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/orchestratorintegrationtests/test_send_messages.py
  CameraProcessor/tests/orchestratorintegrationtests/test_send_to_orchestrator.py
  CameraProcessor/tests/orchestratorintegrationtests/utils/utils.py
  CameraProcessor/tests/orchestratorintegrationtests/websocket_client_dummy.py
  CameraProcessor/tests/unittests/conftest.py
  CameraProcessor/tests/unittests/utils/dummy_websocket_client.py
  CameraProcessor/tests/unittests/utils/test_text.py
  CameraProcessor/tests/unittests/utils/websocket_coroutines.py
  CameraProcessor/tests/unittests/webhosting/test_websocket_client.py
  CameraProcessor/tests/unittests/websocket/test_boxes_message.py
  CameraProcessor/tests/unittests/websocket/test_i_message.py
  CameraProcessor/tests/unittests/websocket/test_start_message.py
  CameraProcessor/tests/unittests/websocket/test_stop_message.py
  CameraProcessor/tests/unittests/websocket/test_update_message.py
  CameraProcessor/tests/unittests/websocket/test_websocket_client.py
Due: Processor

FFT: updated version
  utility/Auth/Dockerfile
Due: none

FIX: pylintrc
  .pylintrc
Due: none

FIX: class names
  utility/Auth/auth/auth.py
  utility/Auth/auth/authentication_error.py
  utility/Auth/auth/authorization_error.py
Due: none

FIX: trainling newline
  utility/Auth/auth/auth.py
Due: none

FIX Hopefully added auth linting (#131)
  .github/workflows/Auth_Lint.yml
  .pylintrc
  utility/Auth/Dockerfile
  utility/Auth/auth/auth.py
  utility/Auth/auth/authentication_error.py
  utility/Auth/auth/authorization_error.py
  utility/Auth/compose/docker-compose_lint.yml
Due: none

FIX: Failing test
  CameraProcessor/tests/unittests/dataloaders/test_json_dataloader.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/tests/unittests/websocket/test_websocket_client.py
Due: none

FFT: auth lint folder
  .github/workflows/Auth_Lint.yml
  utility/Auth/auth/auth.py
  utility/Auth/compose/docker-compose_lint.yml
Due: none

DOC: Update readmes
  CameraProcessor/README.md
  CameraProcessor/processor/utils/README.md
  CameraProcessor/processor/webhosting/README.md
  CameraProcessor/processor/websocket/README.md
Due: Processor

UFT: Extended websocket client tests
  CameraProcessor/tests/unittests/dataloaders/test_json_dataloader.py
  CameraProcessor/tests/unittests/websocket/test_websocket_client.py
Due: none

FIX: undefined-all-variable
  CameraProcessor/processor/pipeline/detection/__init__.py
  CameraProcessor/processor/pipeline/reidentification/__init__.py
  CameraProcessor/processor/pipeline/tracking/__init__.py
Due: Processor

FIX: typo in configuration constraints
  CameraProcessor/README.md
Due: none

DOC: Updated README grammar/spelling
  CameraProcessor/processor/utils/README.md
  CameraProcessor/processor/websocket/README.md
Due: Processor

RFT: Linting
  CameraProcessor/processor/websocket/start_message.py
  CameraProcessor/tests/orchestratorintegrationtests/test_send_messages.py
  CameraProcessor/tests/unittests/websocket/test_boxes_message.py
  CameraProcessor/tests/unittests/websocket/test_start_message.py
  CameraProcessor/tests/unittests/websocket/test_websocket_client.py
Due: Processor

CRF: move process_frames.opencv_display to utils.display (#180)
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/utils/display.py
Due: Processor

RFT: Quotes
  CameraProcessor/tests/unittests/websocket/test_start_message.py
Due: none

FIX: Added hardcoded values and adresses to environment
  Interface/README.md
  Interface/react/public/settings.json
  Interface/react/src/components/environmentContext.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/src/pages/timelines.tsx
Due: Interface

SPC-797: Group pylint files inside plugins folder (#145)
  .github/workflows/Auth_Lint.yml
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Processor_Lint.yml
  .pylintrc
  CameraProcessor/Dockerfile
  CameraProcessor/processor/pipeline/detection/__init__.py
  CameraProcessor/processor/pipeline/reidentification/__init__.py
  CameraProcessor/processor/pipeline/tracking/__init__.py
  ProcessorOrchestrator/Dockerfile
  ProcessorOrchestrator/requirements-test.txt
  VideoForwarder/Dockerfile
  utility/Auth/auth/auth.py
  utility/Auth/compose/docker-compose_lint.yml
  utility/pylint-plugins/__init__.py
  utility/pylint-plugins/classes_checker.py
  utility/pylint-plugins/comment_checker.py
  utility/pylint-plugins/copyright_checker.py
  utility/pylint-plugins/docstring_checker.py
  utility/pylint-plugins/docstring_content_checker.py
Due: Processor

Update test_stop_message.py
  CameraProcessor/tests/unittests/websocket/test_stop_message.py
Due: none

FIX: readded orchestrator to configs.ini
  CameraProcessor/configs.ini
Due: none

FIX: Added second argument to test
  Interface/react/testing/unit testing/components/videoplayer.test.tsx
Due: Interface

FFT: unit test frame buffer (#182)
  CameraProcessor/tests/unittests/conftest.py
  CameraProcessor/tests/unittests/pipeline/test_frame_buffer.py
Due: none

FIX: Linting
  CameraProcessor/processor/websocket/start_message.py
Due: Processor

FIX: Grammar
  CameraProcessor/README.md
Due: none
