Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

codecov.yml:

codecov:
  branch: develop
  max_report_age: off

coverage:
  status:
    project:
      default: off
      Forwarder:
        target: 100%
        flags:
          - Forwarder
      Interface:
        target: 100%
        flags:
          - Interface
      Orchestrator:
        target: 100%
        flags:
          - Orchestrator
      Processor:
        target: 100%
        flags:
          - Processor

flags:
  # filter the folder(s) you wish to measure by that flag
  Forwarder:
    # only include files in the backend folder
    paths:
      -  VideoForwarder/src
  Interface:
    paths:
      - Interface/react
  Orchestrator:
    paths:
      - ProcessorOrchestrator/src
  Processor:
    paths:
      - CameraProcessor/processor

FFT: object id on boxes
  Interface/react/src/components/overlay.tsx
  Interface/react/src/pages/home.tsx
Due: Interface

TST: New dockerfile
  CameraProcessor/Dockerfile
  CameraProcessor/Dockerfile3
  CameraProcessor/requirements-test.txt
  CameraProcessor/requirements.txt
Due: none

FIX: Fixed tests for feature map distribution
  ProcessorOrchestrator/src/processor_socket.py
  ProcessorOrchestrator/tests/integration_testing/communication_test.py
Due: Orchestrator

Deploying to gh-pages from @ UU-tracktech/tracktech@4fb7c9f8429f27972f6375bdd13483b2fe01453f 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/webhosting/update_command.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  ProcessorOrchestrator/src/src/processor_socket.html
Due: Orchestrator, Processor

TST: Dockerfile + compose changes
  CameraProcessor/Dockerfile
  CameraProcessor/docker-compose.yml
Due: none

FFT: removed picture in picture
  Interface/react/src/components/overlay.tsx
Due: Interface

UFT Merge accuracy runner and accuracy runner tracking
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/processor/accuracy_runner_tracking.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@0b69f592d92761793eaeac4c4944c18c0abd1d19 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/webhosting.html
  CameraProcessor/processor/processor/webhosting/update_command.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  ProcessorOrchestrator/src/src/processor_socket.html
Due: Orchestrator, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@e4809376d44ee83be428e7450d90467671fadae7 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/dataloaders.html
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/idataloader.html
  CameraProcessor/processor/processor/dataloaders/json_dataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/input/image_capture.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/text.html
  index.html
Due: Processor

CRF: Linting
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@750d748b9a1d8e9a6246e91cf954498ccfacc892 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
Due: Processor

TST update test accuracy runner based on new json files
  CameraProcessor/data/tests/unittests/detectiontest/det/configtest.json
  CameraProcessor/test-configs.ini
  CameraProcessor/tests/unittests/test_accuracy_runner.py
Due: none

UFT one mock to rule them all
  Interface/react/__mocks__/@react-keycloak/web.js
  Interface/react/testing/unit testing/loggedInUser.test.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@069f453d569614c025ff3069dd1db094940fbf37 🚀
  index.html
Due: none

TST update test_accuracy_object
  CameraProcessor/test-configs.ini
  CameraProcessor/tests/unittests/training/detection/test_accuracy_object.py
Due: none

TST: Testing json
  CameraProcessor/processor/utils/text.py
  CameraProcessor/tests/unittests/utils/test_text.py
Due: Processor

FIX reformat because of linting
  CameraProcessor/tests/unittests/training/detection/test_accuracy_object.py
Due: none

FIX resolve more linting issues
  CameraProcessor/tests/unittests/training/detection/test_accuracy_object.py
Due: none

CRF: Linting
  CameraProcessor/processor/utils/text.py
  CameraProcessor/tests/unittests/utils/test_text.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@0828f99c57b1f7329f6dfb9f9ce321b9e7fb1baa 🚀
  CameraProcessor/processor/processor/utils/text.html
  index.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@1287855adc1e0d322f64df4bedec292a96408f2d 🚀
  CameraProcessor/processor/processor/utils/text.html
Due: Processor

DOC add docstrings
  CameraProcessor/tests/unittests/test_accuracy_runner.py
  CameraProcessor/tests/unittests/utils/test_text.py
Due: none

FFT: Make CameraProcessor work inside docker
  CameraProcessor/Dockerfile
  CameraProcessor/Dockerfile3
  CameraProcessor/README.md
  CameraProcessor/configs.ini
  CameraProcessor/docker-compose.yml
  CameraProcessor/processor/pipeline/prepare_pipeline.py
  CameraProcessor/processor/utils/config_parser.py
  CameraProcessor/requirements.txt
  CameraProcessor/test-configs.ini
Due: Processor

DOC fix docstring format
  CameraProcessor/tests/unittests/utils/test_text.py
Due: none

FIX: Make url point to the forwader
  CameraProcessor/docker-compose.yml
Due: none

FFT Added more options to start tracking
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/ireidentifier.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
  CameraProcessor/processor/utils/text.py
  CameraProcessor/processor/webhosting/start_command.py
  CameraProcessor/processor/webhosting/websocket_client.py
  CameraProcessor/tests/unittests/utils/test_text.py
  CameraProcessor/tests/unittests/webhosting/test_start_command.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@da50a98a780e5d3b0ab31a48e91593948de902c2 🚀
  index.html
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@41f37c571936fdf42db548366b671f79e598eebc 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor.html
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/dataloaders.html
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/idataloader.html
  CameraProcessor/processor/processor/dataloaders/json_dataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/input/image_capture.html
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/config_parser.html
  CameraProcessor/processor/processor/utils/text.html
  index.html
Due: Processor

TST fix test_to_json
  CameraProcessor/tests/unittests/data_object/test_bounding_box.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@2402a92b76f69177ca3fddcc35f0b0964a94032d 🚀
  index.html
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@e2efb797d055b78639ec1558a83cdefb6f4fbf7f 🚀
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/utils/config_parser.html
  CameraProcessor/processor/processor/utils/text.html
  CameraProcessor/processor/processor/webhosting/start_command.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@7d8098324052c8baa92e172a66c101f64bf9148d 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor.html
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/dataloaders.html
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/idataloader.html
  CameraProcessor/processor/processor/dataloaders/json_dataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/text.html
  CameraProcessor/processor/processor/webhosting/start_command.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  index.html
Due: Processor

UFT Reconnecting
  Interface/react/src/components/videojsPlayer.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@c0165cacfbcbf4a7dd598bdb7c9c8aefe1bd1b16 🚀
  index.html
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@a542f23f158856e913194e90a7c810d6faa5ee0d 🚀
  index.html
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@f5ca7bf35025f673d532948d04223c7af6afc054 🚀
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  index.html
Due: Processor

FIX No longer download images if they do not exist.
  CameraProcessor/processor/dataloaders/coco_dataloader.py
Due: Processor
