Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

codecov.yml:

codecov:
  branch: develop
  max_report_age: off

coverage:
  status:
    project:
      default: off
      Forwarder:
        target: 100%
        flags:
          - Forwarder
      Interface:
        target: 100%
        flags:
          - Interface
      Orchestrator:
        target: 100%
        flags:
          - Orchestrator
      Processor:
        target: 100%
        flags:
          - Processor

flags:
  # filter the folder(s) you wish to measure by that flag
  Forwarder:
    # only include files in the backend folder
    paths:
      -  VideoForwarder/src
  Interface:
    paths:
      - Interface/react
  Orchestrator:
    paths:
      - ProcessorOrchestrator/src
  Processor:
    paths:
      - CameraProcessor/processor

FIX pylint
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@049c0ef00169ddafa4f20873c2b2176dffdef7cb 🚀
  CameraProcessor/processor/processor/scheduling/component/base_component.html
  CameraProcessor/processor/processor/scheduling/component/func_call_component.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  index.html
  utility/utility/comment_checker.html
  utility/utility/docstring_checker.html
Due: Processor

SPC 835 Docstring bug in single line and trailing spaces (#129)
  CameraProcessor/processor/pipeline/detection/i_yolo_detector.py
  CameraProcessor/processor/scheduling/component/base_component.py
  CameraProcessor/processor/scheduling/component/func_call_component.py
  CameraProcessor/processor/webhosting/websocket_client.py
  CameraProcessor/tests/unittests/utils/test_text.py
  utility/comment_checker.py
  utility/docstring_checker.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@e7fe3a136c57cd6c6202ca379854a9db6834eac8 🚀
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/scheduling/component/base_component.html
  CameraProcessor/processor/processor/scheduling/component/func_call_component.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  index.html
  utility/utility/comment_checker.html
  utility/utility/docstring_checker.html
Due: Processor

FFT added config option
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
Due: Processor

FFT Added proper similarity checks
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@a36ecae3992309a2ee2a2896e3166970cdf2a7d2 🚀
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/scheduling/component/base_component.html
  CameraProcessor/processor/processor/scheduling/component/func_call_component.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  utility/utility/comment_checker.html
  utility/utility/docstring_checker.html
Due: Processor

FIX Pylint fix, also removed merging artefact that printed in comment_checker.py
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
  utility/comment_checker.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@addb201caf0133d23c3cf78322d61dfac7350c2c 🚀
  utility/utility/comment_checker.html
Due: none

FIX Moved duplicate similarity func to parent class
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/i_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@b8b4986ff0604054e725923f880c924e50c371f7 🚀
  utility/utility/comment_checker.html
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@50489350605ede2f4664c2f486d7abdbaaf43cac 🚀
  index.html
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@104c05dbc409de125a64deabec238d43c804ba85 🚀
  utility/utility/comment_checker.html
Due: none

FIX Linting and unit tests
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/i_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/tests/unittests/utils/fake_re_identifier.py
Due: Processor

FIX Pylint duplicate code
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/i_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@5ea6eabbcdf430da289ed95dfd8f1a1676150e76 🚀
  index.html
Due: none

BUG bug with file paths
  CameraProcessor/configs.ini
  CameraProcessor/processor/training/tracking/trackeval_master/scripts/run_mot_challenge.py
Due: Processor

FIX Pylint duplicates in the reid runners
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/i_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@c22b538309967ef54a33a22afcd2e3d38109d179 🚀
  CameraProcessor/processor/processor/scheduling/component/base_component.html
  CameraProcessor/processor/processor/scheduling/component/func_call_component.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  index.html
  utility/utility/comment_checker.html
  utility/utility/docstring_checker.html
Due: Processor

CRF remove prints
  CameraProcessor/processor/training/tracking/trackeval_master/scripts/run_mot_challenge.py
  CameraProcessor/processor/training/tracking/trackeval_master/trackeval/datasets/mot_challenge_2d_box.py
  CameraProcessor/processor/training/tracking/tracking_accuracy.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@42433935b3ef2c38eef60a070a3a7492314ee3c0 🚀
  CameraProcessor/processor/processor/scheduling/component/base_component.html
  CameraProcessor/processor/processor/scheduling/component/func_call_component.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  utility/utility/comment_checker.html
  utility/utility/docstring_checker.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@7f9fbbe2db9e5abb3f53032aa74edb8767726d17 🚀
  index.html
  utility/utility/comment_checker.html
Due: none

FIX
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@bda2dba8886e13c92297dc0acf78fd7b9c76fc5c 🚀
  index.html
Due: none

FIX: Websocket client test not working
  CameraProcessor/processor/webhosting/websocket_client.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@61cedd57a4916d1a45c1e5d5168aa512019dcb81 🚀
  utility/utility/comment_checker.html
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@9791087297a0c2b413cd33e432c29923dc0ccb1e 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/utils/authentication.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  VideoForwarder/src/src/camera_handler.html
  VideoForwarder/src/src/main.html
  index.html
Due: Forwarder, Processor

FFT: Remove camera id from the configs.ini (#146)
  CameraProcessor/configs.ini
  CameraProcessor/processor/main.py
  CameraProcessor/processor/utils/config_parser.py
Due: Processor

FIX: Linting and video forwarder test
  CameraProcessor/processor/utils/authentication.py
  CameraProcessor/processor/webhosting/websocket_client.py
  VideoForwarder/tests/unittest/auth_server_unit_test.py
Due: Processor

FIX: Final wrong comment
  CameraProcessor/processor/webhosting/websocket_client.py
Due: Processor
