Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

codecov.yml:

codecov:
  branch: develop
  max_report_age: off

coverage:
  status:
    project:
      default: off
      Forwarder:
        target: 100%
        flags:
          - Forwarder
      Interface:
        target: 100%
        flags:
          - Interface
      Orchestrator:
        target: 100%
        flags:
          - Orchestrator
      Processor:
        target: 100%
        flags:
          - Processor

flags:
  # filter the folder(s) you wish to measure by that flag
  Forwarder:
    # only include files in the backend folder
    paths:
      -  VideoForwarder/src
  Interface:
    paths:
      - Interface/react
  Orchestrator:
    paths:
      - ProcessorOrchestrator/src
  Processor:
    paths:
      - CameraProcessor/processor

UFT: Unit tests.
  CameraProcessor/processor/dataloaders/mot_dataloader.py
  CameraProcessor/processor/training/detection/accuracy_object.py
  CameraProcessor/tests/unittests/training/detection/test_accuracy_object.py
Due: Processor

UFT: Dataloader tests
  CameraProcessor/processor/dataloaders/i_dataloader.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
  CameraProcessor/tests/unittests/training/detection/test_accuracy_object.py
Due: Processor

FFT: Unit tests
  CameraProcessor/tests/unittests/dataloaders/test_mot_dataloader.py
  CameraProcessor/tests/unittests/test_accuracy_runner.py
Due: none

FIX: Linting
  CameraProcessor/tests/unittests/training/detection/test_accuracy_object.py
Due: none

FFT: Unit tests.
  CameraProcessor/tests/unittests/test_accuracy_runner.py
Due: none

FIX: pylint
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

DOC: add range indication to webcam device nr config
  CameraProcessor/configs.ini
Due: none

Spc 729 cosine distance vs euclidian distance (#154)
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/i_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/pytorch_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
  CameraProcessor/tests/unittests/utils/fake_re_identifier.py
Due: Processor

RFT: Renames
  CameraProcessor/processor/data_object/bounding_box.py
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/websocket/boxes_command.py
  CameraProcessor/processor/websocket/boxes_message.py
  CameraProcessor/processor/websocket/i_message.py
  CameraProcessor/processor/websocket/identify_command.py
  CameraProcessor/processor/websocket/identify_message.py
  CameraProcessor/processor/websocket/start_message.py
  CameraProcessor/processor/websocket/stop_command.py
  CameraProcessor/processor/websocket/stop_message.py
  CameraProcessor/processor/websocket/update_command.py
  CameraProcessor/processor/websocket/update_message.py
  CameraProcessor/processor/websocket/websocket_client.py
Due: Processor

FIX: potential fix?
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
Due: Processor

FIX: StartCommand
  CameraProcessor/processor/websocket/boxes_message.py
  CameraProcessor/processor/websocket/start_message.py
Due: Processor

FFT: gpu support
  VideoForwarder/Dockerfile
Due: none

FFT Done... I guess?
  Interface/react/public/index.html
Due: Interface

DOC: Added comments pt 2
  Interface/react/src/app.tsx
  Interface/react/src/classes/clientMessage.ts
  Interface/react/src/classes/orchestratorMessage.ts
  Interface/react/src/classes/size.ts
  Interface/react/src/classes/source.ts
  Interface/react/src/classes/timelineData.ts
  Interface/react/src/classes/useAuthState.ts
  Interface/react/src/components/cameraCard.tsx
  Interface/react/src/components/environmentContext.tsx
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/objectCard.tsx
  Interface/react/src/components/objectTypeFilter.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/selectionCard.tsx
  Interface/react/src/components/timelineCard.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/src/pages/needLogin.tsx
  Interface/react/src/pages/timelines.tsx
  Interface/react/src/utilities/colours.ts
Due: Interface

UFT: Start of some unit tests
  CameraProcessor/tests/unittests/webhosting/test_start_commands.py
  CameraProcessor/tests/unittests/webhosting/test_stop_command.py
  CameraProcessor/tests/unittests/webhosting/test_update_command.py
  CameraProcessor/tests/unittests/websocket/__init__.py
  CameraProcessor/tests/unittests/websocket/test_start_message.py
Due: none

OTH: Splitting classes and adding absolute paths
  Interface/react/src/app.tsx
  Interface/react/src/classes/box.ts
  Interface/react/src/classes/clientMessage.ts
  Interface/react/src/classes/orchestratorMessage.ts
  Interface/react/src/classes/queueItem.ts
  Interface/react/src/classes/size.ts
  Interface/react/src/classes/source.ts
  Interface/react/src/classes/timelineData.ts
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/src/pages/timelines.tsx
  Interface/react/tsconfig.json
Due: Interface

OTH: Prettier
  Interface/react/src/app.tsx
  Interface/react/src/classes/box.ts
  Interface/react/src/classes/queueItem.ts
  Interface/react/src/components/overlay.tsx
Due: Interface

UFT: progress
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Forwarder_Deploy.yml
  README.md
  VideoForwarder/Dockerfile
  VideoForwarder/README.md
  VideoForwarder/compose/docker-compose_build_gpu.yml
  VideoForwarder/src/conversion_process.py
Due: Forwarder

DOC: Final comments
  Interface/react/src/components/videojsPlayer.tsx
Due: Interface

OTH: Prettier
  Interface/react/src/components/videojsPlayer.tsx
Due: Interface

OTH: Fixed imports for tests
  Interface/react/testing/integration testing/websocketContext.test.tsx
  Interface/react/testing/unit testing/classes/clientMessage.test.ts
  Interface/react/testing/unit testing/classes/orchestratorMessage.test.ts
  Interface/react/testing/unit testing/classes/timelineData.test.ts
  Interface/react/testing/unit testing/classes/useAuthState.test.ts
  Interface/react/testing/unit testing/components/cameraCard.test.tsx
  Interface/react/testing/unit testing/components/grid.test.tsx
  Interface/react/testing/unit testing/components/loggedInUser.test.tsx
  Interface/react/testing/unit testing/components/loginButton.test.tsx
  Interface/react/testing/unit testing/components/navbar.test.tsx
  Interface/react/testing/unit testing/components/objectCard.test.tsx
  Interface/react/testing/unit testing/components/objectTypeFilter.test.tsx
  Interface/react/testing/unit testing/components/selectionCard.test.tsx
  Interface/react/testing/unit testing/components/timelineCard.test.tsx
  Interface/react/testing/unit testing/components/videoplayer.test.tsx
  Interface/react/testing/unit testing/pages/app.test.tsx
  Interface/react/testing/unit testing/pages/home.test.tsx
  Interface/react/testing/unit testing/pages/needLogin.test.tsx
  Interface/react/testing/unit testing/pages/timelines.test.tsx
Due: Interface

FIX: Back to relatvive imports
  Interface/react/testing/unit testing/classes/clientMessage.test.ts
  Interface/react/testing/unit testing/classes/orchestratorMessage.test.ts
  Interface/react/testing/unit testing/classes/timelineData.test.ts
  Interface/react/testing/unit testing/classes/useAuthState.test.ts
  Interface/react/testing/unit testing/components/cameraCard.test.tsx
  Interface/react/testing/unit testing/components/grid.test.tsx
  Interface/react/testing/unit testing/components/loggedInUser.test.tsx
  Interface/react/testing/unit testing/components/loginButton.test.tsx
  Interface/react/testing/unit testing/components/navbar.test.tsx
  Interface/react/testing/unit testing/components/objectCard.test.tsx
  Interface/react/testing/unit testing/components/objectTypeFilter.test.tsx
  Interface/react/testing/unit testing/components/selectionCard.test.tsx
  Interface/react/testing/unit testing/components/timelineCard.test.tsx
  Interface/react/testing/unit testing/components/videoplayer.test.tsx
  Interface/react/testing/unit testing/pages/app.test.tsx
  Interface/react/testing/unit testing/pages/home.test.tsx
  Interface/react/testing/unit testing/pages/needLogin.test.tsx
  Interface/react/testing/unit testing/pages/timelines.test.tsx
Due: Interface

FIX: Removed now obsolete cameracard test
  Interface/react/jest.config.js
  Interface/react/testing/unit testing/components/cameraCard.test.tsx
Due: Interface

FIX: changed jsconfig modulepath
  Interface/react/jest.config.js
Due: Interface

FIX: Removed react from modulepaths
  Interface/react/jest.config.js
Due: Interface

TST: If yml supports single qoutes
  CameraProcessor/compose/docker-compose+forwarder.yml
Due: none

TST: fixed integration test
  Interface/react/testing/integration testing/websocketContext.test.tsx
Due: Interface

FIX: Dockerfile
  CameraProcessor/Dockerfile
Due: none

FIX: Syntax errors
  CameraProcessor/tests/unittests/scheduling/utils/multiple_input_component.py
  CameraProcessor/tests/unittests/utils/test_text.py
Due: none

FIX: Test Text unit test
  CameraProcessor/tests/unittests/utils/test_text.py
Due: none

FIX: CameraProcessor
  CameraProcessor/tests/unittests/scheduling/utils/multiple_input_component.py
  CameraProcessor/tests/unittests/webhosting/test_websocket_client.py
Due: none

Spc 850 use interface cutout (#168)
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

FFT: added gpu support
  VideoForwarder/Dockerfile
  VideoForwarder/src/conversion_process.py
Due: Forwarder

UFT: Orchestrator done
  Orchestration/Compose/keycloak.yml
  Orchestration/Compose/portainer.yml
  Orchestration/Compose/registry.yml
  Orchestration/Compose/tracktech.yml
  ProcessorOrchestrator/compose/docker-compose_lint.yml
  ProcessorOrchestrator/compose/docker-compose_test_integration.yml
  ProcessorOrchestrator/compose/docker-compose_test_unit.yml
  ProcessorOrchestrator/docker-compose.yml
  ProcessorOrchestrator/src/handlers/client_socket.py
  ProcessorOrchestrator/src/handlers/processor_socket.py
  ProcessorOrchestrator/src/handlers/timeline_handler.py
  ProcessorOrchestrator/src/main.py
  ProcessorOrchestrator/src/objects/object_management.py
  ProcessorOrchestrator/src/objects/tracking_object.py
  ProcessorOrchestrator/src/utility/get_auth.py
  ProcessorOrchestrator/src/utility/logger.py
  ProcessorOrchestrator/tests/integration_testing/communication_test.py
  ProcessorOrchestrator/tests/testing_server.py
  ProcessorOrchestrator/tests/unit_testing/get_auth_test.py
  ProcessorOrchestrator/tests/unit_testing/tracking_objects_test.py
Due: Orchestrator

FIX: Linting
  ProcessorOrchestrator/tests/integration_testing/communication_test.py
Due: none
