Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

FIX: Update testconfig for yolor and make yml files use correct action
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Build.yml
  .github/workflows/Processor_Lint.yml
  CameraProcessor/test-configs.ini
Due: none

FIX: Reset submodules on each runner
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Build.yml
  .github/workflows/Processor_Lint.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

FIX: Reset each runner
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Build.yml
  .github/workflows/Processor_Lint.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

FFT: Symlinks work correctly again
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Build.yml
  .github/workflows/Processor_Lint.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

FIX: Linting issues
  .pylintrc
  CameraProcessor/.gitignore
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/detection/idetector.py
  CameraProcessor/processor/pipeline/detection/yolor_runner.py
  CameraProcessor/processor/pipeline/detection/yolov5_runner.py
Due: Processor

FIX: Skip unittest since cpu does not seem to work
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: none

Spc 580 implement runner for yolor (#38)
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Build.yml
  .github/workflows/Processor_Lint.yml
  .github/workflows/Processor_Test_Unit.yml
  .gitmodules
  .pylintrc
  CameraProcessor/.gitignore
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/detection/idetector.py
  CameraProcessor/processor/pipeline/detection/yolor_runner.py
  CameraProcessor/processor/pipeline/detection/yolov5_runner.py
  CameraProcessor/requirements.txt
  CameraProcessor/test-configs.ini
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: Processor

FIX: Linting issues
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/unittests/utils/fake_tracker.py
Due: none

UFT keep boxes normalized in boxes_to_text
  CameraProcessor/processor/dataloaders/coco_dataloader.py
  CameraProcessor/processor/utils/text.py
Due: Processor

FIX: Build all images from scratch
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Forwarder_Test_Unit.yml
  .github/workflows/Interface-Orchestrator.yml
  .github/workflows/Interface_Lint.yml
  .github/workflows/Interface_Test_Unit.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Orchestrator_Test_Integration.yml
  .github/workflows/Orchestrator_Test_Unit.yml
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Lint.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

CRF: linting refactor
  CameraProcessor/processor/pipeline/detection/idetector.py
  CameraProcessor/processor/pipeline/tracking/itracker.py
  CameraProcessor/processor/scheduling/component/base_component.py
  CameraProcessor/processor/scheduling/node/schedule_node.py
  CameraProcessor/processor/scheduling/scheduler.py
  CameraProcessor/processor/training/detection/accuracy_object.py
  CameraProcessor/tests/unittests/scheduling/utils/input_component.py
  CameraProcessor/tests/unittests/scheduling/utils/multiple_input_component.py
  CameraProcessor/tests/unittests/scheduling/utils/output_component.py
  CameraProcessor/tests/unittests/scheduling/utils/single_output_component.py
Due: Processor

Spc 504 improve code coverage for interface (#37)
  Interface/react/src/app.tsx
  Interface/react/src/classes/orchestratorMessage.ts
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/src/pages/overlayVideo.tsx
  Interface/react/testing/integration testing/websocketContext.test.tsx
  Interface/react/testing/unit testing/app.test.tsx
  Interface/react/testing/unit testing/cameraCard.test.tsx
  Interface/react/testing/unit testing/clientMessage.test.tsx
  Interface/react/testing/unit testing/grid.test.tsx
  Interface/react/testing/unit testing/home.test.tsx
  Interface/react/testing/unit testing/loggedInUser.test.tsx
  Interface/react/testing/unit testing/loginButton.test.tsx
  Interface/react/testing/unit testing/objectTypeFilter.test.tsx
  Interface/react/testing/unit testing/orchestratorMessage.test.tsx
  Interface/react/testing/unit testing/selection.test.tsx
  Interface/react/testing/unit testing/videojsplayer.test.tsx
Due: Interface

FIX: removed await from non-async function
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

DOC: missing initial docstring
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

TST: added print of response body to test_stream_handler()
  CameraProcessor/tests/unittests/webhosting/test_stream_handler.py
Due: none

CRF: Fixed some linting errors
  CameraProcessor/processor/data_object/bounding_boxes.py
  CameraProcessor/processor/dataloaders/coco_dataloader.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
Due: Processor

TST: skipped test_stream_handler
  CameraProcessor/tests/unittests/webhosting/test_stream_handler.py
Due: none

CRF: removed unused import
  CameraProcessor/tests/unittests/webhosting/test_stream_handler.py
Due: none

FFT: added classification to bbox text
  CameraProcessor/processor/utils/text.py
Due: Processor

TST: updated expected bbox JSON string
  CameraProcessor/tests/unittests/utils/test_text.py
Due: none

FIX remove linting issues
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/processor/dataloaders/coco_dataloader.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
  CameraProcessor/processor/input/image_capture.py
  CameraProcessor/processor/utils/text.py
  CameraProcessor/tests/systemtests/vidstream_to_json.py
Due: Processor

Spc 555 plan of pipeline that scheduler can run (#39)
  CameraProcessor/processor/pipeline/detection/idetector.py
  CameraProcessor/processor/pipeline/detection/yolov5_runner.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/tracking/itracker.py
  CameraProcessor/processor/pipeline/tracking/sort_tracker.py
  CameraProcessor/processor/scheduling/README.md
  CameraProcessor/processor/scheduling/component/component_interface.py
  CameraProcessor/processor/scheduling/component/example_components/example_component.py
  CameraProcessor/processor/scheduling/component/example_components/input_component.py
  CameraProcessor/processor/scheduling/component/example_components/intermedairy_output_component.py
  CameraProcessor/processor/scheduling/component/example_components/output_component.py
  CameraProcessor/processor/scheduling/component/func_call_component.py
  CameraProcessor/processor/scheduling/component/pass_component.py
  CameraProcessor/processor/scheduling/node/inode.py
  CameraProcessor/processor/scheduling/node/schedule_node.py
  CameraProcessor/processor/scheduling/plan/example_plan.py
  CameraProcessor/processor/scheduling/plan/pipeline_plan.py
  CameraProcessor/processor/scheduling/scheduler.py
  CameraProcessor/processor/training/detection/accuracy_object.py
  CameraProcessor/processor/webhosting/stream_handler.py
  CameraProcessor/tests/unittests/scheduling/utils/input_component.py
  CameraProcessor/tests/unittests/scheduling/utils/multiple_input_component.py
  CameraProcessor/tests/unittests/scheduling/utils/output_component.py
  CameraProcessor/tests/unittests/scheduling/utils/single_output_component.py
  CameraProcessor/tests/unittests/webhosting/test_stream_handler.py
Due: Processor

UFT use Json Dataloader
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/processor/dataloaders/json_dataloader.py
  CameraProcessor/processor/utils/text.py
  CameraProcessor/tests/unittests/utils/test_text.py
Due: Processor

FFT: Hls stream now uses requests to retrieve the timestamp
  CameraProcessor/configs.ini
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/processor/pipeline/detection/yolor_runner.py
  CameraProcessor/processor/pipeline/detection/yolov5_runner.py
Due: Processor

FFT: Documentation now generates inside Docker
  .dockerignore
  CameraProcessor/processor/training/detection/train.py
  CameraProcessor/processor/utils/config_parser.py
  Dockerfile
  docker-compose.yml
  docs/documentation.py
Due: Processor

OTH: Remove rebuild.bat for documentation
  rebuild.bat
Due: none

FFT: Upload artifacts
  .github/workflows/Documentation.yml
Due: none

FIX: Artifacts upload correctly
  .github/workflows/Documentation.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

FIX: last linting issue
  CameraProcessor/tests/unittests/scheduling/utils/input_component.py
Due: none

Spc 279 documentation pipeline (#42)
  .dockerignore
  .github/workflows/Documentation.yml
  .github/workflows/Processor_Test_Unit.yml
  .gitignore
  CameraProcessor/.coveragerc
  CameraProcessor/processor/training/detection/train.py
  CameraProcessor/processor/utils/config_parser.py
  CameraProcessor/tests/unittests/input/conftest.py
  CameraProcessor/tests/unittests/scheduling/utils/input_component.py
  Dockerfile
  Interface/testingSelenium/__init__.py
  docker-compose.yml
  docs/Dockerfile
  docs/README.md
  docs/__init__.py
  docs/documentation.py
  docs/requirements.txt
  docs/template/module.html.jinja2
Due: Processor

CIC: Added cancelation script
  .github/workflows/Cancel_Duplicate_Actions.yml
Due: none

CIC: Testing changes
  ProcessorOrchestrator/README.md
Due: none

CIC: Undoing testing changes
  ProcessorOrchestrator/README.md
Due: none

FIX: Correct script syntax
  .github/workflows/Cancel_Duplicate_Actions.yml
Due: none

CIC: Testing workflow again
  ProcessorOrchestrator/README.md
Due: none

CIC: New commit, test if cancels
  ProcessorOrchestrator/README.md
Due: none

Path conditions:
  Forwarder: any of: VideoForwarder/src
  Interface: any of: Interface/react
  Orchestrator: any of: ProcessorOrchestrator/src
  Processor: any of: CameraProcessor/processor
