Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

codecov.yml:

codecov:
  branch: develop
  max_report_age: off

coverage:
  status:
    project:
      default: off
      Forwarder:
        target: 100%
        flags:
          - Forwarder
      Interface:
        target: 100%
        flags:
          - Interface
      Orchestrator:
        target: 100%
        flags:
          - Orchestrator
      Processor:
        target: 100%
        flags:
          - Processor

flags:
  # filter the folder(s) you wish to measure by that flag
  Forwarder:
    # only include files in the backend folder
    paths:
      -  VideoForwarder/src
  Interface:
    paths:
      - Interface/react
  Orchestrator:
    paths:
      - ProcessorOrchestrator/src
  Processor:
    paths:
      - CameraProcessor/processor

FIX: updated workflows
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Interface_Build.yml
  .github/workflows/Orchestrator_Build.yml
  .github/workflows/Processor_Build.yml
  VideoForwarder/compose/docker-compose_build_gpu.yml
Due: none

FIX: now really
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Interface_Build.yml
  .github/workflows/Orchestrator_Build.yml
  .github/workflows/Processor_Build.yml
Due: none

FFT: Added image to timeline pages
  Interface/react/src/components/objectCard.tsx
  Interface/react/src/pages/timelines.tsx
Due: Interface

Spc 922 docker compose examples are not working (#210)
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Interface_Build.yml
  .github/workflows/Orchestrator_Build.yml
  .github/workflows/Processor_Build.yml
  CameraProcessor/README.md
  CameraProcessor/docker-compose.yml
  Interface/README.md
  Interface/docker-compose.yml
  Interface/react/public/settings.json
  ProcessorOrchestrator/README.md
  ProcessorOrchestrator/docker-compose.yml
  VideoForwarder/compose/docker-compose_build_gpu.yml
  VideoForwarder/docker-compose.yml
Due: Interface

FFT: Added image to timeline pages (#212)
  Interface/react/src/components/objectCard.tsx
  Interface/react/src/pages/timelines.tsx
Due: Interface

FFT Accuracy works. Sort of.
  CameraProcessor/configs.ini
  CameraProcessor/processor/training/reidentification/accuracy_object.py
Due: Processor

DOC: Linting.
  CameraProcessor/processor/training/reidentification/accuracy_object.py
  CameraProcessor/tests/unittests/pipeline/test_frame_buffer.py
  CameraProcessor/tests/unittests/websocket/test_websocket_client.py
Due: Processor

DOC: Updated README for accuracy component.
  CameraProcessor/configs.ini
  CameraProcessor/processor/training/README.md
Due: Processor

FIX: cutout from interface bug
  CameraProcessor/configs.ini
  CameraProcessor/filter.names
  CameraProcessor/processor/pipeline/reidentification/pytorch_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
  CameraProcessor/processor/websocket/start_message.py
Due: Processor

FFT: Add papers to root
  Accuracy.pdf
  Algorithmic Research.pdf
Due: none

Improved reid (#214)
  CameraProcessor/configs.ini
  CameraProcessor/filter.names
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/i_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/pytorch_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
  CameraProcessor/processor/websocket/start_message.py
Due: Processor

FFT: Add papers to root (#215)
  Accuracy.pdf
  Algorithmic Research.pdf
Due: none

FFT: Update readme in root and cameraprocessor
  CameraProcessor/README.md
  README.md
Due: none

FIX: grammar
  CameraProcessor/README.md
  README.md
Due: none

FFT: Dark mode
  Dockerfile
  Interface/react/package-lock.json
  Interface/react/package.json
Due: Interface

FIX: filepath
  Dockerfile
Due: none

FFT Coco format
  CameraProcessor/processor/accuracy_runner.py
Due: Processor

FIX: filepath
  Dockerfile
  Interface/react/package-lock.json
  Interface/react/package.json
Due: Interface

FIX: Filepath
  Dockerfile
Due: none

FFT Accuracy works. Sort of.
  CameraProcessor/processor/training/reidentification/accuracy_object.py
Due: Processor

FIX Readme for fastreid accuracy
  CameraProcessor/processor/training/README.md
  CameraProcessor/processor/training/reidentification/accuracy_object.py
Due: Processor

FIX unused imports
  CameraProcessor/processor/training/reidentification/accuracy_object.py
Due: Processor

Spc 937 no dark mode on interface documentation (#218)
  Dockerfile
  Interface/react/package-lock.json
  Interface/react/package.json
Due: Interface

FFT: Update readme in root and cameraprocessor (#217)
  CameraProcessor/README.md
  README.md
Due: none

FFT: README Grammar
  CameraProcessor/opencv-docker-image/README.md
  CameraProcessor/processor/input/README.md
  CameraProcessor/processor/pipeline/detection/README.md
  CameraProcessor/processor/pipeline/tracking/README.md
  CameraProcessor/processor/pipeline/tracking/sort/README.md
  CameraProcessor/processor/scheduling/README.md
  CameraProcessor/processor/training/README.md
  CameraProcessor/processor/training/detection/README.md
  CameraProcessor/processor/utils/README.md
  CameraProcessor/processor/webhosting/README.md
  Interface/README.md
  ProcessorOrchestrator/README.md
  VideoForwarder/README.md
  docs/README.md
Due: Processor

TST added tests
  CameraProcessor/data/tests/unittests/data_writer_tests/json_data_writer.json
  CameraProcessor/data/tests/unittests/data_writer_tests/json_data_writer.txt
  CameraProcessor/data/tests/unittests/data_writer_tests/mot_data_writer.txt
  CameraProcessor/processor/data_writer/json_data_writer.py
  CameraProcessor/tests/unittests/data_writer/test_json_writer.py
  CameraProcessor/tests/unittests/data_writer/test_mot_writer.py
Due: Processor

DOC
  .pylintrc
  CameraProcessor/.coveragerc
Due: none

Doc
  .dockerignore
Due: none

Docker
  .dockerignore
  CameraProcessor/Dockerfile
Due: none

FFT: README Grammar (#219)
  CameraProcessor/opencv-docker-image/README.md
  CameraProcessor/processor/input/README.md
  CameraProcessor/processor/pipeline/detection/README.md
  CameraProcessor/processor/pipeline/tracking/README.md
  CameraProcessor/processor/pipeline/tracking/sort/README.md
  CameraProcessor/processor/scheduling/README.md
  CameraProcessor/processor/training/README.md
  CameraProcessor/processor/training/detection/README.md
  CameraProcessor/processor/utils/README.md
  CameraProcessor/processor/webhosting/README.md
  Interface/README.md
  ProcessorOrchestrator/README.md
  VideoForwarder/README.md
  docs/README.md
Due: Processor

FIX: added image name
  CameraProcessor/README.md
  ProcessorOrchestrator/README.md
  VideoForwarder/README.md
Due: none

CRF linting failed
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/processor/training/tracking/tracking_accuracy.py
  CameraProcessor/processor/utils/datawriter.py
Due: Processor

CRF Linting
  CameraProcessor/processor/accuracy_runner.py
Due: Processor

FIX: added image name (#220)
  CameraProcessor/README.md
  ProcessorOrchestrator/README.md
  VideoForwarder/README.md
Due: none

CRF folders
  CameraProcessor/.gitignore
  CameraProcessor/data/datasets/EmptyFile.txt
  CameraProcessor/data/runs/EmptyResults.txt
  CameraProcessor/data/tests/unittests/images/000001.jpg
  CameraProcessor/tests/unittests/utils/utils.py
Due: none

CRF update gitignore
  CameraProcessor/.gitignore
Due: none

BUG updated imagespath
  CameraProcessor/configs.ini
Due: none

BUG test-config.ini
  CameraProcessor/test-configs.ini
Due: none

OTH: citation file for release 1.0.0
  CITATION.cff
Due: none
