Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

codecov.yml:

codecov:
  branch: develop
  max_report_age: off

coverage:
  status:
    project:
      default: off
      Forwarder:
        target: 100%
        flags:
          - Forwarder
      Interface:
        target: 100%
        flags:
          - Interface
      Orchestrator:
        target: 100%
        flags:
          - Orchestrator
      Processor:
        target: 100%
        flags:
          - Processor

flags:
  # filter the folder(s) you wish to measure by that flag
  Forwarder:
    # only include files in the backend folder
    paths:
      -  VideoForwarder/src
  Interface:
    paths:
      - Interface/react
  Orchestrator:
    paths:
      - ProcessorOrchestrator/src
  Processor:
    paths:
      - CameraProcessor/processor

FIX: Added gdown to requirements
  CameraProcessor/requirements.txt
Due: none

FIX: Removed gdd downloader
  CameraProcessor/processor/pipeline/detection/yolor_runner.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@54ccead36ea8b334fd161561b16667670de766a7 🚀
  index.html
Due: none

FIX: Correct model download for yolor and yolov5 (#59)
  .gitmodules
  CameraProcessor/.gitignore
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/detection/yolor_runner.py
  CameraProcessor/requirements.txt
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/yolov5s.pt
Due: Processor

UFT write to json file, send BoundingBoxes instead of list<BoundingBox>
  CameraProcessor/configs.ini
  CameraProcessor/processor/accuracy_runner.py
Due: Processor

FFT: overlay attention
  Interface/react/.eslintrc.json
  Interface/react/.prettierrc.json
  Interface/react/src/app.tsx
  Interface/react/src/classes/source.ts
  Interface/react/src/components/cameraCard.tsx
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/objectTypeFilter.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/src/pages/needLogin.tsx
  Interface/react/testing/integration testing/websocketContext.test.tsx
Due: Interface

FIX/CRF Added detector choice to config, fixed conf tensor bug
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/detection/idetector.py
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@259e6d63d32b5ae6c1145fc4d0421499f0a7258a 🚀
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  index.html
Due: Processor

CRF Added detector choice to config
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

FIX: lol, dont read the content of this commit please
  Interface/react/src/components/overlay.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@95a4ccb4653c70dcf46b8d3ebfcc20a3f2c5ef29 🚀
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  index.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@dcc78bd0df0e7a2b925b8fdd3ca4a3984798af30 🚀
  CameraProcessor/processor/processor/pipeline/process_frames.html
  index.html
Due: Processor

FFT: overlay attention (#60)
  Interface/react/.eslintrc.json
  Interface/react/.prettierrc.json
  Interface/react/src/app.tsx
  Interface/react/src/classes/source.ts
  Interface/react/src/components/cameraCard.tsx
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/objectTypeFilter.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/src/pages/needLogin.tsx
  Interface/react/testing/integration testing/websocketContext.test.tsx
Due: Interface

FIX Confidence is a float instead of a tensor
  CameraProcessor/processor/pipeline/detection/idetector.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@5a379b1ce35bab3121f5cc93eb0c291392c9e1c7 🚀
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
Due: Processor

DOC add . to docstrings (to trigger pipeline)
  CameraProcessor/processor/pipeline/detection/idetector.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@7d4ec444b0975bdfb995bd7a0a3a19852793b1ce 🚀
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  index.html
Due: Processor

CRF Added selection switches for runners
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

DOC Docstring fixed
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@6077717486c42627b9f6148fde6251f2a69c6b9e 🚀
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  index.html
Due: Processor

FIX: Codecov not triggering
  .github/workflows/Forwarder_Test_Unit.yml
  .github/workflows/Interface-Orchestrator.yml
  .github/workflows/Interface_Test_Unit.yml
  .github/workflows/Orchestrator_Test_Integration.yml
  .github/workflows/Orchestrator_Test_Unit.yml
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

TST: Added tests for the timelines page
  Interface/react/src/classes/timelineData.ts
  Interface/react/src/components/objectCard.tsx
  Interface/react/src/components/timelineCard.tsx
  Interface/react/src/pages/timelines.tsx
  Interface/react/testing/unit testing/objectCard.test.tsx
  Interface/react/testing/unit testing/timelineCard.test.tsx
  Interface/react/testing/unit testing/timelineData.test.ts
  Interface/react/testing/unit testing/timelines.test.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@7aa3d6b0df24d074a2f42fcea60f228f0a33618c 🚀
  CameraProcessor/processor/processor/pipeline/process_frames.html
  index.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@94dab5d49176c5e352dbe351f55027c5ba68f08d 🚀
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  index.html
Due: Processor

FIX: Prettier
  Interface/react/src/app.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/objectCard.tsx
  Interface/react/src/pages/timelines.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@8c199cee9de01c6ce6ba5d08a02d369ff648689f 🚀
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  index.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@bcafeffbc38d0e07bca5b8a80b5c53ad38b3b3d8 🚀
  index.html
Due: none

FIX: Codecov not triggering (#66)
  .github/workflows/Forwarder_Test_Unit.yml
  .github/workflows/Interface-Orchestrator.yml
  .github/workflows/Interface_Test_Unit.yml
  .github/workflows/Orchestrator_Test_Integration.yml
  .github/workflows/Orchestrator_Test_Unit.yml
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

FIX: Orchestrator Linting missing newline
  ProcessorOrchestrator/src/object_manager.py
Due: Orchestrator

Spc 660 to json broken 2 (#65)
  CameraProcessor/processor/pipeline/detection/idetector.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@b539cf2a4c24de04befcb11eec0d21f69be44d8d 🚀
  ProcessorOrchestrator/src/index.html
  ProcessorOrchestrator/src/src/main.html
  ProcessorOrchestrator/src/src/object_ids_handler.html
  ProcessorOrchestrator/src/src/object_manager.html
  ProcessorOrchestrator/src/src/timeline_handler.html
  index.html
Due: Orchestrator

Deploying to gh-pages from @ UU-tracktech/tracktech@42566e0faef40012ad07ee710af6f50f94b16877 🚀
  index.html
Due: none

FIX: Documentation raised an exception when importing module
  docs/README.md
  docs/documentation.py
Due: none

UFT: start screenshot
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
Due: Interface

DOC: Grammar
  docs/README.md
Due: none

Merge branch 'develop' into SPC-600-extract-tracked-subject-features
  .github/workflows/Forwarder_Test_Unit.yml
  .github/workflows/Interface-Orchestrator.yml
  .github/workflows/Interface_Test_Unit.yml
  .github/workflows/Orchestrator_Test_Integration.yml
  .github/workflows/Orchestrator_Test_Unit.yml
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Test_Unit.yml
  .gitmodules
  CameraProcessor/.gitignore
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/detection/idetector.py
  CameraProcessor/processor/pipeline/detection/yolor_runner.py
  CameraProcessor/requirements.txt
  CameraProcessor/yolov5s.pt
  Interface/react/.eslintrc.json
  Interface/react/.prettierrc.json
  Interface/react/src/app.tsx
  Interface/react/src/classes/source.ts
  Interface/react/src/components/cameraCard.tsx
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/objectTypeFilter.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/src/pages/needLogin.tsx
  Interface/react/testing/integration testing/websocketContext.test.tsx
Due: Interface, Processor
