Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

FIX: Gitmodules contains torchreid again
  .gitmodules
Due: none

FIX: Sort tracker, gdown instead of requests
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
  CameraProcessor/processor/pipeline/tracking/sort_tracker.py
Due: Processor

FIX: v1
  .github/workflows/Documentation.yml
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Forwarder_Test_Unit.yml
  .github/workflows/Interface-Orchestrator.yml
  .github/workflows/Interface_Build.yml
  .github/workflows/Interface_Lint.yml
  .github/workflows/Interface_Test_Unit.yml
  .github/workflows/Orchestrator_Build.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Orchestrator_Test_Integration.yml
  .github/workflows/Orchestrator_Test_Unit.yml
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Build.yml
  .github/workflows/Processor_Lint.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@bd070c900150d34693c9c0c868487ba296587f1f 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/data_object.html
  CameraProcessor/processor/processor/data_object/reid_data.html
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/pipeline.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/itracker.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/features.html
  ProcessorOrchestrator/src/index.html
  ProcessorOrchestrator/src/src.html
  ProcessorOrchestrator/src/src/main.html
  ProcessorOrchestrator/src/src/object_manager.html
  ProcessorOrchestrator/src/src/timeline_handler.html
  docs/docs/documentation.html
Due: Orchestrator, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@9ff1672ecd8e00e425aca54a13a1b2af273819b6 🚀
  index.html
Due: none

FIX: Fakewebsocket added
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@fcd28e353e7b47ff180f1e2ae6b487855d65f2d4 🚀
  index.html
Due: none

FFT: track snap
  Interface/react/src/classes/clientMessage.ts
  Interface/react/src/classes/orchestratorMessage.ts
  Interface/react/src/classes/size.ts
  Interface/react/src/classes/source.ts
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/pages/home.tsx
Due: Interface

FIX: tests
  Interface/react/testing/integration testing/websocketContext.test.tsx
  Interface/react/testing/unit testing/videojsplayer.test.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@389537d2ce7a99b964295fd83dbc049467539bf4 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/data_object.html
  CameraProcessor/processor/processor/data_object/reid_data.html
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/pipeline.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/itracker.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/webhosting/stream_handler.html
  docs/docs/documentation.html
  index.html
Due: Processor

FIX: typeingg
  Interface/react/src/components/overlay.tsx
  Interface/react/testing/integration testing/websocketContext.test.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@5dec0d436b0656a5765654d50dbf77e1a06a37ec 🚀
  index.html
Due: none

FIX: please work
  Interface/react/src/components/websocketContext.tsx
  Interface/react/testing/integration testing/websocketContext.test.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@9263611a92864ee966a67b49b24397721574b54f 🚀
  index.html
Due: none

FIX: now it works
  Interface/react/src/components/websocketContext.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@2ef579fe3bdaf413c7f8dee124c835be958532b2 🚀
  index.html
Due: none

FIX: Coverage
  CameraProcessor/.coveragerc
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@1acd145fe63f9f8fa8dc52d803dcbadd0e8f3d93 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/data_object.html
  CameraProcessor/processor/processor/data_object/reid_data.html
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/pipeline.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/itracker.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/utils/convert.html
  docs/docs/documentation.html
  index.html
Due: Processor

FIX: Typo in coverage ignore path
  CameraProcessor/.coveragerc
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@4a148cb2900b6df8dd87e6c7eac7c4676c26a3fc 🚀
  index.html
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@d949e729fe8390ad22463356832f616c658b7058 🚀
  index.html
Due: none

FFT: ffmpeg has to get used
  CameraProcessor/processor/input/hls_capture.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@3621bbde286a5238e1390428237e45358580480b 🚀
  CameraProcessor/processor/processor/input/hls_capture.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  index.html
Due: Processor

FIX: Linting
  CameraProcessor/configs.ini
  CameraProcessor/processor/input/hls_capture.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@68bbb6ffa3cf10df1938e43ef8279bb6662dfde5 🚀
  CameraProcessor/processor/processor/input/hls_capture.html
  index.html
Due: Processor

FFT Handle lost forwarder
  Interface/react/src/components/videojsPlayer.tsx
Due: Interface

FIX: Invalid URL was not detected
  CameraProcessor/processor/input/hls_capture.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@c2aaa0e90b0c071146f4d2c566429929310c5088 🚀
  CameraProcessor/processor/processor/input/hls_capture.html
  index.html
Due: Processor

FIX: Linting
  CameraProcessor/processor/input/hls_capture.py
Due: Processor

FFT handle lost forwarder
  Interface/react/src/components/videojsPlayer.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@308c251e144e39080439fe7e98ce67e860c9ae4d 🚀
  CameraProcessor/processor/processor/input/hls_capture.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  index.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@7a86d86eb6bef25e6d7fa118c24e0a4410b133d0 🚀
  CameraProcessor/processor/processor/input/hls_capture.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  index.html
Due: Processor

CRF prettier was angry
  Interface/react/src/app.tsx
  Interface/react/src/components/cameraCard.tsx
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/objectTypeFilter.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/src/pages/needLogin.tsx
Due: Interface

Spc 666 choose in config which runner to choose per stage (#64)
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

FIX test_process_frames now works
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
  CameraProcessor/test-configs.ini
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@5ef4c268dc8b358f7f453eb2dbf84b5722223b08 🚀
  CameraProcessor/processor/processor/input/hls_capture.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  index.html
Due: Processor

FIX unused import linting error
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

Path conditions:
  Forwarder: any of: VideoForwarder/src
  Interface: any of: Interface/react
  Orchestrator: any of: ProcessorOrchestrator/src
  Processor: any of: CameraProcessor/processor
