Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

codecov.yml:

codecov:
  branch: develop
  max_report_age: off

coverage:
  status:
    project:
      default: off
      Forwarder:
        target: 100%
        flags:
          - Forwarder
      Interface:
        target: 100%
        flags:
          - Interface
      Orchestrator:
        target: 100%
        flags:
          - Orchestrator
      Processor:
        target: 100%
        flags:
          - Processor

flags:
  # filter the folder(s) you wish to measure by that flag
  Forwarder:
    # only include files in the backend folder
    paths:
      -  VideoForwarder/src
  Interface:
    paths:
      - Interface/react
  Orchestrator:
    paths:
      - ProcessorOrchestrator/src
  Processor:
    paths:
      - CameraProcessor/processor

FIX Docker
  ProcessorOrchestrator/Dockerfile
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@4dd2d131b6da5c19d781741c8e55228abcc9328b 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/reid_data.html
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/webhosting/stream_handler.html
  index.html
Due: Processor

FIX: Regex
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Orchestrator_Lint.yml
  .pylintrc
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@a8218dec34e2e11be2df727f1ec834e7b7ba6691 🚀
  index.html
Due: none

OTH: Put changes on different branch (#107)
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Processor_Lint.yml
  .gitignore
  .pylintrc
  CameraProcessor/Dockerfile
  ProcessorOrchestrator/Dockerfile
  ProcessorOrchestrator/requirements-test.txt
  VideoForwarder/Dockerfile
  docs/requirements.txt
  utility/pylint_ignore.py
Due: none

FIX: audio removed
  VideoForwarder/tests/unittest/server_unit_test.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@50bd1487f92fa9dab219f97e1fe0ad9db3ae6187 🚀
  VideoForwarder/src/src/conversion_process.html
Due: Forwarder

Deploying to gh-pages from @ UU-tracktech/tracktech@572e406fad69efd171800571952c41d4c638da90 🚀
  ProcessorOrchestrator/src/src/client_socket.html
  ProcessorOrchestrator/src/src/object_manager.html
  ProcessorOrchestrator/src/src/processor_socket.html
  VideoForwarder/src/src/conversion_process.html
Due: Forwarder, Orchestrator

Spc 671 create own video stream (#104)
  CameraProcessor/compose/docker-compose+forwarder.yml
  VideoForwarder/Dockerfile
  VideoForwarder/README.md
  VideoForwarder/docker-compose.yml
  VideoForwarder/src/conversion_process.py
  VideoForwarder/tests/unittest/server_unit_test.py
Due: Forwarder

Spc 650 get store and serve cutout images from and to the interface (#103)
  ProcessorOrchestrator/README.md
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/object_manager.py
  ProcessorOrchestrator/src/processor_socket.py
  ProcessorOrchestrator/tests/integration_testing/communication_test.py
  ProcessorOrchestrator/tests/testing_server.py
  ProcessorOrchestrator/tests/unit_testing/tracking_objects_test.py
Due: Orchestrator

FFT: Add functionalities to the objects
  CameraProcessor/processor/data_object/bounding_box.py
  CameraProcessor/processor/data_object/bounding_boxes.py
  CameraProcessor/processor/data_object/frame_obj.py
  CameraProcessor/processor/data_object/rectangle.py
Due: Processor

CRF: Use the newly implemented functions of data objects where possible
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/processor/pipeline/framebuffer.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
  CameraProcessor/processor/pipeline/tracking/sort_tracker.py
  CameraProcessor/processor/utils/convert.py
  CameraProcessor/processor/utils/draw.py
  CameraProcessor/processor/utils/text.py
  CameraProcessor/tests/unittests/data_object/test_bounding_boxes.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@470e24addf28b99bca6777face8baa580f7e51a2 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/text.html
  VideoForwarder/src/src/conversion_process.html
Due: Forwarder, Processor

FIX: Linting
  CameraProcessor/processor/data_object/bounding_boxes.py
  CameraProcessor/processor/pipeline/tracking/sort_tracker.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@526741ea1c5c7fc04f209060309f8f7cf197ba6f 🚀
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
Due: Processor

FFT: move yolo specific implementation specif logic to iyolodetector
  CameraProcessor/processor/pipeline/detection/i_yolo_detector.py
  CameraProcessor/processor/pipeline/detection/idetector.py
  CameraProcessor/processor/pipeline/detection/yolor_runner.py
  CameraProcessor/processor/pipeline/detection/yolov5_runner.py
Due: Processor

FIX: Wrong identation
  .github/workflows/Forwarder_Lint.yml
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@e928aa53beff8ea85d56b323e72cf61e0d419cdf 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/text.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@8a4ae0a9b6ea719aa359474ef2f6eaf6693292e1 🚀
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
Due: Processor

FIX: Dockerfile workdirectory
  VideoForwarder/Dockerfile
Due: none

FIX: Set python path
  VideoForwarder/Dockerfile
Due: none

FIX: Increase timeout so there is time to download models
  CameraProcessor/tests/unittests/webhosting/test_stream_handler.py
Due: none

FIX: Change workdir
  VideoForwarder/Dockerfile
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@dbc070e35a947587e98b9e566f59969b8f769edf 🚀
  index.html
Due: none

FIX: Linting
  CameraProcessor/tests/unittests/webhosting/test_stream_handler.py
Due: none

FFT reload if forwarder disconnects
  Interface/react/src/components/videojsPlayer.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@f78140b57b2f79fa6f4cce9a7c49ef93f6b5ab1a 🚀
  index.html
Due: none

OTH remove unused import
  Interface/react/src/components/videojsPlayer.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@92267341431f9bf62328d5396ca8515ee4b19773 🚀
  index.html
Due: none

FIX: Increase timeout so there is time to download models (#111)
  CameraProcessor/tests/unittests/webhosting/test_stream_handler.py
Due: none

FIX: Wrong identation in docker-compose file (#110)
  .github/workflows/Forwarder_Lint.yml
  VideoForwarder/Dockerfile
Due: none

UFT: Created testing files
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_json_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_mot_dataloader.py
Due: none

DOC: Added copyright docstring
  CameraProcessor/tests/unittests/dataloaders/__init__.py
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_json_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_mot_dataloader.py
Due: none

UFT: added imports
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_json_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_mot_dataloader.py
Due: none

UFT: Test classes
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_json_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_mot_dataloader.py
Due: none
