Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

DOC: adjustement to new README format
  CameraProcessor/README.md
Due: none

UFT: adding fastreid as submodule
  .gitmodules
  .pylintrc
  CameraProcessor/.coveragerc
  CameraProcessor/processor/pipeline/reidentification/fastreid/config.yml
  CameraProcessor/processor/pipeline/reidentification/fastreid_runner.py
Due: Processor

TST: test globals in scheduler.
  CameraProcessor/tests/unittests/scheduling/test_scheduler.py
  CameraProcessor/tests/unittests/scheduling/utils/schedule_wrapper.py
Due: none

CRF Better use of inheritance
  CameraProcessor/processor/dataloaders/idataloader.py
  CameraProcessor/processor/dataloaders/json_dataloader.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@dc564352454b3a839741e6b83b50c6b270be9156 🚀
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/itracker.html
  CameraProcessor/processor/processor/scheduling/component/func_call_component.html
  CameraProcessor/processor/processor/scheduling/node/inode.html
  CameraProcessor/processor/processor/scheduling/node/schedule_node.html
  CameraProcessor/processor/processor/scheduling/plan/example_plan.html
  CameraProcessor/processor/processor/scheduling/plan/pipeline_plan.html
  CameraProcessor/processor/processor/scheduling/scheduler.html
  index.html
Due: Processor

CRF No longer pass delimiter as an argument when it is not needed.
  CameraProcessor/processor/dataloaders/idataloader.py
  CameraProcessor/processor/dataloaders/json_dataloader.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
Due: Processor

CRF Refactor COCO Dataloader similarly to the rest of the refactors
  CameraProcessor/processor/dataloaders/coco_dataloader.py
Due: Processor

DOC: Docstrings.
  .pylintrc
  CameraProcessor/processor/dataloaders/coco_dataloader.py
  CameraProcessor/processor/dataloaders/idataloader.py
  CameraProcessor/processor/dataloaders/json_dataloader.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
  utility/docstring_content_checker.py
Due: Processor

UFT: Add fastreid symlink
  .gitmodules
  CameraProcessor/processor/pipeline/reidentification/fastreid/config.yml
Due: Processor

BUG accuracy too low
  CameraProcessor/configs.ini
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/processor/data_object/rectangle.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
  CameraProcessor/processor/pipeline/tracking/sort/sort.py
Due: Processor

FFT: id instead of url
  CameraProcessor/README.md
  CameraProcessor/processor/main.py
  CameraProcessor/processor/utils/config_parser.py
  Interface/react/public/cameras.json
  Interface/react/public/index.html
  Interface/react/src/index.tsx
  Interface/react/src/pages/home.tsx
Due: Interface, Processor

FIX: removed configs
  CameraProcessor/configs.ini
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@db6013792823d4596eb1b66ffe75f3458f5f96e0 🚀
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/itracker.html
  CameraProcessor/processor/processor/scheduling/component/func_call_component.html
  CameraProcessor/processor/processor/scheduling/node/inode.html
  CameraProcessor/processor/processor/scheduling/node/schedule_node.html
  CameraProcessor/processor/processor/scheduling/plan/example_plan.html
  CameraProcessor/processor/processor/scheduling/plan/pipeline_plan.html
  CameraProcessor/processor/processor/scheduling/scheduler.html
  CameraProcessor/processor/processor/utils/config_parser.html
  index.html
Due: Processor

FIX: stuklopen
  CameraProcessor/processor/utils/config_parser.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@d615631af41d714efc0ac0ec378a6f2330690924 🚀
  CameraProcessor/processor/processor/utils/config_parser.html
Due: Processor

FIX: remove
  ProcessorOrchestrator/Auth-1.0.tar.gz
Due: none

FIX: add
  ProcessorOrchestrator/Auth-1.0.tar.gz
Due: none

Spc 832 invaldi algorithm error for auth (#121)
  ProcessorOrchestrator/Auth-1.0.tar.gz
Due: none

TST: Added tests for selection functionality
  Interface/react/src/classes/clientMessage.ts
  Interface/react/src/components/selectionCard.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/testing/integration testing/websocketContext.test.tsx
  Interface/react/testing/unit testing/clientMessage.test.tsx
  Interface/react/testing/unit testing/selectionCard.test.tsx
Due: Interface

OTH: Prettier
  Interface/react/src/components/websocketContext.tsx
Due: Interface

UFT: Training ReID
  CameraProcessor/processor/training/reidentification/__init__.py
  CameraProcessor/processor/training/reidentification/train.py
Due: Processor

UFT sort-oh symlink
  .gitmodules
Due: none

CRF: Dataset in data/annotated folder
  CameraProcessor/processor/training/reidentification/train.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@667b7b2fcf1784781af8dcabbbddece6be537da4 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/training.html
  CameraProcessor/processor/processor/utils/text.html
  CameraProcessor/processor/processor/webhosting/start_command.html
  CameraProcessor/processor/processor/webhosting/start_command_extended.html
  CameraProcessor/processor/processor/webhosting/start_command_search.html
  CameraProcessor/processor/processor/webhosting/start_command_simple.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@e8d08d78778f1da625c3bfa8b390e68e2c6de277 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/training.html
  CameraProcessor/processor/processor/training/reidentification.html
  CameraProcessor/processor/processor/training/reidentification/train.html
  CameraProcessor/processor/processor/utils/text.html
  CameraProcessor/processor/processor/webhosting.html
  CameraProcessor/processor/processor/webhosting/start_command.html
  CameraProcessor/processor/processor/webhosting/start_command_simple.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  index.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@a6dab65d1c19a41ac63d4c42b7f9f82801aa2414 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/training.html
  CameraProcessor/processor/processor/training/reidentification.html
  CameraProcessor/processor/processor/training/reidentification/train.html
  index.html
Due: Processor

TST boundingbox filter
  Interface/react/testing/integration testing/websocketContext.test.tsx
Due: Interface

CRF: Run main
  CameraProcessor/configs.ini
  CameraProcessor/processor/training/reidentification/train.py
Due: Processor

FIX: Interger values rather than floats
  CameraProcessor/processor/training/reidentification/train.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@7109ca399e8956e57805951cf4805911e0f270ed 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/training/reidentification.html
  CameraProcessor/processor/processor/training/reidentification/train.html
  index.html
Due: Processor

DOC: Comments
  CameraProcessor/processor/training/reidentification/train.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@aac5a4af2db9e025a7e3b52a1aca554329fb1cb3 🚀
  CameraProcessor/processor/processor/training/reidentification/train.html
  index.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@1fab72d2812e2e9518e0b3c89fab8654f65f227d 🚀
  CameraProcessor/processor/processor/training/reidentification/train.html
Due: Processor

Path conditions:
  Forwarder: any of: VideoForwarder/src
  Interface: any of: Interface/react
  Orchestrator: any of: ProcessorOrchestrator/src
  Processor: any of: CameraProcessor/processor
