Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

FIX: Integration testing
  ProcessorOrchestrator/tests/integration_testing/communication_test.py
Due: none

UFT: Forwarder done.
  ProcessorOrchestrator/tests/integration_testing/communication_test.py
  VideoForwarder/compose/docker-compose_lint.yml
  VideoForwarder/compose/docker-compose_test_unit.yml
  VideoForwarder/docker-compose.yml
  VideoForwarder/src/camera_handler.py
  VideoForwarder/src/loading.py
  VideoForwarder/src/logging_filter.py
  VideoForwarder/src/main.py
  VideoForwarder/tests/auth_setup.py
  VideoForwarder/tests/server_unit_test.py
  VideoForwarder/tests/slow_server_unit_test.py
  VideoForwarder/tests/unit_test.py
Due: Forwarder

FIX: Missing qoute
  ProcessorOrchestrator/tests/integration_testing/communication_test.py
Due: none

FIX: stream
  VideoForwarder/docker-compose.yml
Due: none

FIX: warning
  VideoForwarder/src/conversion_process.py
Due: Forwarder

FIX: set to target gpu
  VideoForwarder/compose/docker-compose_build_gpu.yml
Due: none

Spc 830 add hardware support for the forwarder (#172)
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Forwarder_Deploy.yml
  README.md
  VideoForwarder/Dockerfile
  VideoForwarder/README.md
  VideoForwarder/compose/docker-compose_build_gpu.yml
Due: none

Spc 830 add hardware support for the forwarder (#172)
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Forwarder_Deploy.yml
  VideoForwarder/Dockerfile
  VideoForwarder/README.md
  VideoForwarder/compose/docker-compose_build_gpu.yml
Due: none

FIX: double qoutes
  ProcessorOrchestrator/src/handlers/timeline_handler.py
  docker-compose.yml
Due: Orchestrator

FIX: Qoutes
  ProcessorOrchestrator/tests/integration_testing/communication_test.py
Due: none

FFT: Single qoutes.
  ProcessorOrchestrator/tests/integration_testing/communication_test.py
Due: none

FIX: Merge develop
  .github/workflows/Documentation.yml
  .github/workflows/Forwarder_Deploy.yml
  .github/workflows/Interface_Deploy.yml
  .github/workflows/Orchestrator_Deploy.yml
  .github/workflows/Processor_Build.yml
  .github/workflows/Processor_Deploy.yml
  VideoForwarder/compose/docker-compose_build_gpu.yml
Due: none

FIX: requested changes
  .github/workflows/Forwarder_Deploy.yml
Due: none

FIX: fastreid can use interface cutout without crashing
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/pytorch_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
Due: Processor

FIX: Disabling unused tests
  CameraProcessor/processor/websocket/identify_message.py
  CameraProcessor/processor/websocket/websocket_client.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/orchestratorintegrationtests/test_send_to_orchestrator.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/tests/unittests/utils/fake_websocket.py
  CameraProcessor/tests/unittests/webhosting/test_start_commands.py
  CameraProcessor/tests/unittests/webhosting/test_stop_command.py
  CameraProcessor/tests/unittests/webhosting/test_update_command.py
  CameraProcessor/tests/unittests/webhosting/test_websocket_client.py
  CameraProcessor/tests/unittests/websocket/test_start_message.py
Due: Processor

FIX: made a little mistake
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
Due: Processor

FIX: Remove tests, since comments are not allowed
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/unittests/utils/fake_websocket.py
  CameraProcessor/tests/unittests/webhosting/test_start_commands.py
  CameraProcessor/tests/unittests/webhosting/test_stop_command.py
  CameraProcessor/tests/unittests/webhosting/test_update_command.py
  CameraProcessor/tests/unittests/webhosting/test_websocket_client.py
  CameraProcessor/tests/unittests/websocket/test_start_message.py
Due: none

FFT Done... I guess? (#169)
  Interface/react/public/index.html
Due: Interface

RFT: Linting
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/websocket/start_message.py
  CameraProcessor/processor/websocket/websocket_client.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/tests/unittests/utils/fake_websocket.py
Due: Processor

FIX: Send message rename
  CameraProcessor/processor/main.py
Due: Processor

RFT: More linting
  CameraProcessor/processor/websocket/boxes_message.py
  CameraProcessor/processor/websocket/i_message.py
  CameraProcessor/processor/websocket/start_message.py
  CameraProcessor/processor/websocket/stop_message.py
  CameraProcessor/processor/websocket/update_message.py
  CameraProcessor/processor/websocket/websocket_client.py
Due: Processor

FIX: adaptive bitrate
  VideoForwarder/src/conversion_process.py
Due: Forwarder

FIX: Typo
  CameraProcessor/processor/websocket/start_message.py
Due: Processor

FIX: Use image if frame buffer too small
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
  CameraProcessor/processor/websocket/start_message.py
Due: Processor

FIX: Remove unused functions
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
Due: Processor

RFT: Double to single quotes
  CameraProcessor/processor/websocket/boxes_message.py
  CameraProcessor/processor/websocket/i_message.py
  CameraProcessor/processor/websocket/start_message.py
  CameraProcessor/processor/websocket/stop_message.py
  CameraProcessor/processor/websocket/update_message.py
  CameraProcessor/processor/websocket/websocket_client.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/orchestratorintegrationtests/test_send_to_orchestrator.py
Due: Processor

RFT: Quotes
  CameraProcessor/processor/websocket/stop_message.py
  CameraProcessor/processor/websocket/update_message.py
Due: Processor

Intermediate merge: Spc 836 refactor websocket client api (#174)
  CameraProcessor/processor/data_object/bounding_box.py
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/fast_re_identifier.py
  CameraProcessor/processor/pipeline/reidentification/torch_re_identifier.py
  CameraProcessor/processor/webhosting/README.md
  CameraProcessor/processor/webhosting/start_command.py
  CameraProcessor/processor/webhosting/start_command_extended.py
  CameraProcessor/processor/webhosting/start_command_search.py
  CameraProcessor/processor/webhosting/start_command_simple.py
  CameraProcessor/processor/webhosting/stop_command.py
  CameraProcessor/processor/webhosting/update_command.py
  CameraProcessor/processor/websocket/__init__.py
  CameraProcessor/processor/websocket/boxes_message.py
  CameraProcessor/processor/websocket/i_message.py
  CameraProcessor/processor/websocket/start_message.py
  CameraProcessor/processor/websocket/stop_message.py
  CameraProcessor/processor/websocket/update_message.py
  CameraProcessor/processor/websocket/websocket_client.py
  CameraProcessor/tests/orchestratorintegrationtests/test_connection.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/orchestratorintegrationtests/test_send_to_orchestrator.py
  CameraProcessor/tests/orchestratorintegrationtests/websocket_client_dummy.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/tests/unittests/utils/dummy_websocket_client.py
  CameraProcessor/tests/unittests/utils/fake_websocket.py
  CameraProcessor/tests/unittests/webhosting/test_start_commands.py
  CameraProcessor/tests/unittests/webhosting/test_stop_command.py
  CameraProcessor/tests/unittests/webhosting/test_update_command.py
  CameraProcessor/tests/unittests/webhosting/test_websocket_client.py
  CameraProcessor/tests/unittests/websocket/__init__.py
  CameraProcessor/tests/unittests/websocket/test_start_message.py
Due: Processor

FFT: Draw re_idboxes (#164)
  CameraProcessor/processor/utils/display.py
  CameraProcessor/processor/utils/draw.py
Due: Processor

CRF coco_image id in set_up method for readability of test
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
Due: none

TST also test if a category id exists in the annotations
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
Due: none

CRF parse bbox before appending
  CameraProcessor/processor/dataloaders/i_dataloader.py
Due: Processor

CRF Only calculate the image size once (all MOT images have the same dimensions)
  CameraProcessor/processor/dataloaders/mot_dataloader.py
Due: Processor

TST Create new configs for testing
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_json_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_mot_dataloader.py
Due: none

CRF move get_dataloaders to utils
  CameraProcessor/processor/training/detection/accuracy_object.py
  CameraProcessor/processor/utils/dataloader.py
Due: Processor

Path conditions:
  Forwarder: any of: VideoForwarder/src
  Interface: any of: Interface/react
  Orchestrator: any of: ProcessorOrchestrator/src
  Processor: any of: CameraProcessor/processor
