Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

codecov.yml:

codecov:
  branch: develop
  max_report_age: off

coverage:
  status:
    project:
      default: off
      Forwarder:
        target: 100%
        flags:
          - Forwarder
      Interface:
        target: 100%
        flags:
          - Interface
      Orchestrator:
        target: 100%
        flags:
          - Orchestrator
      Processor:
        target: 100%
        flags:
          - Processor

flags:
  # filter the folder(s) you wish to measure by that flag
  Forwarder:
    # only include files in the backend folder
    paths:
      -  VideoForwarder/src
  Interface:
    paths:
      - Interface/react
  Orchestrator:
    paths:
      - ProcessorOrchestrator/src
  Processor:
    paths:
      - CameraProcessor/processor

FIX: Lock numpy version and silence warning
  CameraProcessor/pytest.ini
  CameraProcessor/requirements.txt
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@247f19a1238a5f2c630faf3e1dff42bddb95dbfb 🚀
  index.html
Due: none

UFT: Mock test functions
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_json_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_mot_dataloader.py
Due: none

UFT: imports
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_json_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_mot_dataloader.py
Due: none

CRF: linting
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_json_dataloader.py
Due: none

FIX: Small error in accuracy test
  CameraProcessor/tests/unittests/test_accuracy_runner.py
Due: none

CRF: Improve readability of range test
  CameraProcessor/tests/unittests/test_accuracy_runner.py
Due: none

OTH: Code feedback
  CameraProcessor/processor/data_object/bounding_box.py
  CameraProcessor/processor/data_object/rectangle.py
Due: Processor

FFT: move yolo specific implementation specif logic to iyolodetector (#109)
  CameraProcessor/processor/pipeline/detection/i_yolo_detector.py
  CameraProcessor/processor/pipeline/detection/idetector.py
  CameraProcessor/processor/pipeline/detection/yolor_runner.py
  CameraProcessor/processor/pipeline/detection/yolov5_runner.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@71678fb2d7680eded981fcca6eaab0c3f6e808f8 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/text.html
Due: Processor

FFT: scheduler iteration can use shared globals.
  CameraProcessor/processor/pipeline/prepare_pipeline.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/scheduling/node/inode.py
  CameraProcessor/processor/scheduling/node/schedule_node.py
  CameraProcessor/processor/scheduling/plan/example_plan.py
  CameraProcessor/processor/scheduling/plan/pipeline_plan.py
  CameraProcessor/processor/scheduling/scheduler.py
Due: Processor

OTH: Sync
  CameraProcessor/processor/webhosting/websocket_client.py
Due: Processor

CRF: Remove global vars from conftest
  CameraProcessor/tests/unittests/utils/conftest.py
Due: none

FFT: integrate re-identification into pipeline_plan.py.
  CameraProcessor/processor/pipeline/detection/idetector.py
  CameraProcessor/processor/pipeline/detection/yolov5_runner.py
  CameraProcessor/processor/pipeline/prepare_pipeline.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/ireidentifier.py
  CameraProcessor/processor/pipeline/tracking/itracker.py
  CameraProcessor/processor/pipeline/tracking/sort_tracker.py
  CameraProcessor/processor/scheduling/component/func_call_component.py
  CameraProcessor/processor/scheduling/plan/pipeline_plan.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@6c9ffca1c78b7f76174a2a48630af51c33288bc1 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/itracker.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/scheduling/component/func_call_component.html
  CameraProcessor/processor/processor/scheduling/node/inode.html
  CameraProcessor/processor/processor/scheduling/node/schedule_node.html
  CameraProcessor/processor/processor/scheduling/plan/example_plan.html
  CameraProcessor/processor/processor/scheduling/plan/pipeline_plan.html
  CameraProcessor/processor/processor/scheduling/scheduler.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/text.html
Due: Processor

TST: IDataloader
  CameraProcessor/test-configs.ini
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
  CameraProcessor/tests/unittests/utils/test_draw.py
  CameraProcessor/tests/unittests/utils/test_features.py
Due: none

CRF: Code review feedback
  CameraProcessor/processor/pipeline/framebuffer.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@ec599dd422108f6e157c55ace396586e20f51373 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/itracker.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/scheduling/component/func_call_component.html
  CameraProcessor/processor/processor/scheduling/node/inode.html
  CameraProcessor/processor/processor/scheduling/node/schedule_node.html
  CameraProcessor/processor/processor/scheduling/plan/example_plan.html
  CameraProcessor/processor/processor/scheduling/plan/pipeline_plan.html
  CameraProcessor/processor/processor/scheduling/scheduler.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/text.html
  index.html
Due: Processor

Spc 765 refactor data objects (#108)
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/processor/data_object/bounding_box.py
  CameraProcessor/processor/data_object/bounding_boxes.py
  CameraProcessor/processor/data_object/frame_obj.py
  CameraProcessor/processor/data_object/rectangle.py
  CameraProcessor/processor/pipeline/framebuffer.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
  CameraProcessor/processor/pipeline/tracking/sort_tracker.py
  CameraProcessor/processor/utils/convert.py
  CameraProcessor/processor/utils/draw.py
  CameraProcessor/processor/utils/text.py
  CameraProcessor/tests/unittests/data_object/test_bounding_boxes.py
Due: Processor

FFT: Spc 414 reconnect when stream suddenly stops (#112)
  Interface/react/src/app.tsx
  Interface/react/src/components/cameraCard.tsx
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/loggedInUser.tsx
  Interface/react/src/components/loginButton.tsx
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/objectTypeFilter.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/src/pages/needLogin.tsx
Due: Interface

TST: Bounding boxes
  CameraProcessor/tests/unittests/conftest.py
  CameraProcessor/tests/unittests/data_object/test_bounding_boxes.py
  CameraProcessor/tests/unittests/utils/conftest.py
Due: none

CRF: BoundingBox, Rectangle refactor
  CameraProcessor/tests/unittests/data_object/test_bounding_boxes.py
  CameraProcessor/tests/unittests/data_object/test_rectangle.py
Due: none

CRF: All fix
  CameraProcessor/tests/unittests/data_object/test_rectangle.py
Due: none

CRF: Linting, Proper assert on rectangle
  CameraProcessor/tests/unittests/data_object/test_rectangle.py
Due: none

FFT: fixed stretched video footages
  VideoForwarder/src/conversion_process.py
  VideoForwarder/src/logging_filter.py
Due: Forwarder

OTH: accidental '-re ' removed
  VideoForwarder/src/conversion_process.py
Due: Forwarder

Deploying to gh-pages from @ UU-tracktech/tracktech@f42f6c8bb531516021de9672a3069464be79c38e 🚀
  VideoForwarder/src/src/conversion_process.html
  VideoForwarder/src/src/logging_filter.html
  index.html
Due: Forwarder

Deploying to gh-pages from @ UU-tracktech/tracktech@3265fd119dfa5f281201e5585f6f2137f7e7f17d 🚀
  VideoForwarder/src/src/conversion_process.html
Due: Forwarder

FIX: added framebuffer.py call to pipeline_plan.py.
  CameraProcessor/processor/pipeline/framebuffer.py
  CameraProcessor/processor/pipeline/prepare_pipeline.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/scheduling/plan/pipeline_plan.py
  CameraProcessor/processor/scheduling/scheduler.py
Due: Processor

TST: fixes for changed scheduler.
  CameraProcessor/processor/scheduling/node/schedule_node.py
  CameraProcessor/processor/scheduling/scheduler.py
  CameraProcessor/tests/unittests/scheduling/conftest.py
  CameraProcessor/tests/unittests/scheduling/node/test_schedule_node.py
  CameraProcessor/tests/unittests/scheduling/test_scheduler.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@550466fd3913a3cbdf32b825519c01588ce018ca 🚀
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/itracker.html
  CameraProcessor/processor/processor/scheduling/component/func_call_component.html
  CameraProcessor/processor/processor/scheduling/node/inode.html
  CameraProcessor/processor/processor/scheduling/node/schedule_node.html
  CameraProcessor/processor/processor/scheduling/plan/example_plan.html
  CameraProcessor/processor/processor/scheduling/plan/pipeline_plan.html
  CameraProcessor/processor/processor/scheduling/scheduler.html
  VideoForwarder/src/src/conversion_process.html
  VideoForwarder/src/src/logging_filter.html
Due: Forwarder, Processor

TST: add empty dict to all ScheduleNode constructors in tests.
  CameraProcessor/processor/pipeline/framebuffer.py
  CameraProcessor/tests/unittests/scheduling/node/test_schedule_node.py
  CameraProcessor/tests/unittests/scheduling/test_scheduler.py
  CameraProcessor/tests/unittests/scheduling/utils/schedule_wrapper.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@713d6936e1cbda22d3f6b366f1df34705f93d908 🚀
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  index.html
Due: Processor

TST: removed unnecessary attributes test on scheduler node.
  CameraProcessor/tests/unittests/scheduling/node/test_schedule_node.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@4a95517e15b679206890ad130a8644ac0bfb91b3 🚀
  index.html
Due: none

FFT: fixed stretched video footages (#115)
  VideoForwarder/src/conversion_process.py
  VideoForwarder/src/logging_filter.py
Due: Forwarder
