Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@f77c3ce90e87bf795d1ae69c60d6b4998dd1748f 🚀
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/itracker.html
  CameraProcessor/processor/processor/scheduling/node/inode.html
  CameraProcessor/processor/processor/scheduling/node/schedule_node.html
  CameraProcessor/processor/processor/scheduling/plan/example_plan.html
  CameraProcessor/processor/processor/scheduling/plan/pipeline_plan.html
  CameraProcessor/processor/processor/scheduling/scheduler.html
  CameraProcessor/processor/processor/utils/create_runners.html
  index.html
Due: Processor

FIX: pylint
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@4b1395b58420ad41e580bc6a7ac855d10dbd53b3 🚀
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
Due: Processor

FIX: updated requirements
  CameraProcessor/requirements-reid.txt
Due: none

FIX: updated unit test
  CameraProcessor/tests/unittests/utils/test_features.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@7865bceb4b96b0702ab33250abb61bd446300dde 🚀
  index.html
Due: none

Spc 757 send init message to the orchestrator to get image cutouts (#122)
  Interface/react/public/cameras.json
  Interface/react/src/classes/clientMessage.ts
  Interface/react/src/classes/orchestratorMessage.ts
  Interface/react/src/components/selectionCard.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/testing/integration testing/websocketContext.test.tsx
  Interface/react/testing/unit testing/clientMessage.test.tsx
  Interface/react/testing/unit testing/selectionCard.test.tsx
Due: Interface

OTH solve merge conf
  Interface/react/testing/integration testing/websocketContext.test.tsx
Due: Interface

TST: convert.py
  CameraProcessor/tests/unittests/utils/test_convert.py
Due: none

FIX: Linting
  CameraProcessor/tests/unittests/input/test_captures.py
  CameraProcessor/tests/unittests/utils/test_convert.py
Due: none

FIX: linting
  CameraProcessor/tests/unittests/input/test_captures.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@5648480fe6a993ed41f3190e63b04ca502c05f20 🚀
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/utils/create_runners.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@9a13e087c4b4aef0a154c5b6ccac7e30625324e0 🚀
  index.html
Due: none

FIX Docstring checker fix
  CameraProcessor/processor/pipeline/detection/i_yolo_detector.py
  CameraProcessor/processor/scheduling/component/base_component.py
  CameraProcessor/processor/scheduling/component/func_call_component.py
  CameraProcessor/processor/webhosting/websocket_client.py
  CameraProcessor/tests/unittests/utils/test_text.py
  utility/comment_checker.py
  utility/docstring_checker.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@3e5f8a9a5a3539b73d3e30a9c3aab56f90d493cd 🚀
  CameraProcessor/processor/processor/scheduling/component/base_component.html
  CameraProcessor/processor/processor/scheduling/component/func_call_component.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  utility/utility/comment_checker.html
  utility/utility/docstring_checker.html
Due: Processor

TST: Utils folder 100% coverage
  CameraProcessor/processor/utils/text.py
  CameraProcessor/tests/unittests/utils/test_text.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@70b30dc38e24dd948221b916fdf37330c0b30bcd 🚀
  CameraProcessor/processor/processor/scheduling/component/base_component.html
  CameraProcessor/processor/processor/scheduling/component/func_call_component.html
  CameraProcessor/processor/processor/utils/text.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  utility/utility/comment_checker.html
  utility/utility/docstring_checker.html
Due: Processor

FIX: Linting
  CameraProcessor/tests/unittests/utils/test_text.py
Due: none

FIX: upscaling
  VideoForwarder/src/conversion_process.py
Due: Forwarder

FIX: copy paste mistake
  VideoForwarder/src/conversion_process.py
Due: Forwarder

FIX: copy paste mistake 2
  VideoForwarder/src/conversion_process.py
Due: Forwarder

Deploying to gh-pages from @ UU-tracktech/tracktech@6707d6efcc055a5bd5cd188d4065609bdd4e168b 🚀
  CameraProcessor/processor/processor/utils/text.html
  VideoForwarder/src/src/conversion_process.html
Due: Forwarder, Processor

DOC: linting
  VideoForwarder/src/conversion_process.py
Due: Forwarder

DOC: LINTINGG
  VideoForwarder/src/conversion_process.py
Due: Forwarder

Deploying to gh-pages from @ UU-tracktech/tracktech@8b50f1e0adf3b625ccdf01d793eaabfe230bbc25 🚀
  VideoForwarder/src/src/conversion_process.html
Due: Forwarder

Deploying to gh-pages from @ UU-tracktech/tracktech@f9b91442cea0c9e504407a3449e761723a82315d 🚀
  VideoForwarder/src/src/conversion_process.html
  index.html
Due: Forwarder

DOC: Docstring content
  CameraProcessor/tests/unittests/utils/test_convert.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@5e1d19730e8e39ea814d7f6ef441eb554aaf9590 🚀
  CameraProcessor/processor/processor/utils/text.html
  VideoForwarder/src/src/conversion_process.html
  index.html
Due: Forwarder, Processor

OTH: updated test-config
  CameraProcessor/test-configs.ini
Due: none

FIX Hopefully added auth linting
  .github/workflows/Auth_Lint.yml
  utility/Auth/Dockerfile
  utility/Auth/auth/auth.py
  utility/Auth/compose/docker-compose_lint.yml
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@48a0ef6d7165967ac610a5dae3aa14b5b7b8a994 🚀
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/utils/create_runners.html
  CameraProcessor/processor/processor/utils/text.html
  index.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@2a5c89b1845a311cd2856b1d3bdcb6f42d1d2e87 🚀
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/utils/create_runners.html
  index.html
Due: Processor

Spc 828 fix glitching video stream (#130)
  VideoForwarder/src/conversion_process.py
Due: Forwarder

FIX Hopefully fixed
  .github/workflows/Auth_Lint.yml
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@04fa265e6e2dfcadc3ccd6bd233e4021f41f22a8 🚀
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/utils/create_runners.html
  VideoForwarder/src/src/conversion_process.html
Due: Forwarder, Processor

FIX: added back env
  CameraProcessor/configs.ini
  Interface/react/public/cameras.json
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@3e6a666fa45682c72be8bc43ccf12e5f3d27609c 🚀
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/utils/create_runners.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@dde9b66228f257721bc6f9be384fa00da5927a49 🚀
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/utils/config_parser.html
  index.html
Due: Processor

Path conditions:
  Forwarder: any of: VideoForwarder/src
  Interface: any of: Interface/react
  Orchestrator: any of: ProcessorOrchestrator/src
  Processor: any of: CameraProcessor/processor
