Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

codecov.yml:

codecov:
  branch: develop
  max_report_age: off

coverage:
  status:
    project:
      default: off
      Forwarder:
        target: 100%
        flags:
          - Forwarder
      Interface:
        target: 100%
        flags:
          - Interface
      Orchestrator:
        target: 100%
        flags:
          - Orchestrator
      Processor:
        target: 100%
        flags:
          - Processor

flags:
  # filter the folder(s) you wish to measure by that flag
  Forwarder:
    # only include files in the backend folder
    paths:
      -  VideoForwarder/src
  Interface:
    paths:
      - Interface/react
  Orchestrator:
    paths:
      - ProcessorOrchestrator/src
  Processor:
    paths:
      - CameraProcessor/processor

Deploying to gh-pages from @ UU-tracktech/tracktech@19f7178b8a6b2c284f73b1d4bd6651dec2fcee23 🚀
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/itracker.html
  CameraProcessor/processor/processor/scheduling/component/func_call_component.html
  CameraProcessor/processor/processor/scheduling/node/inode.html
  CameraProcessor/processor/processor/scheduling/node/schedule_node.html
  CameraProcessor/processor/processor/scheduling/plan/example_plan.html
  CameraProcessor/processor/processor/scheduling/plan/pipeline_plan.html
  CameraProcessor/processor/processor/scheduling/scheduler.html
  VideoForwarder/src/src/conversion_process.html
  VideoForwarder/src/src/logging_filter.html
  index.html
Due: Forwarder, Processor

CRF: BoundingBox Test
  CameraProcessor/tests/unittests/data_object/test_bounding_box.py
Due: none

FIX: Linting.
  CameraProcessor/processor/data_object/bounding_box.py
  CameraProcessor/tests/unittests/data_object/test_bounding_box.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@5683630fab5da898817cd2c433de3f72731cc89f 🚀
  CameraProcessor/processor/processor/data_object/bounding_box.html
Due: Processor

CRF: Test FrameObj
  CameraProcessor/tests/unittests/data_object/test_bounding_box.py
  CameraProcessor/tests/unittests/data_object/test_frame_obj.py
Due: none

FFT: Testing Data Objects
  CameraProcessor/tests/unittests/data_object/test_bounding_box.py
  CameraProcessor/tests/unittests/data_object/test_bounding_boxes.py
  CameraProcessor/tests/unittests/data_object/test_frame_obj.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@fdcfe545f8115dfd777a22d44852a0a19edb32fd 🚀
  index.html
Due: none

DCO: Updated docstings
  CameraProcessor/tests/unittests/data_object/test_bounding_box.py
  CameraProcessor/tests/unittests/data_object/test_bounding_boxes.py
  CameraProcessor/tests/unittests/data_object/test_frame_obj.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@e58cd8d2a5498a8cfd18b48c405f988405742b96 🚀
  index.html
Due: none

CRF: code refactor
  CameraProcessor/processor/data_object/bounding_boxes.py
  CameraProcessor/tests/unittests/data_object/test_bounding_box.py
  CameraProcessor/tests/unittests/data_object/test_bounding_boxes.py
  CameraProcessor/tests/unittests/data_object/test_frame_obj.py
  CameraProcessor/tests/unittests/data_object/test_rectangle.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@0bd04cb6cc2d90c246b91470a82f57b87b510099 🚀
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
Due: Processor

Spc 766 unit test camera processor (#116)
  CameraProcessor/processor/data_object/bounding_box.py
  CameraProcessor/processor/data_object/bounding_boxes.py
  CameraProcessor/tests/unittests/conftest.py
  CameraProcessor/tests/unittests/data_object/test_bounding_box.py
  CameraProcessor/tests/unittests/data_object/test_bounding_boxes.py
  CameraProcessor/tests/unittests/data_object/test_frame_obj.py
  CameraProcessor/tests/unittests/data_object/test_rectangle.py
  CameraProcessor/tests/unittests/utils/conftest.py
Due: Processor

CRF/FFT Refactored the Start Commands
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/webhosting/start_command.py
  CameraProcessor/processor/webhosting/start_command_extended.py
  CameraProcessor/processor/webhosting/start_command_search.py
  CameraProcessor/processor/webhosting/start_command_simple.py
  CameraProcessor/processor/webhosting/websocket_client.py
  CameraProcessor/tests/unittests/webhosting/test_start_command.py
  CameraProcessor/tests/unittests/webhosting/test_start_commands.py
Due: Processor

FIX Fixed linting
  CameraProcessor/processor/webhosting/websocket_client.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@ee954889d8db693bf4c39135128ca5d1c7fd8367 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/utils/text.html
  CameraProcessor/processor/processor/webhosting/start_command.html
  CameraProcessor/processor/processor/webhosting/start_command_extended.html
  CameraProcessor/processor/processor/webhosting/start_command_search.html
  CameraProcessor/processor/processor/webhosting/start_command_simple.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@e9d097b8668537de9e5a51d9a3c0d6c05cb2db19 🚀
  CameraProcessor/processor/processor/webhosting/websocket_client.html
Due: Processor

FIX Linting
  CameraProcessor/processor/webhosting/websocket_client.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@89de801e56c693c3f6497b6f3711693d5dee7cc4 🚀
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  index.html
Due: Processor

FIX generator can now raise error
  CameraProcessor/processor/webhosting/websocket_client.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@bac945b7c96c1f68a192d38d56374760b9c46c15 🚀
  CameraProcessor/processor/processor/webhosting/websocket_client.html
Due: Processor

FFT: Authentication for the orchestrator
  CameraProcessor/processor/utils/authentication.py
  CameraProcessor/processor/webhosting/websocket_client.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@582c700e951f83916adccdc6809747301faedfb9 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/text.html
  CameraProcessor/processor/processor/webhosting.html
  CameraProcessor/processor/processor/webhosting/start_command.html
  CameraProcessor/processor/processor/webhosting/start_command_extended.html
  CameraProcessor/processor/processor/webhosting/start_command_search.html
  CameraProcessor/processor/processor/webhosting/start_command_simple.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  VideoForwarder/src/src/conversion_process.html
  VideoForwarder/src/src/logging_filter.html
  index.html
Due: Forwarder, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@fdb4c4c915209af68db9862844ea130aee968f9a 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/text.html
  VideoForwarder/src/src/conversion_process.html
  VideoForwarder/src/src/logging_filter.html
  index.html
Due: Forwarder, Processor

FIX tests
  CameraProcessor/processor/webhosting/websocket_client.py
  CameraProcessor/tests/unittests/webhosting/test_websocket_client.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@50fe9c9439a757402505a413a3f10d34bc2a6a17 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/utils/text.html
  CameraProcessor/processor/processor/webhosting/start_command.html
  CameraProcessor/processor/processor/webhosting/start_command_extended.html
  CameraProcessor/processor/processor/webhosting/start_command_search.html
  CameraProcessor/processor/processor/webhosting/start_command_simple.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
Due: Processor

DOC: update root README with introduction and pylint
  README.md
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@2313489d7b07afaa0de26222bfdd3dfdc6f4c5e3 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/utils/text.html
  CameraProcessor/processor/processor/webhosting.html
  CameraProcessor/processor/processor/webhosting/start_command.html
  CameraProcessor/processor/processor/webhosting/start_command_extended.html
  CameraProcessor/processor/processor/webhosting/start_command_search.html
  CameraProcessor/processor/processor/webhosting/start_command_simple.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  index.html
Due: Processor

DOC: Update readme
  CameraProcessor/.dockerignore
  CameraProcessor/README.md
Due: none

UFT: readme forwarder
  Interface/README.md
  VideoForwarder/README.md
  VideoForwarder/src/main.py
Due: Forwarder

FFT: Show cutouts in selection box
  Interface/react/public/cameras.json
  Interface/react/src/classes/clientMessage.ts
  Interface/react/src/classes/orchestratorMessage.ts
  Interface/react/src/components/selectionCard.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/src/pages/home.tsx
Due: Interface

UFT integration test expansion
  Interface/react/testing/integration testing/websocketContext.test.tsx
Due: Interface

CRF Refactor Idataloader
  CameraProcessor/processor/dataloaders/idataloader.py
Due: Processor

CRF Refactor MOT dataloader
  CameraProcessor/processor/dataloaders/mot_dataloader.py
Due: Processor

Read/Write folder structure
  CameraProcessor/configs.ini
  CameraProcessor/processor/accuracy_runner.py
Due: Processor

UFT: inital setup runner
  CameraProcessor/processor/pipeline/reidentification/fastreid_runner.py
Due: Processor
