Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

UFT: Start on putting input type inside configs.ini
  CameraProcessor/.pydocstyle.ini
  CameraProcessor/configs.ini
  CameraProcessor/processor/input/cam_capture.py
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/prepare_pipeline.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/webhosting/stream_handler.py
  CameraProcessor/test-configs.ini
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: Processor

FFT: Add input mode to config
  CameraProcessor/configs.ini
  CameraProcessor/data/tests/unittests/sample-test-configs.ini
  CameraProcessor/docker-compose.yml
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/processor/pipeline/prepare_pipeline.py
  CameraProcessor/processor/utils/config_parser.py
  CameraProcessor/test-configs.ini
  CameraProcessor/tests/unittests/utils/test_config_parser.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@c2e0a8e925a700366123add458ce76674a51fbf2 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/input/cam_capture.html
  CameraProcessor/processor/processor/input/hls_capture.html
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/pipeline.html
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/utils/config_parser.html
  CameraProcessor/processor/processor/webhosting.html
  CameraProcessor/processor/processor/webhosting/stream_handler.html
  CameraProcessor/processor/processor/webhosting/update_command.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
Due: Processor

Spc 635 implement mode for capture in configs (#92)
  CameraProcessor/.pydocstyle.ini
  CameraProcessor/configs.ini
  CameraProcessor/data/tests/unittests/sample-test-configs.ini
  CameraProcessor/docker-compose.yml
  CameraProcessor/processor/input/cam_capture.py
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/prepare_pipeline.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/utils/config_parser.py
  CameraProcessor/processor/webhosting/stream_handler.py
  CameraProcessor/test-configs.ini
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/tests/unittests/utils/test_config_parser.py
Due: Processor

CRF prints for more information
  CameraProcessor/tests/orchestratorintegrationtests/super_websocket_client.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@768bbacd120f6b1df2f69221326322458479b866 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/webhosting/update_command.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
Due: Processor

Prints for hopefully more info
  CameraProcessor/tests/orchestratorintegrationtests/super_websocket_client.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  ProcessorOrchestrator/src/processor_socket.py
Due: Orchestrator

more printed info
  ProcessorOrchestrator/src/processor_socket.py
Due: Orchestrator

Test different order of disconnect
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
Due: none

even more prints
  ProcessorOrchestrator/src/processor_socket.py
Due: Orchestrator

extra info
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  ProcessorOrchestrator/src/processor_socket.py
Due: Orchestrator

FIX fix llinting issues
  CameraProcessor/processor/utils/text.py
Due: Processor

TST Remove deprecated info file test
  CameraProcessor/tests/unittests/test_accuracy_runner.py
Due: none

CRF use attributes set in init
  CameraProcessor/processor/training/detection/accuracy_object.py
Due: Processor

TST update init_correct based on new attributes
  CameraProcessor/tests/unittests/training/detection/test_accuracy_object.py
Due: none

DOC update Attributes
  CameraProcessor/processor/training/detection/accuracy_object.py
Due: Processor

TST Create dataloaders testing folder
  CameraProcessor/tests/unittests/dataloaders/__init__.py
Due: none

UFT: Save images from interface
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/object_manager.py
Due: Orchestrator

FFT: interface auth
  Interface/react/public/cameras.json
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/pages/home.tsx
  VideoForwarder/src/camera_handler.py
Due: Forwarder, Interface

FIX: Orchestrator no longer crashes on double close
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  ProcessorOrchestrator/src/processor_socket.py
Due: Orchestrator

FIX: added slash
  VideoForwarder/src/main.py
Due: Forwarder

FIX warning when player buffers on first start
  Interface/react/src/components/videojsPlayer.tsx
Due: Interface

DOC adjusted comment
  Interface/react/src/components/videojsPlayer.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@15667bfe91a3eb2e130b2f538e6e6fbd6f972964 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/accuracy_runner_tracking.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/dataloaders.html
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/idataloader.html
  CameraProcessor/processor/processor/dataloaders/json_dataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/input/image_capture.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/text.html
  CameraProcessor/processor/processor/webhosting.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  index.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@df1e609d0322e99c83214f11b629a0291186e2f6 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor.html
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/accuracy_runner_tracking.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/dataloaders.html
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/idataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/input/image_capture.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/text.html
  CameraProcessor/processor/processor/webhosting.html
  CameraProcessor/processor/processor/webhosting/update_command.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  ProcessorOrchestrator/src/src/processor_socket.html
  index.html
Due: Orchestrator, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@3a8d2e7bcde98271b501e0413c2d5b43f569937c 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/webhosting.html
  CameraProcessor/processor/processor/webhosting/update_command.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  ProcessorOrchestrator/src/src/processor_socket.html
  VideoForwarder/src/src/camera_handler.html
  VideoForwarder/src/src/main.html
Due: Forwarder, Orchestrator, Processor

FIX orchestrator unit test fail
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  ProcessorOrchestrator/src/processor_socket.py
Due: Orchestrator

Deploying to gh-pages from @ UU-tracktech/tracktech@54c6820e53d812a6bc2cff582650a30e72a055b2 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/webhosting/update_command.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  ProcessorOrchestrator/src/src/processor_socket.html
  VideoForwarder/src/src/camera_handler.html
  VideoForwarder/src/src/main.html
  index.html
Due: Forwarder, Orchestrator, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@7a01769313a7ee06398a503a51053ba4f9b7312b 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/webhosting.html
  CameraProcessor/processor/processor/webhosting/update_command.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  ProcessorOrchestrator/src/src/processor_socket.html
  index.html
Due: Orchestrator, Processor

TST float in stead of int in unit tests update feature_map
  CameraProcessor/tests/unittests/webhosting/test_update_command.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@f094ea5681496cbf1b24e0d907a8dd53d4c2d0aa 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/webhosting/update_command.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  ProcessorOrchestrator/src/src/processor_socket.html
Due: Orchestrator, Processor

FIX: testing
  Interface/react/testing/unit testing/authState.test.tsx
  Interface/react/testing/unit testing/cameraCard.test.tsx
  Interface/react/testing/unit testing/clientMessage.test.tsx
  Interface/react/testing/unit testing/grid.test.tsx
  Interface/react/testing/unit testing/objectCard.test.tsx
  Interface/react/testing/unit testing/objectTypeFilter.test.tsx
  Interface/react/testing/unit testing/orchestratorMessage.test.tsx
  Interface/react/testing/unit testing/selection.test.tsx
  Interface/react/testing/unit testing/timelineCard.test.tsx
  Interface/react/testing/unit testing/timelineData.test.ts
  Interface/react/testing/unit testing/videojsplayer.test.tsx
  VideoForwarder/src/camera_handler.py
  VideoForwarder/tests/unittest/auth_server_unit_test.py
Due: Forwarder, Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@d49fde4f58df4e574f4d2a220e5020d11b5b5519 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/webhosting.html
  CameraProcessor/processor/processor/webhosting/update_command.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  ProcessorOrchestrator/src/src/processor_socket.html
  VideoForwarder/src/src/camera_handler.html
  VideoForwarder/src/src/main.html
  index.html
Due: Forwarder, Orchestrator, Processor

FIX: here aswell
  Interface/react/testing/integration testing/websocketContext.test.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@88d79fa98c7b7f821c6b1c5f5497754a55d17bc0 🚀
  index.html
Due: none

FFT: interface auth (#93)
  Interface/react/public/cameras.json
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/testing/integration testing/websocketContext.test.tsx
  Interface/react/testing/unit testing/authState.test.tsx
  Interface/react/testing/unit testing/cameraCard.test.tsx
  Interface/react/testing/unit testing/clientMessage.test.tsx
  Interface/react/testing/unit testing/grid.test.tsx
  Interface/react/testing/unit testing/objectCard.test.tsx
  Interface/react/testing/unit testing/objectTypeFilter.test.tsx
  Interface/react/testing/unit testing/orchestratorMessage.test.tsx
  Interface/react/testing/unit testing/selection.test.tsx
  Interface/react/testing/unit testing/timelineCard.test.tsx
  Interface/react/testing/unit testing/timelineData.test.ts
  Interface/react/testing/unit testing/videojsplayer.test.tsx
  VideoForwarder/src/camera_handler.py
  VideoForwarder/src/main.py
  VideoForwarder/tests/unittest/auth_server_unit_test.py
Due: Forwarder, Interface

UFT: Send to interfaces, not fully tested
  ProcessorOrchestrator/src/client_socket.py
Due: Orchestrator

Path conditions:
  Forwarder: any of: VideoForwarder/src
  Interface: any of: Interface/react
  Orchestrator: any of: ProcessorOrchestrator/src
  Processor: any of: CameraProcessor/processor
