Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@e42596a1a453cf3d060a69e7abc54df7eed483d2 🚀
  CameraProcessor/processor/processor/pipeline/process_frames.html
  index.html
Due: Processor

DOC Fixed process_frames docstring: prepare_stream takes dict, not ConfigParser
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

UFT: Comparing features
  CameraProcessor/processor/data_object/bounding_box.py
  CameraProcessor/processor/data_object/reid_data.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@d672d84f75cb08b9a750e53c26082a2562a7ba11 🚀
  CameraProcessor/processor/processor/pipeline/process_frames.html
  index.html
Due: Processor

Spc 529 use alternative for ffmpeg to make more lightweight (#69)
  CameraProcessor/configs.ini
  CameraProcessor/processor/input/hls_capture.py
  CameraProcessor/processor/pipeline/detection/yolor_runner.py
  CameraProcessor/processor/pipeline/detection/yolov5_runner.py
Due: Processor

OTH: Small style change upon request
  Interface/react/src/classes/timelineData.ts
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@a89f155a1f5e6b8a1aa55b8ad5a5e8562c9a6f25 🚀
  CameraProcessor/processor/processor/input/hls_capture.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  ProcessorOrchestrator/src/index.html
  ProcessorOrchestrator/src/src.html
  ProcessorOrchestrator/src/src/main.html
  ProcessorOrchestrator/src/src/object_ids_handler.html
  ProcessorOrchestrator/src/src/object_manager.html
  ProcessorOrchestrator/src/src/timeline_handler.html
  index.html
Due: Orchestrator, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@5002a79188ddfddf5b6e2453f3431f769816ba5d 🚀
  index.html
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@1b1b5f320d4e39f08d33fb21c1f4902a4f939977 🚀
  index.html
Due: none

Spc 665 cutout of bounding box (#68)
  Interface/react/src/classes/clientMessage.ts
  Interface/react/src/classes/orchestratorMessage.ts
  Interface/react/src/classes/size.ts
  Interface/react/src/classes/source.ts
  Interface/react/src/components/grid.tsx
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/testing/integration testing/websocketContext.test.tsx
  Interface/react/testing/unit testing/videojsplayer.test.tsx
Due: Interface

FIX: displaying boundingboxes properly
  Interface/react/package-lock.json
  Interface/react/package.json
  Interface/react/public/cameras.json
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/src/pages/home.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@c52065c58b1888f97644c762f9663af7ca681ee0 🚀
  ProcessorOrchestrator/src/index.html
  ProcessorOrchestrator/src/src.html
  ProcessorOrchestrator/src/src/main.html
  ProcessorOrchestrator/src/src/object_ids_handler.html
  ProcessorOrchestrator/src/src/object_manager.html
  ProcessorOrchestrator/src/src/timeline_handler.html
  index.html
Due: Orchestrator

UFT remove delimiter that's not used
  CameraProcessor/processor/dataloaders/json_dataloader.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@2e28f29c999a291ff473ea4524fa0b02fdb7cfe6 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/dataloaders.html
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/idataloader.html
  CameraProcessor/processor/processor/dataloaders/json_dataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/input/image_capture.html
  CameraProcessor/processor/processor/utils/text.html
  index.html
  utility/utility/count_classes.html
Due: Processor

FIX: displaying boundingboxes properly (#71)
  Interface/react/package-lock.json
  Interface/react/package.json
  Interface/react/public/cameras.json
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/src/pages/home.tsx
Due: Interface

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@54fa62e5861623ea6a85cdd2ccc31f8569fb26d0 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor.html
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/dataloaders.html
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/idataloader.html
  CameraProcessor/processor/processor/dataloaders/json_dataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/input/image_capture.html
  CameraProcessor/processor/processor/utils/text.html
  utility/utility/count_classes.html
Due: Processor

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

CRF more prettier
  Interface/react/src/components/videojsPlayer.tsx
Due: Interface

Create CODE_OF_CONDUCT.md (#73)
  CODE_OF_CONDUCT.md
Due: none

Update issue templates (#72)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

UFT Download coco image if it does not exist
  CameraProcessor/processor/dataloaders/coco_dataloader.py
Due: Processor

UFT Add get_dataloader functionality
  CameraProcessor/configs.ini
  CameraProcessor/processor/dataloaders/coco_dataloader.py
  CameraProcessor/processor/dataloaders/idataloader.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
  CameraProcessor/processor/training/detection/accuracy_object.py
Due: Processor

UFT Remove parse_info_file
  CameraProcessor/processor/training/detection/accuracy_object.py
Due: Processor

OTH: Undo of previous
  Interface/react/src/classes/timelineData.ts
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@f58a2cf21b5a7b2a8c5f84990dc0157be96da2d7 🚀
  ProcessorOrchestrator/src/index.html
  ProcessorOrchestrator/src/src/main.html
  ProcessorOrchestrator/src/src/object_ids_handler.html
  ProcessorOrchestrator/src/src/object_manager.html
  ProcessorOrchestrator/src/src/timeline_handler.html
Due: Orchestrator

Spc 551 create tracking timeline overview page (#67)
  Interface/react/src/app.tsx
  Interface/react/src/classes/timelineData.ts
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/objectCard.tsx
  Interface/react/src/components/timelineCard.tsx
  Interface/react/src/index.css
  Interface/react/src/pages/timelines.tsx
  Interface/react/testing/unit testing/objectCard.test.tsx
  Interface/react/testing/unit testing/timelineCard.test.tsx
  Interface/react/testing/unit testing/timelineData.test.ts
  Interface/react/testing/unit testing/timelines.test.tsx
  Interface/testingSelenium/__init__.py
  ProcessorOrchestrator/src/main.py
  ProcessorOrchestrator/src/object_ids_handler.py
  ProcessorOrchestrator/src/object_manager.py
  ProcessorOrchestrator/src/timeline_handler.py
Due: Interface, Orchestrator

FIX: deleted the 2 sec rewind
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
Due: Interface

UFT: Continue on linting the sections from the docstring
  .pylintrc
  copyright_checker.py
  docstring_checker.py
  docstring_content_checker.py
  pylint_test.py
Due: none

FIX: deleted the 2 sec rewind (#74)
  Interface/react/src/components/overlay.tsx
  Interface/react/src/components/videojsPlayer.tsx
Due: Interface

FIX: fixed a couple of bugs
  CameraProcessor/processor/data_object/reid_data.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
Due: Processor

OTH: changed the similarity measurement
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
Due: Processor

UFT: Linting of module, class and function docstrings and comments
  alphabetically_sorted_imports.py
  docstring_checker.py
  docstring_content_checker.py
  utility/comment_checker.py
  utility/copyright_checker.py
  utility/docstring_checker.py
  utility/docstring_content_checker.py
Due: none

Path conditions:
  Forwarder: any of: VideoForwarder/src
  Interface: any of: Interface/react
  Orchestrator: any of: ProcessorOrchestrator/src
  Processor: any of: CameraProcessor/processor
