Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

codecov.yml:

codecov:
  branch: develop
  max_report_age: off

coverage:
  status:
    project:
      default: off
      Forwarder:
        target: 100%
        flags:
          - Forwarder
      Interface:
        target: 100%
        flags:
          - Interface
      Orchestrator:
        target: 100%
        flags:
          - Orchestrator
      Processor:
        target: 100%
        flags:
          - Processor

flags:
  # filter the folder(s) you wish to measure by that flag
  Forwarder:
    # only include files in the backend folder
    paths:
      -  VideoForwarder/src
  Interface:
    paths:
      - Interface/react
  Orchestrator:
    paths:
      - ProcessorOrchestrator/src
  Processor:
    paths:
      - CameraProcessor/processor

OTH: Remove pydocstyle
  .pydocstyle.ini
  pylint_test.py
Due: none

OTH: Update pylint settings
  .pylintrc
Due: none

FIX: Pylint errors
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/processor/input/__init__.py
  CameraProcessor/processor/pipeline/__init__.py
  CameraProcessor/processor/utils/features.py
  utility/count_classes.py
  utility/match_filename_class.py
  utility/pylint_ignore.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@343674a1851e74e659af38c69b75d2e023004c5f 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  utility/index.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/count_classes.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
Due: Processor

FFT: compare extracted feature maps
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/ireidentifier.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
  CameraProcessor/processor/pipeline/tracking/itracker.py
  CameraProcessor/tests/unittests/utils/fake_reidentifier.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@df6a7fc64000ea3213bd3e4c4f7e0549814b20ff 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/reid_data.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/itracker.html
  index.html
  utility/index.html
  utility/utility.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/count_classes.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
Due: Processor

Spc 599 compare extracted features (#75)
  CameraProcessor/configs.ini
  CameraProcessor/processor/data_object/bounding_box.py
  CameraProcessor/processor/data_object/reid_data.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/ireidentifier.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
  CameraProcessor/processor/pipeline/tracking/itracker.py
  CameraProcessor/tests/unittests/utils/fake_reidentifier.py
Due: Processor

FFT: Extended protocol to allow a serialized image parameter
  ProcessorOrchestrator/src/client_socket.py
Due: Orchestrator

FIX: Linting processororchestrator
  ProcessorOrchestrator/conftest.py
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/src/connections.py
  ProcessorOrchestrator/src/get_auth.py
  ProcessorOrchestrator/src/http_server.py
  ProcessorOrchestrator/src/logger.py
  ProcessorOrchestrator/src/main.py
  ProcessorOrchestrator/src/object_ids_handler.py
  ProcessorOrchestrator/src/object_manager.py
  ProcessorOrchestrator/src/processor_socket.py
  ProcessorOrchestrator/src/timeline_handler.py
  ProcessorOrchestrator/tests/integration_testing/communication_test.py
  ProcessorOrchestrator/tests/testing_server.py
  ProcessorOrchestrator/tests/unit_testing/get_auth_test.py
  ProcessorOrchestrator/tests/unit_testing/tracking_objects_test.py
  docs/documentation.py
  utility/comment_checker.py
  utility/docstring_content_checker.py
Due: Orchestrator

TST: Added tests and updated documentation
  ProcessorOrchestrator/README.md
  ProcessorOrchestrator/tests/integration_testing/communication_test.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@312c0ec967908a216f7b3f61ad50d6b4936f9887 🚀
  ProcessorOrchestrator/src/src/client_socket.html
  index.html
Due: Orchestrator

Spc 669 extend start message protocol to include image parameters (#76)
  ProcessorOrchestrator/README.md
  ProcessorOrchestrator/src/client_socket.py
  ProcessorOrchestrator/tests/integration_testing/communication_test.py
Due: Orchestrator

FIX: Lint videoforwarder
  ProcessorOrchestrator/src/client_socket.py
  VideoForwarder/src/camera.py
  VideoForwarder/src/camera_handler.py
  VideoForwarder/src/conversion_process.py
  VideoForwarder/src/loading.py
  VideoForwarder/src/logging_filter.py
  VideoForwarder/src/main.py
  VideoForwarder/src/stream_options.py
  VideoForwarder/tests/unittest/auth_server_unit_test.py
  VideoForwarder/tests/unittest/server_unit_test.py
  VideoForwarder/tests/unittest/slow_server_unit_test.py
  VideoForwarder/tests/unittest/unit_test.py
  utility/docstring_content_checker.py
Due: Forwarder, Orchestrator

FIX: Cameraprocessor linting
  CameraProcessor/tests/conftest.py
  CameraProcessor/tests/forwarderintegrationtests/test_hls_capture.py
  CameraProcessor/tests/orchestratorintegrationtests/conftest.py
  CameraProcessor/tests/orchestratorintegrationtests/super_websocket_client.py
  CameraProcessor/tests/orchestratorintegrationtests/test_connection.py
  CameraProcessor/tests/orchestratorintegrationtests/test_receiving_from_orchestrator.py
  CameraProcessor/tests/orchestratorintegrationtests/test_send_to_orchestrator.py
  CameraProcessor/tests/orchestratorintegrationtests/utils/jsonloader.py
  CameraProcessor/tests/orchestratorintegrationtests/utils/utils.py
  CameraProcessor/tests/unittests/data_object/test_bounding_box.py
  CameraProcessor/tests/unittests/data_object/test_bounding_boxes.py
  CameraProcessor/tests/unittests/test_accuracy_runner.py
  CameraProcessor/tests/unittests/utils/conftest.py
  CameraProcessor/tests/unittests/utils/websocket_coroutines.py
  utility/docstring_content_checker.py
Due: none

FFT: Raises section linting
  CameraProcessor/processor/scheduling/node/inode.py
  utility/docstring_content_checker.py
Due: Processor

FIX: Workflows didnt copy over the utility files required
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Processor_Lint.yml
  CameraProcessor/Dockerfile
  ProcessorOrchestrator/Dockerfile
  VideoForwarder/Dockerfile
Due: none

FIX: Container names were wrong
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Processor_Lint.yml
Due: none

FIX: Copyright checker line endings
  utility/copyright_checker.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@c73fea27d795c861a6990ba227bdbde796d0de09 🚀
  index.html
  utility/utility/copyright_checker.html
Due: none

FFT mock feature map
  CameraProcessor/configs.ini
  CameraProcessor/processor/main.py
  CameraProcessor/processor/webhosting/websocket_client.py
Due: Processor

BUG torchreid now works on cpu
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

CRF docstrings
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

CRF redundent else
  CameraProcessor/processor/pipeline/process_frames.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@66f3e103b61a98a084c2d781f06285e55b0694ff 🚀
  CameraProcessor/processor/processor/pipeline/process_frames.html
  index.html
Due: Processor

FIX: fixed colours and box border
  Interface/react/src/components/overlay.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/src/utilities/colours.ts
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@ce4baf852cdf153ea3a8d5f3c9fba923ff35d3c5 🚀
  CameraProcessor/processor/processor/pipeline/process_frames.html
  index.html
Due: Processor

CRF make use of tracker/detector methods
  CameraProcessor/configs.ini
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/utils/create_runners.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@60366239b94c4a3eb4f6fb875a69cc3a223912ce 🚀
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
Due: Processor

CRF tracking
  CameraProcessor/configs.ini
  CameraProcessor/processor/accuracy_runner.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@15aac57801becf10686c4cff2529ea37f03ce172 🚀
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
Due: Processor

FIX: fixed colours and box border (#80)
  Interface/react/src/components/overlay.tsx
  Interface/react/src/pages/home.tsx
  Interface/react/src/utilities/colours.ts
Due: Interface

UFT get_dataloader without switch, don't call get_image_name
  CameraProcessor/processor/dataloaders/json_dataloader.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
  CameraProcessor/processor/training/detection/accuracy_object.py
Due: Processor
