Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

codecov.yml:

codecov:
  branch: develop
  max_report_age: off

coverage:
  status:
    project:
      default: off
      Forwarder:
        target: 100%
        flags:
          - Forwarder
      Interface:
        target: 100%
        flags:
          - Interface
      Orchestrator:
        target: 100%
        flags:
          - Orchestrator
      Processor:
        target: 100%
        flags:
          - Processor

flags:
  # filter the folder(s) you wish to measure by that flag
  Forwarder:
    # only include files in the backend folder
    paths:
      -  VideoForwarder/src
  Interface:
    paths:
      - Interface/react
  Orchestrator:
    paths:
      - ProcessorOrchestrator/src
  Processor:
    paths:
      - CameraProcessor/processor

FIX: test
  .github/workflows/Documentation.yml
Due: none

FIX: missing rsync
  .github/workflows/Documentation.yml
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@b82a32f5cd6454ddeb1d21c20222927cd3463078 🚀
  index.html
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@ae62d7bbc5b03f4b20b619d6c48523f8a238be39 🚀
  index.html
Due: none

TST: GitHub Pages (#55)
  .github/workflows/Documentation.yml
Due: none

FIX: fixed the import order
  CameraProcessor/Dockerfile
  CameraProcessor/requirements-gpu.txt
  CameraProcessor/requirements-reid.txt
Due: none

DOC: fixed pylint
  .pylintrc
  CameraProcessor/processor/data_object/reid_data.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
  CameraProcessor/tests/unittests/pipeline/test_framebuffer.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: Processor

OTH: added init
  CameraProcessor/processor/pipeline/reidentification/__init__.py
Due: Processor

Revert "OTH: added init"
  CameraProcessor/processor/pipeline/reidentification/__init__.py
Due: Processor

OTH: changed Dockerfile
  CameraProcessor/Dockerfile
Due: none

Revert "OTH: changed Dockerfile"
  CameraProcessor/Dockerfile
Due: none

OTH: added reid requirements for Dockerfile
  CameraProcessor/Dockerfile
Due: none

FIX: copy
  CameraProcessor/Dockerfile
Due: none

FIX: doc requirements
  CameraProcessor/Dockerfile
  CameraProcessor/processor/pipeline/reidentification/__init__.py
Due: Processor

FIX: fixed the unit test
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/reidentification/__init__.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/tests/unittests/utils/fake_reidentifier.py
  docs/documentation.py
Due: Processor

FIX: Gitignore
  CameraProcessor/.gitignore
Due: none

TST: Skipping process_frames tests
  CameraProcessor/requirements.txt
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
Due: none

UFT Return certainty and classification
  CameraProcessor/processor/dataloaders/json_dataloader.py
  CameraProcessor/processor/utils/text.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@81584e4884dfb3aa4a8c532897731f4a93fbc3de 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor.html
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/dataloaders.html
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/idataloader.html
  CameraProcessor/processor/processor/dataloaders/json_dataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/input/image_capture.html
  CameraProcessor/processor/processor/utils/text.html
Due: Processor

FFT: Created timelines page
  ProcessorOrchestrator/src/object_ids_handler.py
Due: Orchestrator

FFT: Created timeline page PT.2
  Interface/react/public/cameras.json
  Interface/react/src/app.tsx
  Interface/react/src/classes/timelineData.ts
  Interface/react/src/components/navbar.tsx
  Interface/react/src/components/objectCard.tsx
  Interface/react/src/components/timelineCard.tsx
  Interface/react/src/index.css
  Interface/react/src/pages/timelines.tsx
  ProcessorOrchestrator/src/main.py
  ProcessorOrchestrator/src/object_ids_handler.py
  ProcessorOrchestrator/src/object_manager.py
  ProcessorOrchestrator/src/timeline_handler.py
Due: Interface, Orchestrator

FIX: Prettier
  Interface/react/src/app.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@029462770456d1e3cea0115b66279878d4bd9e33 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor.html
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/dataloaders.html
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/idataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  CameraProcessor/processor/processor/input/image_capture.html
  CameraProcessor/processor/processor/utils/text.html
  ProcessorOrchestrator/src/index.html
  ProcessorOrchestrator/src/src.html
  ProcessorOrchestrator/src/src/main.html
  ProcessorOrchestrator/src/src/object_ids_handler.html
  ProcessorOrchestrator/src/src/object_manager.html
  ProcessorOrchestrator/src/src/timeline_handler.html
  utility/utility/count_classes.html
Due: Orchestrator, Processor

OTH: Remove testing selenium folder
  Interface/testingSelenium/__init__.py
Due: none

UFT: Parse docstrings and copyright notice
  .pydocstyle.ini
  .pylintrc
  CameraProcessor/.pydocstyle.ini
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/processor/data_object/bounding_box.py
  CameraProcessor/processor/data_object/bounding_boxes.py
  CameraProcessor/processor/pipeline/framebuffer.py
  alphabetically_sorted_imports.py
  copyright_checker.py
  docstring_checker.py
  pylint_test.py
  utility/count_classes.py
Due: Processor

FIX: Correct model download for yolor and yolov5
  CameraProcessor/.gitignore
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/detection/yolor_runner.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/yolov5s.pt
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@55e5603efa58b96174682a4d8ff04e26debadeac 🚀
  ProcessorOrchestrator/src/index.html
  ProcessorOrchestrator/src/src.html
  ProcessorOrchestrator/src/src/main.html
  ProcessorOrchestrator/src/src/object_ids_handler.html
  ProcessorOrchestrator/src/src/object_manager.html
  ProcessorOrchestrator/src/src/timeline_handler.html
  index.html
Due: Orchestrator

UFT handle stopped forwarder
  Interface/react/src/components/videojsPlayer.tsx
Due: Interface

FIX: Newer yolov5 and yolor submodules
  .gitmodules
Due: none
