Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@da9963b65bf18dabe2c03402a68482bc8da0c060 🚀
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/utils/config_parser.html
  index.html
Due: Processor

FIX: Lowering resolution
  VideoForwarder/src/conversion_process.py
Due: Forwarder

Deploying to gh-pages from @ UU-tracktech/tracktech@acb34d9683d71fa2697d623d7ed4510a974ece76 🚀
  VideoForwarder/src/src/conversion_process.html
Due: Forwarder

FIX I dont understand docker
  .github/workflows/Auth_Lint.yml
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@13ed2dcb9e047985fcdc61cd84e24610806b1450 🚀
  VideoForwarder/src/src/conversion_process.html
Due: Forwarder

Spc 828 fix glitching video stream (#132)
  VideoForwarder/src/conversion_process.py
Due: Forwarder

FIX
  .github/workflows/Auth_Lint.yml
  utility/Auth/compose/docker-compose_lint.yml
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@733de4d6d4ba536be68aae141a2337394b150107 🚀
  VideoForwarder/src/src/conversion_process.html
Due: Forwarder

FIX Docker copy
  .github/workflows/Auth_Lint.yml
Due: none

FIX Copy
  .github/workflows/Auth_Lint.yml
Due: none

FIX: making max happy
  CameraProcessor/configs.ini
  CameraProcessor/processor/utils/config_parser.py
Due: Processor

DOC: README spelling/grammar fixed where possible
  CameraProcessor/README.md
Due: none

FIX Docker
  .github/workflows/Auth_Lint.yml
  utility/Auth/Dockerfile
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@717db1c0335cbd25f00de21739cd6766aedb9b52 🚀
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/utils/config_parser.html
  index.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@d68c1d7378c8007862cfce557ba7185965e2a5c4 🚀
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/utils/config_parser.html
Due: Processor

UFT: update gpu install instructions
  README.md
Due: none

FIX Docker?
  utility/Auth/Dockerfile
Due: none

FIX: clearer wording
  README.md
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@4240d994b76844364c6171fdc1c4f126bd9cdef9 🚀
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/utils/config_parser.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@62c705f21e7a461ef3a1e5fd702630a2fa9e67db 🚀
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/pipeline/prepare_pipeline.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/utils/config_parser.html
  CameraProcessor/processor/processor/utils/create_runners.html
Due: Processor

Spc 734 implement fast reid (#127)
  .gitmodules
  .pylintrc
  CameraProcessor/.coveragerc
  CameraProcessor/configs.ini
  CameraProcessor/processor/pipeline/prepare_pipeline.py
  CameraProcessor/processor/pipeline/reidentification/fastreid_config.yml
  CameraProcessor/processor/pipeline/reidentification/fastreid_runner.py
  CameraProcessor/processor/pipeline/reidentification/ireidentifier.py
  CameraProcessor/processor/utils/create_runners.py
  CameraProcessor/requirements-reid.txt
  CameraProcessor/test-configs.ini
  CameraProcessor/tests/unittests/utils/fake_reidentifier.py
  CameraProcessor/tests/unittests/utils/test_features.py
Due: Processor

FFT: id instead of url (#119)
  CameraProcessor/README.md
  CameraProcessor/configs.ini
  CameraProcessor/processor/main.py
  CameraProcessor/processor/utils/config_parser.py
  Interface/react/public/cameras.json
  Interface/react/public/index.html
  Interface/react/src/index.tsx
  Interface/react/src/pages/home.tsx
Due: Interface, Processor

FIX: start commands
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/ireidentifier.py
  CameraProcessor/processor/webhosting/start_command_extended.py
  CameraProcessor/processor/webhosting/start_command_simple.py
  CameraProcessor/processor/webhosting/websocket_client.py
Due: Processor

FIX: unit test
  CameraProcessor/tests/unittests/webhosting/test_start_commands.py
  CameraProcessor/tests/unittests/webhosting/test_websocket_client.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@c553cf65f4d0e7db9622310e5a46ea2c74385a7a 🚀
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/utils/config_parser.html
  CameraProcessor/processor/processor/webhosting/start_command_extended.html
  CameraProcessor/processor/processor/webhosting/start_command_simple.html
  CameraProcessor/processor/processor/webhosting/websocket_client.html
  index.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@eb6d0544375230c6ff56dfb08137a2f81200ee42 🚀
  index.html
Due: none

Spc 846 broken start commands (#133)
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/ireidentifier.py
  CameraProcessor/processor/webhosting/start_command_extended.py
  CameraProcessor/processor/webhosting/start_command_simple.py
  CameraProcessor/processor/webhosting/websocket_client.py
  CameraProcessor/tests/unittests/webhosting/test_start_commands.py
  CameraProcessor/tests/unittests/webhosting/test_websocket_client.py
Due: Processor

TST: Fixed tests based on feedback.
  CameraProcessor/tests/unittests/utils/test_convert.py
  CameraProcessor/tests/unittests/utils/test_text.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@7eff680ef6e35d3d01cc0013d422481e5e150249 🚀
  CameraProcessor/processor/processor/utils/text.html
  index.html
Due: Processor

SPC 814 Extend unittests to increase testing and coverage (#128)
  CameraProcessor/processor/utils/text.py
  CameraProcessor/tests/unittests/utils/test_convert.py
  CameraProcessor/tests/unittests/utils/test_text.py
Due: Processor

FIX: install specific version
  README.md
Due: none

FFT: always http
  ProcessorOrchestrator/src/http_server.py
  VideoForwarder/README.md
  VideoForwarder/src/camera_handler.py
  VideoForwarder/src/loading.py
  VideoForwarder/src/main.py
Due: Forwarder, Orchestrator

Deploying to gh-pages from @ UU-tracktech/tracktech@599764d391a5db4c31a8b6428c2026bf8562c494 🚀
  ProcessorOrchestrator/src/src/http_server.html
  VideoForwarder/src/src/camera_handler.html
  VideoForwarder/src/src/loading.html
  VideoForwarder/src/src/main.html
  index.html
Due: Forwarder, Orchestrator

FIX: rienk already did
  ProcessorOrchestrator/src/http_server.py
Due: Orchestrator

OTH: Added a lot of comments and refactored folder structure
  ProcessorOrchestrator/src/handlers/__init__.py
  ProcessorOrchestrator/src/handlers/client_socket.py
  ProcessorOrchestrator/src/handlers/object_ids_handler.py
  ProcessorOrchestrator/src/handlers/processor_socket.py
  ProcessorOrchestrator/src/handlers/timeline_handler.py
  ProcessorOrchestrator/src/main.py
  ProcessorOrchestrator/src/objects/__init__.py
  ProcessorOrchestrator/src/objects/connections.py
  ProcessorOrchestrator/src/objects/object_management.py
  ProcessorOrchestrator/src/objects/tracking_object.py
  ProcessorOrchestrator/src/utility/__init__.py
  ProcessorOrchestrator/src/utility/get_auth.py
  ProcessorOrchestrator/src/utility/http_server.py
  ProcessorOrchestrator/src/utility/logger.py
  ProcessorOrchestrator/tests/testing_server.py
  ProcessorOrchestrator/tests/unit_testing/get_auth_test.py
  ProcessorOrchestrator/tests/unit_testing/tracking_objects_test.py
Due: Orchestrator

Path conditions:
  Forwarder: any of: VideoForwarder/src
  Interface: any of: Interface/react
  Orchestrator: any of: ProcessorOrchestrator/src
  Processor: any of: CameraProcessor/processor
