Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

DOC add comments for readability
  utility/classes_checker.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@fb80b52081af117d170d08c258cfb02ae525edf0 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/data_object/reid_data.html
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  CameraProcessor/processor/processor/webhosting/stream_handler.html
  ProcessorOrchestrator/src/src.html
  index.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Orchestrator, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@f89ea42ed9440ed5098241d18e63a23f1cfb8527 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  ProcessorOrchestrator/src/src.html
  index.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Orchestrator, Processor

FIX: Copy in the classes_checker.py (#106)
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Processor_Lint.yml
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@6c73f6b6435f5de9f951b9699629a4ca49faa27b 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  ProcessorOrchestrator/src/src.html
  index.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Orchestrator, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@c5550a0997ac8debb022543e898b202c6486dbc0 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  ProcessorOrchestrator/src/src.html
  VideoForwarder/src/src/conversion_process.html
  index.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Forwarder, Orchestrator, Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@b3e3309a8bea3fec490b5cafd98aad5b474dbc72 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  VideoForwarder/src/src/conversion_process.html
  index.html
Due: Forwarder, Processor

OTH: Put changes on different branch
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Processor_Lint.yml
  .gitignore
  .pylintrc
  CameraProcessor/Dockerfile
  ProcessorOrchestrator/requirements-test.txt
  ProcessorOrchestrator/src/__init__.py
  ProcessorOrchestrator/tests/__init__.py
  VideoForwarder/Dockerfile
  docs/requirements.txt
  utility/pylint_ignore.py
Due: Orchestrator

Deploying to gh-pages from @ UU-tracktech/tracktech@9a8b6de9bbd55af9afe8333c08812f5979b6625c 🚀
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  ProcessorOrchestrator/src/src.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Orchestrator, Processor

FIX: testing and context
  VideoForwarder/Dockerfile
  VideoForwarder/docker-compose.yml
  VideoForwarder/tests/unittest/server_unit_test.py
Due: none

FIX: regex
  .pylintrc
Due: none

FIX: docstring
  ProcessorOrchestrator/src/__init__.py
  ProcessorOrchestrator/tests/__init__.py
Due: Orchestrator

Intermediate merge: Replace getters in data_objects with properties (#101)
  .pylintrc
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/processor/data_object/bounding_box.py
  CameraProcessor/processor/data_object/bounding_boxes.py
  CameraProcessor/processor/data_object/frame_obj.py
  CameraProcessor/processor/data_object/rectangle.py
  CameraProcessor/processor/pipeline/detection/idetector.py
  CameraProcessor/processor/pipeline/detection/yolor_runner.py
  CameraProcessor/processor/pipeline/detection/yolov5_runner.py
  CameraProcessor/processor/pipeline/framebuffer.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
  CameraProcessor/processor/pipeline/tracking/sort_tracker.py
  CameraProcessor/processor/training/detection/accuracy_object.py
  CameraProcessor/processor/utils/convert.py
  CameraProcessor/processor/utils/display.py
  CameraProcessor/processor/utils/draw.py
  CameraProcessor/processor/utils/features.py
  CameraProcessor/processor/utils/text.py
  CameraProcessor/tests/unittests/data_object/test_bounding_box.py
  CameraProcessor/tests/unittests/data_object/test_bounding_boxes.py
  CameraProcessor/tests/unittests/data_object/test_frame_obj.py
  CameraProcessor/tests/unittests/data_object/test_rectangle.py
  CameraProcessor/tests/unittests/utils/test_text.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@3972b23e1b1c3892f4160a407a0d35205f49d030 🚀
  ProcessorOrchestrator/src/src.html
  VideoForwarder/src/src/conversion_process.html
  index.html
  utility/index.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Forwarder, Orchestrator

Deploying to gh-pages from @ UU-tracktech/tracktech@c2bfab26cb00a24b3049c4da6d2a4ee84e3dd22a 🚀
  VideoForwarder/src/src/conversion_process.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Forwarder

FIX: unit test
  CameraProcessor/processor/pipeline/reidentification/ireidentifier.py
  CameraProcessor/tests/unittests/utils/fake_reidentifier.py
Due: Processor

FIX: wrong call for property
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@5c0176299f7b6dc5b01fa3ab9aa4400f60fb3ba7 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/bounding_boxes.html
  CameraProcessor/processor/processor/data_object/frame_obj.html
  CameraProcessor/processor/processor/data_object/rectangle.html
  CameraProcessor/processor/processor/data_object/reid_data.html
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/pipeline/detection.html
  CameraProcessor/processor/processor/pipeline/detection/idetector.html
  CameraProcessor/processor/processor/pipeline/detection/yolor_runner.html
  CameraProcessor/processor/processor/pipeline/detection/yolov5_runner.html
  CameraProcessor/processor/processor/pipeline/framebuffer.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/pipeline/tracking.html
  CameraProcessor/processor/processor/pipeline/tracking/sort_tracker.html
  CameraProcessor/processor/processor/training/detection/accuracy_object.html
  CameraProcessor/processor/processor/utils/convert.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/features.html
  CameraProcessor/processor/processor/utils/text.html
  CameraProcessor/processor/processor/webhosting/stream_handler.html
  index.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Processor

FIX: Regex both ways
  .pylintrc
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@286f7c5e46c29a804e4be72200e2873731bd3f4e 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/reid_data.html
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/webhosting/stream_handler.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Processor

FIX: wrong call for property V2
  CameraProcessor/processor/utils/display.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@b844077ad194f79083c4cbd6b05f7d0a8a5061d9 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/reid_data.html
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/webhosting/stream_handler.html
  index.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@75934ec29b12debf1e7f5553a82b7414eec17020 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/reid_data.html
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/webhosting/stream_handler.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Processor

FIX: Break on init
  utility/copyright_checker.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@70cf143a22fd961f71a49b181b513dc0d6b1196b 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/reid_data.html
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/webhosting/stream_handler.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@ccdebc2107c89a4ebd0a674a044249401b0c9973 🚀
  CameraProcessor/processor/index.html
  CameraProcessor/processor/processor/accuracy_runner.html
  CameraProcessor/processor/processor/data_object.html
  CameraProcessor/processor/processor/data_object/bounding_box.html
  CameraProcessor/processor/processor/data_object/reid_data.html
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/pipeline/process_frames.html
  CameraProcessor/processor/processor/pipeline/reidentification.html
  CameraProcessor/processor/processor/pipeline/reidentification/ireidentifier.html
  CameraProcessor/processor/processor/pipeline/reidentification/torchreid_runner.html
  CameraProcessor/processor/processor/utils/display.html
  CameraProcessor/processor/processor/utils/draw.html
  CameraProcessor/processor/processor/webhosting/stream_handler.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint_ignore.html
Due: Processor

FIX: regex
  .pylintrc
  utility/copyright_checker.py
Due: none

FIX: Processor Orchestrator
  VideoForwarder/Dockerfile
Due: none

FIX: Regex
  ProcessorOrchestrator/Dockerfile
  VideoForwarder/Dockerfile
Due: none

FIX: Filepath
  VideoForwarder/Dockerfile
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@ae9854fc6e19a0f149b4f6f250d145ab1cf67dc9 🚀
  utility/utility/copyright_checker.html
Due: none

FIX: Filepath docker
  ProcessorOrchestrator/Dockerfile
Due: none

FIX: Docker copy
  ProcessorOrchestrator/Dockerfile
Due: none

FIX Copy
  ProcessorOrchestrator/Dockerfile
Due: none

Spc 794 refactor re id data (#105)
  CameraProcessor/processor/accuracy_runner.py
  CameraProcessor/processor/data_object/bounding_box.py
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/pipeline/reidentification/ireidentifier.py
  CameraProcessor/processor/pipeline/reidentification/reid_data.py
  CameraProcessor/processor/pipeline/reidentification/torchreid_runner.py
  CameraProcessor/processor/utils/display.py
  CameraProcessor/processor/utils/draw.py
  CameraProcessor/processor/webhosting/stream_handler.py
  CameraProcessor/tests/unittests/pipeline/test_process_frames.py
  CameraProcessor/tests/unittests/utils/fake_reidentifier.py
  CameraProcessor/tests/unittests/utils/test_display.py
Due: Processor

FIX: docker
  ProcessorOrchestrator/Dockerfile
Due: none

Path conditions:
  Forwarder: any of: VideoForwarder/src
  Interface: any of: Interface/react
  Orchestrator: any of: ProcessorOrchestrator/src
  Processor: any of: CameraProcessor/processor
