Repository UU-tracktech/tracktech: changes, and which Codecov flags are due for each by the changed paths.
All: Forwarder, Interface, Orchestrator, Processor

codecov.yml:

codecov:
  branch: develop
  max_report_age: off

coverage:
  status:
    project:
      default: off
      Forwarder:
        target: 100%
        flags:
          - Forwarder
      Interface:
        target: 100%
        flags:
          - Interface
      Orchestrator:
        target: 100%
        flags:
          - Orchestrator
      Processor:
        target: 100%
        flags:
          - Processor

flags:
  # filter the folder(s) you wish to measure by that flag
  Forwarder:
    # only include files in the backend folder
    paths:
      -  VideoForwarder/src
  Interface:
    paths:
      - Interface/react
  Orchestrator:
    paths:
      - ProcessorOrchestrator/src
  Processor:
    paths:
      - CameraProcessor/processor

UFT: pop instead of del (#140)
  ProcessorOrchestrator/src/handlers/client_socket.py
  ProcessorOrchestrator/src/handlers/processor_socket.py
Due: Orchestrator

FIX: Punctuation fixes in docstrings.
  utility/comment_checker.py
  utility/docstring_checker.py
  utility/docstring_content_checker.py
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@d501bb8ad5b8925a1fdb19658d7e7fe6046bf410 🚀
  ProcessorOrchestrator/src/src/handlers/client_socket.html
  ProcessorOrchestrator/src/src/handlers/processor_socket.html
  utility/utility/comment_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
Due: Orchestrator

FFT: All inits are now ignored and interface naming is no exception anymore
  utility/classes_checker.py
  utility/copyright_checker.py
  utility/docstring_checker.py
  utility/docstring_content_checker.py
Due: none

FIX: Downgrade pylint to 2.8.2 since it does not contain a bug
  CameraProcessor/Dockerfile
  ProcessorOrchestrator/requirements-test.txt
  VideoForwarder/Dockerfile
  docs/requirements.txt
Due: none

Testing using pytest
  CameraProcessor/README.md
Due: none

FIX: Punctuation fixes in docstrings. (#141)
  utility/comment_checker.py
  utility/docstring_checker.py
  utility/docstring_content_checker.py
Due: none

FFT: Training README.
  CameraProcessor/configs.ini
  CameraProcessor/processor/training/README.md
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@87f05a24bb825bac5268332e3fe2a3bfde9da883 🚀
  utility/utility/comment_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
Due: none

DOC: Update
  CameraProcessor/processor/training/README.md
Due: Processor

FFT: Training README. (#143)
  CameraProcessor/configs.ini
  CameraProcessor/processor/training/README.md
Due: Processor

FFT: Prune images after a week instead of always
  .github/workflows/Documentation.yml
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Forwarder_Test_Unit.yml
  .github/workflows/Interface-Orchestrator.yml
  .github/workflows/Interface_Build.yml
  .github/workflows/Interface_Lint.yml
  .github/workflows/Interface_Test_Unit.yml
  .github/workflows/Orchestrator_Build.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Orchestrator_Test_Integration.yml
  .github/workflows/Orchestrator_Test_Unit.yml
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Build.yml
  .github/workflows/Processor_Lint.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

UFT: Some initial commands
  CameraProcessor/processor/main.py
  CameraProcessor/processor/pipeline/process_frames.py
  CameraProcessor/processor/utils/text.py
  CameraProcessor/processor/webhosting/README.md
  CameraProcessor/processor/websocket/__init__.py
  CameraProcessor/processor/websocket/boxes_command.py
  CameraProcessor/processor/websocket/identify_command.py
  CameraProcessor/processor/websocket/stop_command.py
  CameraProcessor/processor/websocket/websocket_client.py
  CameraProcessor/tests/orchestratorintegrationtests/test_connection.py
  CameraProcessor/tests/unittests/utils/dummy_websocket_client.py
  CameraProcessor/tests/unittests/webhosting/test_websocket_client.py
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@35979f49f10557c35c3ec8e83d7232558dbfb70a 🚀
  index.html
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@2f1988354d911b8fcb15d3665a92491110ce1d61 🚀
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/i_dataloader.html
  CameraProcessor/processor/processor/dataloaders/json_dataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  utility/utility/docstring_content_checker.html
Due: Processor

FFT: Prune images after a week instead of always (#144)
  .github/workflows/Documentation.yml
  .github/workflows/Forwarder_Build.yml
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Forwarder_Test_Unit.yml
  .github/workflows/Interface-Orchestrator.yml
  .github/workflows/Interface_Build.yml
  .github/workflows/Interface_Lint.yml
  .github/workflows/Interface_Test_Unit.yml
  .github/workflows/Orchestrator_Build.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Orchestrator_Test_Integration.yml
  .github/workflows/Orchestrator_Test_Unit.yml
  .github/workflows/Processor-Forwarder.yml
  .github/workflows/Processor-Orchestrator.yml
  .github/workflows/Processor_Build.yml
  .github/workflows/Processor_Lint.yml
  .github/workflows/Processor_Test_Unit.yml
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@290b4c776ec634c7235a8be2f9074da1767244a1 🚀
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/i_dataloader.html
  CameraProcessor/processor/processor/dataloaders/json_dataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  index.html
  utility/utility/docstring_content_checker.html
Due: Processor

FFT: Move over pylint inside plugins folder
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Processor_Lint.yml
  .pylintrc
  CameraProcessor/Dockerfile
  ProcessorOrchestrator/Dockerfile
  VideoForwarder/Dockerfile
  utility/pylint-plugins/__init__.py
  utility/pylint-plugins/classes_checker.py
  utility/pylint-plugins/comment_checker.py
  utility/pylint-plugins/copyright_checker.py
  utility/pylint-plugins/docstring_checker.py
  utility/pylint-plugins/docstring_content_checker.py
Due: none

FIX: Parent directory did not exist
  CameraProcessor/Dockerfile
  ProcessorOrchestrator/Dockerfile
  VideoForwarder/Dockerfile
Due: none

FIX: Wrong container names
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Processor_Lint.yml
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@b9bae0c60be200f41b35165b519b02e80518b87b 🚀
  index.html
  utility/index.html
  utility/utility/pylint-plugins.html
  utility/utility/pylint-plugins/classes_checker.html
  utility/utility/pylint-plugins/comment_checker.html
  utility/utility/pylint-plugins/copyright_checker.html
  utility/utility/pylint-plugins/docstring_checker.html
  utility/utility/pylint-plugins/docstring_content_checker.html
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@f1af159b65d62bf307eb5c5b4ae97ada3c6eb91f 🚀
  index.html
Due: none

FFT: Remove camera id from the configs.ini
  CameraProcessor/configs.ini
  CameraProcessor/processor/main.py
  CameraProcessor/processor/utils/config_parser.py
Due: Processor

FIX: __init__ file was missing from utility
  .github/workflows/Forwarder_Lint.yml
  .github/workflows/Orchestrator_Lint.yml
  .github/workflows/Processor_Lint.yml
Due: none

Deploying to gh-pages from @ UU-tracktech/tracktech@d23f05afda134bc48bdd31ee394716d360af087c 🚀
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/utils/config_parser.html
  index.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint-plugins.html
Due: Processor

Deploying to gh-pages from @ UU-tracktech/tracktech@8eaffcbb229364ca534df7e9166d30b2472a5dbb 🚀
  CameraProcessor/processor/processor/main.html
  CameraProcessor/processor/processor/utils/config_parser.html
  utility/index.html
  utility/utility/pylint-plugins.html
  utility/utility/pylint-plugins/classes_checker.html
  utility/utility/pylint-plugins/comment_checker.html
  utility/utility/pylint-plugins/copyright_checker.html
  utility/utility/pylint-plugins/docstring_checker.html
  utility/utility/pylint-plugins/docstring_content_checker.html
Due: Processor

FFT: Merged settings and provided acces with environment
  Interface/compose/onClose(ev)
  Interface/compose/onError(ev)
  Interface/compose/onOpen(ev)
  Interface/react/.eslintrc.json
  Interface/react/public/cameras.json
  Interface/react/public/objectTypes.json
  Interface/react/public/settings.json
  Interface/react/src/app.tsx
  Interface/react/src/components/environmentContext.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/src/pages/home.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@c78136b2ed4cbeb5f0d7965710b24054478e2df1 🚀
  index.html
  utility/index.html
  utility/utility.html
  utility/utility/classes_checker.html
  utility/utility/comment_checker.html
  utility/utility/copyright_checker.html
  utility/utility/docstring_checker.html
  utility/utility/docstring_content_checker.html
  utility/utility/pylint-plugins.html
Due: none

OTH: Strange files
  Interface/compose/onClose(ev)
  Interface/compose/onError(ev)
  Interface/compose/onOpen(ev)
Due: none

FIX: Liinting
  CameraProcessor/processor/dataloaders/coco_dataloader.py
  CameraProcessor/processor/dataloaders/json_dataloader.py
  CameraProcessor/processor/dataloaders/mot_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_coco_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_i_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_json_dataloader.py
  CameraProcessor/tests/unittests/dataloaders/test_mot_dataloader.py
Due: Processor

FFT: Merged settings and provided acces with environment (#147)
  Interface/react/.eslintrc.json
  Interface/react/public/cameras.json
  Interface/react/public/objectTypes.json
  Interface/react/public/settings.json
  Interface/react/src/app.tsx
  Interface/react/src/components/environmentContext.tsx
  Interface/react/src/components/websocketContext.tsx
  Interface/react/src/pages/home.tsx
Due: Interface

Deploying to gh-pages from @ UU-tracktech/tracktech@26596d1ef5e3d155079310357f82b00b1e90c8f0 🚀
  CameraProcessor/processor/processor/dataloaders/coco_dataloader.html
  CameraProcessor/processor/processor/dataloaders/i_dataloader.html
  CameraProcessor/processor/processor/dataloaders/json_dataloader.html
  CameraProcessor/processor/processor/dataloaders/mot_dataloader.html
  index.html
  utility/utility/docstring_content_checker.html
Due: Processor
